<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Cocoa Rest Client</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>org.restlesscode.cocoarestclient</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3.10</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>15</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUEnableSystemProfiling</key>
	<true/>
	<key>SUFeedURL</key>
	<string>http://restlesscode.org/cocoa-rest-client/appcast.xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>kCRCHeadersUserDefaultsKey</key>
	<array>
		<string>Accept</string>
		<string>Accept-Charset</string>
		<string>Accept-Encoding</string>
		<string>Accept-Language</string>
		<string>Accept-Datetime</string>
		<string>Authorization</string>
		<string>Cache-Control</string>
		<string>Connection</string>
		<string>Cookie</string>
		<string>Content-Length</string>
		<string>Content-MD5</string>
		<string>Content-Type</string>
		<string>Date</string>
		<string>Expect</string>
		<string>From</string>
		<string>Host</string>
		<string>If-Match</string>
		<string>If-Modified-Since</string>
		<string>If-None-Match</string>
		<string>If-Range</string>
		<string>If-Unmodified-Since</string>
		<string>Max-Forwards</string>
		<string>Pragma</string>
		<string>Proxy-Authorization</string>
		<string>Range</string>
		<string>Referer</string>
		<string>TE</string>
		<string>Upgrade</string>
		<string>User-Agent</string>
		<string>Via</string>
		<string>Warning</string>
	</array>
</dict>
</plist>
