
# Requests



{{#requests}}


## [{{name}}]({{#isBrowsable}}{{{url}}}{{/isBrowsable}})

    {{method}} {{{urlPath}}}

### Input


{{#requestHeadersFormatted}}
```
{{{requestHeadersFormatted}}}
```
{{/requestHeadersFormatted}}



{{#requestDataFormatted}}
```
{{{requestDataFormatted}}}
```
{{/requestDataFormatted}}



{{#responseDataFormatted}}
### Response

```
{{{responseHeadersFormatted}}}
```


```
{{{responseDataFormatted}}}
```
{{/responseDataFormatted}}



{{/requests}}