<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>ActionScript</string>
		<key>file</key>
		<string>actionscript</string>
		<key>extensions</key>
		<string>as</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ActionScript 3</string>
		<key>file</key>
		<string>actionscript3</string>
		<key>extensions</key>
		<string>as</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Active4D</string>
		<key>file</key>
		<string>active4d</string>
		<key>extensions</key>
		<string>a4d a4l etc</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ada</string>
		<key>file</key>
		<string>ada</string>
		<key>extensions</key>
		<string>ada adb ads a</string>
	</dict>
	<dict>
		<key>name</key>
		<string>AMPL</string>
		<key>file</key>
		<string>ampl</string>
		<key>extensions</key>
		<string>run mod dat</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Apache</string>
		<key>file</key>
		<string>apache</string>
		<key>extensions</key>
		<string>htaccess conf</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Applescript</string>
		<key>file</key>
		<string>applescript</string>
		<key>extensions</key>
		<string>scpt applescript</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ASM-x86</string>
		<key>file</key>
		<string>asm-x86</string>
		<key>extensions</key>
		<string>asm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ASM-MIPS</string>
		<key>file</key>
		<string>asm-mips</string>
		<key>extensions</key>
		<string>asm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ASP - JavaScript</string>
		<key>file</key>
		<string>asp-js</string>
		<key>extensions</key>
		<string>asp</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ASP - VB</string>
		<key>file</key>
		<string>asp-vb</string>
		<key>extensions</key>
		<string>asp</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ASP.NET - C#</string>
		<key>file</key>
		<string>aspdotnet-cs</string>
		<key>extensions</key>
		<string>aspx ascx asmx</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ASP.NET - VB</string>
		<key>file</key>
		<string>aspdotnet-vb</string>
		<key>extensions</key>
		<string>aspx ascx asmx</string>
	</dict>
	<dict>
		<key>name</key>
		<string>AWK</string>
		<key>file</key>
		<string>awk</string>
		<key>extensions</key>
		<string>awk</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Batch</string>
		<key>file</key>
		<string>batch</string>
		<key>extensions</key>
		<string>bat cmd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>C</string>
		<key>file</key>
		<string>c</string>
		<key>extensions</key>
		<string>c</string>
	</dict>
	<dict>
		<key>name</key>
		<string>C++</string>
		<key>file</key>
		<string>cpp</string>
		<key>extensions</key>
		<string>cpp cxx cc</string>
	</dict>
	<dict>
		<key>name</key>
		<string>C#</string>
		<key>file</key>
		<string>csharp</string>
		<key>extensions</key>
		<string>cs</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cobol</string>
		<key>file</key>
		<string>cobol</string>
		<key>extensions</key>
		<string>cobol</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ColdFusion</string>
		<key>file</key>
		<string>coldfusion</string>
		<key>extensions</key>
		<string>cfm cfc cfml dbm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Csound</string>
		<key>file</key>
		<string>csound</string>
		<key>extensions</key>
		<string>csd orc sco</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CSS</string>
		<key>file</key>
		<string>css</string>
		<key>extensions</key>
		<string>css</string>
	</dict>
	<dict>
		<key>name</key>
		<string>D</string>
		<key>file</key>
		<string>d</string>
		<key>extensions</key>
		<string>d</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dylan</string>
		<key>file</key>
		<string>dylan</string>
		<key>extensions</key>
		<string>dylan</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Eiffel</string>
		<key>file</key>
		<string>eiffel</string>
		<key>extensions</key>
		<string>e</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Erlang</string>
		<key>file</key>
		<string>erl</string>
		<key>extensions</key>
		<string>erl hrl</string>
	</dict>
	<dict>
		<key>name</key>
		<string>eZ Publish</string>
		<key>file</key>
		<string>eztpl</string>
		<key>extensions</key>
		<string>tpl</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Fortran</string>
		<key>file</key>
		<string>fortran</string>
		<key>extensions</key>
		<string>f for f90 fpp</string>
	</dict>
	<dict>
		<key>name</key>
		<string>FreeFem++</string>
		<key>file</key>
		<string>freefem</string>
		<key>extensions</key>
		<string>edp</string>
	</dict>
	<dict>
		<key>name</key>
		<string>GEDCOM</string>
		<key>file</key>
		<string>gedcom</string>
		<key>extensions</key>
		<string>ged</string>
	</dict>
	<dict>
		<key>name</key>
		<string>GNU Assembler</string>
		<key>file</key>
		<string>gnuassembler</string>
		<key>extensions</key>
		<string>s</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Haskell</string>
		<key>file</key>
		<string>haskell</string>
		<key>extensions</key>
		<string>hs lhs</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Header</string>
		<key>file</key>
		<string>header</string>
		<key>extensions</key>
		<string>h</string>
	</dict>
	<dict>
		<key>name</key>
		<string>HTML</string>
		<key>file</key>
		<string>html</string>
		<key>extensions</key>
		<string>html htm xhtml shtml shtm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>IDL</string>
		<key>file</key>
		<string>idl</string>
		<key>extensions</key>
		<string>pro</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Java</string>
		<key>file</key>
		<string>java</string>
		<key>extensions</key>
		<string>java</string>
	</dict>
	<dict>
		<key>name</key>
		<string>JavaFX</string>
		<key>file</key>
		<string>javafx</string>
		<key>extensions</key>
		<string>fx</string>
	</dict>
	<dict>
		<key>name</key>
		<string>JavaScript</string>
		<key>file</key>
		<string>javascript</string>
		<key>extensions</key>
		<string>js</string>
	</dict>
	<dict>
		<key>name</key>
		<string>JSP</string>
		<key>file</key>
		<string>jsp</string>
		<key>extensions</key>
		<string>jsp</string>
	</dict>
	<dict>
		<key>name</key>
		<string>LaTeX</string>
		<key>file</key>
		<string>latex</string>
		<key>extensions</key>
		<string>tex</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lilypond</string>
		<key>file</key>
		<string>lilypond</string>
		<key>extensions</key>
		<string>ly lytex</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lisp</string>
		<key>file</key>
		<string>lisp</string>
		<key>extensions</key>
		<string>lisp lsp</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Logtalk</string>
		<key>file</key>
		<string>logtalk</string>
		<key>extensions</key>
		<string>lgt config</string>
	</dict>
	<dict>
		<key>name</key>
		<string>LSL</string>
		<key>file</key>
		<string>lsl</string>
		<key>extensions</key>
		<string>lsl</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lua</string>
		<key>file</key>
		<string>lua</string>
		<key>extensions</key>
		<string>lua</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Matlab</string>
		<key>file</key>
		<string>matlab</string>
		<key>extensions</key>
		<string>grl mat mex myt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MetaPost</string>
		<key>file</key>
		<string>metapost</string>
		<key>extensions</key>
		<string>mp</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MEL</string>
		<key>file</key>
		<string>mel</string>
		<key>extensions</key>
		<string>mel ma</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Metaslang</string>
		<key>file</key>
		<string>metaslang</string>
		<key>extensions</key>
		<string>sw</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MySQL</string>
		<key>file</key>
		<string>mysql</string>
		<key>extensions</key>
		<string>sql</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nemerle</string>
		<key>file</key>
		<string>nemerle</string>
		<key>extensions</key>
		<string>n</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NEURON</string>
		<key>file</key>
		<string>nrnhoc</string>
		<key>extensions</key>
		<string>hoc</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Objective Caml</string>
		<key>file</key>
		<string>objectivecaml</string>
		<key>extensions</key>
		<string>ml</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Objective-C</string>
		<key>file</key>
		<string>objectivec</string>
		<key>extensions</key>
		<string>m mm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ox</string>
		<key>file</key>
		<string>ox</string>
		<key>extensions</key>
		<string>ox oxsrc oxtxt h</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Pascal</string>
		<key>file</key>
		<string>pascal</string>
		<key>extensions</key>
		<string>pp pas p</string>
	</dict>
	<dict>
		<key>name</key>
		<string>PDF</string>
		<key>file</key>
		<string>pdf</string>
		<key>extensions</key>
		<string>pdf</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Perl</string>
		<key>file</key>
		<string>perl</string>
		<key>extensions</key>
		<string>pl pm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>PHP</string>
		<key>file</key>
		<string>php</string>
		<key>extensions</key>
		<string>php php3 phtml phtm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Plist</string>
		<key>file</key>
		<string>plist</string>
		<key>extensions</key>
		<string>plist</string>
	</dict>
	<dict>
		<key>name</key>
		<string>PostScript</string>
		<key>file</key>
		<string>postscript</string>
		<key>extensions</key>
		<string>ps eps ai</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Prolog</string>
		<key>file</key>
		<string>prolog</string>
		<key>extensions</key>
		<string>prolog pro</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Python</string>
		<key>file</key>
		<string>python</string>
		<key>extensions</key>
		<string>py pyw</string>
	</dict>
	<dict>
		<key>name</key>
		<string>R/S-PLUS</string>
		<key>file</key>
		<string>r</string>
		<key>extensions</key>
		<string>r</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RHTML</string>
		<key>file</key>
		<string>rhtml</string>
		<key>extensions</key>
		<string>rhtml</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ruby</string>
		<key>file</key>
		<string>ruby</string>
		<key>extensions</key>
		<string>rb</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Scala</string>
		<key>file</key>
		<string>scala</string>
		<key>extensions</key>
		<string>scala</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SGML</string>
		<key>file</key>
		<string>sgml</string>
		<key>extensions</key>
		<string>sgml</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Shell</string>
		<key>file</key>
		<string>shell</string>
		<key>extensions</key>
		<string>sh tool</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SML</string>
		<key>file</key>
		<string>sml</string>
		<key>extensions</key>
		<string>sml ml</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SQL</string>
		<key>file</key>
		<string>sql</string>
		<key>extensions</key>
		<string>sql</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Stata</string>
		<key>file</key>
		<string>stata</string>
		<key>extensions</key>
		<string>ado do dta log</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SuperCollider</string>
		<key>file</key>
		<string>supercollider</string>
		<key>extensions</key>
		<string>sc scd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tcl/Tk</string>
		<key>file</key>
		<string>tcltk</string>
		<key>extensions</key>
		<string>tcl tk</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TorqueScript</string>
		<key>file</key>
		<string>torquescript</string>
		<key>extensions</key>
		<string>cs</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Udo</string>
		<key>file</key>
		<string>udo</string>
		<key>extensions</key>
		<string>u ui</string>
	</dict>
	<dict>
		<key>name</key>
		<string>VB</string>
		<key>file</key>
		<string>vb</string>
		<key>extensions</key>
		<string>vb</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Verilog</string>
		<key>file</key>
		<string>verilog</string>
		<key>extensions</key>
		<string>v vg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>VHDL</string>
		<key>file</key>
		<string>vhdl</string>
		<key>extensions</key>
		<string>vhd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>XML</string>
		<key>file</key>
		<string>xml</string>
		<key>extensions</key>
		<string>xml dtd xsd xsl</string>
	</dict>
	<dict>
		<key>name</key>
		<string>GraphViz</string>
		<key>file</key>
		<string>graphviz</string>
		<key>extensions</key>
		<string>gv dot</string>
	</dict>
	<dict>
		<key>name</key>
		<string>F-Script</string>
		<key>file</key>
		<string>f-script</string>
		<key>extensions</key>
		<string>fs</string>
	</dict>
</array>
</plist>
