<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginCommand</key>
	<string></string>
	<key>endCommand</key>
	<string></string>
	<key>beginInstruction</key>
	<string></string>
	<key>endInstruction</key>
	<string></string>
	<key>firstString</key>
	<string>"</string>
	<key>secondString</key>
	<string>'</string>
	<key>firstSingleLineComment</key>
	<string>//</string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string>/*</string>
	<key>endFirstMultiLineComment</key>
	<string>*/</string>
	<key>functionDefinition</key>
	<string>^\s*function\s+.*\n?\s*{</string>
	<key>removeFromFunction</key>
	<string>function </string>
	<key>keywordsCaseSensitive</key>
	<true/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>keywords</key>
	<array>
		
		<!-- Global Functions -->
		
		<string>Array</string>
		<string>Boolean</string>
		<string>Date</string>
		<string>decodeURI</string>
		<string>decodeURIComponent</string>
		<string>encodeURI</string>
		<string>encodeURIComponent</string>
		<string>escape</string>
		<string>int</string>
		<string>isFinite</string>
		<string>isNaN</string>
		<string>isXMLName</string>
		<string>Number</string>
		<string>Object</string>
		<string>parseFloat</string>
		<string>parseInt</string>
		<string>String</string>
		<string>trace</string>
		<string>uint</string>
		<string>unescape</string>
		<string>XML</string>
		<string>XMLList</string>
		
		<!-- Operators -->
		
		<string>as</string>
		<string>delete</string>
		<string>in</string>
		<string>is</string>
		<string>new</string>
		<string>typeof</string>
		<string>void</string>
		
		<!-- Global Constants -->
		
		<string>Infinity</string>
		<string>-Infinity</string>
		<string>NaN</string>
		<string>undefined</string>
		
		<!-- Statements -->
		
		<string>break</string>
		<string>case</string>
		<string>catch</string>
		<string>continue</string>
		<string>default</string>
		<string>do</string>
		<string>each</string>
		<string>else</string>
		<string>finally</string>
		<string>for</string>
		<string>if</string>
		<string>in</string>
		<string>label</string>
		<string>return</string>
		<string>super</string>
		<string>switch</string>
		<string>throw</string>
		<string>try</string>
		<string>while</string>
		<string>with</string>
		
		<!-- Keywords -->
		
		<string>dynamic</string>
		<string>final</string>
		<string>internal</string>
		<string>native</string>
		<string>override</string>
		<string>private</string>
		<string>protected</string>
		<string>public</string>
		<string>static</string>
		
		<!-- Definition keywords -->
		
		<string>...</string>
		<string>class</string>
		<string>const</string>
		<string>extends</string>
		<string>function</string>
		<string>get</string>
		<string>implements</string>
		<string>interface</string>
		<string>namespace</string>
		<string>package</string>
		<string>set</string>
		<string>var</string>
		
		<!-- Directives -->
		
		<string>default xml namespace</string>
		<string>import</string>
		<string>include</string>
		<string>use namespace</string>
		
		<!-- Namespaces -->
		
		<string>AS3</string>
		<string>flash_proxy</string>
		<string>object_proxy</string>
		
		<!-- Primary expression keywords -->
		
		<string>false</string>
		<string>null</string>
		<string>this</string>
		<string>true</string>
		
		<!-- Special Types -->
		
		<string>*</string>
		<string>void</string>
		<string>Null</string>
		
		<!-- Packages -->
		
		<string>flash</string>
		<string>accessibility</string>
		<string>display</string>
		<string>errors</string>
		<string>events</string>
		<string>external</string>
		<string>filters</string>
		<string>geom</string>
		<string>media</string>
		<string>net</string>
		<string>printing</string>
		<string>profiler</string>
		<string>system</string>
		<string>text</string>
		<string>ui</string>
		<string>utils</string>
		<string>xml</string>
		
		<!-- Packages Functions -->
		
		<string>clearInterval</string>
		<string>clearTimeout</string>
		<string>describeType</string>
		<string>escapeMultiByte</string>
		<string>fscommand</string>
		<string>getClassByAlias</string>
		<string>getDefinitionByName</string>
		<string>getQualifiedClassName</string>
		<string>getQualifiedSuperclassName</string>
		<string>getTimer</string>
		<string>navigateToURL</string>
		<string>registerClassAlias</string>
		<string>sendToURL</string>
		<string>setInterval</string>
		<string>setTimeout</string>
		<string>showRedrawRegions</string>
		<string>unescapeMultiByte</string>
		
		<!-- Classes -->
		
		<string>Accessibility</string>
		<string>AccessibilityProperties</string>
		<string>ActionScriptVersion</string>
		<string>ActivityEvent</string>
		<string>AntiAliasType</string>
		<string>ApplicationDomain</string>
		<string>ArgumentError</string>
		<string>arguments</string>
		<string>Array</string>
		<string>AsyncErrorEvent</string>
		<string>AVM1Movie</string>
		<string>BevelFilter</string>
		<string>Bitmap</string>
		<string>BitmapData</string>
		<string>BitmapDataChannel</string>
		<string>BitmapFilter</string>
		<string>BitmapFilterQuality</string>
		<string>BitmapFilterType</string>
		<string>BlendMode</string>
		<string>BlurFilter</string>
		<string>Boolean</string>
		<string>ByteArray</string>
		<string>Camera</string>
		<string>Capabilities</string>
		<string>CapsStyle</string>
		<string>Class</string>
		<string>ColorMatrixFilter</string>
		<string>ColorTransform</string>
		<string>ContextMenu</string>
		<string>ContextMenuBuiltInItems</string>
		<string>ContextMenuEvent</string>
		<string>ContextMenuItem</string>
		<string>ConvolutionFilter</string>
		<string>CSMSettings</string>
		<string>DataEvent</string>
		<string>Date</string>
		<string>DefinitionError</string>
		<string>Dictionary</string>
		<string>DisplacementMapFilter</string>
		<string>DisplacementMapFilterMode</string>
		<string>DisplayObject</string>
		<string>DisplayObjectContainer</string>
		<string>DropShadowFilter</string>
		<string>Endian</string>
		<string>EOFError</string>
		<string>Error</string>
		<string>ErrorEvent</string>
		<string>EvalError</string>
		<string>Event</string>
		<string>EventDispatcher</string>
		<string>EventPhase</string>
		<string>ExternalInterface</string>
		<string>FileFilter</string>
		<string>FileReference</string>
		<string>FileReferenceList</string>
		<string>FocusEvent</string>
		<string>Font</string>
		<string>FontStyle</string>
		<string>FontType</string>
		<string>FrameLabel</string>
		<string>FullScreenEvent</string>
		<string>Function</string>
		<string>GlowFilter</string>
		<string>GradientBevelFilter</string>
		<string>GradientGlowFilter</string>
		<string>GradientType</string>
		<string>Graphics</string>
		<string>GridFitType</string>
		<string>HTTPStatusEvent</string>
		<string>IBitmapDrawable</string>
		<string>ID3Info</string>
		<string>IDataInput</string>
		<string>IDataOutput</string>
		<string>IDynamicPropertyOutput</string>
		<string>IDynamicPropertyWriter</string>
		<string>IEventDispatcher</string>
		<string>IExternalizable</string>
		<string>IllegalOperationError</string>
		<string>IME</string>
		<string>IMEConversionMode</string>
		<string>IMEEvent</string>
		<string>int</string>
		<string>InteractiveObject</string>
		<string>InterpolationMethod</string>
		<string>InvalidSWFError</string>
		<string>IOError</string>
		<string>IOErrorEvent</string>
		<string>JointStyle</string>
		<string>Keyboard</string>
		<string>KeyboardEvent</string>
		<string>KeyLocation</string>
		<string>LabelButton</string>
		<string>LineScaleMode</string>
		<string>Loader</string>
		<string>LoaderContext</string>
		<string>LoaderInfo</string>
		<string>LocalConnection</string>
		<string>Math</string>
		<string>Matrix</string>
		<string>MemoryError</string>
		<string>Microphone</string>
		<string>MorphShape</string>
		<string>Mouse</string>
		<string>MouseEvent</string>
		<string>MovieClip</string>
		<string>Namespace</string>
		<string>NetConnection</string>
		<string>NetStatusEvent</string>
		<string>NetStream</string>
		<string>Number</string>
		<string>Object</string>
		<string>ObjectEncoding</string>
		<string>PixelSnapping</string>
		<string>Point</string>
		<string>PrintJob</string>
		<string>PrintJobOptions</string>
		<string>PrintJobOrientation</string>
		<string>ProgressBarDirection</string>
		<string>ProgressEvent</string>
		<string>Proxy</string>
		<string>QName</string>
		<string>RadioButtonGroup</string>
		<string>RangeError</string>
		<string>Rectangle</string>
		<string>ReferenceError</string>
		<string>RegExp</string>
		<string>Responder</string>
		<string>Scene</string>
		<string>ScriptTimeoutError</string>
		<string>ScrollBarDirection</string>
		<string>Security</string>
		<string>SecurityDomain</string>
		<string>SecurityError</string>
		<string>SecurityErrorEvent</string>
		<string>SecurityPanel</string>
		<string>Shape</string>
		<string>SharedObject</string>
		<string>SharedObjectFlushStatus</string>
		<string>SimpleButton</string>
		<string>SliderDirection</string>
		<string>Socket</string>
		<string>Sound</string>
		<string>SoundChannel</string>
		<string>SoundLoaderContext</string>
		<string>SoundMixer</string>
		<string>SpreadMethod</string>
		<string>Sprite</string>
		<string>StackOverflowError</string>
		<string>Stage</string>
		<string>StageAlign</string>
		<string>StageDisplayState</string>
		<string>StageQuality</string>
		<string>StageScaleMode</string>
		<string>StaticText</string>
		<string>StatusEvent</string>
		<string>String</string>
		<string>StyleSheet</string>
		<string>SWFVersion</string>
		<string>SyncEvent</string>
		<string>SyntaxError</string>
		<string>System</string>
		<string>TextColorType</string>
		<string>TextDisplayMode</string>
		<string>TextEvent</string>
		<string>TextField</string>
		<string>TextFieldAutoSize</string>
		<string>TextFieldType</string>
		<string>TextFormat</string>
		<string>TextFormatAlign</string>
		<string>TextLineMetrics</string>
		<string>TextRenderer</string>
		<string>TextSnapshot</string>
		<string>Timer</string>
		<string>TimerEvent</string>
		<string>Transform</string>
		<string>TypeError</string>
		<string>uint</string>
		<string>URIError</string>
		<string>URLLoader</string>
		<string>URLLoaderDataFormat</string>
		<string>URLRequest</string>
		<string>URLRequestHeader</string>
		<string>URLRequestMethod</string>
		<string>URLStream</string>
		<string>URLVariables</string>
		<string>VerifyError</string>
		<string>Video</string>
		<string>XML</string>
		<string>XMLDocument</string>
		<string>XMLList</string>
		<string>XMLNode</string>
		<string>XMLNodeType</string>
		<string>XMLSocket</string>
		
		<!-- Methods -->
		
		<string>abs</string>
		<string>acos</string>
		<string>add</string>
		<string>addCallback</string>
		<string>addChild</string>
		<string>addChildAt</string>
		<string>addEventListener</string>
		<string>addHeader</string>
		<string>addNamespace</string>
		<string>addPage</string>
		<string>allowDomain</string>
		<string>allowInsecureDomain</string>
		<string>appendChild</string>
		<string>appendText</string>
		<string>apply</string>
		<string>applyFilter</string>
		<string>areInaccessibleObjectsUnderPoint</string>
		<string>areSoundsInaccessible</string>
		<string>asin</string>
		<string>atan</string>
		<string>atan2</string>
		<string>attachAudio</string>
		<string>attachCamera</string>
		<string>attachNetStream</string>
		<string>attribute</string>
		<string>attributes</string>
		<string>beginBitmapFill</string>
		<string>beginFill</string>
		<string>beginGradientFill</string>
		<string>browse</string>
		<string>call</string>
		<string>callProperty</string>
		<string>cancel</string>
		<string>ceil</string>
		<string>charAt</string>
		<string>charCodeAt</string>
		<string>child</string>
		<string>childIndex</string>
		<string>children</string>
		<string>clear</string>
		<string>clone</string>
		<string>cloneNode</string>
		<string>close</string>
		<string>colorTransform</string>
		<string>comments</string>
		<string>compare</string>
		<string>compress</string>
		<string>computeSpectrum</string>
		<string>concat</string>
		<string>connect</string>
		<string>contains</string>
		<string>containsPoint</string>
		<string>containsRect</string>
		<string>copy</string>
		<string>copyChannel</string>
		<string>copyPixels</string>
		<string>cos</string>
		<string>createBox</string>
		<string>createElement</string>
		<string>createGradientBox</string>
		<string>createTextNode</string>
		<string>curveTo</string>
		<string>decode</string>
		<string>defaultSettings</string>
		<string>deleteProperty</string>
		<string>deltaTransformPoint</string>
		<string>descendants</string>
		<string>dispatchEvent</string>
		<string>dispose</string>
		<string>distance</string>
		<string>doConversion</string>
		<string>download</string>
		<string>draw</string>
		<string>drawCircle</string>
		<string>drawEllipse</string>
		<string>drawRect</string>
		<string>drawRoundRect</string>
		<string>elements</string>
		<string>endFill</string>
		<string>enumerateFonts</string>
		<string>equals</string>
		<string>every</string>
		<string>exec</string>
		<string>exp</string>
		<string>fillRect</string>
		<string>filter</string>
		<string>findText</string>
		<string>floodFill</string>
		<string>floor</string>
		<string>flush</string>
		<string>forEach</string>
		<string>formatToString</string>
		<string>fromCharCode</string>
		<string>generateFilterRect</string>
		<string>getBounds</string>
		<string>getCamera</string>
		<string>getCharBoundaries</string>
		<string>getCharIndexAtPoint</string>
		<string>getChildAt</string>
		<string>getChildByName</string>
		<string>getChildIndex</string>
		<string>getColorBoundsRect</string>
		<string>getDate</string>
		<string>getDay</string>
		<string>getDefinition</string>
		<string>getDescendants</string>
		<string>getFirstCharInParagraph</string>
		<string>getFullYear</string>
		<string>getHours</string>
		<string>getImageReference</string>
		<string>getLineIndexAtPoint</string>
		<string>getLineIndexOfChar</string>
		<string>getLineLength</string>
		<string>getLineMetrics</string>
		<string>getLineOffset</string>
		<string>getLineText</string>
		<string>getLocal</string>
		<string>getMicrophone</string>
		<string>getMilliseconds</string>
		<string>getMinutes</string>
		<string>getMonth</string>
		<string>getNamespaceForPrefix</string>
		<string>getObjectsUnderPoint</string>
		<string>getParagraphLength</string>
		<string>getPixel</string>
		<string>getPixel32</string>
		<string>getPixels</string>
		<string>getPrefixForNamespace</string>
		<string>getProperty</string>
		<string>getRect</string>
		<string>getRemote</string>
		<string>getSeconds</string>
		<string>getSelected</string>
		<string>getSelectedText</string>
		<string>getStackTrace</string>
		<string>getStyle</string>
		<string>getText</string>
		<string>getTextFormat</string>
		<string>getTextRunInfo</string>
		<string>getTime</string>
		<string>getTimezoneOffset</string>
		<string>getUTCDate</string>
		<string>getUTCDay</string>
		<string>getUTCFullYear</string>
		<string>getUTCHours</string>
		<string>getUTCMilliseconds</string>
		<string>getUTCMinutes</string>
		<string>getUTCMonth</string>
		<string>getUTCSeconds</string>
		<string>globalToLocal</string>
		<string>gotoAndPlay</string>
		<string>gotoAndStop</string>
		<string>hasChildNodes</string>
		<string>hasComplexContent</string>
		<string>hasDefinition</string>
		<string>hasEventListener</string>
		<string>hasGlyphs</string>
		<string>hasOwnProperty</string>
		<string>hasProperty</string>
		<string>hasSimpleContent</string>
		<string>hide</string>
		<string>hideBuiltInItems</string>
		<string>hitTest</string>
		<string>hitTestObject</string>
		<string>hitTestPoint</string>
		<string>hitTestTextNearPos</string>
		<string>identity</string>
		<string>indexOf</string>
		<string>inflate</string>
		<string>inflatePoint</string>
		<string>inScopeNamespaces</string>
		<string>insertBefore</string>
		<string>insertChildAfter</string>
		<string>insertChildBefore</string>
		<string>interpolate</string>
		<string>intersection</string>
		<string>intersects</string>
		<string>invalidate</string>
		<string>invert</string>
		<string>isAccessible</string>
		<string>isAttribute</string>
		<string>isDefaultPrevented</string>
		<string>isEmpty</string>
		<string>isFocusInaccessible</string>
		<string>isPrototypeOf</string>
		<string>join</string>
		<string>lastIndexOf</string>
		<string>length</string>
		<string>lineGradientStyle</string>
		<string>lineStyle</string>
		<string>lineTo</string>
		<string>load</string>
		<string>loadBytes</string>
		<string>loadPolicyFile</string>
		<string>localeCompare</string>
		<string>localName</string>
		<string>localToGlobal</string>
		<string>lock</string>
		<string>log</string>
		<string>map</string>
		<string>match</string>
		<string>max</string>
		<string>merge</string>
		<string>min</string>
		<string>moveTo</string>
		<string>name</string>
		<string>namespace</string>
		<string>namespaceDeclarations</string>
		<string>nextFrame</string>
		<string>nextName</string>
		<string>nextNameIndex</string>
		<string>nextScene</string>
		<string>nextValue</string>
		<string>nodeKind</string>
		<string>noise</string>
		<string>normalize</string>
		<string>offset</string>
		<string>offset</string>
		<string>offsetPoint</string>
		<string>paletteMap</string>
		<string>parent</string>
		<string>parse</string>
		<string>parseCSS</string>
		<string>parseXML</string>
		<string>pause</string>
		<string>perlinNoise</string>
		<string>pixelDissolve</string>
		<string>play</string>
		<string>polar</string>
		<string>pop</string>
		<string>pow</string>
		<string>prependChild</string>
		<string>preventDefault</string>
		<string>prevFrame</string>
		<string>prevScene</string>
		<string>processingInstructions</string>
		<string>propertyIsEnumerable</string>
		<string>publish</string>
		<string>push</string>
		<string>random</string>
		<string>readBoolean</string>
		<string>readByte</string>
		<string>readBytes</string>
		<string>readDouble</string>
		<string>readExternal</string>
		<string>readFloat</string>
		<string>readInt</string>
		<string>readMultiByte</string>
		<string>readObject</string>
		<string>readShort</string>
		<string>readUnsignedByte</string>
		<string>readUnsignedInt</string>
		<string>readUnsignedShort</string>
		<string>readUTF</string>
		<string>readUTFBytes</string>
		<string>receiveAudio</string>
		<string>receiveVideo</string>
		<string>registerFont</string>
		<string>removeChild</string>
		<string>removeChildAt</string>
		<string>removeEventListener</string>
		<string>removeNamespace</string>
		<string>removeNode</string>
		<string>replace</string>
		<string>replaceSelectedText</string>
		<string>replaceText</string>
		<string>reset</string>
		<string>resume</string>
		<string>reverse</string>
		<string>rotate</string>
		<string>round</string>
		<string>scale</string>
		<string>scroll</string>
		<string>search</string>
		<string>seek</string>
		<string>send</string>
		<string>setAdvancedAntiAliasingTable</string>
		<string>setChildIndex</string>
		<string>setChildren</string>
		<string>setClipboard</string>
		<string>setCompositionString</string>
		<string>setDate</string>
		<string>setDirty</string>
		<string>setEmpty</string>
		<string>setFullYear</string>
		<string>setHours</string>
		<string>setKeyFrameInterval</string>
		<string>setLocalName</string>
		<string>setLoopback</string>
		<string>setLoopBack</string>
		<string>setMilliseconds</string>
		<string>setMinutes</string>
		<string>setMode</string>
		<string>setMonth</string>
		<string>setMotionLevel</string>
		<string>setName</string>
		<string>setNamespace</string>
		<string>setPixel</string>
		<string>setPixel32</string>
		<string>setPixels</string>
		<string>setProperty</string>
		<string>setPropertyIsEnumerable</string>
		<string>setQuality</string>
		<string>setSeconds</string>
		<string>setSelectColor</string>
		<string>setSelected</string>
		<string>setSelection</string>
		<string>setSettings</string>
		<string>setSilenceLevel</string>
		<string>setStyle</string>
		<string>setTextFormat</string>
		<string>setTime</string>
		<string>settings</string>
		<string>setUseEchoSuppression</string>
		<string>setUTCDate</string>
		<string>setUTCFullYear</string>
		<string>setUTCHours</string>
		<string>setUTCMilliseconds</string>
		<string>setUTCMinutes</string>
		<string>setUTCMonth</string>
		<string>setUTCSeconds</string>
		<string>shift</string>
		<string>show</string>
		<string>showSettings</string>
		<string>sin</string>
		<string>slice</string>
		<string>some</string>
		<string>sort</string>
		<string>sortOn</string>
		<string>splice</string>
		<string>split</string>
		<string>sqrt</string>
		<string>start</string>
		<string>startDrag</string>
		<string>stop</string>
		<string>stopAll</string>
		<string>stopDrag</string>
		<string>stopImmediatePropagation</string>
		<string>stopPropagation</string>
		<string>substr</string>
		<string>substring</string>
		<string>subtract</string>
		<string>swapChildren</string>
		<string>swapChildrenAt</string>
		<string>tan</string>
		<string>test</string>
		<string>text</string>
		<string>threshold</string>
		<string>toDateString</string>
		<string>toExponential</string>
		<string>toFixed</string>
		<string>togglePause</string>
		<string>toLocaleDateString</string>
		<string>toLocaleLowerCase</string>
		<string>toLocaleString</string>
		<string>toLocaleTimeString</string>
		<string>toLocaleUpperCase</string>
		<string>toLowerCase</string>
		<string>toPrecision</string>
		<string>toString</string>
		<string>toTimeString</string>
		<string>toUpperCase</string>
		<string>toUTCString</string>
		<string>toXMLString</string>
		<string>transform</string>
		<string>transformPoint</string>
		<string>translate</string>
		<string>uncompress</string>
		<string>union</string>
		<string>unload</string>
		<string>unlock</string>
		<string>unshift</string>
		<string>updateAfterEvent</string>
		<string>updateProperties</string>
		<string>upload</string>
		<string>UTC</string>
		<string>valueOf</string>
		<string>willTrigger</string>
		<string>writeBoolean</string>
		<string>writeByte</string>
		<string>writeBytes</string>
		<string>writeDouble</string>
		<string>writeDynamicProperties</string>
		<string>writeDynamicProperty</string>
		<string>writeExternal</string>
		<string>writeFloat</string>
		<string>writeInt</string>
		<string>writeMultiByte</string>
		<string>writeObject</string>
		<string>writeShort</string>
		<string>writeUnsignedInt</string>
		<string>writeUTF</string>
		<string>writeUTFBytes</string>
		
		<!-- Properties -->
		
		<string>a</string>
		<string>accessibilityProperties</string>
		<string>actionScriptVersion</string>
		<string>activating</string>
		<string>active</string>
		<string>activityLevel</string>
		<string>album</string>
		<string>align</string>
		<string>alpha</string>
		<string>alphaMultiplier</string>
		<string>alphaOffset</string>
		<string>alphas</string>
		<string>altKey</string>
		<string>alwaysShowSelection</string>
		<string>angle</string>
		<string>antiAliasType</string>
		<string>applicationDomain</string>
		<string>artist</string>
		<string>ascent</string>
		<string>attributes</string>
		<string>autoSize</string>
		<string>available</string>
		<string>avHardwareDisable</string>
		<string>b</string>
		<string>background</string>
		<string>backgroundColor</string>
		<string>bandwidth</string>
		<string>bias</string>
		<string>bitmapData</string>
		<string>blendMode</string>
		<string>blockIndent</string>
		<string>blueMultiplier</string>
		<string>blueOffset</string>
		<string>blurX</string>
		<string>blurY</string>
		<string>bold</string>
		<string>border</string>
		<string>borderColor</string>
		<string>bottom</string>
		<string>bottomRight</string>
		<string>bottomScrollV</string>
		<string>bubbles</string>
		<string>bufferLength</string>
		<string>bufferTime</string>
		<string>builtInItems</string>
		<string>bullet</string>
		<string>buttonDown</string>
		<string>buttonMode</string>
		<string>bytesAvailable</string>
		<string>bytesLoaded</string>
		<string>bytesTotal</string>
		<string>c</string>
		<string>cacheAsBitmap</string>
		<string>callee</string>
		<string>cancelable</string>
		<string>capsLock</string>
		<string>caption</string>
		<string>caretIndex</string>
		<string>changeList</string>
		<string>charCode</string>
		<string>charCount</string>
		<string>checkPolicyFile</string>
		<string>childAllowsParent</string>
		<string>childNodes</string>
		<string>clamp</string>
		<string>client</string>
		<string>code</string>
		<string>color</string>
		<string>colors</string>
		<string>colorTransform</string>
		<string>comment</string>
		<string>componentX</string>
		<string>componentY</string>
		<string>concatenatedColorTransform</string>
		<string>concatenatedMatrix</string>
		<string>condenseWhite</string>
		<string>connected</string>
		<string>connectedProxyType</string>
		<string>constructor</string>
		<string>content</string>
		<string>contentLoaderInfo</string>
		<string>contentType</string>
		<string>contextMenu</string>
		<string>contextMenuOwner</string>
		<string>conversionMode</string>
		<string>creationDate</string>
		<string>creator</string>
		<string>ctrlKey</string>
		<string>currentCount</string>
		<string>currentDomain</string>
		<string>currentFPS</string>
		<string>currentFrame</string>
		<string>currentLabel</string>
		<string>currentLabels</string>
		<string>currentScene</string>
		<string>currentTarget</string>
		<string>customItems</string>
		<string>d</string>
		<string>data</string>
		<string>dataFormat</string>
		<string>date</string>
		<string>dateUTC</string>
		<string>day</string>
		<string>dayUTC</string>
		<string>deblocking</string>
		<string>defaultObjectEncoding</string>
		<string>defaultTextFormat</string>
		<string>delay</string>
		<string>delta</string>
		<string>descent</string>
		<string>description</string>
		<string>displayAsPassword</string>
		<string>displayMode</string>
		<string>displayState</string>
		<string>distance</string>
		<string>divisor</string>
		<string>docTypeDecl</string>
		<string>domain</string>
		<string>dotall</string>
		<string>doubleClickEnabled</string>
		<string>downState</string>
		<string>dropTarget</string>
		<string>dynamicPropertyWriter</string>
		<string>embedFonts</string>
		<string>enabled</string>
		<string>endian</string>
		<string>error</string>
		<string>errorID</string>
		<string>eventPhase</string>
		<string>exactSettings</string>
		<string>extended</string>
		<string>extension</string>
		<string>fileList</string>
		<string>filters</string>
		<string>firstChild</string>
		<string>focus</string>
		<string>focusRect</string>
		<string>font</string>
		<string>fontName</string>
		<string>fontSize</string>
		<string>fontStyle</string>
		<string>fontType</string>
		<string>forceSimple</string>
		<string>forwardAndBack</string>
		<string>fps</string>
		<string>frame</string>
		<string>frameRate</string>
		<string>framesLoaded</string>
		<string>fullScreen</string>
		<string>fullYear</string>
		<string>fullYearUTC</string>
		<string>gain</string>
		<string>genre</string>
		<string>global</string>
		<string>graphics</string>
		<string>greenMultiplier</string>
		<string>greenOffset</string>
		<string>gridFitType</string>
		<string>hasAccessibility</string>
		<string>hasAudio</string>
		<string>hasAudioEncoder</string>
		<string>hasEmbeddedVideo</string>
		<string>hasIME</string>
		<string>hasMP3</string>
		<string>hasPrinting</string>
		<string>hasScreenBroadcast</string>
		<string>hasScreenPlayback</string>
		<string>hasStreamingAudio</string>
		<string>hasStreamingVideo</string>
		<string>hasTLS</string>
		<string>hasVideoEncoder</string>
		<string>height</string>
		<string>hideObject</string>
		<string>highlightAlpha</string>
		<string>highlightColor</string>
		<string>hitArea</string>
		<string>hitTestState</string>
		<string>hours</string>
		<string>hoursUTC</string>
		<string>htmlText</string>
		<string>id3</string>
		<string>idMap</string>
		<string>ignoreCase</string>
		<string>ignoreComments</string>
		<string>ignoreProcessingInstructions</string>
		<string>ignoreWhite</string>
		<string>ignoreWhitespace</string>
		<string>ime</string>
		<string>indent</string>
		<string>index</string>
		<string>info</string>
		<string>inner</string>
		<string>insideCutoff</string>
		<string>isBuffering</string>
		<string>isDebugger</string>
		<string>italic</string>
		<string>kerning</string>
		<string>keyCode</string>
		<string>keyFrameInterval</string>
		<string>keyLocation</string>
		<string>knockout</string>
		<string>labels</string>
		<string>language</string>
		<string>lastChild</string>
		<string>lastIndex</string>
		<string>leading</string>
		<string>left</string>
		<string>leftMargin</string>
		<string>leftPeak</string>
		<string>leftToLeft</string>
		<string>leftToRight</string>
		<string>length</string>
		<string>letterSpacing</string>
		<string>level</string>
		<string>liveDelay</string>
		<string>loader</string>
		<string>loaderInfo</string>
		<string>loaderURL</string>
		<string>localFileReadDisable</string>
		<string>localName</string>
		<string>localX</string>
		<string>localY</string>
		<string>loop</string>
		<string>loopback</string>
		<string>macType</string>
		<string>manufacturer</string>
		<string>mapBitmap</string>
		<string>mapPoint</string>
		<string>mask</string>
		<string>matrix</string>
		<string>matrixX</string>
		<string>matrixY</string>
		<string>maxChars</string>
		<string>maxLevel</string>
		<string>maxScrollH</string>
		<string>maxScrollV</string>
		<string>message</string>
		<string>method</string>
		<string>milliseconds</string>
		<string>millisecondsUTC</string>
		<string>minutes</string>
		<string>minutesUTC</string>
		<string>mode</string>
		<string>modificationDate</string>
		<string>month</string>
		<string>monthUTC</string>
		<string>motionLevel</string>
		<string>motionTimeout</string>
		<string>mouseChildren</string>
		<string>mouseEnabled</string>
		<string>mouseTarget</string>
		<string>mouseWheelEnabled</string>
		<string>mouseX</string>
		<string>mouseY</string>
		<string>multiline</string>
		<string>muted</string>
		<string>name</string>
		<string>names</string>
		<string>namespaceURI</string>
		<string>nextSibling</string>
		<string>noAutoLabeling</string>
		<string>nodeName</string>
		<string>nodeType</string>
		<string>nodeValue</string>
		<string>numChildren</string>
		<string>numFrames</string>
		<string>numLines</string>
		<string>numLock</string>
		<string>objectEncoding</string>
		<string>objectID</string>
		<string>opaqueBackground</string>
		<string>orientation</string>
		<string>os</string>
		<string>outsideCutoff</string>
		<string>overState</string>
		<string>pageHeight</string>
		<string>pageWidth</string>
		<string>pan</string>
		<string>paperHeight</string>
		<string>paperWidth</string>
		<string>parameters</string>
		<string>parent</string>
		<string>parentAllowsChild</string>
		<string>parentDomain</string>
		<string>parentNode</string>
		<string>pixelAspectRatio</string>
		<string>pixelBounds</string>
		<string>pixelSnapping</string>
		<string>playerType</string>
		<string>position</string>
		<string>prefix</string>
		<string>preserveAlpha</string>
		<string>prettyIndent</string>
		<string>prettyPrinting</string>
		<string>previousSibling</string>
		<string>print</string>
		<string>printAsBitmap</string>
		<string>prototype</string>
		<string>proxyType</string>
		<string>quality</string>
		<string>rate</string>
		<string>ratios</string>
		<string>ratios</string>
		<string>rect</string>
		<string>redMultiplier</string>
		<string>redOffset</string>
		<string>relatedObject</string>
		<string>repeatCount</string>
		<string>requestHeaders</string>
		<string>restrict</string>
		<string>rewind</string>
		<string>right</string>
		<string>rightMargin</string>
		<string>rightPeak</string>
		<string>rightToLeft</string>
		<string>rightToRight</string>
		<string>root</string>
		<string>rotation</string>
		<string>running</string>
		<string>sameDomain</string>
		<string>sandboxType</string>
		<string>save</string>
		<string>scale9Grid</string>
		<string>scaleMode</string>
		<string>scaleX</string>
		<string>scaleY</string>
		<string>scenes</string>
		<string>screenColor</string>
		<string>screenDPI</string>
		<string>screenResolutionX</string>
		<string>screenResolutionY</string>
		<string>scrollH</string>
		<string>scrollRect</string>
		<string>scrollV</string>
		<string>seconds</string>
		<string>secondsUTC</string>
		<string>securityDomain</string>
		<string>selectable</string>
		<string>selectionBeginIndex</string>
		<string>selectionEndIndex</string>
		<string>separatorBefore</string>
		<string>serverString</string>
		<string>shadowAlpha</string>
		<string>shadowColor</string>
		<string>sharedEvents</string>
		<string>sharpness</string>
		<string>shiftKey</string>
		<string>shortcut</string>
		<string>showDefaultContextMenu</string>
		<string>silenceLevel</string>
		<string>silenceTimeout</string>
		<string>silent</string>
		<string>size</string>
		<string>smoothing</string>
		<string>songName</string>
		<string>soundTransform</string>
		<string>source</string>
		<string>stage</string>
		<string>stageFocusRect</string>
		<string>stageHeight</string>
		<string>stageWidth</string>
		<string>stageX</string>
		<string>stageY</string>
		<string>status</string>
		<string>strength</string>
		<string>styleNames</string>
		<string>styleSheet</string>
		<string>swfVersion</string>
		<string>tabChildren</string>
		<string>tabEnabled</string>
		<string>tabIndex</string>
		<string>tabStops</string>
		<string>target</string>
		<string>text</string>
		<string>textColor</string>
		<string>textHeight</string>
		<string>textSnapshot</string>
		<string>textWidth</string>
		<string>thickness</string>
		<string>time</string>
		<string>timezoneOffset</string>
		<string>top</string>
		<string>topLeft</string>
		<string>totalFrames</string>
		<string>totalMemory</string>
		<string>track</string>
		<string>trackAsMenu</string>
		<string>trackAsMenu</string>
		<string>transform</string>
		<string>transparent</string>
		<string>tx</string>
		<string>ty</string>
		<string>type</string>
		<string>underline</string>
		<string>upState</string>
		<string>uri</string>
		<string>url</string>
		<string>useCodePage</string>
		<string>useEchoSuppression</string>
		<string>useHandCursor</string>
		<string>useRichTextClipboard</string>
		<string>usingTLS</string>
		<string>value</string>
		<string>version</string>
		<string>videoHeight</string>
		<string>videoWidth</string>
		<string>visible</string>
		<string>volume</string>
		<string>width</string>
		<string>wordWrap</string>
		<string>x</string>
		<string>xmlDecl</string>
		<string>y</string>
		<string>year</string>
		<string>zoom</string>
		
		<!-- Constants -->
		
		<string>ACTIONSCRIPT2</string>
		<string>ACTIONSCRIPT3</string>
		<string>ACTIVATE</string>
		<string>ACTIVITY</string>
		<string>ADD</string>
		<string>ADDED</string>
		<string>ADDED_TO_STAGE</string>
		<string>ADVANCED</string>
		<string>ALPHA</string>
		<string>ALPHANUMERIC_FULL</string>
		<string>ALPHANUMERIC_HALF</string>
		<string>ALWAYS</string>
		<string>AMF0</string>
		<string>AMF3</string>
		<string>ASYNC_ERROR</string>
		<string>AT_TARGET</string>
		<string>AUTO</string>
		<string>BACKSPACE</string>
		<string>BEST</string>
		<string>BEVEL</string>
		<string>BIG_ENDIAN</string>
		<string>BINARY</string>
		<string>BLUE</string>
		<string>BOLD</string>
		<string>BOLD_ITALIC</string>
		<string>BOTTOM</string>
		<string>BOTTOM_LEFT</string>
		<string>BOTTOM_RIGHT</string>
		<string>BUBBLING_PHASE</string>
		<string>CAMERA</string>
		<string>CANCEL</string>
		<string>CAPS_LOCK</string>
		<string>CAPTURING_PHASE</string>
		<string>CASEINSENSITIVE</string>
		<string>CENTER</string>
		<string>CHANGE</string>
		<string>CHINESE</string>
		<string>CLAMP</string>
		<string>CLICK</string>
		<string>CLOSE</string>
		<string>COLOR</string>
		<string>COMPLETE</string>
		<string>CONNECT</string>
		<string>CONTROL</string>
		<string>CRT</string>
		<string>DARK_COLOR</string>
		<string>DARKEN</string>
		<string>DATA</string>
		<string>DEACTIVATE</string>
		<string>DEFAULT</string>
		<string>DELETE</string>
		<string>DESCENDING</string>
		<string>DEVICE</string>
		<string>DIFFERENCE</string>
		<string>DOUBLE_CLICK</string>
		<string>DOWN</string>
		<string>DYNAMIC</string>
		<string>E</string>
		<string>ELEMENT_NODE</string>
		<string>EMBEDDED</string>
		<string>END</string>
		<string>ENTER</string>
		<string>ENTER_FRAME</string>
		<string>ERASE</string>
		<string>ERROR</string>
		<string>ESCAPE</string>
		<string>EXACT_FIT</string>
		<string>F1</string>
		<string>F10</string>
		<string>F11</string>
		<string>F12</string>
		<string>F13</string>
		<string>F14</string>
		<string>F15</string>
		<string>F2</string>
		<string>F3</string>
		<string>F4</string>
		<string>F5</string>
		<string>F6</string>
		<string>F7</string>
		<string>F8</string>
		<string>F9</string>
		<string>FLASH1</string>
		<string>FLASH2</string>
		<string>FLASH3</string>
		<string>FLASH4</string>
		<string>FLASH5</string>
		<string>FLASH6</string>
		<string>FLASH7</string>
		<string>FLASH8</string>
		<string>FLASH9</string>
		<string>FLUSHED</string>
		<string>FOCUS_IN</string>
		<string>FOCUS_OUT</string>
		<string>FULL</string>
		<string>FULL_SCREEN</string>
		<string>FULLSCREEN</string>
		<string>GET</string>
		<string>GREEN</string>
		<string>HARDLIGHT</string>
		<string>HIGH</string>
		<string>HOME</string>
		<string>HORIZONTAL</string>
		<string>HTTP_STATUS</string>
		<string>ID3</string>
		<string>IGNORE</string>
		<string>IME_COMPOSITION</string>
		<string>INIT</string>
		<string>INNER</string>
		<string>INPUT</string>
		<string>INSERT</string>
		<string>INVERT</string>
		<string>IO_ERROR</string>
		<string>ITALIC</string>
		<string>JAPANESE_HIRAGANA</string>
		<string>JAPANESE_KATAKANA_FULL</string>
		<string>JAPANESE_KATAKANA_HALF</string>
		<string>JUSTIFY</string>
		<string>KEY_DOWN</string>
		<string>KEY_FOCUS_CHANGE</string>
		<string>KEY_UP</string>
		<string>KOREAN</string>
		<string>LANDSCAPE</string>
		<string>LAYER</string>
		<string>LCD</string>
		<string>LEFT</string>
		<string>LIGHT_COLOR</string>
		<string>LIGHTEN</string>
		<string>LINEAR</string>
		<string>LINEAR_RGB</string>
		<string>LINK</string>
		<string>LITTLE_ENDIAN</string>
		<string>LN10</string>
		<string>LN2</string>
		<string>LOCAL_STORAGE</string>
		<string>LOCAL_TRUSTED</string>
		<string>LOCAL_WITH_FILE</string>
		<string>LOCAL_WITH_NETWORK</string>
		<string>LOG10E</string>
		<string>LOG2E</string>
		<string>LOW</string>
		<string>LOW</string>
		<string>MAX_VALUE</string>
		<string>MEDIUM</string>
		<string>MENU_ITEM_SELECT</string>
		<string>MENU_SELECT</string>
		<string>MICROPHONE</string>
		<string>MIN_VALUE</string>
		<string>MITER</string>
		<string>MOUSE_DOWN</string>
		<string>MOUSE_FOCUS_CHANGE</string>
		<string>MOUSE_LEAVE</string>
		<string>MOUSE_MOVE</string>
		<string>MOUSE_OUT</string>
		<string>MOUSE_OVER</string>
		<string>MOUSE_UP</string>
		<string>MOUSE_WHEEL</string>
		<string>MULTIPLY</string>
		<string>NaN</string>
		<string>NaN</string>
		<string>NEGATIVE_INFINITY</string>
		<string>NET_STATUS</string>
		<string>NEVER</string>
		<string>NO_BORDER</string>
		<string>NONE</string>
		<string>NORMAL</string>
		<string>NO_SCALE</string>
		<string>NUMERIC</string>
		<string>NUM_PAD</string>
		<string>NUMPAD_0</string>
		<string>NUMPAD_1</string>
		<string>NUMPAD_2</string>
		<string>NUMPAD_3</string>
		<string>NUMPAD_4</string>
		<string>NUMPAD_5</string>
		<string>NUMPAD_6</string>
		<string>NUMPAD_7</string>
		<string>NUMPAD_8</string>
		<string>NUMPAD_9</string>
		<string>NUMPAD_ADD</string>
		<string>NUMPAD_DECIMAL</string>
		<string>NUMPAD_DIVIDE</string>
		<string>NUMPAD_ENTER</string>
		<string>NUMPAD_MULTIPLY</string>
		<string>NUMPAD_SUBTRACT</string>
		<string>OPEN</string>
		<string>OUTER</string>
		<string>OVERLAY</string>
		<string>PAD</string>
		<string>PAGE_DOWN</string>
		<string>PAGE_UP</string>
		<string>PENDING</string>
		<string>PI</string>
		<string>PIXEL</string>
		<string>PORTRAIT</string>
		<string>POSITIVE_INFINITY</string>
		<string>POST</string>
		<string>PRIVACY</string>
		<string>PROGRESS</string>
		<string>RADIAL</string>
		<string>RED</string>
		<string>REFLECT</string>
		<string>REGULAR</string>
		<string>REMOTE</string>
		<string>REMOVED</string>
		<string>REMOVED_FROM_STAGE</string>
		<string>RENDER</string>
		<string>REPEAT</string>
		<string>RESIZE</string>
		<string>RETURNINDEXEDARRAY</string>
		<string>RGB</string>
		<string>RIGHT</string>
		<string>ROLL_OUT</string>
		<string>ROLL_OVER</string>
		<string>ROUND</string>
		<string>SCREEN</string>
		<string>SCROLL</string>
		<string>SECURITY_ERROR</string>
		<string>SELECT</string>
		<string>SETTINGS_MANAGER</string>
		<string>SHIFT</string>
		<string>SHOW_ALL</string>
		<string>SOCKET_DATA</string>
		<string>SOUND_COMPLETE</string>
		<string>SPACE</string>
		<string>SQRT1_2</string>
		<string>SQRT2</string>
		<string>SQUARE</string>
		<string>STANDARD</string>
		<string>STATUS</string>
		<string>SUBPIXEL</string>
		<string>SUBTRACT</string>
		<string>SYNC</string>
		<string>TAB</string>
		<string>TAB_CHILDREN_CHANGE</string>
		<string>TAB_ENABLED_CHANGE</string>
		<string>TAB_INDEX_CHANGE</string>
		<string>TEXT</string>
		<string>TEXT_INPUT</string>
		<string>TEXT_NODE</string>
		<string>TIMER</string>
		<string>TIMER_COMPLETE</string>
		<string>TOP</string>
		<string>TOP_LEFT</string>
		<string>TOP_RIGHT</string>
		<string>undefined</string>
		<string>UNIQUESORT</string>
		<string>UNKNOWN</string>
		<string>UNLOAD</string>
		<string>UP</string>
		<string>UPLOAD_COMPLETE_DATA</string>
		<string>VARIABLES</string>
		<string>VERTICAL</string>
		<string>WRAP</string>
	</array>
	<key>autocompleteWords</key>
	<array>
	</array>
</dict>
</plist>