<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autocompleteWords</key>
	<array/>
	<key>beginCommand</key>
	<string>&amp;lt;</string>
	<key>beginFirstMultiLineComment</key>
	<string>/*</string>
	<key>beginInstruction</key>
	<string>&amp;lt;%</string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>beginVariable</key>
	<string>$</string>
	<key>endCommand</key>
	<string>&amp;gt;</string>
	<key>endFirstMultiLineComment</key>
	<string>*/</string>
	<key>endInstruction</key>
	<string>%&amp;gt;</string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>endVariable</key>
	<string>\)\:\+\=\*\;</string>
	<key>firstSingleLineComment</key>
	<string>`</string>
	<key>firstString</key>
	<string>"</string>
	<key>functionDefinition</key>
	<string>^\s*Method\s+.*</string>
	<key>keywords</key>
	<array>
		<string>_form</string>
		<string>_query</string>
		<string>_request</string>
		<string>4d</string>
		<string>a</string>
		<string>abandon</string>
		<string>abs</string>
		<string>add</string>
		<string>all</string>
		<string>an</string>
		<string>append</string>
		<string>array</string>
		<string>ascii</string>
		<string>auth</string>
		<string>authenticate</string>
		<string>auto</string>
		<string>automatic</string>
		<string>base64</string>
		<string>before</string>
		<string>between</string>
		<string>blob</string>
		<string>blowfish</string>
		<string>boolean</string>
		<string>buffer</string>
		<string>build</string>
		<string>by</string>
		<string>c_blob</string>
		<string>c_boolean</string>
		<string>c_date</string>
		<string>c_longint</string>
		<string>c_picture</string>
		<string>c_pointer</string>
		<string>c_real</string>
		<string>c_string</string>
		<string>c_text</string>
		<string>c_time</string>
		<string>cache</string>
		<string>call</string>
		<string>callback</string>
		<string>case</string>
		<string>cancel</string>
		<string>capitalize</string>
		<string>cell</string>
		<string>century</string>
		<string>chain</string>
		<string>char</string>
		<string>charset</string>
		<string>choices</string>
		<string>choose</string>
		<string>clear</string>
		<string>close</string>
		<string>collection</string>
		<string>compare</string>
		<string>concat</string>
		<string>console</string>
		<string>content</string>
		<string>control</string>
		<string>cookie</string>
		<string>cookies</string>
		<string>copy</string>
		<string>count</string>
		<string>create</string>
		<string>current</string>
		<string>cut</string>
		<string>date</string>
		<string>datetime</string>
		<string>day</string>
		<string>dec</string>
		<string>decode</string>
		<string>deep</string>
		<string>default</string>
		<string>define</string>
		<string>defined</string>
		<string>delay</string>
		<string>delete</string>
		<string>delta</string>
		<string>descriptor</string>
		<string>difference</string>
		<string>directory</string>
		<string>distinct</string>
		<string>document</string>
		<string>each</string>
		<string>element</string>
		<string>else</string>
		<string>empty</string>
		<string>enclose</string>
		<string>encode</string>
		<string>encoding</string>
		<string>end</string>
		<string>error</string>
		<string>execute</string>
		<string>exists</string>
		<string>expires</string>
		<string>extension</string>
		<string>false</string>
		<string>field</string>
		<string>fields</string>
		<string>file</string>
		<string>filename</string>
		<string>fill</string>
		<string>find</string>
		<string>first</string>
		<string>folder</string>
		<string>for</string>
		<string>form</string>
		<string>formula</string>
		<string>from</string>
		<string>full</string>
		<string>get</string>
		<string>gif</string>
		<string>global</string>
		<string>globals</string>
		<string>goto</string>
		<string>has</string>
		<string>header</string>
		<string>headers</string>
		<string>hide</string>
		<string>hour</string>
		<string>html</string>
		<string>id</string>
		<string>identical</string>
		<string>if</string>
		<string>import</string>
		<string>in</string>
		<string>include</string>
		<string>index</string>
		<string>indexed</string>
		<string>info</string>
		<string>infos</string>
		<string>insert</string>
		<string>int</string>
		<string>integer</string>
		<string>internal</string>
		<string>interpolate</string>
		<string>intersection</string>
		<string>into</string>
		<string>is</string>
		<string>iso</string>
		<string>item</string>
		<string>items</string>
		<string>iterator</string>
		<string>jpeg</string>
		<string>jpg</string>
		<string>key</string>
		<string>keys</string>
		<string>last</string>
		<string>length</string>
		<string>library</string>
		<string>licence</string>
		<string>limit</string>
		<string>line</string>
		<string>list</string>
		<string>load</string>
		<string>local</string>
		<string>lock</string>
		<string>locked</string>
		<string>log</string>
		<string>longint</string>
		<string>lowercase</string>
		<string>mac</string>
		<string>many</string>
		<string>match</string>
		<string>max</string>
		<string>md5</string>
		<string>merge</string>
		<string>message</string>
		<string>method</string>
		<string>millisecond</string>
		<string>milliseconds</string>
		<string>min</string>
		<string>minute</string>
		<string>mode</string>
		<string>month</string>
		<string>more</string>
		<string>move</string>
		<string>multisort</string>
		<string>name</string>
		<string>named</string>
		<string>native</string>
		<string>new</string>
		<string>next</string>
		<string>nil</string>
		<string>not</string>
		<string>num</string>
		<string>number</string>
		<string>of</string>
		<string>one</string>
		<string>only</string>
		<string>open</string>
		<string>order</string>
		<string>output</string>
		<string>packet</string>
		<string>page</string>
		<string>parameter</string>
		<string>params</string>
		<string>path</string>
		<string>pattern</string>
		<string>picture</string>
		<string>platform</string>
		<string>pointer</string>
		<string>position</string>
		<string>previous</string>
		<string>process</string>
		<string>property</string>
		<string>query</string>
		<string>quote</string>
		<string>random</string>
		<string>range</string>
		<string>raw</string>
		<string>read</string>
		<string>real</string>
		<string>realm</string>
		<string>receive</string>
		<string>record</string>
		<string>records</string>
		<string>redirect</string>
		<string>reduce</string>
		<string>regex</string>
		<string>relate</string>
		<string>relations</string>
		<string>remaining</string>
		<string>remove</string>
		<string>replace</string>
		<string>requested</string>
		<string>require</string>
		<string>resize</string>
		<string>resolve</string>
		<string>response</string>
		<string>return</string>
		<string>right</string>
		<string>root</string>
		<string>round</string>
		<string>save</string>
		<string>scan</string>
		<string>script</string>
		<string>second</string>
		<string>selected</string>
		<string>selection</string>
		<string>semaphore</string>
		<string>seperator</string>
		<string>sequence</string>
		<string>session</string>
		<string>set</string>
		<string>size</string>
		<string>slice</string>
		<string>sort</string>
		<string>split</string>
		<string>start</string>
		<string>state</string>
		<string>string</string>
		<string>strings</string>
		<string>structure</string>
		<string>substring</string>
		<string>sum</string>
		<string>table</string>
		<string>tables</string>
		<string>test</string>
		<string>text</string>
		<string>throw</string>
		<string>tickcount</string>
		<string>timeout</string>
		<string>timestamp</string>
		<string>to</string>
		<string>transaction</string>
		<string>trim</string>
		<string>true</string>
		<string>trunc</string>
		<string>type</string>
		<string>undefined</string>
		<string>union</string>
		<string>unload</string>
		<string>unlock</string>
		<string>upload</string>
		<string>uploads</string>
		<string>uppercase</string>
		<string>url</string>
		<string>use</string>
		<string>utc</string>
		<string>validate</string>
		<string>values</string>
		<string>variable</string>
		<string>variables</string>
		<string>version</string>
		<string>while</string>
		<string>win</string>
		<string>with</string>
		<string>write</string>
		<string>writebr</string>
		<string>writeln</string>
		<string>writep</string>
		<string>year</string>
	</array>
	<key>keywordsCaseSensitive</key>
	<false/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>removeFromFunction</key>
	<string>method</string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>secondString</key>
	<string>'</string>
</dict>
</plist>
