<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginCommand</key>
	<string></string>
	<key>endCommand</key>
	<string></string>
	<key>beginInstruction</key>
	<string></string>
	<key>endInstruction</key>
	<string></string>
	<key>beginVariable</key>
	<string></string>
	<key>endVariable</key>
	<string></string>
	<key>firstString</key>
	<string>"</string>
	<key>secondString</key>
	<string></string>
	<key>firstSingleLineComment</key>
	<string>--</string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string></string>
	<key>endFirstMultiLineComment</key>
	<string></string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>functionDefinition</key>
	<string>^\s*(function|procedure)\s+\w*</string>
	<key>removeFromFunction</key>
	<string></string>
	<key>keywordsCaseSensitive</key>
	<false/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>keywords</key>
	<array>
		<string>abort</string>
		<string>abs</string>
		<string>abstract</string>
		<string>accept</string>
		<string>access</string>
		<string>aliased</string>
		<string>all</string>
		<string>and</string>
		<string>array</string>
		<string>at</string>
		<string>begin</string>
		<string>body</string>
		<string>constant</string>
		<string>declare</string>
		<string>delay</string>
		<string>delta</string>
		<string>digits</string>
		<string>do</string>
		<string>else</string>
		<string>elsif</string>
		<string>end</string>
		<string>entry</string>
		<string>exception</string>
		<string>exit</string>
		<string>for</string>
		<string>function</string>
		<string>generic</string>
		<string>goto</string>
		<string>in</string>
		<string>is</string>
		<string>limited</string>
		<string>mod</string>
		<string>new</string>
		<string>not</string>
		<string>null</string>
		<string>of</string>
		<string>or</string>
		<string>others</string>
		<string>out</string>
		<string>package</string>
		<string>pragma</string>
		<string>private</string>
		<string>procedure</string>
		<string>protected</string>
		<string>raise</string>
		<string>range</string>
		<string>rem</string>
		<string>record</string>
		<string>renames</string>
		<string>requeue</string>
		<string>return</string>
		<string>reverse</string>
		<string>separate</string>
		<string>subtype</string>
		<string>tagged</string>
		<string>task</string>
		<string>terminate</string>
		<string>then</string>
		<string>type</string>
		<string>until</string>
		<string>use</string>
		<string>when</string>
		<string>while</string>
		<string>with</string>
		<string>xor</string>
		<string>case</string>
		<string>loop</string>
		<string>if</string>
	</array>
	<key>autocompleteWords</key>
	<array>
	</array>
</dict>
</plist>
