<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginCommand</key>
	<string>&lt;</string>
	<key>endCommand</key>
	<string>&gt;</string>
	<key>beginInstruction</key>
	<string></string>
	<key>endInstruction</key>
	<string></string>
	<key>beginVariable</key>
	<string></string>
	<key>endVariable</key>
	<string></string>
	<key>firstString</key>
	<string>"</string>
	<key>secondString</key>
	<string>'</string>
	<key>firstSingleLineComment</key>
	<string>#</string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string></string>
	<key>endFirstMultiLineComment</key>
	<string></string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>functionDefinition</key>
	<string>^\s*&lt;\/{0}.*&gt;</string>
	<key>removeFromFunction</key>
	<string></string>
	<key>keywordsCaseSensitive</key>
	<true/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<false/>
	<key>keywords</key>
	<array>
		<string>AcceptMutex</string>
		<string>AcceptPathInfo</string>
		<string>AccessFileName</string>
		<string>Action</string>
		<string>AddAlt</string>
		<string>AddAltByEncoding</string>
		<string>AddAltByType</string>
		<string>AddCharset</string>
		<string>AddDefaultCharset</string>
		<string>AddDescription</string>
		<string>AddEncoding</string>
		<string>AddHandler</string>
		<string>AddIcon</string>
		<string>AddIconByEncoding</string>
		<string>AddIconByType</string>
		<string>AddInputFilter</string>
		<string>AddLanguage</string>
		<string>AddModuleInfo</string>
		<string>AddOutputFilter</string>
		<string>AddOutputFilterByType</string>
		<string>AddType</string>
		<string>Alias</string>
		<string>AliasMatch</string>
		<string>Allow</string>
		<string>AllowCONNECT</string>
		<string>AllowEncodedSlashes</string>
		<string>AllowOverride</string>
		<string>Anonymous</string>
		<string>Anonymous_Authoritative</string>
		<string>Anonymous_LogEmail</string>
		<string>Anonymous_MustGiveEmail</string>
		<string>Anonymous_NoUserID</string>
		<string>Anonymous_VerifyEmail</string>
		<string>AssignUserID</string>
		<string>AuthAuthoritative</string>
		<string>AuthDBMAuthoritative</string>
		<string>AuthDBMGroupFile</string>
		<string>AuthDBMType</string>
		<string>AuthDBMUserFile</string>
		<string>AuthDigestAlgorithm</string>
		<string>AuthDigestDomain</string>
		<string>AuthDigestFile</string>
		<string>AuthDigestGroupFile</string>
		<string>AuthDigestNcCheck</string>
		<string>AuthDigestNonceFormat</string>
		<string>AuthDigestNonceLifetime</string>
		<string>AuthDigestQop</string>
		<string>AuthDigestShmemSize</string>
		<string>AuthGroupFile</string>
		<string>AuthLDAPAuthoritative</string>
		<string>AuthLDAPBindDN</string>
		<string>AuthLDAPBindPassword</string>
		<string>AuthLDAPCharsetConfig</string>
		<string>AuthLDAPCompareDNOnServer</string>
		<string>AuthLDAPDereferenceAliases</string>
		<string>AuthLDAPEnabled</string>
		<string>AuthLDAPFrontPageHack</string>
		<string>AuthLDAPGroupAttribute</string>
		<string>AuthLDAPGroupAttributeIsDN</string>
		<string>AuthLDAPRemoteUserIsDN</string>
		<string>AuthLDAPUrl</string>
		<string>AuthName</string>
		<string>AuthType</string>
		<string>AuthUserFile</string>
		<string>BrowserMatch</string>
		<string>BrowserMatchNoCase</string>
		<string>BS2000Account</string>
		<string>BufferedLogs</string>
		<string>CacheDefaultExpire</string>
		<string>CacheDirLength</string>
		<string>CacheDirLevels</string>
		<string>CacheDisable</string>
		<string>CacheEnable</string>
		<string>CacheExpiryCheck</string>
		<string>CacheFile</string>
		<string>CacheForceCompletion</string>
		<string>CacheGcClean</string>
		<string>CacheGcDaily</string>
		<string>CacheGcInterval</string>
		<string>CacheGcMemUsage</string>
		<string>CacheGcUnused</string>
		<string>CacheIgnoreCacheControl</string>
		<string>CacheIgnoreHeaders</string>
		<string>CacheIgnoreNoLastMod</string>
		<string>CacheLastModifiedFactor</string>
		<string>CacheMaxExpire</string>
		<string>CacheMaxFileSize</string>
		<string>CacheMinFileSize</string>
		<string>CacheNegotiatedDocs</string>
		<string>CacheRoot</string>
		<string>CacheSize</string>
		<string>CacheTimeMargin</string>
		<string>CGIMapExtension</string>
		<string>CharsetDefault</string>
		<string>CharsetOptions</string>
		<string>CharsetSourceEnc</string>
		<string>CheckSpelling</string>
		<string>ChildPerUserID</string>
		<string>ContentDigest</string>
		<string>CookieDomain</string>
		<string>CookieExpires</string>
		<string>CookieLog</string>
		<string>CookieName</string>
		<string>CookieStyle</string>
		<string>CookieTracking</string>
		<string>CoreDumpDirectory</string>
		<string>CustomLog</string>
		<string>Dav</string>
		<string>DavDepthInfinity</string>
		<string>DavLockDB</string>
		<string>DavMinTimeout</string>
		<string>DefaultIcon</string>
		<string>DefaultLanguage</string>
		<string>DefaultType</string>
		<string>DeflateBufferSize</string>
		<string>DeflateCompressionLevel</string>
		<string>DeflateFilterNote</string>
		<string>DeflateMemLevel</string>
		<string>DeflateWindowSize</string>
		<string>Deny</string>
		<string>Directory</string>
		<string>DirectoryIndex</string>
		<string>DirectoryMatch</string>
		<string>DirectorySlash</string>
		<string>DocumentRoot</string>
		<string>DumpIOInput</string>
		<string>DumpIOOutput</string>
		<string>EnableExceptionHook</string>
		<string>EnableMMAP</string>
		<string>EnableSendfile</string>
		<string>ErrorDocument</string>
		<string>ErrorLog</string>
		<string>Example</string>
		<string>ExpiresActive</string>
		<string>ExpiresByType</string>
		<string>ExpiresDefault</string>
		<string>ExtendedStatus</string>
		<string>ExtFilterDefine</string>
		<string>ExtFilterOptions</string>
		<string>FileETag</string>
		<string>Files</string>
		<string>FilesMatch</string>
		<string>ForceLanguagePriority</string>
		<string>ForceType</string>
		<string>ForensicLog</string>
		<string>Group</string>
		<string>Header</string>
		<string>HeaderName</string>
		<string>HostnameLookups</string>
		<string>IdentityCheck</string>
		<string>IfDefine</string>
		<string>IfModule</string>
		<string>IfVersion</string>
		<string>ImapBase</string>
		<string>ImapDefault</string>
		<string>ImapMenu</string>
		<string>Include</string>
		<string>IndexIgnore</string>
		<string>IndexOptions</string>
		<string>IndexOrderDefault</string>
		<string>ISAPIAppendLogToErrors</string>
		<string>ISAPIAppendLogToQuery</string>
		<string>ISAPICacheFile</string>
		<string>ISAPIFakeAsync</string>
		<string>ISAPILogNotSupported</string>
		<string>ISAPIReadAheadBuffer</string>
		<string>KeepAlive</string>
		<string>KeepAliveTimeout</string>
		<string>LanguagePriority</string>
		<string>LDAPCacheEntries</string>
		<string>LDAPCacheTTL</string>
		<string>LDAPConnectionTimeout</string>
		<string>LDAPOpCacheEntries</string>
		<string>LDAPOpCacheTTL</string>
		<string>LDAPSharedCacheFile</string>
		<string>LDAPSharedCacheSize</string>
		<string>LDAPTrustedCA</string>
		<string>LDAPTrustedCAType</string>
		<string>Limit</string>
		<string>LimitExcept</string>
		<string>LimitInternalRecursion</string>
		<string>LimitRequestBody</string>
		<string>LimitRequestFields</string>
		<string>LimitRequestFieldSize</string>
		<string>LimitRequestLine</string>
		<string>LimitXMLRequestBody</string>
		<string>Listen</string>
		<string>ListenBackLog</string>
		<string>LoadFile</string>
		<string>LoadModule</string>
		<string>Location</string>
		<string>LocationMatch</string>
		<string>LockFile</string>
		<string>LogFormat</string>
		<string>LogLevel</string>
		<string>MaxClients</string>
		<string>MaxKeepAliveRequests</string>
		<string>MaxMemFree</string>
		<string>MaxRequestsPerChild</string>
		<string>MaxRequestsPerThread</string>
		<string>MaxSpareServers</string>
		<string>MaxSpareThreads</string>
		<string>MaxThreads</string>
		<string>MaxThreadsPerChild</string>
		<string>MCacheMaxObjectCount</string>
		<string>MCacheMaxObjectSize</string>
		<string>MCacheMaxStreamingBuffer</string>
		<string>MCacheMinObjectSize</string>
		<string>MCacheRemovalAlgorithm</string>
		<string>MCacheSize</string>
		<string>MetaDir</string>
		<string>MetaFiles</string>
		<string>MetaSuffix</string>
		<string>MimeMagicFile</string>
		<string>MinSpareServers</string>
		<string>MinSpareThreads</string>
		<string>MMapFile</string>
		<string>ModMimeUsePathInfo</string>
		<string>MultiviewsMatch</string>
		<string>NameVirtualHost</string>
		<string>NoProxy</string>
		<string>NumServers</string>
		<string>NWSSLTrustedCerts</string>
		<string>NWSSLUpgradeable</string>
		<string>Options</string>
		<string>Order</string>
		<string>PassEnv</string>
		<string>PidFile</string>
		<string>ProtocolEcho</string>
		<string>Proxy</string>
		<string>ProxyBadHeader</string>
		<string>ProxyBlock</string>
		<string>ProxyDomain</string>
		<string>ProxyErrorOverride</string>
		<string>ProxyIOBufferSize</string>
		<string>ProxyMatch</string>
		<string>ProxyMaxForwards</string>
		<string>ProxyPass</string>
		<string>ProxyPassReverse</string>
		<string>ProxyPreserveHost</string>
		<string>ProxyReceiveBufferSize</string>
		<string>ProxyRemote</string>
		<string>ProxyRemoteMatch</string>
		<string>ProxyRequests</string>
		<string>ProxyTimeout</string>
		<string>ProxyVia</string>
		<string>ReadmeName</string>
		<string>Redirect</string>
		<string>RedirectMatch</string>
		<string>RedirectPermanent</string>
		<string>RedirectTemp</string>
		<string>RemoveCharset</string>
		<string>RemoveEncoding</string>
		<string>RemoveHandler</string>
		<string>RemoveInputFilter</string>
		<string>RemoveLanguage</string>
		<string>RemoveOutputFilter</string>
		<string>RemoveType</string>
		<string>RequestHeader</string>
		<string>Require</string>
		<string>RewriteBase</string>
		<string>RewriteCond</string>
		<string>RewriteEngine</string>
		<string>RewriteLock</string>
		<string>RewriteLog</string>
		<string>RewriteLogLevel</string>
		<string>RewriteMap</string>
		<string>RewriteOptions</string>
		<string>RewriteRule</string>
		<string>RLimitCPU</string>
		<string>RLimitMEM</string>
		<string>RLimitNPROC</string>
		<string>Satisfy</string>
		<string>ScoreBoardFile</string>
		<string>Script</string>
		<string>ScriptAlias</string>
		<string>ScriptAliasMatch</string>
		<string>ScriptInterpreterSource</string>
		<string>ScriptLog</string>
		<string>ScriptLogBuffer</string>
		<string>ScriptLogLength</string>
		<string>ScriptSock</string>
		<string>SecureListen</string>
		<string>SendBufferSize</string>
		<string>ServerAdmin</string>
		<string>ServerAlias</string>
		<string>ServerLimit</string>
		<string>ServerName</string>
		<string>ServerPath</string>
		<string>ServerRoot</string>
		<string>ServerSignature</string>
		<string>ServerTokens</string>
		<string>SetEnv</string>
		<string>SetEnvIf</string>
		<string>SetEnvIfNoCase</string>
		<string>SetHandler</string>
		<string>SetInputFilter</string>
		<string>SetOutputFilter</string>
		<string>SSIEndTag</string>
		<string>SSIErrorMsg</string>
		<string>SSIStartTag</string>
		<string>SSITimeFormat</string>
		<string>SSIUndefinedEcho</string>
		<string>SSLCACertificateFile</string>
		<string>SSLCACertificatePath</string>
		<string>SSLCARevocationFile</string>
		<string>SSLCARevocationPath</string>
		<string>SSLCertificateChainFile</string>
		<string>SSLCertificateFile</string>
		<string>SSLCertificateKeyFile</string>
		<string>SSLCipherSuite</string>
		<string>SSLEngine</string>
		<string>SSLMutex</string>
		<string>SSLOptions</string>
		<string>SSLPassPhraseDialog</string>
		<string>SSLProtocol</string>
		<string>SSLProxyCACertificateFile</string>
		<string>SSLProxyCACertificatePath</string>
		<string>SSLProxyCARevocationFile</string>
		<string>SSLProxyCARevocationPath</string>
		<string>SSLProxyCipherSuite</string>
		<string>SSLProxyEngine</string>
		<string>SSLProxyMachineCertificateFile</string>
		<string>SSLProxyMachineCertificatePath</string>
		<string>SSLProxyProtocol</string>
		<string>SSLProxyVerify</string>
		<string>SSLProxyVerifyDepth</string>
		<string>SSLRandomSeed</string>
		<string>SSLRequire</string>
		<string>SSLRequireSSL</string>
		<string>SSLSessionCache</string>
		<string>SSLSessionCacheTimeout</string>
		<string>SSLUserName</string>
		<string>SSLVerifyClient</string>
		<string>SSLVerifyDepth</string>
		<string>StartServers</string>
		<string>StartThreads</string>
		<string>SuexecUserGroup</string>
		<string>ThreadLimit</string>
		<string>ThreadsPerChild</string>
		<string>ThreadStackSize</string>
		<string>TimeOut</string>
		<string>TraceEnable</string>
		<string>TransferLog</string>
		<string>TypesConfig</string>
		<string>UnsetEnv</string>
		<string>UseCanonicalName</string>
		<string>User</string>
		<string>UserDir</string>
		<string>VirtualDocumentRoot</string>
		<string>VirtualDocumentRootIP</string>
		<string>VirtualHost</string>
		<string>VirtualScriptAlias</string>
		<string>VirtualScriptAliasIP</string>
		<string>Win32DisableAcceptEx</string>
		<string>XBitHack</string>
		<string>AddModule</string>
		<string>Port</string>
		<string>MIMEMagicFile</string>
		<string>RegisterUserSite</string>
		<string>NoCache</string>
		<string>EBCDICConvertByType</string>
		<string>BindAddress</string>
		<string>ServerType</string>
		<string>Timeout</string>
		<string>ProxyHTMLURLMap</string>
	</array>
</dict>
</plist>
