<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginCommand</key>
	<string></string>
	<key>endCommand</key>
	<string></string>
	<key>beginInstruction</key>
	<string></string>
	<key>endInstruction</key>
	<string></string>
	<key>beginVariable</key>
	<string></string>
	<key>endVariable</key>
	<string></string>
	<key>firstString</key>
	<string>"</string>
	<key>secondString</key>
	<string>'</string>
	<key>firstSingleLineComment</key>
	<string>--</string>	
	<key>secondSingleLineComment</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string>(*</string>
	<key>endFirstMultiLineComment</key>
	<string>*)</string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>functionDefinition</key>
	<string>^\s*on (\w+)</string>
	<key>removeFromFunction</key>
	<string>on </string>
	<key>keywordsCaseSensitive</key>
	<false/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>keywords</key>
	<array>
		<string>script</string>
		<string>property</string>
		<string>prop</string>
		<string>end</string>
		<string>copy</string>
		<string>to</string>
		<string>set</string>
		<string>global</string>
		<string>local</string>
		<string>on</string>
		<string>to</string>
		<string>of</string>
		<string>in</string>
		<string>given</string>
		<string>with</string>
		<string>without</string>
		<string>return</string>
		<string>continue</string>
		<string>tell</string>
		<string>if</string>
		<string>then</string>
		<string>else</string>
		<string>repeat</string>
		<string>times</string>
		<string>while</string>
		<string>until</string>
		<string>from</string>
		<string>exit</string>
		<string>try</string>
		<string>error</string>
		<string>considering</string>
		<string>ignoring</string>
		<string>timeout</string>
		<string>transaction</string>
		<string>my</string>
		<string>get</string>
		<string>put</string>
		<string>into</string>
		<string>is</string>
		<string>each</string>
		<string>some</string>
		<string>every</string>
		<string>whose</string>
		<string>where</string>
		<string>id</string>
		<string>index</string>
		<string>first</string>
		<string>second</string>
		<string>third</string>
		<string>fourth</string>
		<string>fifth</string>
		<string>sixth</string>
		<string>seventh</string>
		<string>eighth</string>
		<string>ninth</string>
		<string>tenth</string>
		<string>last</string>
		<string>front</string>
		<string>back</string>
		<string>st</string>
		<string>nd</string>
		<string>rd</string>
		<string>th</string>
		<string>middle</string>
		<string>named</string>
		<string>through</string>
		<string>thru</string>
		<string>before</string>
		<string>after</string>
		<string>beginning</string>
		<string>the</string>
		<string>close</string>
		<string>copy</string>
		<string>count</string>
		<string>delete</string>
		<string>duplicate</string>
		<string>exists</string>
		<string>launch</string>
		<string>make</string>
		<string>move</string>
		<string>open</string>
		<string>print</string>
		<string>quit</string>
		<string>reopen</string>
		<string>run</string>
		<string>save</string>
		<string>saving</string>
		<string>it</string>
		<string>me</string>
		<string>version</string>
		<string>pi</string>
		<string>result</string>
		<string>space</string>
		<string>tab</string>
		<string>anything</string>
		<string>case</string>
		<string>diacriticals</string>
		<string>expansion</string>
		<string>hyphens</string>
		<string>punctuation</string>
		<string>bold</string>
		<string>condensed</string>
		<string>expanded</string>
		<string>hidden</string>
		<string>italic</string>
		<string>outline</string>
		<string>plain</string>
		<string>shadow</string>
		<string>strikethrough</string>
		<string>subscript</string>
		<string>superscript</string>
		<string>underline</string>
		<string>ask</string>
		<string>no</string>
		<string>yes</string>
		<string>false</string>
		<string>true</string>
		<string>weekday</string>
		<string>monday</string>
		<string>mon</string>
		<string>tuesday</string>
		<string>tue</string>
		<string>wednesday</string>
		<string>wed</string>
		<string>thursday</string>
		<string>thu</string>
		<string>friday</string>
		<string>fri</string>
		<string>saturday</string>
		<string>sat</string>
		<string>sunday</string>
		<string>sun</string>
		<string>month</string>
		<string>january</string>
		<string>jan</string>
		<string>february</string>
		<string>feb</string>
		<string>march</string>
		<string>mar</string>
		<string>april</string>
		<string>apr</string>
		<string>may</string>
		<string>june</string>
		<string>jun</string>
		<string>july</string>
		<string>jul</string>
		<string>august</string>
		<string>aug</string>
		<string>september</string>
		<string>sep</string>
		<string>october</string>
		<string>oct</string>
		<string>november</string>
		<string>nov</string>
		<string>december</string>
		<string>dec</string>
		<string>minutes</string>
		<string>hours</string>
		<string>days</string>
		<string>weeks</string>
		<string>div</string>
		<string>mod</string>
		<string>and</string>
		<string>not</string>
		<string>or</string>
		<string>as</string>
		<string>contains</string>
		<string>equal</string>
		<string>equals</string>
		<string>isn't</string>
	</array>
	<key>autocompleteWords</key>
	<array>
	</array>
</dict>
</plist>