<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autocompleteWords</key>
	<array/>
	<key>beginCommand</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string>*/</string>
	<key>beginInstruction</key>
	<string></string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>beginVariable</key>
	<string></string>
	<key>endCommand</key>
	<string></string>
	<key>endFirstMultiLineComment</key>
	<string>/*</string>
	<key>endInstruction</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>endVariable</key>
	<string></string>
	<key>firstSingleLineComment</key>
	<string>#</string>
	<key>firstString</key>
	<string>"</string>
	<key>functionDefinition</key>
	<string></string>
	<key>includeInKeywordStartCharacterSet</key>
	<string>.</string>
	<key>keywords</key>
	<array>
		<string>ABS</string>
		<string>ADD</string>
		<string>ADDI</string>
		<string>ADDIU</string>
		<string>ADDU</string>
		<string>DIV</string>
		<string>DIVU</string>
		<string>MULOU</string>
		<string>MULO</string>
		<string>MULT</string>
		<string>MULTU</string>
		<string>NEG</string>
		<string>NOP</string>
		<string>REMU</string>
		<string>REM</string>
		<string>SEQ</string>
		<string>SGEU</string>
		<string>SGE</string>
		<string>SGTU</string>
		<string>SGT</string>
		<string>SLEU</string>
		<string>SLE</string>
		<string>SLT</string>
		<string>SLTI</string>
		<string>SLTIU</string>
		<string>SLTU</string>
		<string>SNE</string>
		<string>SUB</string>
		<string>SUBU</string>
		<string>AND</string>
		<string>ANDI</string>
		<string>NOR</string>
		<string>NOT</string>
		<string>OR</string>
		<string>ORI</string>
		<string>XOR</string>
		<string>XORI</string>
		<string>ROL</string>
		<string>ROR</string>
		<string>SLL</string>
		<string>SLLV</string>
		<string>SRA</string>
		<string>SRAV</string>
		<string>SRL</string>
		<string>SRLV</string>
		<string>LB</string>
		<string>LBU</string>
		<string>LD</string>
		<string>LH</string>
		<string>LHU</string>
		<string>LW</string>
		<string>SB</string>
		<string>SD</string>
		<string>SH</string>
		<string>SW</string>
		<string>LA</string>
		<string>LI</string>
		<string>LUI</string>
		<string>MFHI</string>
		<string>MFLO</string>
		<string>MOVE</string>
		<string>MTHI</string>
		<string>MTLO</string>
		<string>B</string>
		<string>BEQ</string>
		<string>BEQZ</string>
		<string>BGE</string>
		<string>BGEU</string>
		<string>BGEZ</string>
		<string>BGEZAL</string>
		<string>BGT</string>
		<string>BGTU</string>
		<string>BGTZ</string>
		<string>BLE</string>
		<string>BLEU</string>
		<string>BLEZ</string>
		<string>BLT</string>
		<string>BLTU</string>
		<string>BLTZ</string>
		<string>BLTZAL</string>
		<string>BNE</string>
		<string>BNEZ</string>
		<string>J</string>
		<string>JAL</string>
		<string>JALR</string>
		<string>JR</string>
		<string>MFC0</string>
		<string>MTC0</string>
		<string>BREAK</string>
		<string>SYSCALL</string>
	</array>
	<key>keywordsCaseSensitive</key>
	<false/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>removeFromFunction</key>
	<string></string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>secondString</key>
	<string>'</string>
</dict>
</plist>
