<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginCommand</key>
	<string></string>
	<key>endCommand</key>
	<string></string>
	<key>beginInstruction</key>
	<string></string>
	<key>endInstruction</key>
	<string></string>
	<key>beginVariable</key>
	<string></string>
	<key>endVariable</key>
	<string></string>
	<key>firstString</key>
	<string>"</string>
	<key>secondString</key>
	<string>'</string>
	<key>firstSingleLineComment</key>
	<string>;</string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string></string>
	<key>endFirstMultiLineComment</key>
	<string></string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>functionDefinition</key>
	<string></string>
	<key>removeFromFunction</key>
	<string></string>
	<key>keywordsCaseSensitive</key>
	<false/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>includeInKeywordStartCharacterSet</key>
	<string>.</string>
	<key>keywords</key>
	<array>
		<string>.186</string>
		<string>.286</string>
		<string>.286P</string>
		<string>.287</string>
		<string>.386</string>
		<string>.386P</string>
		<string>.387</string>
		<string>.486</string>
		<string>.486P</string>
		<string>.586</string>
		<string>.586P</string>
		<string>.686</string>
		<string>.686P</string>
		<string>.8086</string>
		<string>.8087</string>
		<string>.ALPHA</string>
		<string>.BREAK</string>
		<string>.BSS</string>
		<string>.CODE</string>
		<string>.CONST</string>
		<string>.CONTINUE</string>
		<string>.CREF</string>
		<string>.DATA</string>
		<string>.DATA?</string>
		<string>.DOSSEG</string>
		<string>.ELSE</string>
		<string>.ELSEIF</string>
		<string>.ENDIF</string>
		<string>.ENDW</string>
		<string>.ERR</string>
		<string>.ERR1</string>
		<string>.ERR2</string>
		<string>.ERRB</string>
		<string>.ERRDEF</string>
		<string>.ERRDIF</string>
		<string>.ERRDIFI</string>
		<string>.ERRE</string>
		<string>.ERRIDN</string>
		<string>.ERRIDNI</string>
		<string>.ERRNB</string>
		<string>.ERRNDEF</string>
		<string>.ERRNZ</string>
		<string>.EXIT</string>
		<string>.FARDATA</string>
		<string>.FARDATA?</string>
		<string>.IF</string>
		<string>.K3D</string>
		<string>.LALL</string>
		<string>.LFCOND</string>
		<string>.LIST</string>
		<string>.LISTALL</string>
		<string>.LISTIF</string>
		<string>.LISTMACRO</string>
		<string>.LISTMACROALL</string>
		<string>.MMX</string>
		<string>.MODEL</string>
		<string>.MSFLOAT</string>
		<string>.NO87</string>
		<string>.NOCREF</string>
		<string>.NOLIST</string>
		<string>.NOLISTIF</string>
		<string>.NOLISTMACRO</string>
		<string>.RADIX</string>
		<string>.REPEAT</string>
		<string>.SALL</string>
		<string>.SEQ</string>
		<string>.SFCOND</string>
		<string>.STACK</string>
		<string>.STARTUP</string>
		<string>.TEXT</string>
		<string>.TFCOND</string>
		<string>.UNTIL</string>
		<string>.UNTILCXZ</string>
		<string>.WHILE</string>
		<string>.XALL</string>
		<string>.XCREF</string>
		<string>.XLIST</string>
		<string>.XMM</string>
		<string>__FILE__</string>
		<string>__LINE__</string>
		<string>A16</string>
		<string>A32</string>
		<string>ADDR</string>
		<string>ALIGN</string>
		<string>ALIGNB</string>
		<string>ASSUME</string>
		<string>BITS</string>
		<string>CARRY?</string>
		<string>CATSTR</string>
		<string>CODESEG</string>
		<string>COMM</string>
		<string>COMMENT</string>
		<string>COMMON</string>
		<string>DATASEG</string>
		<string>DOSSEG</string>
		<string>ECHO</string>
		<string>ELSE</string>
		<string>ELSEIF</string>
		<string>ELSEIF1</string>
		<string>ELSEIF2</string>
		<string>ELSEIFB</string>
		<string>ELSEIFDEF</string>
		<string>ELSEIFE</string>
		<string>ELSEIFIDN</string>
		<string>ELSEIFNB</string>
		<string>ELSEIFNDEF</string>
		<string>END</string>
		<string>ENDIF</string>
		<string>ENDM</string>
		<string>ENDP</string>
		<string>ENDS</string>
		<string>ENDSTRUC</string>
		<string>EVEN</string>
		<string>EXITM</string>
		<string>EXPORT</string>
		<string>EXTERN</string>
		<string>EXTERNDEF</string>
		<string>EXTRN</string>
		<string>FAR</string>
		<string>FOR</string>
		<string>FORC</string>
		<string>GLOBAL</string>
		<string>GOTO</string>
		<string>GROUP</string>
		<string>HIGH</string>
		<string>HIGHWORD</string>
		<string>IEND</string>
		<string>IF</string>
		<string>IF1</string>
		<string>IF2</string>
		<string>IFB</string>
		<string>IFDEF</string>
		<string>IFDIF</string>
		<string>IFDIFI</string>
		<string>IFE</string>
		<string>IFIDN</string>
		<string>IFIDNI</string>
		<string>IFNB</string>
		<string>IFNDEF</string>
		<string>IMPORT</string>
		<string>INCBIN</string>
		<string>INCLUDE</string>
		<string>INCLUDELIB</string>
		<string>INSTR</string>
		<string>INVOKE</string>
		<string>IRP</string>
		<string>IRPC</string>
		<string>ISTRUC</string>
		<string>LABEL</string>
		<string>LENGTH</string>
		<string>LENGTHOF</string>
		<string>LOCAL</string>
		<string>LOW</string>
		<string>LOWWORD</string>
		<string>LROFFSET</string>
		<string>MACRO</string>
		<string>NAME</string>
		<string>NEAR</string>
		<string>NOSPLIT</string>
		<string>O16</string>
		<string>O32</string>
		<string>OFFSET</string>
		<string>OPATTR</string>
		<string>OPTION</string>
		<string>ORG</string>
		<string>OVERFLOW?</string>
		<string>PAGE</string>
		<string>PARITY?</string>
		<string>POPCONTEXT</string>
		<string>PRIVATE</string>
		<string>PROC</string>
		<string>PROTO</string>
		<string>PTR</string>
		<string>PUBLIC</string>
		<string>PURGE</string>
		<string>PUSHCONTEXT</string>
		<string>RECORD</string>
		<string>REPEAT</string>
		<string>REPT</string>
		<string>SECTION</string>
		<string>SEG</string>
		<string>SEGMENT</string>
		<string>SHORT</string>
		<string>SIGN?</string>
		<string>SIZE</string>
		<string>SIZEOF</string>
		<string>SIZESTR</string>
		<string>STACK</string>
		<string>STRUC</string>
		<string>STRUCT</string>
		<string>SUBSTR</string>
		<string>SUBTITLE</string>
		<string>SUBTTL</string>
		<string>THIS</string>
		<string>TITLE</string>
		<string>TYPE</string>
		<string>TYPEDEF</string>
		<string>UNION</string>
		<string>USE16</string>
		<string>USE32</string>
		<string>USES</string>
		<string>WHILE</string>
		<string>WRT</string>
		<string>ZERO?</string>
		<string>DB</string>
		<string>DW</string>
		<string>DD</string>
		<string>DF</string>
		<string>DQ</string>
		<string>DT</string>
		<string>RESB</string>
		<string>RESW</string>
		<string>RESD</string>
		<string>RESQ</string>
		<string>REST</string>
		<string>EQU</string>
		<string>TEXTEQU</string>
		<string>TIMES</string>
		<string>DUP</string>
		<string>BYTE</string>
		<string>WORD</string>
		<string>DWORD</string>
		<string>FWORD</string>
		<string>QWORD</string>
		<string>TBYTE</string>
		<string>SBYTE</string>
		<string>TWORD</string>
		<string>SWORD</string>
		<string>SDWORD</string>
		<string>REAL4</string>
		<string>REAL8</string>
		<string>REAL10</string>
		<string>AL</string>
		<string>BL</string>
		<string>CL</string>
		<string>DL</string>
		<string>AH</string>
		<string>BH</string>
		<string>CH</string>
		<string>DH</string>
		<string>AX</string>
		<string>BX</string>
		<string>CX</string>
		<string>DX</string>
		<string>SI</string>
		<string>DI</string>
		<string>SP</string>
		<string>BP</string>
		<string>EAX</string>
		<string>EBX</string>
		<string>ECX</string>
		<string>EDX</string>
		<string>ESI</string>
		<string>EDI</string>
		<string>ESP</string>
		<string>EBP</string>
		<string>CS</string>
		<string>DS</string>
		<string>SS</string>
		<string>ES</string>
		<string>FS</string>
		<string>GS</string>
		<string>ST</string>
		<string>ST0</string>
		<string>ST1</string>
		<string>ST2</string>
		<string>ST3</string>
		<string>ST4</string>
		<string>ST5</string>
		<string>ST6</string>
		<string>ST7</string>
		<string>MM0</string>
		<string>MM1</string>
		<string>MM2</string>
		<string>MM3</string>
		<string>MM4</string>
		<string>MM5</string>
		<string>MM6</string>
		<string>MM7</string>
		<string>XMM0</string>
		<string>XMM1</string>
		<string>XMM2</string>
		<string>XMM3</string>
		<string>XMM4</string>
		<string>XMM5</string>
		<string>XMM6</string>
		<string>XMM7</string>
		<string>CR0</string>
		<string>CR2</string>
		<string>CR3</string>
		<string>CR4</string>
		<string>DR0</string>
		<string>DR1</string>
		<string>DR2</string>
		<string>DR3</string>
		<string>DR4</string>
		<string>DR5</string>
		<string>DR6</string>
		<string>DR7</string>
		<string>TR3</string>
		<string>TR4</string>
		<string>TR5</string>
		<string>TR6</string>
		<string>TR7</string>
		<string>AAA</string>
		<string>AAD</string>
		<string>AAM</string>
		<string>AAS</string>
		<string>ADC</string>
		<string>ADD</string>
		<string>ADDPS</string>
		<string>ADDSS</string>
		<string>AND</string>
		<string>ANDNPS</string>
		<string>ANDPS</string>
		<string>ARPL</string>
		<string>BOUND</string>
		<string>BSF</string>
		<string>BSR</string>
		<string>BSWAP</string>
		<string>BT</string>
		<string>BTC</string>
		<string>BTR</string>
		<string>BTS</string>
		<string>CALL</string>
		<string>CBW</string>
		<string>CDQ</string>
		<string>CLC</string>
		<string>CLD</string>
		<string>CLI</string>
		<string>CLTS</string>
		<string>CMC</string>
		<string>CMOVA</string>
		<string>CMOVAE</string>
		<string>CMOVB</string>
		<string>CMOVBE</string>
		<string>CMOVC</string>
		<string>CMOVE</string>
		<string>CMOVG</string>
		<string>CMOVGE</string>
		<string>CMOVL</string>
		<string>CMOVLE</string>
		<string>CMOVNA</string>
		<string>CMOVNAE</string>
		<string>CMOVNB</string>
		<string>CMOVNBE</string>
		<string>CMOVNC</string>
		<string>CMOVNE</string>
		<string>CMOVNG</string>
		<string>CMOVNGE</string>
		<string>CMOVNL</string>
		<string>CMOVNLE</string>
		<string>CMOVNO</string>
		<string>CMOVNP</string>
		<string>CMOVNS</string>
		<string>CMOVNZ</string>
		<string>CMOVO</string>
		<string>CMOVP</string>
		<string>CMOVPE</string>
		<string>CMOVPO</string>
		<string>CMOVS</string>
		<string>CMOVZ</string>
		<string>CMP</string>
		<string>CMPPS</string>
		<string>CMPS</string>
		<string>CMPSB</string>
		<string>CMPSD</string>
		<string>CMPSS</string>
		<string>CMPSW</string>
		<string>CMPXCHG</string>
		<string>CMPXCHGB</string>
		<string>COMISS</string>
		<string>CPUID</string>
		<string>CWD</string>
		<string>CWDE</string>
		<string>CVTPI2PS</string>
		<string>CVTPS2PI</string>
		<string>CVTSI2SS</string>
		<string>CVTSS2SI</string>
		<string>CVTTPS2PI</string>
		<string>CVTTSS2SI</string>
		<string>DAA</string>
		<string>DAS</string>
		<string>DEC</string>
		<string>DIV</string>
		<string>DIVPS</string>
		<string>DIVSS</string>
		<string>EMMS</string>
		<string>ENTER</string>
		<string>F2XM1</string>
		<string>FABS</string>
		<string>FADD</string>
		<string>FADDP</string>
		<string>FBLD</string>
		<string>FBSTP</string>
		<string>FCHS</string>
		<string>FCLEX</string>
		<string>FCMOVB</string>
		<string>FCMOVBE</string>
		<string>FCMOVE</string>
		<string>FCMOVNB</string>
		<string>FCMOVNBE</string>
		<string>FCMOVNE</string>
		<string>FCMOVNU</string>
		<string>FCMOVU</string>
		<string>FCOM</string>
		<string>FCOMI</string>
		<string>FCOMIP</string>
		<string>FCOMP</string>
		<string>FCOMPP</string>
		<string>FCOS</string>
		<string>FDECSTP</string>
		<string>FDIV</string>
		<string>FDIVP</string>
		<string>FDIVR</string>
		<string>FDIVRP</string>
		<string>FFREE</string>
		<string>FIADD</string>
		<string>FICOM</string>
		<string>FICOMP</string>
		<string>FIDIV</string>
		<string>FIDIVR</string>
		<string>FILD</string>
		<string>FIMUL</string>
		<string>FINCSTP</string>
		<string>FINIT</string>
		<string>FIST</string>
		<string>FISTP</string>
		<string>FISUB</string>
		<string>FISUBR</string>
		<string>FLD1</string>
		<string>FLDCW</string>
		<string>FLDENV</string>
		<string>FLDL2E</string>
		<string>FLDL2T</string>
		<string>FLDLG2</string>
		<string>FLDLN2</string>
		<string>FLDPI</string>
		<string>FLDZ</string>
		<string>FMUL</string>
		<string>FMULP</string>
		<string>FNCLEX</string>
		<string>FNINIT</string>
		<string>FNOP</string>
		<string>FNSAVE</string>
		<string>FNSTCW</string>
		<string>FNSTENV</string>
		<string>FNSTSW</string>
		<string>FPATAN</string>
		<string>FPREM</string>
		<string>FPREMI</string>
		<string>FPTAN</string>
		<string>FRNDINT</string>
		<string>FRSTOR</string>
		<string>FSAVE</string>
		<string>FSCALE</string>
		<string>FSIN</string>
		<string>FSINCOS</string>
		<string>FSQRT</string>
		<string>FST</string>
		<string>FSTCW</string>
		<string>FSTENV</string>
		<string>FSTP</string>
		<string>FSTSW</string>
		<string>FSUB</string>
		<string>FSUBP</string>
		<string>FSUBR</string>
		<string>FSUBRP</string>
		<string>FTST</string>
		<string>FUCOM</string>
		<string>FUCOMI</string>
		<string>FUCOMIP</string>
		<string>FUCOMP</string>
		<string>FUCOMPP</string>
		<string>FWAIT</string>
		<string>FXAM</string>
		<string>FXCH</string>
		<string>FXRSTOR</string>
		<string>FXSAVE</string>
		<string>FXTRACT</string>
		<string>FYL2X</string>
		<string>FYL2XP1</string>
		<string>HLT</string>
		<string>IDIV</string>
		<string>IMUL</string>
		<string>IN</string>
		<string>INC</string>
		<string>INS</string>
		<string>INSB</string>
		<string>INSD</string>
		<string>INSW</string>
		<string>INT</string>
		<string>INTO</string>
		<string>INVD</string>
		<string>INVLPG</string>
		<string>IRET</string>
		<string>JA</string>
		<string>JAE</string>
		<string>JB</string>
		<string>JBE</string>
		<string>JC</string>
		<string>JCXZ</string>
		<string>JE</string>
		<string>JECXZ</string>
		<string>JG</string>
		<string>JGE</string>
		<string>JL</string>
		<string>JLE</string>
		<string>JMP</string>
		<string>JNA</string>
		<string>JNAE</string>
		<string>JNB</string>
		<string>JNBE</string>
		<string>JNC</string>
		<string>JNE</string>
		<string>JNG</string>
		<string>JNGE</string>
		<string>JNL</string>
		<string>JNLE</string>
		<string>JNO</string>
		<string>JNP</string>
		<string>JNS</string>
		<string>JNZ</string>
		<string>JO</string>
		<string>JP</string>
		<string>JPE</string>
		<string>JPO</string>
		<string>JS</string>
		<string>JZ</string>
		<string>LAHF</string>
		<string>LAR</string>
		<string>LDMXCSR</string>
		<string>LDS</string>
		<string>LEA</string>
		<string>LEAVE</string>
		<string>LES</string>
		<string>LFS</string>
		<string>LGDT</string>
		<string>LGS</string>
		<string>LIDT</string>
		<string>LLDT</string>
		<string>LMSW</string>
		<string>LOCK</string>
		<string>LODS</string>
		<string>LODSB</string>
		<string>LODSD</string>
		<string>LODSW</string>
		<string>LOOP</string>
		<string>LOOPE</string>
		<string>LOOPNE</string>
		<string>LOOPNZ</string>
		<string>LOOPZ</string>
		<string>LSL</string>
		<string>LSS</string>
		<string>LTR</string>
		<string>MASKMOVQ</string>
		<string>MAXPS</string>
		<string>MAXSS</string>
		<string>MINPS</string>
		<string>MINSS</string>
		<string>MOV</string>
		<string>MOVAPS</string>
		<string>MOVD</string>
		<string>MOVHLPS</string>
		<string>MOVHPS</string>
		<string>MOVLHPS</string>
		<string>MOVLPS</string>
		<string>MOVMSKPS</string>
		<string>MOVNTPS</string>
		<string>MOVNTQ</string>
		<string>MOVQ</string>
		<string>MOVS</string>
		<string>MOVSB</string>
		<string>MOVSD</string>
		<string>MOVSS</string>
		<string>MOVSW</string>
		<string>MOVSX</string>
		<string>MOVUPS</string>
		<string>MOVZX</string>
		<string>MUL</string>
		<string>MULPS</string>
		<string>MULSS</string>
		<string>NEG</string>
		<string>NOP</string>
		<string>NOT</string>
		<string>OR</string>
		<string>ORPS</string>
		<string>OUT</string>
		<string>OUTS</string>
		<string>OUTSB</string>
		<string>OUTSD</string>
		<string>OUTSW</string>
		<string>PACKSSDW</string>
		<string>PACKSSWB</string>
		<string>PACKUSWB</string>
		<string>PADDB</string>
		<string>PADDD</string>
		<string>PADDSB</string>
		<string>PADDSW</string>
		<string>PADDUSB</string>
		<string>PADDUSW</string>
		<string>PADDW</string>
		<string>PAND</string>
		<string>PANDN</string>
		<string>PAVGB</string>
		<string>PAVGW</string>
		<string>PCMPEQB</string>
		<string>PCMPEQD</string>
		<string>PCMPEQW</string>
		<string>PCMPGTB</string>
		<string>PCMPGTD</string>
		<string>PCMPGTW</string>
		<string>PEXTRW</string>
		<string>PINSRW</string>
		<string>PMADDWD</string>
		<string>PMAXSW</string>
		<string>PMAXUB</string>
		<string>PMINSW</string>
		<string>PMINUB</string>
		<string>PMOVMSKB</string>
		<string>PMULHUW</string>
		<string>PMULHW</string>
		<string>PMULLW</string>
		<string>POP</string>
		<string>POPA</string>
		<string>POPAD</string>
		<string>POPAW</string>
		<string>POPF</string>
		<string>POPFD</string>
		<string>POPFW</string>
		<string>POR</string>
		<string>PREFETCH</string>
		<string>PSADBW</string>
		<string>PSHUFW</string>
		<string>PSLLD</string>
		<string>PSLLQ</string>
		<string>PSLLW</string>
		<string>PSRAD</string>
		<string>PSRAW</string>
		<string>PSRLD</string>
		<string>PSRLQ</string>
		<string>PSRLW</string>
		<string>PSUBB</string>
		<string>PSUBD</string>
		<string>PSUBSB</string>
		<string>PSUBSW</string>
		<string>PSUBUSB</string>
		<string>PSUBUSW</string>
		<string>PSUBW</string>
		<string>PUNPCKHBW</string>
		<string>PUNPCKHDQ</string>
		<string>PUNPCKHWD</string>
		<string>PUNPCKLBW</string>
		<string>PUNPCKLDQ</string>
		<string>PUNPCKLWD</string>
		<string>PUSH</string>
		<string>PUSHA</string>
		<string>PUSHAD</string>
		<string>PUSHAW</string>
		<string>PUSHF</string>
		<string>PUSHFD</string>
		<string>PUSHFW</string>
		<string>PXOR</string>
		<string>RCL</string>
		<string>RCR</string>
		<string>RDMSR</string>
		<string>RDPMC</string>
		<string>RDTSC</string>
		<string>REP</string>
		<string>REPE</string>
		<string>REPNE</string>
		<string>REPNZ</string>
		<string>REPZ</string>
		<string>RET</string>
		<string>RETF</string>
		<string>RETN</string>
		<string>ROL</string>
		<string>ROR</string>
		<string>RSM</string>
		<string>SAHF</string>
		<string>SAL</string>
		<string>SAR</string>
		<string>SBB</string>
		<string>SCAS</string>
		<string>SCASB</string>
		<string>SCASD</string>
		<string>SCASW</string>
		<string>SETA</string>
		<string>SETAE</string>
		<string>SETB</string>
		<string>SETBE</string>
		<string>SETC</string>
		<string>SETE</string>
		<string>SETG</string>
		<string>SETGE</string>
		<string>SETL</string>
		<string>SETLE</string>
		<string>SETNA</string>
		<string>SETNAE</string>
		<string>SETNB</string>
		<string>SETNBE</string>
		<string>SETNC</string>
		<string>SETNE</string>
		<string>SETNG</string>
		<string>SETNGE</string>
		<string>SETNL</string>
		<string>SETNLE</string>
		<string>SETNO</string>
		<string>SETNP</string>
		<string>SETNS</string>
		<string>SETNZ</string>
		<string>SETO</string>
		<string>SETP</string>
		<string>SETPE</string>
		<string>SETPO</string>
		<string>SETS</string>
		<string>SETZ</string>
		<string>SFENCE</string>
		<string>SGDT</string>
		<string>SHL</string>
		<string>SHLD</string>
		<string>SHR</string>
		<string>SHRD</string>
		<string>SHUFPS</string>
		<string>SIDT</string>
		<string>SLDT</string>
		<string>SMSW</string>
		<string>SQRTPS</string>
		<string>SQRTSS</string>
		<string>STC</string>
		<string>STD</string>
		<string>STI</string>
		<string>STMXCSR</string>
		<string>STOS</string>
		<string>STOSB</string>
		<string>STOSD</string>
		<string>STOSW</string>
		<string>STR</string>
		<string>SUB</string>
		<string>SUBPS</string>
		<string>SUBSS</string>
		<string>SYSENTER</string>
		<string>SYSEXIT</string>
		<string>TEST</string>
		<string>UB2</string>
		<string>UCOMISS</string>
		<string>UNPCKHPS</string>
		<string>UNPCKLPS</string>
		<string>WAIT</string>
		<string>WBINVD</string>
		<string>VERR</string>
		<string>VERW</string>
		<string>WRMSR</string>
		<string>XADD</string>
		<string>XCHG</string>
		<string>XLAT</string>
		<string>XLATB</string>
		<string>XOR</string>
		<string>XORPS</string>
		<string>FEMMS</string>
		<string>PAVGUSB</string>
		<string>PF2ID</string>
		<string>PFACC</string>
		<string>PFADD</string>
		<string>PFCMPEQ</string>
		<string>PFCMPGE</string>
		<string>PFCMPGT</string>
		<string>PFMAX</string>
		<string>PFMIN</string>
		<string>PFMUL</string>
		<string>PFRCP</string>
		<string>PFRCPIT1</string>
		<string>PFRCPIT2</string>
		<string>PFRSQIT1</string>
		<string>PFRSQRT</string>
		<string>PFSUB</string>
		<string>PFSUBR</string>
		<string>PI2FD</string>
		<string>PMULHRW</string>
		<string>PREFETCHW</string>
		<string>PF2IW</string>
		<string>PFNACC</string>
		<string>PFPNACC</string>
		<string>PI2FW</string>
		<string>PSWAPD</string>
		<string>PREFETCHNTA</string>
		<string>PREFETCHT0</string>
		<string>PREFETCHT1</string>
		<string>PREFETCHT2</string>
	</array>
	<key>autocompleteWords</key>
	<array>
	</array>
</dict>
</plist>
