<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginCommand</key>
	<string>&lt;</string>
	<key>endCommand</key>
	<string>&gt;</string>
	<key>beginInstruction</key>
	<string>&lt;%</string>
	<key>endInstruction</key>
	<string>%&gt;</string>
	<key>beginVariable</key>
	<string></string>
	<key>endVariable</key>
	<string></string>
	<key>firstString</key>
	<string>"</string>
	<key>secondString</key>
	<string>'</string>
	<key>firstSingleLineComment</key>
	<string>//</string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string>/*</string>
	<key>endFirstMultiLineComment</key>
	<string>*/</string>
	<key>beginSecondMultiLineComment</key>
	<string>&lt;!--</string>
	<key>endSecondMultiLineComment</key>
	<string>--&gt;</string>
	<key>functionDefinition</key>
	<string>^\s*function\s+.*\n?\s*\{</string>
	<key>removeFromFunction</key>
	<string>function </string>
	<key>keywordsCaseSensitive</key>
	<false/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<false/>
	<key>keywords</key>
	<array>
		<string>connect</string>
		<string>EOF</string>
		<string>movenext</string>
		<string>close</string>
		<string>Application</string>
		<string>ASPError</string>
		<string>Request</string>
		<string>Response</string>
		<string>Server</string>
		<string>Session</string>
		<string>Contents</string>
		<string>StaticObjects</string>
		<string>Remove</string>
		<string>RemoveAll</string>
		<string>Lock</string>
		<string>Unlock</string>
		<string>Application_OnStart</string>
		<string>Application_OnEnd</string>
		<string>ASPCode</string>
		<string>Number</string>
		<string>Source</string>
		<string>Category</string>
		<string>File</string>
		<string>Line</string>
		<string>Column</string>
		<string>Description</string>
		<string>ASPDescription</string>
		<string>Cookies</string>
		<string>Form</string>
		<string>QueryString</string>
		<string>ServerVariables</string>
		<string>TotalBytes</string>
		<string>Buffer</string>
		<string>CacheControl</string>
		<string>Charset</string>
		<string>CodePage</string>
		<string>ContentType</string>
		<string>Expires</string>
		<string>ExpiresAbsolute</string>
		<string>IsClientConnected</string>
		<string>LCID</string>
		<string>PICS</string>
		<string>Status</string>
		<string>AddHeader</string>
		<string>AppendToLog</string>
		<string>BinaryWrite</string>
		<string>Clear</string>
		<string>End</string>
		<string>Flush</string>
		<string>Redirect</string>
		<string>Write</string>
		<string>ScriptTimeout</string>
		<string>CreateObject</string>
		<string>Execute</string>
		<string>GetLastError</string>
		<string>HTMLEncode</string>
		<string>MapPath</string>
		<string>Transfer</string>
		<string>URLEncode</string>
		<string>StaticObjects</string>
		<string>SessionID</string>
		<string>Timeout</string>
		<string>break</string>
		<string>continue</string>
		<string>delete</string>
		<string>else</string>
		<string>for</string>
		<string>function</string>
		<string>if</string>
		<string>in</string>
		<string>new</string>
		<string>return</string>
		<string>this</string>
		<string>typeof</string>
		<string>var</string>
		<string>void</string>
		<string>while</string>
		<string>with</string>
		<string>if</string>
		<string>then</string>
		<string>else</string>
		<string>elseif</string>
		<string>select</string>
		<string>case</string>
		<string>for</string>
		<string>to</string>
		<string>step</string>
		<string>next</string>
		<string>each</string>
		<string>in</string>
		<string>do</string>
		<string>while</string>
		<string>until</string>
		<string>loop</string>
		<string>wend</string>
		<string>exit</string>
		<string>end</string>
		<string>function</string>
		<string>sub</string>
		<string>class</string>
		<string>property</string>
		<string>get</string>
		<string>let</string>
		<string>set</string>
		<string>byval</string>
		<string>byref</string>
		<string>const</string>
		<string>dim</string>
		<string>redim</string>
		<string>preserve</string>
		<string>as</string>
		<string>set</string>
		<string>with</string>
		<string>new</string>
		<string>public</string>
		<string>default</string>
		<string>private</string>
		<string>rem</string>
		<string>call</string>
		<string>execute</string>
		<string>eval</string>
		<string>on</string>
		<string>error</string>
		<string>goto</string>
		<string>resume</string>
		<string>option</string>
		<string>explicit</string>
		<string>erase</string>
		<string>randomize</string>
		<string>is</string>
		<string>mod</string>
		<string>and</string>
		<string>or</string>
		<string>not</string>
		<string>xor</string>
		<string>imp</string>
		<string>false</string>
		<string>true</string>
		<string>empty</string>
		<string>nothing</string>
		<string>null</string>
	</array>
	<key>autocompleteWords</key>
	<array>
		<string>!doctype</string>
		<string>a</string>
		<string>abbr</string>
		<string>acronym</string>
		<string>address</string>
		<string>applet</string>
		<string>area</string>
		<string>audioscope</string>
		<string>b</string>
		<string>base</string>
		<string>basefont</string>
		<string>bdo</string>
		<string>bgsound</string>
		<string>big</string>
		<string>blackface</string>
		<string>blink</string>
		<string>blockquote</string>
		<string>body</string>
		<string>bq</string>
		<string>br</string>
		<string>button</string>
		<string>caption</string>
		<string>center</string>
		<string>cite</string>
		<string>code</string>
		<string>col</string>
		<string>colgroup</string>
		<string>comment</string>
		<string>dd</string>
		<string>del</string>
		<string>dfn</string>
		<string>dir</string>
		<string>div</string>
		<string>dl</string>
		<string>dt</string>
		<string>em</string>
		<string>embed</string>
		<string>fieldset</string>
		<string>fn</string>
		<string>font</string>
		<string>form</string>
		<string>frame</string>
		<string>frameset</string>
		<string>h1</string>
		<string>h2</string>
		<string>h3</string>
		<string>h4</string>
		<string>h5</string>
		<string>h6</string>
		<string>head</string>
		<string>hr</string>
		<string>html</string>
		<string>i</string>
		<string>iframe</string>
		<string>ilayer</string>
		<string>img</string>
		<string>input</string>
		<string>ins</string>
		<string>isindex</string>
		<string>kbd</string>
		<string>keygen</string>
		<string>label</string>
		<string>layer</string>
		<string>legend</string>
		<string>li</string>
		<string>limittext</string>
		<string>link</string>
		<string>listing</string>
		<string>map</string>
		<string>marquee</string>
		<string>menu</string>
		<string>meta</string>
		<string>multicol</string>
		<string>nobr</string>
		<string>noembed</string>
		<string>noframes</string>
		<string>noscript</string>
		<string>nosmartquotes</string>
		<string>object</string>
		<string>ol</string>
		<string>optgroup</string>
		<string>option</string>
		<string>p</string>
		<string>param</string>
		<string>plaintext</string>
		<string>pre</string>
		<string>q</string>
		<string>s</string>
		<string>samp</string>
		<string>script</string>
		<string>select</string>
		<string>server</string>
		<string>shadow</string>
		<string>sidebar</string>
		<string>small</string>
		<string>spacer</string>
		<string>span</string>
		<string>strike</string>
		<string>strong</string>
		<string>style</string>
		<string>sub</string>
		<string>sup</string>
		<string>table</string>
		<string>tbody</string>
		<string>td</string>
		<string>textarea</string>
		<string>tfoot</string>
		<string>th</string>
		<string>thead</string>
		<string>title</string>
		<string>tr</string>
		<string>tt</string>
		<string>u</string>
		<string>ul</string>
		<string>var</string>
		<string>wbr</string>
		<string>xmp</string>
		<string>abbr</string>
		<string>accept-charset</string>
		<string>accept</string>
		<string>accesskey</string>
		<string>action</string>
		<string>align</string>
		<string>alink</string>
		<string>alt</string>
		<string>archive</string>
		<string>axis</string>
		<string>background</string>
		<string>bgcolor</string>
		<string>border</string>
		<string>cellpadding</string>
		<string>cellspacing</string>
		<string>char</string>
		<string>charoff</string>
		<string>charset</string>
		<string>checked</string>
		<string>cite</string>
		<string>class</string>
		<string>classid</string>
		<string>clear</string>
		<string>code</string>
		<string>codebase</string>
		<string>codetype</string>
		<string>color</string>
		<string>cols</string>
		<string>colspan</string>
		<string>compact</string>
		<string>content</string>
		<string>coords</string>
		<string>data</string>
		<string>datetime</string>
		<string>declare</string>
		<string>defer</string>
		<string>dir</string>
		<string>disabled</string>
		<string>enctype</string>
		<string>face</string>
		<string>for</string>
		<string>frame</string>
		<string>frameborder</string>
		<string>headers</string>
		<string>height</string>
		<string>href</string>
		<string>hreflang</string>
		<string>hspace</string>
		<string>http-equiv</string>
		<string>id</string>
		<string>ismap</string>
		<string>label</string>
		<string>lang</string>
		<string>language</string>
		<string>link</string>
		<string>longdesc</string>
		<string>marginheight</string>
		<string>marginwidth</string>
		<string>maxlength</string>
		<string>media</string>
		<string>method</string>
		<string>multiple</string>
		<string>name</string>
		<string>nohref</string>
		<string>noresize</string>
		<string>noshade</string>
		<string>nowrap</string>
		<string>object</string>
		<string>onblur</string>
		<string>onchange</string>
		<string>onclick</string>
		<string>ondblclick</string>
		<string>onfocus</string>
		<string>onkeydown</string>
		<string>onkeypress</string>
		<string>onkeyup</string>
		<string>onload</string>
		<string>onmousedown</string>
		<string>onmousemove</string>
		<string>onmouseout</string>
		<string>onmouseover</string>
		<string>onmouseup</string>
		<string>onreset</string>
		<string>onselect</string>
		<string>onsubmit</string>
		<string>onunload</string>
		<string>profile</string>
		<string>prompt</string>
		<string>readonly</string>
		<string>rel</string>
		<string>rev</string>
		<string>rows</string>
		<string>rowspan</string>
		<string>rules</string>
		<string>scheme</string>
		<string>scope</string>
		<string>scrolling</string>
		<string>selected</string>
		<string>shape</string>
		<string>size</string>
		<string>span</string>
		<string>src</string>
		<string>standby</string>
		<string>start</string>
		<string>style</string>
		<string>summary</string>
		<string>tabindex</string>
		<string>target</string>
		<string>text</string>
		<string>title</string>
		<string>type</string>
		<string>usemap</string>
		<string>valign</string>
		<string>value</string>
		<string>valuetype</string>
		<string>version</string>
		<string>vlink</string>
		<string>vspace</string>
		<string>width</string>
	</array>
</dict>
</plist>
