<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginCommand</key>
	<string>@</string>
	<key>endCommand</key>
	<string> </string>
	<key>beginInstruction</key>
	<string></string>
	<key>endInstruction</key>
	<string></string>
	<key>beginVariable</key>
	<string>%</string>
	<key>endVariable</key>
	<string> \.\=\\\&quot;</string>
	<key>firstString</key>
	<string>&quot;</string>
	<key>secondString</key>
	<string></string>
	<key>firstSingleLineComment</key>
	<string>::</string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string></string>
	<key>endFirstMultiLineComment</key>
	<string></string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>functionDefinition</key>
	<string></string>
	<key>removeFromFunction</key>
	<string></string>
	<key>keyWordsCaseSensitive</key>
	<false/>
	<key>recolourKeyWordIfAlreadyColoured</key>
	<true/>
	<key>keywords</key>
	<array>
		<string>assoc</string>
		<string>call</string>
		<string>cd</string>
		<string>chdir</string>
		<string>cls</string>
		<string>cmd</string>
		<string>color</string>
		<string>copy</string>
		<string>date</string>
		<string>defined</string>
		<string>del</string>
		<string>dir</string>
		<string>dpath</string>
		<string>echo</string>
		<string>else</string>
		<string>endlocal</string>
		<string>erase</string>
		<string>errorlevel</string>
		<string>exit</string>
		<string>exist</string>
		<string>for</string>
		<string>ftype</string>
		<string>goto</string>
		<string>if</string>
		<string>md</string>
		<string>mkdir</string>
		<string>move</string>
		<string>not</string>
		<string>path</string>
		<string>pause</string>
		<string>popd</string>
		<string>prompt</string>
		<string>pushd</string>
		<string>rd</string>
		<string>rem</string>
		<string>rename</string>
		<string>ren</string>
		<string>rmdir</string>
		<string>set</string>
		<string>setlocal</string>
		<string>shift</string>
		<string>start</string>
		<string>time</string>
		<string>title</string>
		<string>type</string>
		<string>ver</string>
	</array>
	<key>autocompleteWords</key>
	<array/>
</dict>
</plist>
