<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginCommand</key>
	<string></string>
	<key>endCommand</key>
	<string></string>
	<key>beginInstruction</key>
	<string></string>
	<key>endInstruction</key>
	<string></string>
	<key>beginVariable</key>
	<string></string>
	<key>endVariable</key>
	<string></string>
	<key>firstString</key>
	<string>"</string>
	<key>secondString</key>
	<string>'</string>
	<key>firstSingleLineComment</key>
	<string>*</string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string></string>
	<key>endFirstMultiLineComment</key>
	<string></string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>functionDefinition</key>
	<string></string>
	<key>removeFromFunction</key>
	<string></string>
	<key>keywordsCaseSensitive</key>
	<false/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>keywords</key>
	<array>	
		<string>ACCEPT</string>
		<string>ADD</string>
		<string>ADVANCING</string>
		<string>AFTER</string>
		<string>AND</string>
		<string>ASSIGN</string>
		<string>AUTHOR</string>
		<string>AT</string>
		<string>BY</string>
		<string>CALL</string>
		<string>CLOSE</string>
		<string>COMPUTE</string>
		<string>CONTENT</string>
		<string>CONTROL</string>
		<string>COPY</string>
		<string>CORRESPONDING</string>
		<string>DATA</string>
		<string>DELETE</string>
		<string>DISPLAY</string>
		<string>DIVIDE</string>
		<string>DIVISION</string>
		<string>END</string>
		<string>ENVIRONMENT</string>
		<string>ERROR</string>
		<string>EQUAL</string>
		<string>EOF</string>
		<string>EVALUATE</string>
		<string>EXAMINE</string>
		<string>EXIT</string>
		<string>FALSE</string>
		<string>FD</string>
		<string>FILE</string>
		<string>FILLER</string>
		<string>FROM</string>
		<string>FUNCTION</string>
		<string>GIVING</string>
		<string>GO</string>
		<string>GOTO</string>
		<string>GREATER</string>
		<string>HIGH</string>
		<string>ID</string>
		<string>IDENTIFICATION</string>
		<string>IF</string>
		<string>INDEXED</string>
		<string>INPUT</string>
		<string>INSPECT</string>
		<string>INVALID</string>
		<string>IS</string>
		<string>LINE</string>
		<string>LINKAGE</string>
		<string>KEY</string>
		<string>LOWER</string>
		<string>MOVE</string>
		<string>MULTIPLY</string>
		<string>NO</string>
		<string>NOT</string>
		<string>NUMVAL</string>
		<string>OMITTED</string>
		<string>OPEN</string>
		<string>ORGANIZATION</string>
		<string>OTHER</string>
		<string>OUTPUT</string>
		<string>PARAGRAPH</string>
		<string>PERFORM</string>
		<string>PIC</string>
		<string>PROCEDURE</string>
		<string>PROGRAM</string>
		<string>READ</string>
		<string>REPLACING</string>
		<string>RETURNING</string>
		<string>REWRITE</string>
		<string>RUN</string>
		<string>SEARCH</string>
		<string>SECTION</string>
		<string>SELECT</string>
		<string>SEQUENTIAL</string>
		<string>SET</string>
		<string>SIZE</string>
		<string>SORT</string>
		<string>START</string>
		<string>STATUS</string>
		<string>STORAGE</string>
		<string>STOP</string>
		<string>STRING</string>
		<string>SUB</string>
		<string>SUBSTRACT</string>
		<string>TALLYING</string>
		<string>THEN</string>
		<string>TO</string>
		<string>TRUE</string>
		<string>TRANSFORM</string>
		<string>UNTIL</string>
		<string>USAGE</string>
		<string>USING</string>
		<string>VARYING</string>
		<string>VALUES</string>
		<string>VALUE</string>
		<string>WHEN</string>
		<string>WORKING</string>
		<string>WRITE</string>
	</array>
	<key>autocompleteWords</key>
	<array>
	</array>
</dict>
</plist>

 	  	 
