<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginCommand</key>
	<string></string>
	<key>endCommand</key>
	<string></string>
	<key>beginInstruction</key>
	<string></string>
	<key>endInstruction</key>
	<string></string>
	<key>beginVariable</key>
	<string></string>
	<key>endVariable</key>
	<string></string>
	<key>firstString</key>
	<string>"</string>
	<key>secondString</key>
	<string></string>
	<key>firstSingleLineComment</key>
	<string>//</string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string>/*</string>
	<key>endFirstMultiLineComment</key>
	<string>*/</string>
	<key>beginSecondMultiLineComment</key>
	<string>&lt;!--</string>
	<key>endSecondMultiLineComment</key>
	<string>--&gt;</string>
	<key>functionDefinition</key>
	<string></string>
	<key>removeFromFunction</key>
	<string></string>
	<key>keywordsCaseSensitive</key>
	<false/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>keywords</key>
	<array>
		<string>if</string>
		<string>else</string>
		<string>for</string>
		<string>in</string>
		<string>while</string>
		<string>do</string>
		<string>continue</string>
		<string>break</string>
		<string>with</string>
		<string>try</string>
		<string>catch</string>
		<string>switch</string>
		<string>case</string>
		<string>new</string>
		<string>var</string>
		<string>function</string>
		<string>return</string>
		<string>this</string>
		<string>delete</string>
		<string>true</string>
		<string>false</string>
		<string>void</string>
		<string>throw</string>
		<string>typeof</string>
		<string>const</string>
		<string>default</string>
		<string>Anchor</string>
		<string>Applet</string>
		<string>Area</string>
		<string>Array</string>
		<string>Boolean</string>
		<string>Button</string>
		<string>Checkbox</string>
		<string>Date</string>
		<string>Document</string>
		<string>Event</string>
		<string>FileUpload</string>
		<string>Form</string>
		<string>Frame</string>
		<string>Function</string>
		<string>Hidden</string>
		<string>History</string>
		<string>Image</string>
		<string>Layer</string>
		<string>Linke</string>
		<string>Location</string>
		<string>Math</string>
		<string>Navigator</string>
		<string>Number</string>
		<string>Object</string>
		<string>Option</string>
		<string>Password</string>
		<string>Radio</string>
		<string>RegExp</string>
		<string>Reset</string>
		<string>Screen</string>
		<string>Select</string>
		<string>String</string>
		<string>Submit</string>
		<string>Text</string>
		<string>Textarea</string>
		<string>Window</string>
		<string>abs</string>
		<string>acos</string>
		<string>alert</string>
		<string>anchor</string>
		<string>apply</string>
		<string>asin</string>
		<string>atan</string>
		<string>atan2</string>
		<string>back</string>
		<string>blur</string>
		<string>call</string>
		<string>captureEvents</string>
		<string>ceil</string>
		<string>charAt</string>
		<string>charCodeAt</string>
		<string>clearInterval</string>
		<string>clearTimeout</string>
		<string>click</string>
		<string>close</string>
		<string>compile</string>
		<string>concat</string>
		<string>confirm</string>
		<string>cos</string>
		<string>disableExternalCapture</string>
		<string>enableExternalCapture</string>
		<string>eval</string>
		<string>exec</string>
		<string>exp</string>
		<string>find</string>
		<string>floor</string>
		<string>focus</string>
		<string>forward</string>
		<string>fromCharCode</string>
		<string>getDate</string>
		<string>getDay</string>
		<string>getFullYear</string>
		<string>getHours</string>
		<string>getMilliseconds</string>
		<string>getMinutes</string>
		<string>getMonth</string>
		<string>getSeconds</string>
		<string>getSelection</string>
		<string>getTime</string>
		<string>getTimezoneOffset</string>
		<string>getUTCDate</string>
		<string>getUTCDay</string>
		<string>getUTCFullYear</string>
		<string>getUTCHours</string>
		<string>getUTCMilliseconds</string>
		<string>getUTCMinutes</string>
		<string>getUTCMonth</string>
		<string>getUTCSeconds</string>
		<string>go</string>
		<string>handleEvent</string>
		<string>home</string>
		<string>indexOf</string>
		<string>javaEnabled</string>
		<string>join</string>
		<string>lastIndexOf</string>
		<string>link</string>
		<string>load</string>
		<string>log</string>
		<string>match</string>
		<string>max</string>
		<string>min</string>
		<string>moveAbove</string>
		<string>moveBelow</string>
		<string>moveBy</string>
		<string>moveTo</string>
		<string>moveToAbsolute</string>
		<string>open</string>
		<string>parse</string>
		<string>plugins.refresh</string>
		<string>pop</string>
		<string>pow</string>
		<string>preference</string>
		<string>print</string>
		<string>prompt</string>
		<string>push</string>
		<string>random</string>
		<string>releaseEvents</string>
		<string>reload</string>
		<string>replace</string>
		<string>reset</string>
		<string>resizeBy</string>
		<string>resizeTo</string>
		<string>reverse</string>
		<string>round</string>
		<string>routeEvent</string>
		<string>scrollBy</string>
		<string>scrollTo</string>
		<string>search</string>
		<string>select</string>
		<string>setDate</string>
		<string>setFullYear</string>
		<string>setHours</string>
		<string>setInterval</string>
		<string>setMilliseconds</string>
		<string>setMinutes</string>
		<string>setMonth</string>
		<string>setSeconds</string>
		<string>setTime</string>
		<string>setTimeout</string>
		<string>setUTCDate</string>
		<string>setUTCFullYear</string>
		<string>setUTCHours</string>
		<string>setUTCMilliseconds</string>
		<string>setUTCMinutes</string>
		<string>setUTCMonth</string>
		<string>setUTCSeconds</string>
		<string>shift</string>
		<string>sin</string>
		<string>slice</string>
		<string>sort</string>
		<string>splice</string>
		<string>split</string>
		<string>sqrt</string>
		<string>stop</string>
		<string>String formatting</string>
		<string>submit</string>
		<string>substr</string>
		<string>substring</string>
		<string>taintEnabled</string>
		<string>tan</string>
		<string>test</string>
		<string>toLocaleString</string>
		<string>toLowerCase</string>
		<string>toSource</string>
		<string>toString</string>
		<string>toUpperCase</string>
		<string>toUTCString</string>
		<string>unshift</string>
		<string>unwatch</string>
		<string>UTC</string>
		<string>valueOf</string>
		<string>watch</string>
		<string>write</string>
		<string>writeln </string>
		<string>break</string>
		<string>case</string>
		<string>catch</string>
		<string>continue</string>
		<string>default</string>
		<string>do</string>
		<string>else</string>
		<string>for</string>
		<string>function</string>
		<string>if</string>
		<string>in</string>
		<string>return</string>
		<string>switch</string>
		<string>try</string>
		<string>var</string>
		<string>while</string>
		<string>Abs</string>
		<string>ACos</string>
		<string>ArrayAppend</string>
		<string>ArrayAvg</string>
		<string>ArrayClear</string>
		<string>ArrayDeleteAt</string>
		<string>ArrayInsertAt</string>
		<string>ArrayIsEmpty</string>
		<string>ArrayLen</string>
		<string>ArrayMax</string>
		<string>ArrayMin</string>
		<string>ArrayNew</string>
		<string>ArrayPrepend</string>
		<string>ArrayResize</string>
		<string>ArraySet</string>
		<string>ArraySort</string>
		<string>ArraySum</string>
		<string>ArraySwap</string>
		<string>ArrayToList</string>
		<string>Asc</string>
		<string>ASin</string>
		<string>Atn</string>
		<string>BitAnd</string>
		<string>BitMaskClear</string>
		<string>BitMaskRead</string>
		<string>BitMaskSet</string>
		<string>BitNot</string>
		<string>BitOr</string>
		<string>BitSHLN</string>
		<string>BitSHRN</string>
		<string>BitXor</string>
		<string>Ceiling</string>
		<string>Chr</string>
		<string>CJustify</string>
		<string>Compare</string>
		<string>CompareNoCase</string>
		<string>Cos</string>
		<string>CreateDate</string>
		<string>CreateDateTime</string>
		<string>CreateObject</string>
		<string>CreateODBCDate</string>
		<string>CreateODBCDateTime</string>
		<string>CreateODBCTime</string>
		<string>CreateTime</string>
		<string>CreateTimeSpan</string>
		<string>CreateUUID</string>
		<string>DateAdd</string>
		<string>DateCompare</string>
		<string>DateConvert</string>
		<string>DateDiff</string>
		<string>DateFormat</string>
		<string>DatePart</string>
		<string>Day</string>
		<string>DayOfWeek</string>
		<string>DayOfWeekAsString</string>
		<string>DayOfYear</string>
		<string>DaysInMonth</string>
		<string>DaysInYear</string>
		<string>DE</string>
		<string>DecimalFormat</string>
		<string>DecrementValue</string>
		<string>Decrypt</string>
		<string>DeleteClientVariable</string>
		<string>DirectoryExists</string>
		<string>DollarFormat</string>
		<string>Duplicate</string>
		<string>Encrypt</string>
		<string>Evaluate</string>
		<string>Exp</string>
		<string>ExpandPath</string>
		<string>FileExists</string>
		<string>Find</string>
		<string>FindNoCase</string>
		<string>FindOneOf</string>
		<string>FirstDayOfMonth</string>
		<string>Fix</string>
		<string>FormatBaseN</string>
		<string>GetAuthUser</string>
		<string>GetBaseTagData</string>
		<string>GetBaseTagList</string>
		<string>GetBaseTemplatePath</string>
		<string>GetClientVariablesList</string>
		<string>GetCurrentTemplatePath</string>
		<string>GetDirectoryFromPath</string>
		<string>GetException</string>
		<string>GetFileFromPath</string>
		<string>GetFunctionList</string>
		<string>GetHttpRequestData</string>
		<string>GetHttpTimeString</string>
		<string>GetK2ServerDocCount</string>
		<string>GetK2ServerDocCountLimit</string>
		<string>GetLocale</string>
		<string>GetMetaData</string>
		<string>GetMetricData</string>
		<string>GetPageContext</string>
		<string>GetProfileSections</string>
		<string>GetProfileString</string>
		<string>GetServiceSettings</string>
		<string>GetTempDirectory</string>
		<string>GetTempFile</string>
		<string>GetTemplatePath</string>
		<string>GetTickCount</string>
		<string>GetTimeZoneInfo</string>
		<string>GetToken</string>
		<string>Hash</string>
		<string>Hour</string>
		<string>HTMLCodeFormat</string>
		<string>HTMLEditFormat</string>
		<string>IIf</string>
		<string>IncrementValue</string>
		<string>InputBaseN</string>
		<string>Insert</string>
		<string>Int</string>
		<string>IsArray</string>
		<string>IsBinary</string>
		<string>IsBoolean</string>
		<string>IsCustomFunction</string>
		<string>IsDate</string>
		<string>IsDebugMode</string>
		<string>IsDefined</string>
		<string>IsK2ServerABroker</string>
		<string>IsK2ServerDocCountExceeded</string>
		<string>IsK2ServerOnline</string>
		<string>IsLeapYear</string>
		<string>IsNumeric</string>
		<string>IsNumericDate</string>
		<string>IsObject</string>
		<string>IsQuery</string>
		<string>IsSimpleValue</string>
		<string>IsStruct</string>
		<string>IsUserInRole</string>
		<string>IsWDDX</string>
		<string>IsXmlDoc</string>
		<string>IsXmlElement</string>
		<string>IsXmlRoot</string>
		<string>JavaCast</string>
		<string>JSStringFormat</string>
		<string>LCase</string>
		<string>Left</string>
		<string>Len</string>
		<string>ListAppend</string>
		<string>ListChangeDelims</string>
		<string>ListContains</string>
		<string>ListContainsNoCase</string>
		<string>ListDeleteAt</string>
		<string>ListFind</string>
		<string>ListFindNoCase</string>
		<string>ListFirst</string>
		<string>ListGetAt</string>
		<string>ListInsertAt</string>
		<string>ListLast</string>
		<string>ListLen</string>
		<string>ListPrepend</string>
		<string>ListQualify</string>
		<string>ListRest</string>
		<string>ListSetAt</string>
		<string>ListSort</string>
		<string>ListToArray</string>
		<string>ListValueCount</string>
		<string>ListValueCountNoCase</string>
		<string>LJustify</string>
		<string>Log</string>
		<string>Log10</string>
		<string>LSCurrencyFormat</string>
		<string>LSDateFormat</string>
		<string>LSEuroCurrencyFormat</string>
		<string>LSIsCurrency</string>
		<string>LSIsDate</string>
		<string>LSIsNumeric</string>
		<string>LSNumberFormat</string>
		<string>LSParseCurrency</string>
		<string>LSParseDateTime</string>
		<string>LSParseEuroCurrency</string>
		<string>LSParseNumber</string>
		<string>LSTimeFormat</string>
		<string>LTrim</string>
		<string>Max</string>
		<string>Mid</string>
		<string>Min</string>
		<string>Minute</string>
		<string>Month</string>
		<string>MonthAsString</string>
		<string>Now</string>
		<string>NumberFormat</string>
		<string>ParagraphFormat</string>
		<string>ParameterExists</string>
		<string>ParseDateTime</string>
		<string>Pi</string>
		<string>PreserveSingleQuotes</string>
		<string>Quarter</string>
		<string>QueryAddColumn</string>
		<string>QueryAddRow</string>
		<string>QueryNew</string>
		<string>QuerySetCell</string>
		<string>QuotedValueList</string>
		<string>Rand</string>
		<string>Randomize</string>
		<string>RandRange</string>
		<string>REFind</string>
		<string>REFindNoCase</string>
		<string>RemoveChars</string>
		<string>RepeatString</string>
		<string>Replace</string>
		<string>ReplaceList</string>
		<string>ReplaceNoCase</string>
		<string>REReplace</string>
		<string>REReplaceNoCase</string>
		<string>Reverse</string>
		<string>Right</string>
		<string>RJustify</string>
		<string>Round</string>
		<string>RTrim</string>
		<string>Second</string>
		<string>SetEncoding</string>
		<string>SetLocale</string>
		<string>SetProfileString</string>
		<string>SetVariable</string>
		<string>Sgn</string>
		<string>Sin</string>
		<string>SpanExcluding</string>
		<string>SpanIncluding</string>
		<string>Sqr</string>
		<string>StripCR</string>
		<string>StructAppend</string>
		<string>StructClear</string>
		<string>StructCopy</string>
		<string>StructCount</string>
		<string>StructDelete</string>
		<string>StructFind</string>
		<string>StructFindKey</string>
		<string>StructFindValue</string>
		<string>StructGet</string>
		<string>StructInsert</string>
		<string>StructIsEmpty</string>
		<string>StructKeyArray</string>
		<string>StructKeyExists</string>
		<string>StructKeyList</string>
		<string>StructNew</string>
		<string>StructSort</string>
		<string>StructUpdate</string>
		<string>Tan</string>
		<string>TimeFormat</string>
		<string>ToBase64</string>
		<string>ToBinary</string>
		<string>ToString</string>
		<string>Trim</string>
		<string>UCase</string>
		<string>URLDecode</string>
		<string>URLEncodedFormat</string>
		<string>URLSessionFormat</string>
		<string>Val</string>
		<string>ValueList</string>
		<string>Week</string>
		<string>WriteOutput</string>
		<string>XmlChildPos</string>
		<string>XmlElemNew</string>
		<string>XmlFormat</string>
		<string>XmlNew</string>
		<string>XmlParse</string>
		<string>XmlSearch</string>
		<string>XmlTransform</string>
		<string>Year</string>
		<string>YesNoFormat</string>
	</array>
	<key>autocompleteWords</key>
	<array>
	</array>
</dict>
</plist>
