<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginCommand</key>
	<string></string>
	<key>endCommand</key>
	<string></string>
	<key>beginInstruction</key>
	<string></string>
	<key>endInstruction</key>
	<string></string>
	<key>beginVariable</key>
	<string></string>
	<key>endVariable</key>
	<string></string>
	<key>firstString</key>
	<string>"</string>
	<key>secondString</key>
	<string>'</string>
	<key>firstSingleLineComment</key>
	<string>//</string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string>/*</string>
	<key>endFirstMultiLineComment</key>
	<string>*/</string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>functionDefinition</key>
	<string>^\s*(static|public|private|protected|internal).*\(.*\).*\n?\s*\{</string>
	<key>removeFromFunction</key>
	<string></string>
	<key>keywordsCaseSensitive</key>
	<false/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>keywords</key>
	<array>
		<string>abstract</string>
		<string>as</string>
		<string>base</string>
		<string>break</string>
		<string>case</string>
		<string>catch</string>
		<string>class</string>
		<string>checked</string>
		<string>continue</string>
		<string>default</string>
		<string>delegate</string>
		<string>do</string>
		<string>else</string>
		<string>enum</string>
		<string>event</string>
		<string>explicit</string>
		<string>extern</string>
		<string>false</string>
		<string>for</string>
		<string>foreach</string>
		<string>finally</string>
		<string>fixed</string>
		<string>goto</string>
		<string>if</string>
		<string>implicit</string>
		<string>in</string>
		<string>interface</string>
		<string>internal</string>
		<string>is</string>
		<string>lock</string>
		<string>namespace</string>
		<string>new</string>
		<string>null</string>
		<string>operator</string>
		<string>out</string>
		<string>override</string>
		<string>params</string>
		<string>private</string>
		<string>protected</string>
		<string>public</string>
		<string>readonly</string>
		<string>ref</string>
		<string>return</string>
		<string>sealed</string>
		<string>sizeof</string>
		<string>stackalloc</string>
		<string>static</string>
		<string>struct</string>
		<string>switch</string>
		<string>this</string>
		<string>throw</string>
		<string>true</string>
		<string>try</string>
		<string>typeof</string>
		<string>unchecked</string>
		<string>unsafe</string>
		<string>using</string>
		<string>virtual</string>
		<string>while</string>
		<string>#if</string>
		<string>#else</string>
		<string>#elif</string>
		<string>#endif</string>
		<string>#define</string>
		<string>#undef</string>
		<string>#warning</string>
		<string>#error</string>
		<string>#line</string>
		<string>bool</string>
		<string>byte</string>
		<string>char</string>
		<string>const</string>
		<string>decimal</string>
		<string>double</string>
		<string>float</string>
		<string>int</string>
		<string>long</string>
		<string>object</string>
		<string>uint</string>
		<string>ushort</string>
		<string>ulong</string>
		<string>sbyte</string>
		<string>short</string>
		<string>string</string>
		<string>void</string>
	</array>
	<key>autocompleteWords</key>
	<array>
	</array>
</dict>
</plist>