<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autocompleteWords</key>
	<array/>
	<key>beginCommand</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string></string>
	<key>beginInstruction</key>
	<string></string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>beginVariable</key>
	<string></string>
	<key>endCommand</key>
	<string></string>
	<key>endFirstMultiLineComment</key>
	<string></string>
	<key>endInstruction</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>endVariable</key>
	<string></string>
	<key>firstSingleLineComment</key>
	<string>;</string>
	<key>firstString</key>
	<string>"</string>
	<key>functionDefinition</key>
	<string></string>
	<key>keywords</key>
	<array>
		<string>a</string>
		<string>i</string>
		<string>db</string>
		<string>in</string>
		<string>or</string>
		<string>zr</string>
		<string>Add</string>
		<string>Dec</string>
		<string>Div</string>
		<string>Inc</string>
		<string>Mul</string>
		<string>Sub</string>
		<string>abs</string>
		<string>and</string>
		<string>cos</string>
		<string>dam</string>
		<string>dec</string>
		<string>div</string>
		<string>exp</string>
		<string>fin</string>
		<string>fof</string>
		<string>fog</string>
		<string>inh</string>
		<string>ino</string>
		<string>inq</string>
		<string>ins</string>
		<string>int</string>
		<string>inx</string>
		<string>inz</string>
		<string>lfo</string>
		<string>log</string>
		<string>mac</string>
		<string>mod</string>
		<string>mul</string>
		<string>not</string>
		<string>out</string>
		<string>pan</string>
		<string>pow</string>
		<string>rms</string>
		<string>rnd</string>
		<string>shl</string>
		<string>sin</string>
		<string>sqr</string>
		<string>sub</string>
		<string>sum</string>
		<string>tab</string>
		<string>tan</string>
		<string>tb0</string>
		<string>tb1</string>
		<string>tb2</string>
		<string>tb3</string>
		<string>tb4</string>
		<string>tb5</string>
		<string>tb6</string>
		<string>tb7</string>
		<string>tb8</string>
		<string>tb9</string>
		<string>urd</string>
		<string>vco</string>
		<string>xin</string>
		<string>xor</string>
		<string>zar</string>
		<string>zaw</string>
		<string>zir</string>
		<string>ziw</string>
		<string>zkr</string>
		<string>zkw</string>
		<string>adsr</string>
		<string>babo</string>
		<string>buzz</string>
		<string>cent</string>
		<string>clip</string>
		<string>comb</string>
		<string>cosh</string>
		<string>diff</string>
		<string>divz</string>
		<string>fini</string>
		<string>fink</string>
		<string>fmb3</string>
		<string>fof2</string>
		<string>fold</string>
		<string>fout</string>
		<string>frac</string>
		<string>ftsr</string>
		<string>gain</string>
		<string>goto</string>
		<string>in32</string>
		<string>inch</string>
		<string>init</string>
		<string>line</string>
		<string>maca</string>
		<string>moog</string>
		<string>mute</string>
		<string>nrpn</string>
		<string>outc</string>
		<string>outh</string>
		<string>outo</string>
		<string>outq</string>
		<string>outs</string>
		<string>outx</string>
		<string>outz</string>
		<string>peak</string>
		<string>port</string>
		<string>pset</string>
		<string>pvoc</string>
		<string>rand</string>
		<string>seed</string>
		<string>sinh</string>
		<string>sqrt</string>
		<string>stix</string>
		<string>tabw</string>
		<string>tanh</string>
		<string>tb10</string>
		<string>tb11</string>
		<string>tb12</string>
		<string>tb13</string>
		<string>tb14</string>
		<string>tb15</string>
		<string>tone</string>
		<string>vadd</string>
		<string>vco2</string>
		<string>vdiv</string>
		<string>vexp</string>
		<string>vibr</string>
		<string>vmap</string>
		<string>vmul</string>
		<string>vpow</string>
		<string>wrap</string>
		<string>xout</string>
		<string>xyin</string>
		<string>zacl</string>
		<string>zarg</string>
		<string>zawm</string>
		<string>ziwm</string>
		<string>zkcl</string>
		<string>zkwm</string>
		<string>FLbox</string>
		<string>FLjoy</string>
		<string>FLrun</string>
		<string>adsyn</string>
		<string>ampdb</string>
		<string>atone</string>
		<string>birnd</string>
		<string>bqrez</string>
		<string>butbp</string>
		<string>butbr</string>
		<string>buthp</string>
		<string>butlp</string>
		<string>clear</string>
		<string>ctrl7</string>
		<string>dbamp</string>
		<string>dconv</string>
		<string>delay</string>
		<string>dumpk</string>
		<string>endin</string>
		<string>endop</string>
		<string>event</string>
		<string>expon</string>
		<string>fouti</string>
		<string>foutk</string>
		<string>ftgen</string>
		<string>ftlen</string>
		<string>gauss</string>
		<string>gbuzz</string>
		<string>grain</string>
		<string>guiro</string>
		<string>igoto</string>
		<string>ihold</string>
		<string>instr</string>
		<string>integ</string>
		<string>kgoto</string>
		<string>limit</string>
		<string>linen</string>
		<string>log10</string>
		<string>loopg</string>
		<string>loopl</string>
		<string>lpf18</string>
		<string>madsr</string>
		<string>max_k</string>
		<string>metro</string>
		<string>noise</string>
		<string>nsamp</string>
		<string>oscil</string>
		<string>out32</string>
		<string>outch</string>
		<string>outic</string>
		<string>outkc</string>
		<string>outq1</string>
		<string>outq2</string>
		<string>outq3</string>
		<string>outq4</string>
		<string>outs1</string>
		<string>outs2</string>
		<string>pareq</string>
		<string>pitch</string>
		<string>pluck</string>
		<string>portk</string>
		<string>print</string>
		<string>pvadd</string>
		<string>randh</string>
		<string>randi</string>
		<string>rbjeq</string>
		<string>readk</string>
		<string>reson</string>
		<string>rezzy</string>
		<string>rnd31</string>
		<string>scans</string>
		<string>scanu</string>
		<string>sense</string>
		<string>space</string>
		<string>tab_i</string>
		<string>table</string>
		<string>tbvcf</string>
		<string>tempo</string>
		<string>timek</string>
		<string>times</string>
		<string>tival</string>
		<string>tonek</string>
		<string>tonex</string>
		<string>vaddv</string>
		<string>vbap4</string>
		<string>vbap8</string>
		<string>vbapz</string>
		<string>vcomb</string>
		<string>vcopy</string>
		<string>vdecr</string>
		<string>vdivv</string>
		<string>veloc</string>
		<string>vexpv</string>
		<string>vibes</string>
		<string>vincr</string>
		<string>vmult</string>
		<string>voice</string>
		<string>vport</string>
		<string>vpowv</string>
		<string>vpvoc</string>
		<string>vsubv</string>
		<string>vwrap</string>
		<string>wgbow</string>
		<string>xadsr</string>
		<string>zamod</string>
		<string>zkmod</string>
		<string>FLhide</string>
		<string>FLkeyb</string>
		<string>FLknob</string>
		<string>FLpack</string>
		<string>FLshow</string>
		<string>FLtabs</string>
		<string>FLtext</string>
		<string>active</string>
		<string>adsynt</string>
		<string>alpass</string>
		<string>areson</string>
		<string>atonek</string>
		<string>atonex</string>
		<string>bamboo</string>
		<string>bbcutm</string>
		<string>bbcuts</string>
		<string>biquad</string>
		<string>cabasa</string>
		<string>cauchy</string>
		<string>cggoto</string>
		<string>cigoto</string>
		<string>ckgoto</string>
		<string>clfilt</string>
		<string>cngoto</string>
		<string>convle</string>
		<string>cosinv</string>
		<string>cpsoct</string>
		<string>cpspch</string>
		<string>cpstun</string>
		<string>cpuprc</string>
		<string>cross2</string>
		<string>crunch</string>
		<string>ctrl14</string>
		<string>ctrl21</string>
		<string>delay1</string>
		<string>delayk</string>
		<string>delayr</string>
		<string>delayw</string>
		<string>deltap</string>
		<string>denorm</string>
		<string>diskin</string>
		<string>dumpk2</string>
		<string>dumpk3</string>
		<string>dumpk4</string>
		<string>envlpx</string>
		<string>expseg</string>
		<string>filesr</string>
		<string>fiopen</string>
		<string>fmbell</string>
		<string>follow</string>
		<string>foscil</string>
		<string>foutir</string>
		<string>ftlen2</string>
		<string>ftload</string>
		<string>ftmorf</string>
		<string>ftsave</string>
		<string>grain2</string>
		<string>grain3</string>
		<string>harmon</string>
		<string>hrtfer</string>
		<string>initc7</string>
		<string>interp</string>
		<string>jitter</string>
		<string>linenr</string>
		<string>lineto</string>
		<string>linseg</string>
		<string>locsig</string>
		<string>loopge</string>
		<string>loople</string>
		<string>lorenz</string>
		<string>loscil</string>
		<string>lowres</string>
		<string>lpread</string>
		<string>lpslot</string>
		<string>mandel</string>
		<string>mandol</string>
		<string>mclock</string>
		<string>mdelay</string>
		<string>midic7</string>
		<string>midiin</string>
		<string>midion</string>
		<string>mirror</string>
		<string>moscil</string>
		<string>mpulse</string>
		<string>mrtmsg</string>
		<string>mxadsr</string>
		<string>nlfilt</string>
		<string>noteon</string>
		<string>notnum</string>
		<string>ntrpol</string>
		<string>octave</string>
		<string>octcps</string>
		<string>octpch</string>
		<string>opcode</string>
		<string>oscbnk</string>
		<string>oscil1</string>
		<string>oscil3</string>
		<string>oscili</string>
		<string>osciln</string>
		<string>oscils</string>
		<string>oscilx</string>
		<string>outiat</string>
		<string>outipb</string>
		<string>outipc</string>
		<string>outkat</string>
		<string>outkpb</string>
		<string>outkpc</string>
		<string>pchoct</string>
		<string>phasor</string>
		<string>planet</string>
		<string>poscil</string>
		<string>printk</string>
		<string>prints</string>
		<string>pvread</string>
		<string>pvsftr</string>
		<string>pvsftw</string>
		<string>random</string>
		<string>readk2</string>
		<string>readk3</string>
		<string>readk4</string>
		<string>reinit</string>
		<string>resonk</string>
		<string>resonr</string>
		<string>resonx</string>
		<string>resony</string>
		<string>resonz</string>
		<string>reverb</string>
		<string>rigoto</string>
		<string>s16b14</string>
		<string>s32b14</string>
		<string>sekere</string>
		<string>sfload</string>
		<string>sfplay</string>
		<string>shaker</string>
		<string>sininv</string>
		<string>spat3d</string>
		<string>spdist</string>
		<string>spsend</string>
		<string>strset</string>
		<string>table3</string>
		<string>tablei</string>
		<string>tablew</string>
		<string>tabw_i</string>
		<string>taninv</string>
		<string>tigoto</string>
		<string>timout</string>
		<string>turnon</string>
		<string>upsamp</string>
		<string>vbap16</string>
		<string>vcella</string>
		<string>vco2ft</string>
		<string>vdel_k</string>
		<string>vdelay</string>
		<string>vlimit</string>
		<string>vmultv</string>
		<string>vrandh</string>
		<string>vrandi</string>
		<string>wgclar</string>
		<string>xscans</string>
		<string>xscanu</string>
		<string>FLcolor</string>
		<string>FLcount</string>
		<string>FLgroup</string>
		<string>FLlabel</string>
		<string>FLpanel</string>
		<string>FLvalue</string>
		<string>aftouch</string>
		<string>ampdbfs</string>
		<string>ampmidi</string>
		<string>aresonk</string>
		<string>balance</string>
		<string>bexprnd</string>
		<string>biquada</string>
		<string>changed</string>
		<string>clockon</string>
		<string>cps2pch</string>
		<string>cpsmidi</string>
		<string>cpstmid</string>
		<string>cpstuni</string>
		<string>cpsxpch</string>
		<string>dbfsamp</string>
		<string>dcblock</string>
		<string>deltap3</string>
		<string>deltapi</string>
		<string>deltapn</string>
		<string>deltapx</string>
		<string>dispfft</string>
		<string>display</string>
		<string>envlpxr</string>
		<string>exprand</string>
		<string>expsega</string>
		<string>expsegr</string>
		<string>filelen</string>
		<string>filter2</string>
		<string>flanger</string>
		<string>fmmetal</string>
		<string>fmrhode</string>
		<string>fmvoice</string>
		<string>follow2</string>
		<string>foscili</string>
		<string>fprints</string>
		<string>ftchnls</string>
		<string>ftloadk</string>
		<string>ftlptim</string>
		<string>ftsavek</string>
		<string>gogobel</string>
		<string>granule</string>
		<string>hilbert</string>
		<string>initc14</string>
		<string>initc21</string>
		<string>invalue</string>
		<string>jitter2</string>
		<string>jspline</string>
		<string>linrand</string>
		<string>linsegr</string>
		<string>locsend</string>
		<string>logbtwo</string>
		<string>loopseg</string>
		<string>loscil3</string>
		<string>lowresx</string>
		<string>lphasor</string>
		<string>lposcil</string>
		<string>lpreson</string>
		<string>lpshold</string>
		<string>marimba</string>
		<string>massign</string>
		<string>midic14</string>
		<string>midic21</string>
		<string>midichn</string>
		<string>midion2</string>
		<string>midiout</string>
		<string>moogvcf</string>
		<string>noteoff</string>
		<string>nreverb</string>
		<string>nstrnum</string>
		<string>octmidi</string>
		<string>oscil1i</string>
		<string>outic14</string>
		<string>outipat</string>
		<string>outkc14</string>
		<string>outkpat</string>
		<string>pcauchy</string>
		<string>pchbend</string>
		<string>pchmidi</string>
		<string>phaser1</string>
		<string>phaser2</string>
		<string>pinkish</string>
		<string>poisson</string>
		<string>polyaft</string>
		<string>poscil3</string>
		<string>printk2</string>
		<string>printks</string>
		<string>product</string>
		<string>pvcross</string>
		<string>pvsanal</string>
		<string>pvsinfo</string>
		<string>pvsynth</string>
		<string>randomh</string>
		<string>randomi</string>
		<string>release</string>
		<string>repluck</string>
		<string>reverb2</string>
		<string>rspline</string>
		<string>rtclock</string>
		<string>seqtime</string>
		<string>sfilist</string>
		<string>sfinstr</string>
		<string>sfplay3</string>
		<string>sfplaym</string>
		<string>sfplist</string>
		<string>slider8</string>
		<string>sndwarp</string>
		<string>soundin</string>
		<string>spat3di</string>
		<string>spat3dt</string>
		<string>specsum</string>
		<string>streson</string>
		<string>tableiw</string>
		<string>tablekt</string>
		<string>tableng</string>
		<string>tablera</string>
		<string>tablewa</string>
		<string>taninv2</string>
		<string>tempest</string>
		<string>tlineto</string>
		<string>transeg</string>
		<string>trigger</string>
		<string>trigseq</string>
		<string>trirand</string>
		<string>turnoff</string>
		<string>unirand</string>
		<string>valpass</string>
		<string>vco2ift</string>
		<string>vdelay3</string>
		<string>vdelayk</string>
		<string>vdelayx</string>
		<string>vexpseg</string>
		<string>vibrato</string>
		<string>vlinseg</string>
		<string>vlowres</string>
		<string>vmirror</string>
		<string>waveset</string>
		<string>weibull</string>
		<string>wgbrass</string>
		<string>wgflute</string>
		<string>wgpluck</string>
		<string>wguide1</string>
		<string>wguide2</string>
		<string>xtratim</string>
		<string>zakinit</string>
		<string>FLbutton</string>
		<string>FLcolor2</string>
		<string>FLprintk</string>
		<string>FLroller</string>
		<string>FLscroll</string>
		<string>FLsetBox</string>
		<string>FLsetVal</string>
		<string>FLslider</string>
		<string>FLupdate</string>
		<string>betarand</string>
		<string>butterbp</string>
		<string>butterbr</string>
		<string>butterhp</string>
		<string>butterlp</string>
		<string>chanctrl</string>
		<string>clockoff</string>
		<string>convolve</string>
		<string>cpsmidib</string>
		<string>ctrlinit</string>
		<string>cuserrnd</string>
		<string>deltapxw</string>
		<string>distort1</string>
		<string>downsamp</string>
		<string>duserrnd</string>
		<string>filepeak</string>
		<string>fmpercfl</string>
		<string>fmwurlie</string>
		<string>fprintks</string>
		<string>hsboscil</string>
		<string>lowpass2</string>
		<string>lpfreson</string>
		<string>lpinterp</string>
		<string>lposcil3</string>
		<string>maxalloc</string>
		<string>midictrl</string>
		<string>multitap</string>
		<string>nestedap</string>
		<string>octmidib</string>
		<string>oscilikt</string>
		<string>outvalue</string>
		<string>pchmidib</string>
		<string>powoftwo</string>
		<string>prealloc</string>
		<string>pvinterp</string>
		<string>pvsadsyn</string>
		<string>pvscross</string>
		<string>pvsfread</string>
		<string>pvsmaska</string>
		<string>rireturn</string>
		<string>samphold</string>
		<string>schedule</string>
		<string>semitone</string>
		<string>sensekey</string>
		<string>setksmps</string>
		<string>sfinstr3</string>
		<string>sfinstrm</string>
		<string>sfplay3m</string>
		<string>sfpreset</string>
		<string>slider16</string>
		<string>slider32</string>
		<string>slider64</string>
		<string>slider8f</string>
		<string>soundout</string>
		<string>specaddm</string>
		<string>specdiff</string>
		<string>specdisp</string>
		<string>specfilt</string>
		<string>spechist</string>
		<string>specptrk</string>
		<string>specscal</string>
		<string>spectrum</string>
		<string>sprintks</string>
		<string>subinstr</string>
		<string>svfilter</string>
		<string>tablegpw</string>
		<string>tableikt</string>
		<string>tablemix</string>
		<string>tableseg</string>
		<string>tablewkt</string>
		<string>tablexkt</string>
		<string>tb0_init</string>
		<string>tb1_init</string>
		<string>tb2_init</string>
		<string>tb3_init</string>
		<string>tb4_init</string>
		<string>tb5_init</string>
		<string>tb6_init</string>
		<string>tb7_init</string>
		<string>tb8_init</string>
		<string>tb9_init</string>
		<string>tempoval</string>
		<string>vco2init</string>
		<string>vdelayxq</string>
		<string>vdelayxs</string>
		<string>vdelayxw</string>
		<string>vecdelay</string>
		<string>wgpluck2</string>
		<string>wterrain</string>
		<string>xscanmap</string>
		<string>zfilter2</string>
		<string>FLbutBank</string>
		<string>FLgetsnap</string>
		<string>FLpackEnd</string>
		<string>FLprintk2</string>
		<string>FLsetFont</string>
		<string>FLsetSize</string>
		<string>FLsetText</string>
		<string>FLsetsnap</string>
		<string>FLslidBnk</string>
		<string>FLtabsEnd</string>
		<string>dripwater</string>
		<string>eventname</string>
		<string>ktableseg</string>
		<string>noteondur</string>
		<string>osciliktp</string>
		<string>oscilikts</string>
		<string>pgmassign</string>
		<string>phasorbnk</string>
		<string>pitchamdf</string>
		<string>pvbufread</string>
		<string>readclock</string>
		<string>sandpaper</string>
		<string>scantable</string>
		<string>schedwhen</string>
		<string>sfinstr3m</string>
		<string>sfpassign</string>
		<string>slider16f</string>
		<string>slider32f</string>
		<string>slider64f</string>
		<string>sndwarpst</string>
		<string>soundoutc</string>
		<string>soundouts</string>
		<string>tablecopy</string>
		<string>tableigpw</string>
		<string>tableimix</string>
		<string>tablexseg</string>
		<string>tb10_init</string>
		<string>tb11_init</string>
		<string>tb12_init</string>
		<string>tb13_init</string>
		<string>tb14_init</string>
		<string>tb15_init</string>
		<string>timeinstk</string>
		<string>timeinsts</string>
		<string>vbap4move</string>
		<string>vbap8move</string>
		<string>vbapzmove</string>
		<string>vdelayxwq</string>
		<string>vdelayxws</string>
		<string>xscansmap</string>
		<string>FLgroupEnd</string>
		<string>FLloadsnap</string>
		<string>FLpack_end</string>
		<string>FLpanelEnd</string>
		<string>FLsavesnap</string>
		<string>FLsetAlign</string>
		<string>FLsetColor</string>
		<string>FLsetVal_i</string>
		<string>FLtabs_end</string>
		<string>filenchnls</string>
		<string>noteondur2</string>
		<string>scanhammer</string>
		<string>schedkwhen</string>
		<string>tableicopy</string>
		<string>tambourine</string>
		<string>vbap16move</string>
		<string>vbaplsinit</string>
		<string>wgbowedbar</string>
		<string>FLgroup_end</string>
		<string>FLpanel_end</string>
		<string>FLscrollEnd</string>
		<string>FLsetColor2</string>
		<string>mididefault</string>
		<string>midinoteoff</string>
		<string>sleighbells</string>
		<string>FLscroll_end</string>
		<string>subinstrinit</string>
		<string>FLsetPosition</string>
		<string>FLsetTextSize</string>
		<string>FLsetTextType</string>
		<string>midinoteoncps</string>
		<string>midinoteonkey</string>
		<string>midinoteonoct</string>
		<string>midinoteonpch</string>
		<string>midipitchbend</string>
		<string>schedwhenname</string>
		<string>FLsetTextColor</string>
		<string>schedkwhenname</string>
		<string>midicontrolchange</string>
		<string>midiprogramchange</string>
		<string>midipolyaftertouch</string>
		<string>midichannelaftertouch</string>
	</array>
	<key>keywordsCaseSensitive</key>
	<true/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>removeFromFunction</key>
	<string></string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>secondString</key>
	<string></string>
</dict>
</plist>
