<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autocompleteWords</key>
	<array/>
	<key>beginCommand</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string>/+</string>
	<key>beginInstruction</key>
	<string></string>
	<key>beginSecondMultiLineComment</key>
	<string>/*</string>
	<key>beginVariable</key>
	<string></string>
	<key>endCommand</key>
	<string></string>
	<key>endFirstMultiLineComment</key>
	<string>+/</string>
	<key>endInstruction</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string>*/</string>
	<key>endVariable</key>
	<string></string>
	<key>firstSingleLineComment</key>
	<string>//</string>
	<key>firstString</key>
	<string>"</string>
	<key>functionDefinition</key>
	<string></string>
	<key>removeFromFunction</key>
	<string></string>
	<key>keywords</key>
	<array>
		<string>abstract</string>
		<string>alias</string>
		<string>align</string>
		<string>asm</string>
		<string>auto</string>
		<string>body</string>
		<string>break</string>
		<string>case</string>
		<string>cast</string>
		<string>catch</string>
		<string>class</string>
		<string>const</string>
		<string>continue</string>
		<string>default</string>
		<string>delegate</string>
		<string>delete</string>
		<string>deprecated</string>
		<string>do</string>
		<string>else</string>
		<string>enum</string>
		<string>export</string>
		<string>false</string>
		<string>final</string>
		<string>finally</string>
		<string>for</string>
		<string>foreach</string>
		<string>function</string>
		<string>goto</string>
		<string>if</string>
		<string>in</string>
		<string>inout</string>
		<string>interface</string>
		<string>invariant</string>
		<string>new</string>
		<string>null</string>
		<string>override</string>
		<string>out</string>
		<string>private</string>
		<string>protected</string>
		<string>public</string>
		<string>return</string>
		<string>static</string>
		<string>struct</string>
		<string>super</string>
		<string>switch</string>
		<string>synchronized</string>
		<string>this</string>
		<string>throw</string>
		<string>true</string>
		<string>try</string>
		<string>template</string>
		<string>typedef</string>
		<string>union</string>
		<string>volatile</string>
		<string>while</string>
		<string>with</string>
		<string>module</string>
		<string>import</string>
		<string>void</string>
		<string>bit</string>
		<string>byte</string>
		<string>ubyte</string>
		<string>short</string>
		<string>ushort</string>
		<string>int</string>
		<string>uint</string>
		<string>long</string>
		<string>ulong</string>
		<string>cent</string>
		<string>ucent</string>
		<string>float</string>
		<string>double</string>
		<string>real</string>
		<string>ireal</string>
		<string>ifloat</string>
		<string>idouble</string>
		<string>creal</string>
		<string>cfloat</string>
		<string>cdouble</string>
		<string>char</string>
		<string>wchar</string>
		<string>dchar</string>
		<string>printf</string>
		<string>extern</string>
		<string>C</string>
		<string>D</string>
		<string>Windows</string>
		<string>Pascal</string>
		<string>debug</string>
		<string>assert</string>
		<string>version</string>
		<string>DigitalMars</string>
		<string>X86</string>
		<string>Win32</string>
		<string>linux</string>
		<string>LittleEndian</string>
		<string>BigEndian</string>
		<string>D_InlineAsm</string>
		<string>none</string>
		<string>unittest</string>
	</array>
	<key>keywordsCaseSensitive</key>
	<false/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>secondString</key>
	<string>'</string>
</dict>
</plist>
