<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginCommand</key>
	<string></string>
	<key>endCommand</key>
	<string></string>
	<key>beginInstruction</key>
	<string></string>
	<key>endInstruction</key>
	<string></string>
	<key>beginVariable</key>
	<string>&lt;</string>
	<key>endVariable</key>
	<string>&gt;</string>
	<key>firstString</key>
	<string>"</string>
	<key>secondString</key>
	<string>'</string>
	<key>firstSingleLineComment</key>
	<string>//</string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string>/*</string>
	<key>endFirstMultiLineComment</key>
	<string>*/</string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>functionDefinition</key>
	<string></string>
	<key>removeFromFunction</key>
	<string></string>
	<key>keywordsCaseSensitive</key>
	<false/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>keywords</key>
	<array>
		<string>afterwards</string>
		<string>above</string>
		<string>abstract</string>
		<string>below</string>
		<string>begin</string>
		<string>block</string>
		<string>by</string>
		<string>case</string>
		<string>class</string>
		<string>cleanup</string>
		<string>concrete</string>
		<string>constant</string>
		<string>create</string>
		<string>define</string>
		<string>domain</string>
		<string>else</string>
		<string>elseif</string>
		<string>end</string>
		<string>exception</string>
		<string>exclude</string>
		<string>export</string>
		<string>finally</string>
		<string>for</string>
		<string>from</string>
		<string>function</string>
		<string>functional</string>
		<string>generic</string>
		<string>handler</string>
		<string>if</string>
		<string>import</string>
		<string>in</string>
		<string>inherited</string>
		<string>inline</string>
		<string>instance</string>
		<string>interface</string>
		<string>library</string>
		<string>let</string>
		<string>local</string>
		<string>macro</string>
		<string>method</string>
		<string>open</string>
		<string>otherwise</string>
		<string>primary</string>
		<string>rename</string>
		<string>sealed</string>
		<string>select</string>
		<string>sideways</string>
		<string>signal</string>
		<string>singleton</string>
		<string>slot</string>
		<string>subclass</string>
		<string>then</string>
		<string>to</string>
		<string>unless</string>
		<string>until</string>
		<string>use</string>
		<string>variable</string>
		<string>virtual</string>
		<string>when</string>
		<string>while</string>
	</array>
	<key>autocompleteWords</key>
	<array>
	</array>
</dict>
</plist>
