<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>beginCommand</key>
    <string></string>
    <key>endCommand</key>
    <string></string>
    <key>beginInstruction</key>
    <string></string>
    <key>endInstruction</key>
    <string></string>
    <key>beginVariable</key>
    <string></string>
    <key>endVariable</key>
    <string></string>
    <key>firstString</key>
    <string>"</string>
    <key>secondString</key>
    <string>'</string>
    <key>firstSingleLineComment</key>
    <string>%</string>    
    <key>secondSingleLineComment</key>
    <string>%</string>
    <key>beginFirstMultiLineComment</key>
    <string>%</string>
    <key>endFirstMultiLineComment</key>
    <string>%</string>
    <key>beginSecondMultiLineComment</key>
    <string>%</string>
    <key>endSecondMultiLineComment</key>
    <string>%</string>
    <key>functionDefinition</key>
    <string>^[a-z]+.*\(.*\)\s*-></string>
    <key>removeFromFunction</key>
    <string></string>
    <key>keywordsCaseSensitive</key>
    <false/>
    <key>recolourKeywordIfAlreadyColoured</key>
    <true/>
    <key>keywords</key>
    <array>
        <string>module</string>
        <string>include</string>
        <string>compile</string>
        <string>author</string>
        <string>vsn</string>
        <string>behavior</string>
        <string>behaviour</string>
        <string>define</string>
        <string>record</string>
        <string>after</string>
        <string>and</string>
        <string>andalso</string>
        <string>band</string>
        <string>begin</string>
        <string>bnot</string>
        <string>bor</string>
        <string>bsi</string>
        <string>bsr</string>
        <string>case</string>
        <string>catch</string>
        <string>cond</string>
        <string>div</string>
        <string>end</string>
        <string>fun</string>
        <string>if</string>
        <string>let</string>
        <string>not</string>
        <string>of</string>
        <string>or</string>
        <string>orelse</string>
        <string>query</string>
        <string>receive</string>
        <string>rem</string>
        <string>try</string>
        <string>when</string>
        <string>xor</string>
    </array>
    <key>autocompleteWords</key>
    <array>
    </array>
</dict>
</plist>