<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginCommand</key>
	<string>{</string>
	<key>endCommand</key>
	<string>}</string>
	<key>beginInstruction</key>
	<string>&lt;?</string>
	<key>endInstruction</key>
	<string>?&gt;</string>
	<key>beginVariable</key>
	<string>$</string>
	<key>endVariable</key>
	<string> :;(){}=[]+-/,*!?%&amp;&gt;&lt;\</string>
	<key>firstString</key>
	<string>"</string>
	<key>secondString</key>
	<string>'</string>
	<key>firstSingleLineComment</key>
	<string>//</string>
	<key>secondSingleLineComment</key>
	<string>#</string>
	<key>beginFirstMultiLineComment</key>
	<string>/*</string>
	<key>endFirstMultiLineComment</key>
	<string>*/</string>
	<key>beginSecondMultiLineComment</key>
	<string>&lt;!--</string>
	<key>endSecondMultiLineComment</key>
	<string>--&gt;</string>
	<key>functionDefinition</key>
	<string>^\s*(static)?\s*(private|protected|public)?\s*(static)?\s*function\s+.*\n?\s*{</string>
	<key>removeFromFunction</key>
	<string>function </string>
	<key>keywordsCaseSensitive</key>
	<false/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<false/>
	<key>keywords</key>
	<array>
	      <string>case</string>
      <string>if</string>
      <string>while</string>
      <string>do</string>
      <string>for</string>
      <string>foreach</string>
      <string>switch</string>
      <string>delimiter</string>
      <string>run-once</string>
      <string>default</string>
      <string>set-block</string>
      <string>let</string>
      <string>append-block</string>
      <string>cache-block</string>
   
      <string>as</string>
      <string>break</string>
      <string>continue</string>
      <string>skip</string>
      <string>section-exclude</string>
      <string>section-include</string>
           <string>else</string>
        <string>elseif</string>
    
        <string>case</string>
        <string>if</string>
        <string>while</string>
        <string>do</string>
        <string>for</string>
        <string>foreach</string>
        <string>switch</string>
        <string>delimiter</string>
        <string>run-once</string>
        <string>default</string>
        <string>set-block</string>
        <string>section</string>
        <string>let</string>
        <string>append-block</string>
        <string>cache-block</string>
   
      <string> def </string>
      <string> undef </string>
      <string> set </string>
      <string> ldelim </string>
      <string> rdelim </string>
      <string> include </string>
 
        <!-- Debugging -->
        <string>debug_accumulator</string>
        <string>debug_timing_point</string>
        <string>debug_trace</string>
        <!-- Miscellaneous -->
        <string>cache-block</string>
        <string>fetch_alias</string>
        <string>include</string>
        <string>ldelim</string>
        <string>literal</string>
        <string>rdelim</string>
        <string>run-once</string>
        <!-- Variables -->
        <string>append-block</string>
        <string>def</string>
        <string>sequence</string>
        <string>set</string>
        <string>set-block</string>
        <string>undef</string>
        <!-- Visualization -->
        <string>attribute_edit_gui</string>
        <string>attribute_pdf_gui</string>
        <string>attribute_result_gui</string>
        <string>attribute_view_gui</string>
        <string>class_attribute_edit_gui</string>
        <string>class_attribute_view_gui</string>
        <string>collaboration_icon</string>
        <string>collaboration_participation_view</string>
        <string>collaboration_simple_message_view</string>
        <string>collaboration_view_gui</string>
        <string>content_pdf_gui</string>
        <string>content_version_view_gui</string>
        <string>content_view_gui</string>
        <string>event_edit_gui</string>
        <string>node_view_gui</string>
        <string>related_view_gui</string>
        <string>shop_account_view_gui</string>
        <string>tool_bar</string>
        <!-- class -->
        <string>attribute_list</string>
        <string>latest_list</string>
        <string>list</string>
        <string>override_template_list</string>
        <!-- collaboration -->
        <string>group_tree</string>
        <string>item_count</string>
        <string>item_list</string>
        <string>message_list</string>
        <string>participant</string>
        <string>participant_list</string>
        <string>participant_map</string>
        <string>tree_count</string>
        <!-- content -->
        <string>access</string>
        <string>bookmarks</string>
        <string>calendar</string>
        <string>can_instantiate_classes</string>
        <string>can_instantiate_class_list</string>
        <string>class</string>
        <string>class_attribute</string>
        <string>class_attribute_list</string>
        <string>collected_info_collection</string>
        <string>collected_info_count</string>
        <string>collected_info_count_list</string>
        <string>contentobject_attributes</string>
        <string>draft_count</string>
        <string>draft_version_list</string>
        <string>keyword</string>
        <string>keyword_count</string>
        <string>list</string>
        <string>list_count</string>
        <string>locale_list</string>
        <string>navigation_part</string>
        <string>navigation_parts</string>
        <string>node</string>
        <string>non_translation_list</string>
        <string>object</string>
        <string>object_by_attribute</string>
        <string>object_count_by_user_id</string>
        <string>pending_count</string>
        <string>pending_list</string>
        <string>recent</string>
        <string>related_objects</string>
        <string>related_objects_count</string>
        <string>reverse_related_objects</string>
        <string>reverse_related_objects_count</string>
        <string>same_classattribute_node</string>
        <string>search</string>
        <string>section_list</string>
        <string>tipafriend_top_list</string>
        <string>translation_list</string>
        <string>trash_count</string>
        <string>trash_object_list</string>
        <string>tree</string>
        <string>tree_count</string>
        <string>version</string>
        <string>version_count</string>
        <string>version_list</string>
        <string>view_top_list</string>
        <!-- layout -->
        <string>sitedesign_list</string>
        <!-- notification -->
        <string>digest_handlers</string>
        <string>digest_items</string>
        <string>event_content</string>
        <string>handler_list</string>
        <string>subscribed_nodes</string>
        <string>subscribed_nodes_count</string>
        <!-- package -->
        <string>can_create</string>
        <string>can_edit</string>
        <string>can_export</string>
        <string>can_import</string>
        <string>can_install</string>
        <string>can_list</string>
        <string>can_read</string>
        <string>can_remove</string>
        <string>dependent_list</string>
        <string>item</string>
        <string>list</string>
        <string>maintainer_role_list</string>
        <string>repository_list</string>
        <!-- section -->
        <string>object</string>
        <string>object_list</string>
        <string>object_list_count</string>
        <string>roles</string>
        <string>user_roles</string>
        <!-- shop -->
        <string>basket</string>
        <string>best_sell_list</string>
        <string>related_purchase</string>
        <string>wish_list</string>
        <string>wish_list_count</string>
        <!-- url -->
        <string>list</string>
        <string>list_count</string>
        <!-- user -->
        <string>anonymous_count</string>
        <string>current_user</string>
        <string>has_access_to</string>
        <string>is_logged_in</string>
        <string>logged_in_count</string>
        <string>logged_in_list</string>
        <string>logged_in_users</string>
        <string>member_of</string>
        <string>user_role</string>

        <!-- Array -->
        <string>append</string>
        <string>array</string>
        <string>array_sum</string>
        <string>begins_with</string>
        <string>compare</string>
        <string>contains</string>
        <string>ends_with</string>
        <string>explode</string>
        <string>extract</string>
        <string>extract_left</string>
        <string>extract_right</string>
        <string>hash</string>
        <string>implode</string>
        <string>insert</string>
        <string>merge</string>
        <string>prepend</string>
        <string>remove</string>
        <string>repeat</string>
        <string>reverse</string>
        <string>unique</string>
        <!-- Data and information extraction -->
        <string>currentdate</string>
        <string>ezhttp</string>
        <string>ezini</string>
        <string>ezpreference</string>
        <string>ezsys</string>
        <string>fetch</string>
        <string>module_params</string>
        <!-- Formatting and internationalization -->
        <string>datetime</string>
        <string>i18n</string>
        <string>l10n</string>
        <string>si</string>
        <!-- Images -->
        <string>image</string>
        <string>imagefile</string>
        <string>texttoimage</string>
        <!-- Logical operations -->
        <string>and</string>
        <string>choose</string>
        <string>cond</string>
        <string>eq</string>
        <string>false</string>
        <string>first_set</string>
        <string>ge</string>
        <string>gt</string>
        <string>le</string>
        <string>lt</string>
        <string>ne</string>
        <string>not</string>
        <string>null</string>
        <string>or</string>
        <string>true</string>
        <!-- Mathematics -->
        <string>abs</string>
        <string>ceil</string>
        <string>dec</string>
        <string>div</string>
        <string>floor</string>
        <string>inc</string>
        <string>max</string>
        <string>min</string>
        <string>mod</string>
        <string>mul</string>
        <string>round</string>
        <string>sub</string>
        <string>sum</string>
        <!-- Miscellaneous -->
        <string>action_icon</string>
        <string>attribute</string>
        <string>classgroup_icon</string>
        <string>class_icon</string>
        <string>content_structure_tree</string>
        <string>ezpackage</string>
        <string>flag_icon</string>
        <string>gettime</string>
        <string>icon_info</string>
        <string>makedate</string>
        <string>maketime</string>
        <string>mimetype_icon</string>
        <string>month_overview</string>
        <string>pdf</string>
        <string>roman</string>
        <string>topmenu</string>
        <string>treemenu</string>
        <!-- Strings -->
        <string>append</string>
        <string>autolink</string>
        <string>begins_with</string>
        <string>break</string>
        <string>chr</string>
        <string>compare</string>
        <string>concat</string>
        <string>contains</string>
        <string>count_chars</string>
        <string>count_words</string>
        <string>crc32</string>
        <string>downcase</string>
        <string>ends_with</string>
        <string>explode</string>
        <string>extract</string>
        <string>extract left</string>
        <string>extract_right</string>
        <string>indent</string>
        <string>insert</string>
        <string>md5</string>
        <string>nl2br</string>
        <string>ord</string>
        <string>pad</string>
        <string>prepend</string>
        <string>remove</string>
        <string>repeat</string>
        <string>reverse</string>
        <string>rot13</string>
        <string>shorten</string>
        <string>simpletags</string>
        <string>simplify</string>
        <string>trim</string>
        <string>upcase</string>
        <string>upfirst</string>
        <string>upword</string>
        <string>wash</string>
        <string>wordtoimage</string>
        <string>wrap</string>
        <!-- URLs -->
        <string>exturl</string>
        <string>ezdesign</string>
        <string>ezimage</string>
        <string>ezroot</string>
        <string>ezurl</string>
        <!-- Variable and type handling -->
        <string>count</string>
        <string>float</string>
        <string>get_class</string>
        <string>get_type</string>
        <string>int</string>
        <string>is_array</string>
        <string>is_boolean</string>
        <string>is_class</string>
        <string>is_float</string>
        <string>is_integer</string>
        <string>is_null</string>
        <string>is_numeric</string>
        <string>is_object</string>
        <string>is_set</string>
        <string>is_string</string>
        <string>is_unset</string>
	</array>
	<key>autocompleteWords</key>
	<array>
		      <string>case</string>
      <string>if</string>
      <string>while</string>
      <string>do</string>
      <string>for</string>
      <string>foreach</string>
      <string>switch</string>
      <string>delimiter</string>
      <string>run-once</string>
      <string>default</string>
      <string>set-block</string>
      <string>let</string>
      <string>append-block</string>
      <string>cache-block</string>
   
      <string>as</string>
      <string>break</string>
      <string>continue</string>
      <string>skip</string>
      <string>section-exclude</string>
      <string>section-include</string>
           <string>else</string>
        <string>elseif</string>
    
        <string>case</string>
        <string>if</string>
        <string>while</string>
        <string>do</string>
        <string>for</string>
        <string>foreach</string>
        <string>switch</string>
        <string>delimiter</string>
        <string>run-once</string>
        <string>default</string>
        <string>set-block</string>
        <string>section</string>
        <string>let</string>
        <string>append-block</string>
        <string>cache-block</string>
   
      <string> def </string>
      <string> undef </string>
      <string> set </string>
      <string> ldelim </string>
      <string> rdelim </string>
      <string> include </string>
 
        <!-- Debugging -->
        <string>debug_accumulator</string>
        <string>debug_timing_point</string>
        <string>debug_trace</string>
        <!-- Miscellaneous -->
        <string>cache-block</string>
        <string>fetch_alias</string>
        <string>include</string>
        <string>ldelim</string>
        <string>literal</string>
        <string>rdelim</string>
        <string>run-once</string>
        <!-- Variables -->
        <string>append-block</string>
        <string>def</string>
        <string>sequence</string>
        <string>set</string>
        <string>set-block</string>
        <string>undef</string>
        <!-- Visualization -->
        <string>attribute_edit_gui</string>
        <string>attribute_pdf_gui</string>
        <string>attribute_result_gui</string>
        <string>attribute_view_gui</string>
        <string>class_attribute_edit_gui</string>
        <string>class_attribute_view_gui</string>
        <string>collaboration_icon</string>
        <string>collaboration_participation_view</string>
        <string>collaboration_simple_message_view</string>
        <string>collaboration_view_gui</string>
        <string>content_pdf_gui</string>
        <string>content_version_view_gui</string>
        <string>content_view_gui</string>
        <string>event_edit_gui</string>
        <string>node_view_gui</string>
        <string>related_view_gui</string>
        <string>shop_account_view_gui</string>
        <string>tool_bar</string>
        <!-- class -->
        <string>attribute_list</string>
        <string>latest_list</string>
        <string>list</string>
        <string>override_template_list</string>
        <!-- collaboration -->
        <string>group_tree</string>
        <string>item_count</string>
        <string>item_list</string>
        <string>message_list</string>
        <string>participant</string>
        <string>participant_list</string>
        <string>participant_map</string>
        <string>tree_count</string>
        <!-- content -->
        <string>access</string>
        <string>bookmarks</string>
        <string>calendar</string>
        <string>can_instantiate_classes</string>
        <string>can_instantiate_class_list</string>
        <string>class</string>
        <string>class_attribute</string>
        <string>class_attribute_list</string>
        <string>collected_info_collection</string>
        <string>collected_info_count</string>
        <string>collected_info_count_list</string>
        <string>contentobject_attributes</string>
        <string>draft_count</string>
        <string>draft_version_list</string>
        <string>keyword</string>
        <string>keyword_count</string>
        <string>list</string>
        <string>list_count</string>
        <string>locale_list</string>
        <string>navigation_part</string>
        <string>navigation_parts</string>
        <string>node</string>
        <string>non_translation_list</string>
        <string>object</string>
        <string>object_by_attribute</string>
        <string>object_count_by_user_id</string>
        <string>pending_count</string>
        <string>pending_list</string>
        <string>recent</string>
        <string>related_objects</string>
        <string>related_objects_count</string>
        <string>reverse_related_objects</string>
        <string>reverse_related_objects_count</string>
        <string>same_classattribute_node</string>
        <string>search</string>
        <string>section_list</string>
        <string>tipafriend_top_list</string>
        <string>translation_list</string>
        <string>trash_count</string>
        <string>trash_object_list</string>
        <string>tree</string>
        <string>tree_count</string>
        <string>version</string>
        <string>version_count</string>
        <string>version_list</string>
        <string>view_top_list</string>
        <!-- layout -->
        <string>sitedesign_list</string>
        <!-- notification -->
        <string>digest_handlers</string>
        <string>digest_items</string>
        <string>event_content</string>
        <string>handler_list</string>
        <string>subscribed_nodes</string>
        <string>subscribed_nodes_count</string>
        <!-- package -->
        <string>can_create</string>
        <string>can_edit</string>
        <string>can_export</string>
        <string>can_import</string>
        <string>can_install</string>
        <string>can_list</string>
        <string>can_read</string>
        <string>can_remove</string>
        <string>dependent_list</string>
        <string>item</string>
        <string>list</string>
        <string>maintainer_role_list</string>
        <string>repository_list</string>
        <!-- section -->
        <string>object</string>
        <string>object_list</string>
        <string>object_list_count</string>
        <string>roles</string>
        <string>user_roles</string>
        <!-- shop -->
        <string>basket</string>
        <string>best_sell_list</string>
        <string>related_purchase</string>
        <string>wish_list</string>
        <string>wish_list_count</string>
        <!-- url -->
        <string>list</string>
        <string>list_count</string>
        <!-- user -->
        <string>anonymous_count</string>
        <string>current_user</string>
        <string>has_access_to</string>
        <string>is_logged_in</string>
        <string>logged_in_count</string>
        <string>logged_in_list</string>
        <string>logged_in_users</string>
        <string>member_of</string>
        <string>user_role</string>

        <!-- Array -->
        <string>append</string>
        <string>array</string>
        <string>array_sum</string>
        <string>begins_with</string>
        <string>compare</string>
        <string>contains</string>
        <string>ends_with</string>
        <string>explode</string>
        <string>extract</string>
        <string>extract_left</string>
        <string>extract_right</string>
        <string>hash</string>
        <string>implode</string>
        <string>insert</string>
        <string>merge</string>
        <string>prepend</string>
        <string>remove</string>
        <string>repeat</string>
        <string>reverse</string>
        <string>unique</string>
        <!-- Data and information extraction -->
        <string>currentdate</string>
        <string>ezhttp</string>
        <string>ezini</string>
        <string>ezpreference</string>
        <string>ezsys</string>
        <string>fetch</string>
        <string>module_params</string>
        <!-- Formatting and internationalization -->
        <string>datetime</string>
        <string>i18n</string>
        <string>l10n</string>
        <string>si</string>
        <!-- Images -->
        <string>image</string>
        <string>imagefile</string>
        <string>texttoimage</string>
        <!-- Logical operations -->
        <string>and</string>
        <string>choose</string>
        <string>cond</string>
        <string>eq</string>
        <string>false</string>
        <string>first_set</string>
        <string>ge</string>
        <string>gt</string>
        <string>le</string>
        <string>lt</string>
        <string>ne</string>
        <string>not</string>
        <string>null</string>
        <string>or</string>
        <string>true</string>
        <!-- Mathematics -->
        <string>abs</string>
        <string>ceil</string>
        <string>dec</string>
        <string>div</string>
        <string>floor</string>
        <string>inc</string>
        <string>max</string>
        <string>min</string>
        <string>mod</string>
        <string>mul</string>
        <string>round</string>
        <string>sub</string>
        <string>sum</string>
        <!-- Miscellaneous -->
        <string>action_icon</string>
        <string>attribute</string>
        <string>classgroup_icon</string>
        <string>class_icon</string>
        <string>content_structure_tree</string>
        <string>ezpackage</string>
        <string>flag_icon</string>
        <string>gettime</string>
        <string>icon_info</string>
        <string>makedate</string>
        <string>maketime</string>
        <string>mimetype_icon</string>
        <string>month_overview</string>
        <string>pdf</string>
        <string>roman</string>
        <string>topmenu</string>
        <string>treemenu</string>
        <!-- Strings -->
        <string>append</string>
        <string>autolink</string>
        <string>begins_with</string>
        <string>break</string>
        <string>chr</string>
        <string>compare</string>
        <string>concat</string>
        <string>contains</string>
        <string>count_chars</string>
        <string>count_words</string>
        <string>crc32</string>
        <string>downcase</string>
        <string>ends_with</string>
        <string>explode</string>
        <string>extract</string>
        <string>extract left</string>
        <string>extract_right</string>
        <string>indent</string>
        <string>insert</string>
        <string>md5</string>
        <string>nl2br</string>
        <string>ord</string>
        <string>pad</string>
        <string>prepend</string>
        <string>remove</string>
        <string>repeat</string>
        <string>reverse</string>
        <string>rot13</string>
        <string>shorten</string>
        <string>simpletags</string>
        <string>simplify</string>
        <string>trim</string>
        <string>upcase</string>
        <string>upfirst</string>
        <string>upword</string>
        <string>wash</string>
        <string>wordtoimage</string>
        <string>wrap</string>
        <!-- URLs -->
        <string>exturl</string>
        <string>ezdesign</string>
        <string>ezimage</string>
        <string>ezroot</string>
        <string>ezurl</string>
        <!-- Variable and type handling -->
        <string>count</string>
        <string>float</string>
        <string>get_class</string>
        <string>get_type</string>
        <string>int</string>
        <string>is_array</string>
        <string>is_boolean</string>
        <string>is_class</string>
        <string>is_float</string>
        <string>is_integer</string>
        <string>is_null</string>
        <string>is_numeric</string>
        <string>is_object</string>
        <string>is_set</string>
        <string>is_string</string>
        <string>is_unset</string>	</array>
</dict>
</plist>