<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginCommand</key>
	<string></string>
	<key>endCommand</key>
	<string></string>
	<key>beginInstruction</key>
	<string></string>
	<key>endInstruction</key>
	<string></string>
	<key>beginVariable</key>
	<string></string>
	<key>endVariable</key>
	<string></string>
	<key>firstString</key>
	<string>&apos;</string>
	<key>secondString</key>
	<string></string>
	<key>firstSingleLineComment</key>
	<string></string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string>&quot;</string>
	<key>endFirstMultiLineComment</key>
	<string>&quot;</string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>functionDefinition</key>
	<string>^(-|\+).*\n?\s*\{</string>
	<key>removeFromFunction</key>
	<string></string>
	<key>keywordsCaseSensitive</key>
	<false/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>keywords</key>
	<array>
		<string>self</string>
		<string>super</string>
		<string>do:</string>
		<string>to:</string>
		<string>count</string>
		<string>at</string>
		<string>insert</string>
		<string>put</string>
		<string>removeAt</string>
		<string>true</string>
		<string>false</string>
		<string>YES</string>
		<string>NO</string>
		<string>nil</string>
		<string>with:</string>
		<string>inject:</string>
		<string>into:</string>
		<string>ifFalse</string>
		<string>ifTrue</string>
		<string>whileTrue</string>
		<string>whileFalse</string>
		<string>asSortedCollection:</string>
		<string>collect:</string>
		<string>select:</string>
		<string>reject:</string>
		<string>allSatisfy:</string>
		<string>GSMime</string>
		<string>GSXML</string>
		<string>NSAffineTransform</string>
		<string>NSAriver</string>
		<string>NSArray</string>
		<string>NSAttributedString</string>
		<string>NSAutoreleasePool</string>
		<string>NSBundle</string>
		<string>NSByteOrder</string>
		<string>NSCalendarDate</string>
		<string>NSaracterSet</string>
		<string>NSClassDescription</string>
		<string>NSCoder</string>
		<string>NSComparisonPredicate</string>
		<string>NSCompoundPredicate</string>
		<string>NSConnection</string>
		<string>NSData</string>
		<string>NSDateFormatter</string>
		<string>NSDate</string>
		<string>NSDebug</string>
		<string>NSDecimal</string>
		<string>NSDecimalNumber</string>
		<string>NSDictionary</string>
		<string>NSDistantObject</string>
		<string>NSDistributedLock</string>
		<string>NSDistributedNotificationCenter</string>
		<string>NSEnumerator</string>
		<string>NSError</string>
		<string>NSErrorRecoveryAttempting</string>
		<string>NSException</string>
		<string>NSExpression</string>
		<string>NSFileHandle</string>
		<string>NSFileManager</string>
		<string>NSFormatter</string>
		<string>NSGeometry</string>
		<string>NSHashTable</string>
		<string>NSHost</string>
		<string>NSHTTPCookie</string>
		<string>NSHTTPCookieStorage</string>
		<string>NSIndexPath</string>
		<string>NSIndexSet</string>
		<string>NSInvocation</string>
		<string>NSKeyedAriver</string>
		<string>NSKeyValueCoding</string>
		<string>NSKeyValueObserving</string>
		<string>NSLock</string>
		<string>NSMapTable</string>
		<string>NSMethodSignature</string>
		<string>NSNetServices</string>
		<string>NSNotification</string>
		<string>NSNotificationQueue</string>
		<string>NSNull</string>
		<string>NSNumberFormatter</string>
		<string>NSObjCRuntime</string>
		<string>NSObject</string>
		<string>NSPaUtilities</string>
		<string>NSPortCoder</string>
		<string>NSPort</string>
		<string>NSPortMessage</string>
		<string>NSPortNameServer</string>
		<string>NSPredicate</string>
		<string>NSProcessInfo</string>
		<string>NSPropertyList</string>
		<string>NSProtocolecker</string>
		<string>NSProxy</string>
		<string>NSRange</string>
		<string>NSRunLoop</string>
		<string>NSScanner</string>
		<string>NSSerialization</string>
		<string>NSSet</string>
		<string>NSSortDescriptor</string>
		<string>NSSpellServer</string>
		<string>NSStream</string>
		<string>NSString</string>
		<string>NSTask</string>
		<string>NSRead</string>
		<string>NSTimer</string>
		<string>NSTimeZone</string>
		<string>NSUndoManager</string>
		<string>NSURLAuenticationallenge</string>
		<string>NSURLCae</string>
		<string>NSURLConnection</string>
		<string>NSURLCredential</string>
		<string>NSURLCredentialStorage</string>
		<string>NSURLDownload</string>
		<string>NSURLError</string>
		<string>NSURL</string>
		<string>NSURLHandle</string>
		<string>NSURLProtectionSpace</string>
		<string>NSURLProtocol</string>
		<string>NSURLRequest</string>
		<string>NSURLResponse</string>
		<string>NSUserDefaults</string>
		<string>NSUtilities</string>
		<string>NSValue</string>
		<string>NSValueTransformer</string>
		<string>NSXMLParser</string>
		<string>NSZone</string>
	</array>
	<key>autocompleteWords</key>
	<array/>
</dict>
</plist>
