<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginCommand</key>
	<string></string>
	<key>endCommand</key>
	<string></string>
	<key>beginInstruction</key>
	<string></string>
	<key>endInstruction</key>
	<string></string>
	<key>beginVariable</key>
	<string></string>
	<key>endVariable</key>
	<string></string>
	<key>firstString</key>
	<string>"</string>
	<key>secondString</key>
	<string>'</string>
	<key>firstSingleLineComment</key>
	<string>!</string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string></string>
	<key>endFirstMultiLineComment</key>
	<string></string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>functionDefinition</key>
	<string>^\s*(function|subroutine)\s+\w+</string>
	<key>removeFromFunction</key>
	<string>subroutine </string>
	<key>keywordsCaseSensitive</key>
	<false/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>keywords</key>
	<array>
		<string>common</string>
		<string>continue</string>
		<string>block</string>
		<string>data</string>
		<string>date</string>
		<string>function</string>
		<string>include</string>
		<string>parameter</string>
		<string>implicit</string>
		<string>none</string>
		<string>equivalence</string>
		<string>if</string>
		<string>then</string>
		<string>else</string>
		<string>elseif</string>
		<string>endif</string>
		<string>go</string>
		<string>to</string>
		<string>goto</string>
		<string>program</string>
		<string>subroutine</string>
		<string>end</string>
		<string>call</string>
		<string>while</string>
		<string>cycle</string>
		<string>do</string>
		<string>enddo</string>
		<string>for</string>
		<string>break</string>
		<string>pause</string>
		<string>return</string>
		<string>stop</string>
		<string>access</string>
		<string>backspace</string>
		<string>close</string>
		<string>inquire</string>
		<string>open</string>
		<string>print</string>
		<string>read</string>
		<string>rewind</string>
		<string>write</string>
		<string>format</string>
		<string>abs</string>
		<string>acos</string>
		<string>aimag</string>
		<string>aint</string>
		<string>alog</string>
		<string>alog10</string>
		<string>amax0</string>
		<string>amax1</string>
		<string>amin0</string>
		<string>amin1</string>
		<string>amod</string>
		<string>anint</string>
		<string>aprime</string>
		<string>asin</string>
		<string>atan</string>
		<string>atan2</string>
		<string>acos</string>
		<string>cabs</string>
		<string>cexp</string>
		<string>clog</string>
		<string>conjg</string>
		<string>cos</string>
		<string>cosh</string>
		<string>ccos</string>
		<string>csin</string>
		<string>csqrt</string>
		<string>dabs</string>
		<string>dacos</string>
		<string>dasin</string>
		<string>datan</string>
		<string>datan2</string>
		<string>dconjg</string>
		<string>dcos</string>
		<string>dcosh</string>
		<string>dfloat</string>
		<string>ddmim</string>
		<string>dexp</string>
		<string>dim</string>
		<string>dint</string>
		<string>dlog</string>
		<string>dlog10</string>
		<string>dmax1</string>
		<string>dmin1</string>
		<string>dmod</string>
		<string>dnint</string>
		<string>dsign</string>
		<string>dsin</string>
		<string>dsinh</string>
		<string>dsqrt</string>
		<string>dtan</string>
		<string>dtanh</string>
		<string>exp</string>
		<string>iabs</string>
		<string>idim</string>
		<string>index</string>
		<string>isign</string>
		<string>len</string>
		<string>log</string>
		<string>log10</string>
		<string>max</string>
		<string>max0</string>
		<string>max1</string>
		<string>min</string>
		<string>min0</string>
		<string>min1</string>
		<string>mod</string>
		<string>rand</string>
		<string>sign</string>
		<string>sin</string>
		<string>sinh</string>
		<string>sqrt</string>
		<string>tan</string>
		<string>tanh</string>
		<string>character</string>
		<string>complex</string>
		<string>double</string>
		<string>precision</string>
		<string>real</string>
		<string>real*8</string>
		<string>integer</string>
		<string>logical</string>
		<string>dimension</string>
		<string>external</string>
		<string>intrinsic</string>
		<string>save</string>
		<string>char</string>
		<string>cmplx</string>
		<string>dble</string>
		<string>dcmplx</string>
		<string>float</string>
		<string>ichar</string>
		<string>idint</string>
		<string>ifix</string>
		<string>int</string>
		<string>sngl</string>
		<string>use</string>
		<string>module</string>
		<string>endmodule</string>
		<string>interface</string>
		<string>endinterface</string>
		<string>contains</string>
		<string>type</string>
		<string>endtype</string>
		<string>allocate</string>
		<string>deallocate</string>
		<string>allocatable</string>
		<string>private</string>
		<string>intent</string>
		<string>in</string>
		<string>out</string>
		<string>inout</string>
		<string>pointer</string>
		<string>target</string>
		<string>select</string>
		<string>endselect</string>
		<string>case</string>
		<string>endcase</string>
		<string>recursive</string>
		<string>nullify</string>
		<string>endfunction</string>
		<string>only</string>
		<string>public</string>
		<string>exit</string>
	</array>
	<key>autocompleteWords</key>
	<array>
	</array>
</dict>
</plist>
