<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginCommand</key>
	<string></string>
	<key>endCommand</key>
	<string></string>
	<key>beginInstruction</key>
	<string></string>
	<key>endInstruction</key>
	<string></string>
	<key>beginVariable</key>
	<string></string>
	<key>endVariable</key>
	<string></string>
	<key>firstString</key>
	<string>"</string>
	<key>firstSingleLineComment</key>
	<string>//</string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string>/*</string>
	<key>endFirstMultiLineComment</key>
	<string>*/</string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>functionDefinition</key>
	<string>^\s*.*\(.*\)\n?\s*{</string>
	<key>removeFromFunction</key>
	<string></string>
	<key>keywordsCaseSensitive</key>
	<true/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>keywords</key>
	<array>
		<string>adaptmesh</string>
		<string>Cmatrix</string>
		<string>R3</string>
		<string>bool</string>
		<string>border</string>
		<string>break</string>
		<string>buildmesh</string>
		<string>cin</string>
		<string>complex</string>
		<string>continue</string>
		<string>cout</string>
		<string>element</string>
		<string>else</string>
		<string>end</string>
		<string>fespace</string>
		<string>for</string>
		<string>func</string>
		<string>if</string>
		<string>ifstream</string>
		<string>include</string>	
		<string>int</string>
		<string>intalledge</string>		
		<string>load</string>
		<string>macro</string>
		<string>matrix</string>
		<string>mesh</string>
		<string>movemesh</string>
		<string>ofstream</string>
		<string>namespace</string>
		<string>plot</string>
		<string>problem</string>
		<string>real</string>
		<string>return</string>
		<string>savemesh</string>
		<string>solve</string>
		<string>string</string>
		<string>vertex</string>
		<string>varf</string>
		<string>while</string>	
		<string>int1d</string>		
		<string>int2d</string>
		<string>on</string>	
		<string>square</string>	
		<string>dx</string>	
		<string>dy</string>	
		<string>convect</string>
		<string>jump</string>
		<string>mean</string>
		<string>wait</string>
		<string>ps</string>		
		<string>solver</string>		
		<string>CG</string>		
		<string>LU</string>		
		<string>UMFPACK</string>		
		<string>factorize</string>		
		<string>init</string>		
		<string>endl</string>		
		<string>x</string>		
		<string>y</string>		
		<string>z</string>
		<string>pi</string>		
		<string>i</string>		
		<string>sin</string>		
		<string>cos</string>		
		<string>tan</string>		
		<string>atan</string>		
		<string>asin</string>		
		<string>acos</string>		
		<string>cotan</string>		
		<string>sinh</string>		
		<string>cosh</string>		
		<string>tanh</string>		
		<string>cotanh</string>		
		<string>exp</string>		
		<string>log</string>		
		<string>log10</string>		
		<string>sqrt</string>		
		<string>abs</string>		
		<string>max</string>		
		<string>min</string>
		<string>nbvx</string>
		<string>label</string>
		<string>region</string>
		<string>value</string>
		<string>set</string>	
		<string>fill</string>
		<string>true</string>
		<string>false</string>
		<string>trunc</string>
		<string>triangulate</string>
		<string>splitmesh</string>
		<string>savemesh</string>
		<string>region</string>
		<string>readmesh</string>
		<string>randreal1</string>
		<string>randreal2</string>			
		<string>randreal3</string>
		<string>randint31</string>				
		<string>randint32</string>						
		<string>randres53</string>	
		<string>polar</string>	
		<string>pow</string>
		<string>on</string>																				
	</array>
	<key>autocompleteWords</key>
	<array>
	</array>
</dict>
</plist>