<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
<!--
; //////////////////////////////////////////////////////////////////
; //                                                              //
; //  GEDCOM definition file for Smultron.                        //
; //  Based on:                                                   //
; //  ------------------                                          //
; //  Textpad 4 Syntax definition file                            //
; //  GEDCOM 5.5 tag definitions                                  //
; //  Written by Warwick Annear, Linear Enterprises Ltd           //
; //  annear@xtra.co.nz                                           //
; //  18/04/2004                                                  //
; //  ------------------                                          //
; //                                                              //
; // @version   2008-05-19                                        //
; // @author    Alexander Willner (mail@alexanderwillner.de)      //
; //                                                              //
; //////////////////////////////////////////////////////////////////
-->
	<key>beginCommand</key>
	<string></string>
	<key>endCommand</key>
	<string></string>
	<key>beginInstruction</key>
	<string></string>
	<key>endInstruction</key>
	<string></string>
	<key>firstString</key>
	<string>"</string>
	<key>secondString</key>
	<string>'</string>
	<key>firstSingleLineComment</key>
	<string></string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string></string>
	<key>endFirstMultiLineComment</key>
	<string></string>
	<key>functionDefinition</key>
	<string></string>
	<key>removeFromFunction</key>
	<string></string>
	<key>keywordsCaseSensitive</key>
	<true/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
    <key>keywords</key>
	<array>
		<string>_UID</string>
		<string>ABBR</string>
		<string>ADDR</string>
		<string>ADR1</string>
		<string>ADR2</string>
		<string>ADOP</string>
		<string>AFN</string>
		<string>AGE</string>
		<string>AGNC</string>
		<string>ALIA</string>
		<string>ANCE</string>
		<string>ANCI</string>
		<string>ANUL</string>
		<string>ASSO</string>
		<string>AUTH</string>
		<string>BAPL</string>
		<string>BAPM</string>
		<string>BARM</string>
		<string>BASM</string>
		<string>BIRT</string>
		<string>BLES</string>
		<string>BLOB</string>
		<string>BURI</string>
		<string>CALN</string>
		<string>CAST</string>
		<string>CAUS</string>
		<string>CENS</string>
		<string>CHAN</string>
		<string>CHAR</string>
		<string>CHIL</string>
		<string>CHR</string>
		<string>CHRA</string>
		<string>CITY</string>
		<string>CONC</string>
		<string>CONF</string>
		<string>CONL</string>
		<string>CONT</string>
		<string>COPR</string>
		<string>CORP</string>
		<string>CREM</string>
		<string>CTRY</string>
		<string>DATA</string>
		<string>DATE</string>
		<string>DEAT</string>
		<string>DESC</string>
		<string>DESI</string>
		<string>DEST</string>
		<string>DIV</string>
		<string>DIVF</string>
		<string>DSCR</string>
		<string>EDUC</string>
		<string>EMAIL</string>
		<string>EMIG</string>
		<string>ENDL</string>
		<string>ENGA</string>
		<string>EVEN</string>
		<string>FAM</string>
		<string>FAMC</string>
		<string>FAMF</string>
		<string>FAMS</string>
		<string>FCOM</string>
		<string>FILE</string>
		<string>FORM</string>
		<string>GEDC</string>
		<string>GIVN</string>
		<string>GRAD</string>
		<string>HEAD</string>
		<string>HUSB</string>
		<string>IDNO</string>
		<string>IMMI</string>
		<string>INDI</string>
		<string>INFL</string>
		<string>LANG</string>
		<string>LEGA</string>
		<string>MARB</string>
		<string>MARC</string>
		<string>MARL</string>
		<string>MARR</string>
		<string>MARS</string>
		<string>MEDI</string>
		<string>NAME</string>
		<string>NATI</string>
		<string>NATU</string>
		<string>NCHI</string>
		<string>NICK</string>
		<string>NMR</string>
		<string>NOTE</string>
		<string>NPFX</string>
		<string>NSFX</string>
		<string>OBJE</string>
		<string>OCCU</string>
		<string>ORDI</string>
		<string>ORDN</string>
		<string>PAGE</string>
		<string>PEDI</string>
		<string>PHON</string>
		<string>PLAC</string>
		<string>POST</string>
		<string>PROB</string>
		<string>PROP</string>
		<string>PUBL</string>
		<string>QUAY</string>
		<string>REFN</string>
		<string>RELA</string>
		<string>RELI</string>
		<string>REPO</string>
		<string>RESI</string>
		<string>RESN</string>
		<string>RETI</string>
		<string>RFN</string>
		<string>RIN</string>
		<string>ROLE</string>
		<string>SEX</string>
		<string>SLGC</string>
		<string>SLGS</string>
		<string>SOUR</string>
		<string>SPFX</string>
		<string>SSN</string>
		<string>STAE</string>
		<string>STAT</string>
		<string>SUBM</string>
		<string>SUBN</string>
		<string>SURN</string>
		<string>TEMP</string>
		<string>TEXT</string>
		<string>TIME</string>
		<string>TITL</string>
		<string>TRLR</string>
		<string>TYPE</string>
		<string>VERS</string>
		<string>WIFE</string>
		<string>WILL</string>
    </array>
    <key>autocompleteWords</key>
	<array>
	</array>
</dict>
</plist>