<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginCommand</key>
	<string></string>
	<key>endCommand</key>
	<string></string>
	<key>beginInstruction</key>
	<string></string>
	<key>endInstruction</key>
	<string></string>
	<key>beginVariable</key>
	<string></string>
	<key>endVariable</key>
	<string></string>
	<key>firstString</key>
	<string>"</string>
	<key>secondString</key>
	<string>'</string>
	<key>firstSingleLineComment</key>
	<string>@</string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string>/*</string>
	<key>endFirstMultiLineComment</key>
	<string>*/</string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>functionDefinition</key>
	<string></string>
	<key>removeFromFunction</key>
	<string></string>
	<key>keywordsCaseSensitive</key>
	<false/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>includeInKeywordStartCharacterSet</key>
	<string>.</string>
	<key>keywords</key>
	<array>
		<string>.abort</string>
		<string>.align</string>
		<string>.appfile</string>
		<string>.appline</string>
		<string>.ascii</string>
		<string>.asciz</string>
		<string>.balign</string>
		<string>.balignl</string>
		<string>.balignw</string>
		<string>.byte</string>
		<string>.comm</string>
		<string>.common.s</string>
		<string>.common</string>
		<string>.data</string>
		<string>.dc.b</string>
		<string>.dc.d</string>
		<string>.dc.l</string>
		<string>.dc.s</string>
		<string>.dc.w</string>
		<string>.dc.x</string>
		<string>.dc</string>
		<string>.dcb.b</string>
		<string>.dcb.d</string>
		<string>.dcb.l</string>
		<string>.dcb.s</string>
		<string>.dcb.w</string>
		<string>.dcb.x</string>
		<string>.dcb</string>
		<string>.debug</string>
		<string>.def</string>
		<string>.desc</string>
		<string>.dim</string>
		<string>.double</string>
		<string>.ds.b</string>
		<string>.ds.d</string>
		<string>.ds.l</string>
		<string>.ds.p</string>
		<string>.ds.s</string>
		<string>.ds.w</string>
		<string>.ds.x</string>
		<string>.ds</string>
		<string>.dsect</string>
		<string>.eject</string>
		<string>.else</string>
		<string>.elsec</string>
		<string>.elseif</string>
		<string>.end</string>
		<string>.endc</string>
		<string>.endef</string>
		<string>.endfunc</string>
		<string>.endif</string>
		<string>.endm</string>
		<string>.endr</string>
		<string>.equ</string>
		<string>.equiv</string>
		<string>.err</string>
		<string>.exitm</string>
		<string>.extend</string>
		<string>.extern</string>
		<string>.fail</string>
		<string>.file</string>
		<string>.fill</string>
		<string>.float</string>
		<string>.format</string>
		<string>.func</string>
		<string>.global</string>
		<string>.globl</string>
		<string>.hidden</string>
		<string>.hword</string>
		<string>.ident</string>
		<string>.if</string>
		<string>.ifc</string>
		<string>.ifdef</string>
		<string>.ifeq</string>
		<string>.ifeqs</string>
		<string>.ifge</string>
		<string>.ifgt</string>
		<string>.ifle</string>
		<string>.iflt</string>
		<string>.ifnc</string>
		<string>.ifndef</string>
		<string>.ifne</string>
		<string>.ifnes</string>
		<string>.ifnotdef</string>
		<string>.include</string>
		<string>.int</string>
		<string>.internal</string>
		<string>.irep</string>
		<string>.irepc</string>
		<string>.irp</string>
		<string>.irpc</string>
		<string>.lcomm</string>
		<string>.lflags</string>
		<string>.line</string>
		<string>.linkonce</string>
		<string>.list</string>
		<string>.llen</string>
		<string>.ln</string>
		<string>.long</string>
		<string>.lsym</string>
		<string>.macro</string>
		<string>.mexit</string>
		<string>.name</string>
		<string>.noformat</string>
		<string>.nolist</string>
		<string>.nopage</string>
		<string>.octa</string>
		<string>.offset</string>
		<string>.org</string>
		<string>.p2align</string>
		<string>.p2alignl</string>
		<string>.p2alignw</string>
		<string>.page</string>
		<string>.plen</string>
		<string>.popsection</string>
		<string>.previous</string>
		<string>.print</string>
		<string>.protected</string>
		<string>.psize</string>
		<string>.purgem</string>
		<string>.pushsection</string>
		<string>.quad</string>
		<string>.rep</string>
		<string>.rept</string>
		<string>.rva</string>
		<string>.sbttl</string>
		<string>.scl</string>
		<string>.sect.s</string>
		<string>.sect</string>
		<string>.section.s</string>
		<string>.section</string>
		<string>.set</string>
		<string>.short</string>
		<string>.single</string>
		<string>.size</string>
		<string>.skip</string>
		<string>.sleb128</string>
		<string>.space</string>
		<string>.spc</string>
		<string>.stabd</string>
		<string>.stabn</string>
		<string>.stabs</string>
		<string>.string</string>
		<string>.struct</string>
		<string>.subsection</string>
		<string>.symver</string>
		<string>.tag</string>
		<string>.text</string>
		<string>.title</string>
		<string>.ttl</string>
		<string>.type</string>
		<string>.uleb128</string>
		<string>.use</string>
		<string>.val</string>
		<string>.version</string>
		<string>.vtable_entry</string>
		<string>.vtable_inherit</string>
		<string>.weak</string>
		<string>.word</string>
		<string>.xcom</string>
		<string>.xdef</string>
		<string>.xref</string>
		<string>.xstabs</string>
		<string>.zero</string>
		<string>.arm</string>
		<string>.bss</string>
		<string>.code</string>
		<string>.even</string>
		<string>.force_thumb</string>
		<string>.ldouble</string>
		<string>.loc</string>
		<string>.ltorg</string>
		<string>.packed</string>
		<string>.pool</string>
		<string>.req</string>
		<string>.thumb</string>
		<string>.thumb_func</string>
		<string>.thumb_set</string>
	</array>
	<key>autocompleteWords</key>
	<array>
	</array>
</dict>
</plist>
