<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginCommand</key>
	<string></string>
	<key>endCommand</key>
	<string></string>
	<key>beginInstruction</key>
	<string>{[</string>
	<key>endInstruction</key>
	<string>]}</string>
	<key>beginVariable</key>
	<string></string>
	<key>endVariable</key>
	<string></string>
	<key>firstString</key>
	<string>"</string>
	<key>secondString</key>
	<string>'</string>
	<key>firstSingleLineComment</key>
	<string>//</string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string>/*</string>
	<key>endFirstMultiLineComment</key>
	<string>*/</string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>functionDefinition</key>
	<string></string>
	<key>removeFromFunction</key>
	<string></string>
	<key>keywordsCaseSensitive</key>
	<false/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>keywords</key>
	<array>
		<string>strict</string>
		<string>graph</string>
		<string>digraph</string>
		<string>subgraph</string>
		<string>node</string>
		<string>edge</string>
		<string>Damping</string>
		<string>K</string>
		<string>URL</string>
		<string>arrowhead</string>
		<string>arrowsize</string>
		<string>arrowtail</string>
		<string>aspect</string>
		<string>bb</string>
		<string>bgcolor</string>
		<string>center</string>
		<string>charset</string>
		<string>clusterrank</string>
		<string>color</string>
		<string>colorscheme</string>
		<string>comment</string>
		<string>compound</string>
		<string>concentrate</string>
		<string>constraint</string>
		<string>decorate</string>
		<string>defaultdist</string>
		<string>dim</string>
		<string>dimen</string>
		<string>dir</string>
		<string>diredgeconstraints</string>
		<string>distortion</string>
		<string>dpi</string>
		<string>edgeURL</string>
		<string>edgehref</string>
		<string>edgetarget</string>
		<string>edgetooltip</string>
		<string>epsilon</string>
		<string>esep</string>
		<string>fillcolor</string>
		<string>fixedsize</string>
		<string>fontcolor</string>
		<string>fontname</string>
		<string>fontnames</string>
		<string>fontpath</string>
		<string>fontsize</string>
		<string>group</string>
		<string>headURL</string>
		<string>headclip</string>
		<string>headhref</string>
		<string>headlabel</string>
		<string>headport</string>
		<string>headtarget</string>
		<string>headtooltip</string>
		<string>height</string>
		<string>href</string>
		<string>id</string>
		<string>image</string>
		<string>imagescale</string>
		<string>label</string>
		<string>labelURL</string>
		<string>labelangle</string>
		<string>labeldistance</string>
		<string>labelfloat</string>
		<string>labelfontcolor</string>
		<string>labelfontname</string>
		<string>labelfontsize</string>
		<string>labelhref</string>
		<string>labeljust</string>
		<string>labelloc</string>
		<string>labeltarget</string>
		<string>labeltooltip</string>
		<string>landscape</string>
		<string>layer</string>
		<string>layers</string>
		<string>layersep</string>
		<string>layout</string>
		<string>len</string>
		<string>levels</string>
		<string>levelsgap</string>
		<string>lhead</string>
		<string>lheight</string>
		<string>lp</string>
		<string>ltail</string>
		<string>lwidth</string>
		<string>margin</string>
		<string>maxiter</string>
		<string>mclimit</string>
		<string>mindist</string>
		<string>minlen</string>
		<string>mode</string>
		<string>model</string>
		<string>mosek</string>
		<string>nodesep</string>
		<string>nojustify</string>
		<string>normalize</string>
		<string>nslimit</string>
		<string>nslimit1</string>
		<string>ordering</string>
		<string>orientation</string>
		<string>orientation</string>
		<string>outputorder</string>
		<string>overlap</string>
		<string>overlap_scaling</string>
		<string>pack</string>
		<string>packmode</string>
		<string>pad</string>
		<string>page</string>
		<string>pagedir</string>
		<string>pencolor</string>
		<string>penwidth</string>
		<string>peripheries</string>
		<string>pin</string>
		<string>pos</string>
		<string>quadtree</string>
		<string>quantum</string>
		<string>rank</string>
		<string>rankdir</string>
		<string>ranksep</string>
		<string>ratio</string>
		<string>rects</string>
		<string>regular</string>
		<string>remincross</string>
		<string>repulsiveforce</string>
		<string>resolution</string>
		<string>root</string>
		<string>rotate</string>
		<string>samehead</string>
		<string>sametail</string>
		<string>samplepoints</string>
		<string>searchsize</string>
		<string>sep</string>
		<string>shape</string>
		<string>shapefile</string>
		<string>showboxes</string>
		<string>sides</string>
		<string>size</string>
		<string>skew</string>
		<string>smoothing</string>
		<string>sortv</string>
		<string>splines</string>
		<string>start</string>
		<string>style</string>
		<string>stylesheet</string>
		<string>tailURL</string>
		<string>tailclip</string>
		<string>tailhref</string>
		<string>taillabel</string>
		<string>tailport</string>
		<string>tailtarget</string>
		<string>tailtooltip</string>
		<string>target</string>
		<string>tooltip</string>
		<string>truecolor</string>
		<string>vertices</string>
		<string>viewport</string>
		<string>voro_margin</string>
		<string>weight</string>
		<string>width</string>
		<string>z</string>
	</array>
	<key>autocompleteWords</key>
	<array>
	</array>
</dict>
</plist>