<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autocompleteWords</key>
	<array>
		<string>case</string>
		<string>data</string>
		<string>where</string>
		<string>then</string>
		<string>else</string>
		<string>class</string>
		<string>default</string>
		<string>deriving</string>
		<string>import</string>
		<string>infix</string>
		<string>infixl</string>
		<string>infixr</string>
		<string>instance</string>
		<string>module</string>
		<string>newtype</string>
		<string>type</string>
		<string>unfoldr</string>
		<string>groupBy</string>
		<string>sortBy</string>
		<string>group</string>
		<string>sort</string>
		<string>zipWith3</string>
		<string>zipWith</string>
		<string>zip3</string>
		<string>zip</string>
		<string>writeFile</string>
		<string>words</string>
		<string>userError</string>
		<string>unzip3</string>
		<string>unzip</string>
		<string>unwords</string>
		<string>until</string>
		<string>unlines</string>
		<string>undefined</string>
		<string>uncurry</string>
		<string>truncate</string>
		<string>toRational</string>
		<string>toInteger</string>
		<string>tanh</string>
		<string>toEnum</string>
		<string>tan</string>
		<string>takeWhile</string>
		<string>take</string>
		<string>tail</string>
		<string>sum</string>
		<string>succ</string>
		<string>subtract</string>
		<string>sqrt</string>
		<string>splitAt</string>
		<string>snd</string>
		<string>sinh</string>
		<string>sin</string>
		<string>signum</string>
		<string>significand</string>
		<string>showString</string>
		<string>showsPrec</string>
		<string>shows</string>
		<string>showParen</string>
		<string>showList</string>
		<string>showChar</string>
		<string>show</string>
		<string>sequence_</string>
		<string>sequence</string>
		<string>seq</string>
		<string>scanr1</string>
		<string>scanr</string>
		<string>scanl1</string>
		<string>scanl</string>
		<string>scaleFloat</string>
		<string>round</string>
		<string>reverse</string>
		<string>return</string>
		<string>replicate</string>
		<string>repeat</string>
		<string>rem</string>
		<string>recip</string>
		<string>realToFrac</string>
		<string>readsPrec</string>
		<string>reads</string>
		<string>readParen</string>
		<string>readLn</string>
		<string>readList</string>
		<string>readIO</string>
		<string>readFile</string>
		<string>read</string>
		<string>quotRem</string>
		<string>quot</string>
		<string>putStrLn</string>
		<string>putStr</string>
		<string>putChar</string>
		<string>properFraction</string>
		<string>product</string>
		<string>print</string>
		<string>pred</string>
		<string>pi</string>
		<string>otherwise</string>
		<string>or</string>
		<string>odd</string>
		<string>null</string>
		<string>notElem</string>
		<string>not</string>
		<string>negate</string>
		<string>mod</string>
		<string>minimum</string>
		<string>minBound</string>
		<string>min</string>
		<string>maybe</string>
		<string>maximum</string>
		<string>maxBound</string>
		<string>max</string>
		<string>mapM_</string>
		<string>mapM</string>
		<string>map</string>
		<string>lookup</string>
		<string>logBase</string>
		<string>log</string>
		<string>lines</string>
		<string>lex</string>
		<string>length</string>
		<string>lcm</string>
		<string>last</string>
		<string>iterate</string>
		<string>isNegativeZero</string>
		<string>isNaN</string>
		<string>isInfinite</string>
		<string>isIEEE</string>
		<string>isDenormalized</string>
		<string>ioError</string>
		<string>interact</string>
		<string>init</string>
		<string>id</string>
		<string>head</string>
		<string>getLine</string>
		<string>getContents</string>
		<string>getChar</string>
		<string>gcd</string>
		<string>fst</string>
		<string>fromRational</string>
		<string>fromIntegral</string>
		<string>fromInteger</string>
		<string>fromEnum</string>
		<string>foldr1</string>
		<string>foldr</string>
		<string>foldl1</string>
		<string>foldl</string>
		<string>fmap</string>
		<string>floor</string>
		<string>floatRange</string>
		<string>floatRadix</string>
		<string>floatDigits</string>
		<string>flip</string>
		<string>filter</string>
		<string>fail</string>
		<string>exponent</string>
		<string>exp</string>
		<string>even</string>
		<string>error</string>
		<string>enumFromTo</string>
		<string>enumFromThenTo</string>
		<string>enumFromThen</string>
		<string>enumFrom</string>
		<string>encodeFloat</string>
		<string>elem</string>
		<string>either</string>
		<string>dropWhile</string>
		<string>drop</string>
		<string>divMod</string>
		<string>div</string>
		<string>decodeFloat</string>
		<string>cycle</string>
		<string>curry</string>
		<string>cos</string>
		<string>const</string>
		<string>concatMap</string>
		<string>concat</string>
		<string>compare</string>
		<string>ceiling</string>
		<string>catch</string>
		<string>break</string>
		<string>atanh</string>
		<string>atan2</string>
		<string>atan</string>
		<string>asTypeOf</string>
		<string>asinh</string>
		<string>asin</string>
		<string>appendFile</string>
		<string>any</string>
		<string>and</string>
		<string>all</string>
		<string>acos</string>
		<string>abs</string>
	</array>
	<key>beginCommand</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string>{-</string>
	<key>beginInstruction</key>
	<string></string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>beginVariable</key>
	<string></string>
	<key>endCommand</key>
	<string></string>
	<key>endFirstMultiLineComment</key>
	<string>-}</string>
	<key>endInstruction</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>endVariable</key>
	<string></string>
	<key>firstSingleLineComment</key>
	<string>--</string>
	<key>firstString</key>
	<string>"</string>
	<key>functionDefinition</key>
	<string></string>
	<key>keywords</key>
	<array>
		<string>Read</string>
		<string>Show</string>
		<string>Ord</string>
		<string>Num</string>
		<string>MonadPlus</string>
		<string>Monad</string>
		<string>Ix</string>
		<string>Integral</string>
		<string>Functor</string>
		<string>Fractional</string>
		<string>Floating</string>
		<string>Eq</string>
		<string>Enum</string>
		<string>Bounded</string>
		<string>Maybe</string>
		<string>IO</string>
		<string>Integer</string>
		<string>Either</string>
		<string>Bool</string>
		<string>Array</string>
		<string>Double</string>
		<string>Float</string>
		<string>Char</string>
		<string>String</string>
		<string>Int</string>
		<string>unfoldr</string>
		<string>groupBy</string>
		<string>sortBy</string>
		<string>group</string>
		<string>sort</string>
		<string>zipWith3</string>
		<string>zipWith</string>
		<string>zip3</string>
		<string>zip</string>
		<string>writeFile</string>
		<string>words</string>
		<string>userError</string>
		<string>unzip3</string>
		<string>unzip</string>
		<string>unwords</string>
		<string>until</string>
		<string>unlines</string>
		<string>undefined</string>
		<string>uncurry</string>
		<string>truncate</string>
		<string>toRational</string>
		<string>toInteger</string>
		<string>tanh</string>
		<string>toEnum</string>
		<string>tan</string>
		<string>takeWhile</string>
		<string>take</string>
		<string>tail</string>
		<string>sum</string>
		<string>succ</string>
		<string>subtract</string>
		<string>sqrt</string>
		<string>splitAt</string>
		<string>snd</string>
		<string>sinh</string>
		<string>sin</string>
		<string>signum</string>
		<string>significand</string>
		<string>showString</string>
		<string>showsPrec</string>
		<string>shows</string>
		<string>showParen</string>
		<string>showList</string>
		<string>showChar</string>
		<string>show</string>
		<string>sequence_</string>
		<string>sequence</string>
		<string>seq</string>
		<string>scanr1</string>
		<string>scanr</string>
		<string>scanl1</string>
		<string>scanl</string>
		<string>scaleFloat</string>
		<string>round</string>
		<string>reverse</string>
		<string>return</string>
		<string>replicate</string>
		<string>repeat</string>
		<string>rem</string>
		<string>recip</string>
		<string>realToFrac</string>
		<string>readsPrec</string>
		<string>reads</string>
		<string>readParen</string>
		<string>readLn</string>
		<string>readList</string>
		<string>readIO</string>
		<string>readFile</string>
		<string>read</string>
		<string>quotRem</string>
		<string>quot</string>
		<string>putStrLn</string>
		<string>putStr</string>
		<string>putChar</string>
		<string>properFraction</string>
		<string>product</string>
		<string>print</string>
		<string>pred</string>
		<string>pi</string>
		<string>otherwise</string>
		<string>or</string>
		<string>odd</string>
		<string>null</string>
		<string>notElem</string>
		<string>not</string>
		<string>negate</string>
		<string>mod</string>
		<string>minimum</string>
		<string>minBound</string>
		<string>min</string>
		<string>maybe</string>
		<string>maximum</string>
		<string>maxBound</string>
		<string>max</string>
		<string>mapM_</string>
		<string>mapM</string>
		<string>map</string>
		<string>lookup</string>
		<string>logBase</string>
		<string>log</string>
		<string>lines</string>
		<string>lex</string>
		<string>length</string>
		<string>lcm</string>
		<string>last</string>
		<string>iterate</string>
		<string>isNegativeZero</string>
		<string>isNaN</string>
		<string>isInfinite</string>
		<string>isIEEE</string>
		<string>isDenormalized</string>
		<string>ioError</string>
		<string>interact</string>
		<string>init</string>
		<string>id</string>
		<string>head</string>
		<string>getLine</string>
		<string>getContents</string>
		<string>getChar</string>
		<string>gcd</string>
		<string>fst</string>
		<string>fromRational</string>
		<string>fromIntegral</string>
		<string>fromInteger</string>
		<string>fromEnum</string>
		<string>foldr1</string>
		<string>foldr</string>
		<string>foldl1</string>
		<string>foldl</string>
		<string>fmap</string>
		<string>floor</string>
		<string>floatRange</string>
		<string>floatRadix</string>
		<string>floatDigits</string>
		<string>flip</string>
		<string>filter</string>
		<string>fail</string>
		<string>exponent</string>
		<string>exp</string>
		<string>even</string>
		<string>error</string>
		<string>enumFromTo</string>
		<string>enumFromThenTo</string>
		<string>enumFromThen</string>
		<string>enumFrom</string>
		<string>encodeFloat</string>
		<string>elem</string>
		<string>either</string>
		<string>dropWhile</string>
		<string>drop</string>
		<string>divMod</string>
		<string>div</string>
		<string>decodeFloat</string>
		<string>cycle</string>
		<string>curry</string>
		<string>cos</string>
		<string>const</string>
		<string>concatMap</string>
		<string>concat</string>
		<string>compare</string>
		<string>ceiling</string>
		<string>catch</string>
		<string>break</string>
		<string>atanh</string>
		<string>atan2</string>
		<string>atan</string>
		<string>asTypeOf</string>
		<string>asinh</string>
		<string>asin</string>
		<string>appendFile</string>
		<string>any</string>
		<string>and</string>
		<string>all</string>
		<string>acos</string>
		<string>abs</string>
		<string>case</string>
		<string>data</string>
		<string>if</string>
		<string>where</string>
		<string>then</string>
		<string>else</string>
		<string>class</string>
		<string>default</string>
		<string>deriving</string>
		<string>do</string>
		<string>import</string>
		<string>in</string>
		<string>infix</string>
		<string>infixl</string>
		<string>infixr</string>
		<string>instance</string>
		<string>let</string>
		<string>module</string>
		<string>let</string>
		<string>newtype</string>
		<string>of</string>
		<string>type</string>
		<string>..</string>
		<string>:</string>
		<string>::</string>
		<string>=</string>
		<string>\</string>
		<string>|</string>
		<string>&lt;-</string>
		<string>-&gt;</string>
		<string>@</string>
		<string>~</string>
		<string>=&gt;</string>
	</array>
	<key>keywordsCaseSensitive</key>
	<true/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>removeFromFunction</key>
	<string></string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>secondString</key>
	<string></string>
</dict>
</plist>
