<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginCommand</key>
	<string></string>
	<key>endCommand</key>
	<string></string>
	<key>beginInstruction</key>
	<string></string>
	<key>endInstruction</key>
	<string></string>	
	<key>beginVariable</key>
	<string></string>
	<key>endVariable</key>
	<string></string>
	<key>firstString</key>
	<string>"</string>
	<key>secondString</key>
	<string>'</string>
	<key>firstSingleLineComment</key>
	<string>//</string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string>/*</string>
	<key>endFirstMultiLineComment</key>
	<string>*/</string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>functionDefinition</key>
	<string></string>
	<key>removeFromFunction</key>
	<string></string>
	<key>keywordsCaseSensitive</key>
	<false/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>keywords</key>
	<array>
		<string>#import</string>
		<string>#include</string>
		<string>char</string>
		<string>const</string>
		<string>double</string>
		<string>enum</string>
		<string>float</string>
		<string>int</string>
		<string>long</string>
		<string>short</string>
		<string>signed</string>
		<string>struct</string>
		<string>typedef</string>
		<string>union</string>
		<string>unsigned</string>
		<string>void</string>
		<string>id</string>
		<string>Class</string>
		<string>SEL</string>
		<string>IMP</string>
		<string>BOOL</string>
		<string>auto</string>
		<string>continue</string>
		<string>default</string>
		<string>extern</string>
		<string>register</string>
		<string>return</string>
		<string>sizeof</string>
		<string>static</string>
		<string>self</string>
		<string>super</string>
		<string>@interface</string>
		<string>@implementation</string>
		<string>@protocol</string>
		<string>@end</string>
		<string>@private</string>
		<string>@protected</string>
		<string>@public</string>
		<string>@class</string>
		<string>@selector</string>
		<string>@endcode</string>
		<string>@defs</string>
		<string>NULL</string>
		<string>nil</string>
		<string>NIl</string>
		<string>wchar_t</string>
		<string>#define</string>
		<string>#endif</string>
		<string>#if</string>
		<string>#ifdef</string>
		<string>#ifndef</string>
		<string>unichar</string>
		<string>FoundationErrors</string>
		<string>Foundation</string>
		<string>GSMime</string>
		<string>GSXML</string>
		<string>NSAffineTransform</string>
		<string>NSAriver</string>
		<string>NSArray</string>
		<string>NSAttributedString</string>
		<string>NSAutoreleasePool</string>
		<string>NSBundle</string>
		<string>NSByteOrder</string>
		<string>NSCalendarDate</string>
		<string>NSaracterSet</string>
		<string>NSClassDescription</string>
		<string>NSCoder</string>
		<string>NSComparisonPredicate</string>
		<string>NSCompoundPredicate</string>
		<string>NSConnection</string>
		<string>NSData</string>
		<string>NSDateFormatter</string>
		<string>NSDate</string>
		<string>NSDebug</string>
		<string>NSDecimal</string>
		<string>NSDecimalNumber</string>
		<string>NSDictionary</string>
		<string>NSDistantObject</string>
		<string>NSDistributedLock</string>
		<string>NSDistributedNotificationCenter</string>
		<string>NSEnumerator</string>
		<string>NSError</string>
		<string>NSErrorRecoveryAttempting</string>
		<string>NSException</string>
		<string>NSExpression</string>
		<string>NSFileHandle</string>
		<string>NSFileManager</string>
		<string>NSFormatter</string>
		<string>NSGeometry</string>
		<string>NSHaTable</string>
		<string>NSHost</string>
		<string>NSHTTPCookie</string>
		<string>NSHTTPCookieStorage</string>
		<string>NSIndexPa</string>
		<string>NSIndexSet</string>
		<string>NSInvocation</string>
		<string>NSKeyedAriver</string>
		<string>NSKeyValueCoding</string>
		<string>NSKeyValueObserving</string>
		<string>NSLock</string>
		<string>NSMapTable</string>
		<string>NSMeodSignature</string>
		<string>NSNetServices</string>
		<string>NSNotification</string>
		<string>NSNotificationQueue</string>
		<string>NSNull</string>
		<string>NSNumberFormatter</string>
		<string>NSObjCRuntime</string>
		<string>NSObject</string>
		<string>NSPaUtilities</string>
		<string>NSPortCoder</string>
		<string>NSPort</string>
		<string>NSPortMessage</string>
		<string>NSPortNameServer</string>
		<string>NSPredicate</string>
		<string>NSProcessInfo</string>
		<string>NSPropertyList</string>
		<string>NSProtocolecker</string>
		<string>NSProxy</string>
		<string>NSRange</string>
		<string>NSRunLoop</string>
		<string>NSScanner</string>
		<string>NSSerialization</string>
		<string>NSSet</string>
		<string>NSSortDescriptor</string>
		<string>NSSpellServer</string>
		<string>NSStream</string>
		<string>NSString</string>
		<string>NSTask</string>
		<string>NSread</string>
		<string>NSTimer</string>
		<string>NSTimeZone</string>
		<string>NSUndoManager</string>
		<string>NSURLAuenticationallenge</string>
		<string>NSURLCae</string>
		<string>NSURLConnection</string>
		<string>NSURLCredential</string>
		<string>NSURLCredentialStorage</string>
		<string>NSURLDownload</string>
		<string>NSURLError</string>
		<string>NSURL</string>
		<string>NSURLHandle</string>
		<string>NSURLProtectionSpace</string>
		<string>NSURLProtocol</string>
		<string>NSURLRequest</string>
		<string>NSURLResponse</string>
		<string>NSUserDefaults</string>
		<string>NSUtilities</string>
		<string>NSValue</string>
		<string>NSValueTransformer</string>
		<string>NSXMLParser</string>
		<string>NSZone</string>
	</array>
	<key>autocompleteWords</key>
	<array>
	</array>
</dict>
</plist>
