<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginCommand</key>
	<string></string>
	<key>endCommand</key>
	<string></string>	
	<key>beginInstruction</key>
	<string></string>	
	<key>endInstruction</key>
	<string></string>	
	<key>beginVariable</key>
	<string></string>	
	<key>endVariable</key>
	<string></string>	
	<key>firstString</key>
	<string>"</string>
	<key>secondString</key>
	<string>'</string>
	<key>firstSingleLineComment</key>
	<string>;</string>	
	<key>secondSingleLineComment</key>
	<string></string>	
	<key>beginFirstMultiLineComment</key>
	<string></string>	
	<key>endFirstMultiLineComment</key>
	<string></string>	
	<key>beginSecondMultiLineComment</key>
	<string></string>	
	<key>endSecondMultiLineComment</key>
	<string></string>	
	<key>functionDefinition</key>
	<string>(^pro [^[:cntrl:]]*|^PRO [^[:cntrl:]]*|^Pro [^[:cntrl:]]*|^function [^[:cntrl:]]*|^Function [^[:cntrl:]]*|^FUNCTION [^[:cntrl:]]*)</string>	
	<key>removeFromFunction</key>
	<string>,;*</string>	
	<key>keywordsCaseSensitive</key>
	<false/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>keywords</key>
	<array>
		<string>eq</string>
		<string>lt</string>
		<string>gt</string>
		<string>!P.MULTI</string>
		<string>!P.FONT</string>
		<string>openw</string>
		<string>endif</string>
		<string>if</string>
		<string>then</string>
		<string>begin</string>
		<string>else</string>
		<string>endelse</string>
		<string>repeat</string>
		<string>until</string>
		<string>while</string>
		<string>do</string>
		<string>end</string>
		<string>endcase</string>
		<string>endfor</string>
		<string>of</string>
		<string>.COMPILE</string>
		<string>.CONTINUE</string>
		<string>.EDIT</string>
		<string>.FULL_RESET_SESSION</string>
		<string>.GO</string>
		<string>.OUT</string>
		<string>.RESET_SESSION</string>
		<string>.RETURN</string>
		<string>.RNEW</string>
		<string>.RUN</string>
		<string>.SKIP</string>
		<string>.STEP</string>
		<string>.STEPOVER</string>
		<string>.TRACE</string>
		<string>A_CORRELATE</string>
		<string>ABS</string>
		<string>ACOS</string>
		<string>ADAPT_HIST_EQUAL</string>
		<string>ALOG</string>
		<string>ALOG10</string>
		<string>AMOEBA</string>
		<string>ANNOTATE</string>
		<string>ARG_PRESENT</string>
		<string>ARRAY_EQUAL</string>
		<string>ARRAY_INDICES</string>
		<string>ARROW</string>
		<string>ASCII_TEMPLATE</string>
		<string>ASIN</string>
		<string>ASSOC</string>
		<string>ATAN</string>
		<string>AXIS</string>
		<string>BAR_PLOT</string>
		<string>BESELI</string>
		<string>BESELJ</string>
		<string>BESELK</string>
		<string>BESELY</string>
		<string>BETA</string>
		<string>BILINEAR</string>
		<string>BIN_DATE</string>
		<string>BINARY_TEMPLATE</string>
		<string>BINDGEN</string>
		<string>BINOMIAL</string>
		<string>BLAS_AXPY</string>
		<string>BLK_CON</string>
		<string>BOX_CURSOR</string>
		<string>BREAK</string>
		<string>BREAKPOINT</string>
		<string>BROYDEN</string>
		<string>BYTARR</string>
		<string>BYTE</string>
		<string>BYTEORDER</string>
		<string>BYTSCL</string>
		<string>C_CORRELATE</string>
		<string>CALDAT</string>
		<string>CALENDAR</string>
		<string>CALL_EXTERNAL</string>
		<string>CALL_FUNCTION</string>
		<string>CALL_METHOD</string>
		<string>CALL_PROCEDURE</string>
		<string>CASE</string>
		<string>CATCH</string>
		<string>CD</string>
		<string>CEIL</string>
		<string>CHEBYSHEV</string>
		<string>CHECK_MATH</string>
		<string>CHISQR_CVF</string>
		<string>CHISQR_PDF</string>
		<string>CHOLDC</string>
		<string>CHOLSOL</string>
		<string>CINDGEN</string>
		<string>CIR_3PNT</string>
		<string>CLOSE</string>
		<string>CLUST_WTS</string>
		<string>CLUSTER</string>
		<string>COLOR_CONVERT</string>
		<string>COLOR_QUAN</string>
		<string>COLORMAP_APPLICABLE</string>
		<string>COMFIT</string>
		<string>COMMON</string>
		<string>COMPILE_OPT</string>
		<string>COMPLEX</string>
		<string>COMPLEXARR</string>
		<string>COMPLEXROUND</string>
		<string>COMPUTE_MESH_NORMALS</string>
		<string>COND</string>
		<string>CONGRID</string>
		<string>CONJ</string>
		<string>CONSTRAINED_MIN</string>
		<string>CONTINUE</string>
		<string>CONTOUR</string>
		<string>CONVERT_COORD</string>
		<string>CONVOL</string>
		<string>COORD2TO3</string>
		<string>COPY_LUN</string>
		<string>CORRELATE</string>
		<string>COS</string>
		<string>COSH</string>
		<string>CPU</string>
		<string>CRAMER</string>
		<string>CREATE_STRUCT</string>
		<string>CREATE_VIEW</string>
		<string>CROSSP</string>
		<string>CRVLENGTH</string>
		<string>CT_LUMINANCE</string>
		<string>CTI_TEST</string>
		<string>CURSOR</string>
		<string>CURVEFIT</string>
		<string>CV_COORD</string>
		<string>CVTTOBM</string>
		<string>CW_ANIMATE</string>
		<string>CW_ANIMATE_GETP</string>
		<string>CW_ANIMATE_LOAD</string>
		<string>CW_ANIMATE_RUN</string>
		<string>CW_ARCBALL</string>
		<string>CW_BGROUP</string>
		<string>CW_CLR_INDEX</string>
		<string>CW_COLORSEL</string>
		<string>CW_DEFROI</string>
		<string>CW_FIELD</string>
		<string>CW_FILESEL</string>
		<string>CW_FORM</string>
		<string>CW_FSLIDER</string>
		<string>CW_LIGHT_EDITOR</string>
		<string>CW_LIGHT_EDITOR_GET</string>
		<string>CW_LIGHT_EDITOR_SET</string>
		<string>CW_ORIENT</string>
		<string>CW_PALETTE_EDITOR</string>
		<string>CW_PALETTE_EDITOR_GET</string>
		<string>CW_PALETTE_EDITOR_SET</string>
		<string>CW_PDMENU</string>
		<string>CW_RGBSLIDER</string>
		<string>CW_TMPL</string>
		<string>CW_ZOOM</string>		
		<string>DBLARR</string>
		<string>DCINDGEN</string>
		<string>DCOMPLEX</string>
		<string>DCOMPLEXARR</string>
		<string>DEFINE_KEY</string>
		<string>DEFINE_MSGBLK</string>
		<string>DEFINE_MSGBLK_FROM_FILE</string>
		<string>DEFROI</string>
		<string>DEFSYSV</string>
		<string>DELVAR</string>
		<string>DERIV</string>
		<string>DERIVSIG</string>
		<string>DETERM</string>
		<string>DEVICE</string>
		<string>DFPMIN</string>
		<string>DIAG_MATRIX</string>
		<string>DIALOG_MESSAGE</string>
		<string>DIALOG_PICKFILE</string>
		<string>DIALOG_PRINTERSETUP</string>
		<string>DIALOG_PRINTJOB</string>
		<string>DIALOG_READ_IMAGE</string>
		<string>DIALOG_WRITE_IMAGE</string>
		<string>DIGITAL_FILTER</string>
		<string>DILATE</string>
		<string>DINDGEN</string>
		<string>DISSOLVE</string>
		<string>DIST</string>
		<string>DLM_LOAD</string>
		<string>DLM_REGISTER</string>
		<string>DOC_LIBRARY</string>
		<string>DOUBLE</string>
		<string>DRAW_ROI</string>	
		<string>EFONT</string>
		<string>EIGENQL</string>
		<string>EIGENVEC</string>
		<string>ELMHES</string>
		<string>EMPTY</string>
		<string>ENABLE_SYSRTN</string>
		<string>EOF</string>
		<string>ERASE</string>
		<string>ERF</string>
		<string>ERFC</string>
		<string>ERFCX</string>
		<string>ERODE</string>
		<string>ERRPLOT</string>
		<string>EXECUTE</string>
		<string>EXIT</string>
		<string>EXP</string>
		<string>EXPAND</string>
		<string>EXPAND_PATH</string>
		<string>EXPINT</string>
		<string>EXTRAC</string>
		<string>EXTRACT_SLICE</string>	
		<string>F_CVF</string>
		<string>F_PDF</string>
		<string>FACTORIAL</string>
		<string>FFT</string>
		<string>FILE_BASENAME</string>
		<string>FILE_CHMOD</string>
		<string>FILE_COPY</string>
		<string>FILE_DELETE</string>
		<string>FILE_DIRNAME</string>
		<string>FILE_EXPAND_PATH</string>
		<string>FILE_INFO</string>
		<string>FILE_LINES</string>
		<string>FILE_LINK</string>
		<string>FILE_MKDIR</string>
		<string>FILE_MOVE</string>
		<string>FILE_READLINK</string>
		<string>FILE_SAME</string>
		<string>FILE_SEARCH</string>
		<string>FILE_TEST</string>
		<string>FILE_WHICH</string>
		<string>FILEPATH</string>
		<string>FINDFILE</string>
		<string>FINDGEN</string>
		<string>FINITE</string>
		<string>FIX</string>
		<string>FLICK</string>
		<string>FLOAT</string>
		<string>FLOOR</string>
		<string>FLOW3</string>
		<string>FLTARR</string>
		<string>FLUSH</string>
		<string>FOR</string>
		<string>FORMAT_AXIS_VALUES</string>
		<string>FORWARD_FUNCTION</string>
		<string>FREE_LUN</string>
		<string>FSTAT</string>
		<string>FULSTR</string>
		<string>FUNCT</string>
		<string>FUNCTION</string>
		<string>FV_TEST</string>
		<string>FX_ROOT</string>
		<string>FZ_ROOTS</string>
		<string>GAMMA</string>
		<string>GAMMA_CT</string>
		<string>GAUSS_CVF</string>
		<string>GAUSS_PDF</string>
		<string>GAUSS2DFIT</string>
		<string>GAUSSFIT</string>
		<string>GAUSSINT</string>
		<string>GET_DRIVE_LIST</string>
		<string>GET_KBRD</string>
		<string>GET_LUN</string>
		<string>GET_SCREEN_SIZE</string>
		<string>GETENV</string>
		<string>GOTO</string>
		<string>GRID_INPUT</string>
		<string>GRID_TPS</string>
		<string>GRID3</string>
		<string>GRIDDATA</string>
		<string>GS_ITER</string>
		<string>H_EQ_CT</string>
		<string>H_EQ_INT</string>
		<string>H5_BROWSER</string>
		<string>HANNING</string>
		<string>HDF_BROWSER</string>
		<string>HDF_READ</string>
		<string>HEAP_FREE</string>
		<string>HEAP_GC</string>
		<string>HELP</string>
		<string>HILBERT</string>
		<string>HIST_2D</string>
		<string>HIST_EQUAL</string>
		<string>HISTOGRAM</string>
		<string>HLS</string>
		<string>HOUGH</string>
		<string>HQR</string>
		<string>HSV</string>
		<string>IBETA</string>
		<string>ICONTOUR</string>
		<string>IDENTITY</string>
		<string>IDL_VALIDNAME</string>
		<string>IDLITSYS_CREATETOOL</string>
		<string>IGAMMA</string>
		<string>IIMAGE</string>
		<string>IMAGE_CONT</string>
		<string>IMAGE_STATISTICS</string>
		<string>IMAGINARY</string>
		<string>INDGEN</string>
		<string>INT_2D</string>
		<string>INT_3D</string>
		<string>INT_TABULATED</string>
		<string>INTARR</string>
		<string>INTERPOL</string>
		<string>INTERPOLATE</string>
		<string>INTERVAL_VOLUME</string>
		<string>INVERT</string>
		<string>IOCTL</string>
		<string>IPLOT</string>
		<string>ISHFT</string>
		<string>ISOCONTOUR</string>
		<string>ISOSURFACE</string>
		<string>ISURFACE</string>
		<string>ITCURRENT</string>
		<string>ITDELETE</string>
		<string>ITGETCURRENT</string>
		<string>ITREGISTER</string>
		<string>ITRESET</string>
		<string>IVOLUME</string>
		<string>JOURNAL</string>
		<string>JULDAY</string>
		<string>KEYWORD_SET</string>
		<string>KRIG2D</string>
		<string>KURTOSIS</string>
		<string>KW_TEST</string>
		<string>L64INDGEN</string>
		<string>LA_CHOLDC</string>
		<string>LA_CHOLMPROVE</string>
		<string>LA_CHOLSOL</string>
		<string>LA_DETERM</string>
		<string>LA_EIGENPROBLEM</string>
		<string>LA_EIGENQL</string>
		<string>LA_EIGENVEC</string>
		<string>LA_ELMHES</string>
		<string>LA_GM_LINEAR_MODEL</string>
		<string>LA_HQR</string>
		<string>LA_INVERT</string>
		<string>LA_LEAST_SQUARE_EQUALITY</string>
		<string>LA_LEAST_SQUARES</string>
		<string>LA_LINEAR_EQUATION</string>
		<string>LA_LUDC</string>
		<string>LA_LUMPROVE</string>
		<string>LA_LUSOL</string>
		<string>LA_SVD</string>
		<string>LA_TRIDC</string>
		<string>LA_TRIMPROVE</string>
		<string>LA_TRIQL</string>
		<string>LA_TRIRED</string>
		<string>LA_TRISOL</string>
		<string>LABEL_DATE</string>
		<string>LABEL_REGION</string>
		<string>LADFIT</string>
		<string>LAGUERRE</string>
		<string>LEEFILT</string>
		<string>LEGENDRE</string>
		<string>LINBCG</string>
		<string>LINDGEN</string>
		<string>LINFIT</string>
		<string>LINKIMAGE</string>
		<string>LL_ARC_DISTANCE</string>
		<string>LMFIT</string>
		<string>LMGR</string>
		<string>LNGAMMA</string>
		<string>LNP_TEST</string>
		<string>LOADCT</string>
		<string>LOCALE_GET</string>
		<string>LOGICAL_AND</string>
		<string>LOGICAL_OR</string>
		<string>LOGICAL_TRUE</string>
		<string>LON64ARR</string>
		<string>LONARR</string>
		<string>LONG</string>
		<string>LONG64</string>
		<string>LSODE</string>
		<string>LU_COMPLEX</string>
		<string>LUDC</string>
		<string>LUMPROVE</string>
		<string>LUSOL</string>
		<string>M_CORRELATE</string>
		<string>MACHAR</string>
		<string>MAKE_ARRAY</string>
		<string>MAKE_DLL</string>
		<string>MAP_2POINTS</string>
		<string>MAP_CONTINENTS</string>
		<string>MAP_GRID</string>
		<string>MAP_IMAGE</string>
		<string>MAP_PATCH</string>
		<string>MAP_PROJ_FORWARD</string>
		<string>MAP_PROJ_INFO</string>
		<string>MAP_PROJ_INIT</string>
		<string>MAP_PROJ_INVERSE</string>
		<string>MAP_SET</string>
		<string>MATRIX_MULTIPLY</string>
		<string>MATRIX_POWER</string>
		<string>MAX</string>
		<string>MD_TEST</string>
		<string>MEAN</string>
		<string>MEANABSDEV</string>
		<string>MEDIAN</string>
		<string>MEMORY</string>
		<string>MESH_CLIP</string>
		<string>MESH_DECIMATE</string>
		<string>MESH_ISSOLID</string>
		<string>MESH_MERGE</string>
		<string>MESH_NUMTRIANGLES</string>
		<string>MESH_OBJ</string>
		<string>MESH_SMOOTH</string>
		<string>MESH_SURFACEAREA</string>
		<string>MESH_VALIDATE</string>
		<string>MESH_VOLUME</string>
		<string>MESSAGE</string>
		<string>MIN</string>
		<string>MIN_CURVE_SURF</string>
		<string>MK_HTML_HELP</string>
		<string>MODIFYCT</string>
		<string>MOMENT</string>
		<string>MORPH_CLOSE</string>
		<string>MORPH_DISTANCE</string>
		<string>MORPH_GRADIENT</string>
		<string>MORPH_HITORMISS</string>
		<string>MORPH_OPEN</string>
		<string>MORPH_THIN</string>
		<string>MORPH_TOPHAT</string>
		<string>MPEG_CLOSE</string>
		<string>MPEG_OPEN</string>
		<string>MPEG_PUT</string>
		<string>MPEG_SAVE</string>
		<string>MSG_CAT_CLOSE</string>
		<string>MSG_CAT_COMPILE</string>
		<string>MSG_CAT_OPEN</string>
		<string>MULTI</string>
		<string>N_ELEMENTS</string>
		<string>N_PARAMS</string>
		<string>N_TAGS</string>
		<string>NEWTON</string>
		<string>NORM</string>
		<string>OBJ_CLASS</string>
		<string>OBJ_DESTROY</string>
		<string>OBJ_ISA</string>
		<string>OBJ_NEW</string>
		<string>OBJ_VALID</string>
		<string>OBJARR</string>
		<string>ON_ERROR</string>
		<string>ON_IOERROR</string>
		<string>ONLINE_HELP</string>
		<string>OPEN</string>
		<string>OPENR</string>
		<string>OPLOT</string>
		<string>OPLOTERR</string>
		<string>P_CORRELATE</string>
		<string>PARTICLE_TRACE</string>
		<string>PATH_CACHE</string>
		<string>PATH_SEP</string>
		<string>PCOMP</string>
		<string>PLOT</string>
		<string>PLOT_3DBOX</string>
		<string>PLOT_FIELD</string>
		<string>PLOTERR</string>
		<string>PLOTS</string>
		<string>PNT_LINE</string>
		<string>POINT_LUN</string>
		<string>POLAR_CONTOUR</string>
		<string>POLAR_SURFACE</string>
		<string>POLY</string>
		<string>POLY_2D</string>
		<string>POLY_AREA</string>
		<string>POLY_FIT</string>
		<string>POLYFILL</string>
		<string>POLYFILLV</string>
		<string>POLYSHADE</string>
		<string>POLYWARP</string>
		<string>POPD</string>
		<string>POWELL</string>
		<string>PRIMES</string>
		<string>PRINT</string>
		<string>PRINTD</string>
		<string>PRINTF</string>
		<string>PRO</string>
		<string>PRODUCT</string>
		<string>PROFILE</string>
		<string>PROFILER</string>
		<string>PROFILES</string>
		<string>PROJECT_VOL</string>
		<string>PS_SHOW_FONTS</string>
		<string>PSAFM</string>
		<string>PSEUDO</string>
		<string>PTR_FREE</string>
		<string>PTR_NEW</string>
		<string>PTR_VALID</string>
		<string>PTRARR</string>
		<string>PUSHD</string>
		<string>QGRID3</string>
		<string>QHULL</string>
		<string>QROMB</string>
		<string>QROMO</string>
		<string>QSIMP</string>
		<string>QUERY_* Routines</string>
		<string>QUERY_BMP</string>
		<string>QUERY_DICOM</string>
		<string>QUERY_IMAGE</string>
		<string>QUERY_JPEG</string>
		<string>QUERY_MRSID</string>
		<string>QUERY_PICT</string>
		<string>QUERY_PNG</string>
		<string>QUERY_PPM</string>
		<string>QUERY_SRF</string>
		<string>QUERY_TIFF</string>
		<string>QUERY_WAV</string>
		<string>R_CORRELATE</string>
		<string>R_TEST</string>
		<string>RADON</string>
		<string>RANDOMN</string>
		<string>RANDOMU</string>
		<string>RANKS</string>
		<string>RDPIX</string>
		<string>READ/READF</string>
		<string>READ_ASCII</string>
		<string>READ_BINARY</string>
		<string>READ_BMP</string>
		<string>READ_DICOM</string>
		<string>READ_IMAGE</string>
		<string>READ_INTERFILE</string>
		<string>READ_JPEG</string>
		<string>READ_MRSID</string>
		<string>READ_PICT</string>
		<string>READ_PNG</string>
		<string>READ_PPM</string>
		<string>READ_SPR</string>
		<string>READ_SRF</string>
		<string>READ_SYLK</string>
		<string>READ_TIFF</string>
		<string>READ_WAV</string>
		<string>READ_WAVE</string>
		<string>READ_X11_BITMAP</string>
		<string>READ_XWD</string>
		<string>READS</string>
		<string>READU</string>
		<string>REAL_PART</string>
		<string>REBIN</string>
		<string>RECALL_COMMANDS</string>
		<string>RECON3</string>
		<string>REDUCE_COLORS</string>
		<string>REFORM</string>
		<string>REGION_GROW</string>
		<string>REGISTER_CURSOR</string>
		<string>REGRESS</string>
		<string>REPLICATE</string>
		<string>REPLICATE_INPLACE</string>
		<string>RESOLVE_ALL</string>
		<string>RESOLVE_ROUTINE</string>
		<string>RESTORE</string>
		<string>RETALL</string>
		<string>RETURN</string>
		<string>REVERSE</string>
		<string>RK4</string>
		<string>ROBERTS</string>
		<string>ROT</string>
		<string>ROTATE</string>
		<string>ROUND</string>
		<string>ROUTINE_INFO</string>
		<string>RS_TEST</string>
		<string>S_TEST</string>
		<string>SAVE</string>
		<string>SAVGOL</string>
		<string>SCALE3</string>
		<string>SCALE3D</string>
		<string>SEARCH2D</string>
		<string>SEARCH3D</string>
		<string>SET_PLOT</string>
		<string>SET_SHADING</string>
		<string>SETENV</string>
		<string>SETUP_KEYS</string>
		<string>SFIT</string>
		<string>SHADE_SURF</string>
		<string>SHADE_SURF_IRR</string>
		<string>SHADE_VOLUME</string>
		<string>SHIFT</string>
		<string>SHMDEBUG</string>
		<string>SHMMAP</string>
		<string>SHMUNMAP</string>
		<string>SHMVAR</string>
		<string>SHOW3</string>
		<string>SHOWFONT</string>
		<string>SIMPLEX</string>
		<string>SIN</string>
		<string>SINDGEN</string>
		<string>SINH</string>
		<string>SIZE</string>
		<string>SKEWNESS</string>
		<string>SKIP_LUN</string>
		<string>SLICER3</string>
		<string>SLIDE_IMAGE</string>
		<string>SMOOTH</string>
		<string>SOBEL</string>
		<string>SOCKET</string>
		<string>SORT</string>
		<string>SPAWN</string>
		<string>SPH_4PNT</string>
		<string>SPH_SCAT</string>
		<string>SPHER_HARM</string>
		<string>SPL_INIT</string>
		<string>SPL_INTERP</string>
		<string>SPLINE</string>
		<string>SPLINE_P</string>
		<string>SPRSAB</string>
		<string>SPRSAX</string>
		<string>SPRSIN</string>
		<string>SPRSTP</string>
		<string>SQRT</string>
		<string>STANDARDIZE</string>
		<string>STDDEV</string>
		<string>STOP</string>
		<string>STRARR</string>
		<string>STRCMP</string>
		<string>STRCOMPRESS</string>
		<string>STREAMLINE</string>
		<string>STREGEX</string>
		<string>STRETCH</string>
		<string>STRING</string>
		<string>STRJOIN</string>
		<string>STRLEN</string>
		<string>STRLOWCASE</string>
		<string>STRMATCH</string>
		<string>STRMESSAGE</string>
		<string>STRMID</string>
		<string>STRPOS</string>
		<string>STRPUT</string>
		<string>STRSPLIT</string>
		<string>STRTRIM</string>
		<string>STRUCT_ASSIGN</string>
		<string>STRUCT_HIDE</string>
		<string>STRUPCASE</string>
		<string>SURFACE</string>
		<string>SURFR</string>
		<string>SVDC</string>
		<string>SVDFIT</string>
		<string>SVSOL</string>
		<string>SWAP_ENDIAN</string>
		<string>SWAP_ENDIAN_INPLACE</string>
		<string>SWITCH</string>
		<string>SYSTIME</string>
		<string>T_CVF</string>
		<string>T_PDF</string>
		<string>T3D</string>
		<string>TAG_NAMES</string>
		<string>TAN</string>
		<string>TANH</string>
		<string>TEK_COLOR</string>
		<string>TEMPORARY</string>
		<string>TETRA_CLIP</string>
		<string>TETRA_SURFACE</string>
		<string>TETRA_VOLUME</string>
		<string>THIN</string>
		<string>THREED</string>
		<string>TIME_TEST2</string>
		<string>TIMEGEN</string>
		<string>TM_TEST</string>
		<string>TOTAL</string>
		<string>TRACE</string>
		<string>TRANSPOSE</string>
		<string>TRI_SURF</string>
		<string>TRIANGULATE</string>
		<string>TRIGRID</string>
		<string>TRIQL</string>
		<string>TRIRED</string>
		<string>TRISOL</string>
		<string>TRUNCATE_LUN</string>
		<string>TS_COEF</string>
		<string>TS_DIFF</string>
		<string>TS_FCAST</string>
		<string>TS_SMOOTH</string>
		<string>TV</string>
		<string>TVCRS</string>
		<string>TVLCT</string>
		<string>TVRD</string>
		<string>TVSCL</string>
		<string>UINDGEN</string>
		<string>UINT</string>
		<string>UINTARR</string>
		<string>UL64INDGEN</string>
		<string>ULINDGEN</string>
		<string>ULON64ARR</string>
		<string>ULONARR</string>
		<string>ULONG</string>
		<string>ULONG64</string>
		<string>UNIQ</string>
		<string>USERSYM</string>
		<string>VALUE_LOCATE</string>
		<string>VARIANCE</string>
		<string>VECTOR_FIELD</string>
		<string>VEL</string>
		<string>VELOVECT</string>
		<string>VERT_T3D</string>
		<string>VOIGT</string>
		<string>VORONOI</string>
		<string>VOXEL_PROJ</string>
		<string>WAIT</string>
		<string>WARP_TRI</string>
		<string>WATERSHED</string>
		<string>Wavelet Toolkit</string>
		<string>WDELETE</string>
		<string>WF_DRAW</string>
		<string>WHERE</string>
		<string>WIDGET_ACTIVEX</string>
		<string>WIDGET_BASE</string>
		<string>WIDGET_BUTTON</string>
		<string>WIDGET_COMBOBOX</string>
		<string>WIDGET_CONTROL</string>
		<string>WIDGET_DISPLAYCONTEXTMENU</string>
		<string>WIDGET_DRAW</string>
		<string>WIDGET_DROPLIST</string>
		<string>WIDGET_EVENT</string>
		<string>WIDGET_INFO</string>
		<string>WIDGET_LABEL</string>
		<string>WIDGET_LIST</string>
		<string>WIDGET_PROPERTYSHEET</string>
		<string>WIDGET_SLIDER</string>
		<string>WIDGET_TAB</string>
		<string>WIDGET_TABLE</string>
		<string>WIDGET_TEXT</string>
		<string>WIDGET_TREE</string>
		<string>WINDOW</string>
		<string>WRITE_BMP</string>
		<string>WRITE_IMAGE</string>
		<string>WRITE_JPEG</string>
		<string>WRITE_NRIF</string>
		<string>WRITE_PICT</string>
		<string>WRITE_PNG</string>
		<string>WRITE_PPM</string>
		<string>WRITE_SPR</string>
		<string>WRITE_SRF</string>
		<string>WRITE_SYLK</string>
		<string>WRITE_TIFF</string>
		<string>WRITE_WAV</string>
		<string>WRITE_WAVE</string>
		<string>WRITEU</string>
		<string>WSET</string>
		<string>WSHOW</string>
		<string>WTN</string>
		<string>WV_* Routines</string>
		<string>XBM_EDIT</string>
		<string>XDISPLAYFILE</string>
		<string>XDXF</string>
		<string>XFONT</string>
		<string>XINTERANIMATE</string>
		<string>XLOADCT</string>
		<string>XMANAGER</string>
		<string>XMNG_TMPL</string>
		<string>XMTOOL</string>
		<string>XOBJVIEW</string>
		<string>XOBJVIEW_ROTATE</string>
		<string>XOBJVIEW_WRITE_IMAGE</string>
		<string>XPALETTE</string>
		<string>XPCOLOR</string>
		<string>XPLOT3D</string>
		<string>XREGISTERED</string>
		<string>XROI</string>
		<string>XSQ_TEST</string>
		<string>XSURFACE</string>
		<string>XVAREDIT</string>
		<string>XVOLUME</string>
		<string>XVOLUME_ROTATE</string>
		<string>XVOLUME_WRITE_IMAGE</string>
		<string>XYOUTS</string>
		<string>ZOOM</string>
		<string>ZOOM_24</string>
		<string>IDL_Container::Add</string>
		<string>IDL_Container::Cleanup</string>
		<string>IDL_Container::Count</string>
		<string>IDL_Container::Get</string>
		<string>IDL_Container::Init</string>
		<string>IDL_Container::IsContained</string>
		<string>IDL_Container::Move</string>
		<string>IDL_Container::Remove</string>
		<string>IDLanROI::AppendData</string>
		<string>IDLanROI::Cleanup</string>
		<string>IDLanROI::ComputeGeometry</string>
		<string>IDLanROI::ComputeMask</string>
		<string>IDLanROI::ContainsPoints</string>
		<string>IDLanROI::GetProperty</string>
		<string>IDLanROI::Init</string>
		<string>IDLanROI::RemoveData</string>
		<string>IDLanROI::ReplaceData</string>
		<string>IDLanROI::Rotate</string>
		<string>IDLanROI::Scale</string>
		<string>IDLanROI::SetProperty</string>
		<string>IDLanROI::Translate</string>
		<string>IDLanROIGroup::Add</string>
		<string>IDLanROIGroup::Cleanup</string>
		<string>IDLanROIGroup::ComputeMask</string>
		<string>IDLanROIGroup::ComputeMesh</string>
		<string>IDLanROIGroup::ContainsPoints</string>
		<string>IDLanROIGroup::GetProperty</string>
		<string>IDLanROIGroup::Init</string>
		<string>IDLanROIGroup::Rotate</string>
		<string>IDLanROIGroup::Scale</string>
		<string>IDLanROIGroup::Translate</string>
		<string>IDLcomIDispatch::GetProperty</string>
		<string>IDLcomIDispatch::Init</string>
		<string>IDLcomIDispatch::SetProperty</string>
		<string>IDLffDICOM::Cleanup</string>
		<string>IDLffDICOM::DumpElements</string>
		<string>IDLffDICOM::GetChildren</string>
		<string>IDLffDICOM::GetDescription</string>
		<string>IDLffDICOM::GetElement</string>
		<string>IDLffDICOM::GetGroup</string>
		<string>IDLffDICOM::GetLength</string>
		<string>IDLffDICOM::GetParent</string>
		<string>IDLffDICOM::GetPreamble</string>
		<string>IDLffDICOM::GetReference</string>
		<string>IDLffDICOM::GetValue</string>
		<string>IDLffDICOM::GetVR</string>
		<string>IDLffDICOM::Init</string>
		<string>IDLffDICOM::Read</string>
		<string>IDLffDICOM::Reset</string>
		<string>IDLffDXF::Cleanup</string>
		<string>IDLffDXF::GetContents</string>
		<string>IDLffDXF::GetEntity</string>
		<string>IDLffDXF::GetPalette</string>
		<string>IDLffDXF::Init</string>
		<string>IDLffDXF::PutEntity</string>
		<string>IDLffDXF::Read</string>
		<string>IDLffDXF::RemoveEntity</string>
		<string>IDLffDXF::Reset</string>
		<string>IDLffDXF::SetPalette</string>
		<string>IDLffDXF::Write</string>
		<string>IDLffLanguageCat::IsValid</string>
		<string>IDLffLanguageCat::Query</string>
		<string>IDLffLanguageCat::SetCatalog</string>
		<string>IDLffMrSID::Cleanup</string>
		<string>IDLffMrSID::GetDimsAtLevel</string>
		<string>IDLffMrSID::GetImageData</string>
		<string>IDLffMrSID::GetProperty</string>
		<string>IDLffMrSID::Init</string>
		<string>IDLffShape::AddAttribute</string>
		<string>IDLffShape::Cleanup</string>
		<string>IDLffShape::Close</string>
		<string>IDLffShape::DestroyEntity</string>
		<string>IDLffShape::GetAttributes</string>
		<string>IDLffShape::GetEntity</string>
		<string>IDLffShape::GetProperty</string>
		<string>IDLffShape::Init</string>
		<string>IDLffShape::Open</string>
		<string>IDLffShape::PutEntity</string>
		<string>IDLffShape::SetAttributes</string>
		<string>IDLffXMLSAX::AttributeDecl</string>
		<string>IDLffXMLSAX::Characters</string>
		<string>IDLffXMLSAX::Cleanup</string>
		<string>IDLffXMLSAX::Comment</string>
		<string>IDLffXMLSAX::ElementDecl</string>
		<string>IDLffXMLSAX::EndCDATA</string>
		<string>IDLffXMLSAX::EndDocument</string>
		<string>IDLffXMLSAX::EndDTD</string>
		<string>IDLffXMLSAX::EndElement</string>
		<string>IDLffXMLSAX::EndEntity</string>
		<string>IDLffXMLSAX::EndPrefixMapping</string>
		<string>IDLffXMLSAX::Error</string>
		<string>IDLffXMLSAX::ExternalEntityDecl</string>
		<string>IDLffXMLSAX::FatalError</string>
		<string>IDLffXMLSAX::GetProperty</string>
		<string>IDLffXMLSAX::IgnorableWhitespace</string>
		<string>IDLffXMLSAX::Init</string>
		<string>IDLffXMLSAX::InternalEntityDecl</string>
		<string>IDLffXMLSAX::NotationDecl</string>
		<string>IDLffXMLSAX::ParseFile</string>
		<string>IDLffXMLSAX::ProcessingInstruction</string>
		<string>IDLffXMLSAX::SetProperty</string>
		<string>IDLffXMLSAX::SkippedEntity</string>
		<string>IDLffXMLSAX::StartCDATA</string>
		<string>IDLffXMLSAX::StartDocument</string>
		<string>IDLffXMLSAX::StartDTD</string>
		<string>IDLffXMLSAX::StartElement</string>
		<string>IDLffXMLSAX::StartEntity</string>
		<string>IDLffXMLSAX::StartPrefixmapping</string>
		<string>IDLffXMLSAX::StopParsing</string>
		<string>IDLffXMLSAX::UnparsedEntityDecl</string>
		<string>IDLffXMLSAX::Warning</string>
		<string>IDLgrAxis::Cleanup</string>
		<string>IDLgrAxis::GetCTM</string>
		<string>IDLgrAxis::GetProperty</string>
		<string>IDLgrAxis::Init</string>
		<string>IDLgrAxis::SetProperty</string>
		<string>IDLgrBuffer::Cleanup</string>
		<string>IDLgrBuffer::Draw</string>
		<string>IDLgrBuffer::Erase</string>
		<string>IDLgrBuffer::GetContiguousPixels</string>
		<string>IDLgrBuffer::GetDeviceInfo</string>
		<string>IDLgrBuffer::GetFontnames</string>
		<string>IDLgrBuffer::GetProperty</string>
		<string>IDLgrBuffer::GetTextDimensions</string>
		<string>IDLgrBuffer::Init</string>
		<string>IDLgrBuffer::PickData</string>
		<string>IDLgrBuffer::Read</string>
		<string>IDLgrBuffer::Select</string>
		<string>IDLgrBuffer::SetProperty</string>
		<string>IDLgrClipboard::Cleanup</string>
		<string>IDLgrClipboard::Draw</string>
		<string>IDLgrClipboard::GetContiguousPixels</string>
		<string>IDLgrClipboard::GetDeviceInfo</string>
		<string>IDLgrClipboard::GetFontnames</string>
		<string>IDLgrClipboard::GetProperty</string>
		<string>IDLgrClipboard::GetTextDimensions</string>
		<string>IDLgrClipboard::Init</string>
		<string>IDLgrClipboard::SetProperty</string>
		<string>IDLgrColorbar::Cleanup</string>
		<string>IDLgrColorbar::ComputeDimensions</string>
		<string>IDLgrColorbar::GetProperty</string>
		<string>IDLgrColorbar::Init</string>
		<string>IDLgrColorbar::SetProperty</string>
		<string>IDLgrContour::AdjustLabelOffsets</string>
		<string>IDLgrContour::Cleanup</string>
		<string>IDLgrContour::GetCTM</string>
		<string>IDLgrContour::GetLabelInfo</string>
		<string>IDLgrContour::GetProperty</string>
		<string>IDLgrContour::Init</string>
		<string>IDLgrContour::SetProperty</string>
		<string>IDLgrFont::Cleanup</string>
		<string>IDLgrFont::GetProperty</string>
		<string>IDLgrFont::Init</string>
		<string>IDLgrFont::SetProperty</string>
		<string>IDLgrImage::Cleanup</string>
		<string>IDLgrImage::GetCTM</string>
		<string>IDLgrImage::GetProperty</string>
		<string>IDLgrImage::Init</string>
		<string>IDLgrImage::SetProperty</string>
		<string>IDLgrLegend::Cleanup</string>
		<string>IDLgrLegend::ComputeDimensions</string>
		<string>IDLgrLegend::GetProperty</string>
		<string>IDLgrLegend::Init</string>
		<string>IDLgrLegend::SetProperty</string>
		<string>IDLgrLight::Cleanup</string>
		<string>IDLgrLight::GetCTM</string>
		<string>IDLgrLight::GetProperty</string>
		<string>IDLgrLight::Init</string>
		<string>IDLgrLight::SetProperty</string>
		<string>IDLgrModel::Add</string>
		<string>IDLgrModel::Cleanup</string>
		<string>IDLgrModel::Draw</string>
		<string>IDLgrModel::GetByName</string>
		<string>IDLgrModel::GetCTM</string>
		<string>IDLgrModel::GetProperty</string>
		<string>IDLgrModel::Init</string>
		<string>IDLgrModel::Reset</string>
		<string>IDLgrModel::Rotate</string>
		<string>IDLgrModel::Scale</string>
		<string>IDLgrModel::SetProperty</string>
		<string>IDLgrModel::Translate</string>
		<string>IDLgrMPEG::Cleanup</string>
		<string>IDLgrMPEG::GetProperty</string>
		<string>IDLgrMPEG::Init</string>
		<string>IDLgrMPEG::Put</string>
		<string>IDLgrMPEG::Save</string>
		<string>IDLgrMPEG::SetProperty</string>
		<string>IDLgrPalette::Cleanup</string>
		<string>IDLgrPalette::GetRGB</string>
		<string>IDLgrPalette::GetProperty</string>
		<string>IDLgrPalette::Init</string>
		<string>IDLgrPalette::LoadCT</string>
		<string>IDLgrPalette::NearestColor</string>
		<string>IDLgrPalette::SetRGB</string>
		<string>IDLgrPalette::SetProperty</string>
		<string>IDLgrPattern::Cleanup</string>
		<string>IDLgrPattern::GetProperty</string>
		<string>IDLgrPattern::Init</string>
		<string>IDLgrPattern:SetProperty</string>
		<string>IDLgrPlot::Cleanup</string>
		<string>IDLgrPlot::GetCTM</string>
		<string>IDLgrPlot::GetProperty</string>
		<string>IDLgrPlot::Init</string>
		<string>IDLgrPlot::SetProperty</string>
		<string>IDLgrPolygon::Cleanup</string>
		<string>IDLgrPolygon::GetCTM</string>
		<string>IDLgrPolygon::GetProperty</string>
		<string>IDLgrPolygon::Init</string>
		<string>IDLgrPolygon::SetProperty</string>
		<string>IDLgrPolyline::Cleanup</string>
		<string>IDLgrPolyline::GetCTM</string>
		<string>IDLgrPolyline::GetProperty</string>
		<string>IDLgrPolyline::Init</string>
		<string>IDLgrPolyline::SetProperty</string>
		<string>IDLgrPrinter::Cleanup</string>
		<string>IDLgrPrinter::Draw</string>
		<string>IDLgrPrinter::GetContiguousPixels</string>
		<string>IDLgrPrinter::GetFontnames</string>
		<string>IDLgrPrinter::GetProperty</string>
		<string>IDLgrPrinter::GetTextDimensions</string>
		<string>IDLgrPrinter::Init</string>
		<string>IDLgrPrinter::NewDocument</string>
		<string>IDLgrPrinter::NewPage</string>
		<string>IDLgrPrinter::SetProperty</string>
		<string>IDLgrROI::Cleanup</string>
		<string>IDLgrROI::GetProperty</string>
		<string>IDLgrROI::Init</string>
		<string>IDLgrROI::PickVertex</string>
		<string>IDLgrROI::SetProperty</string>
		<string>IDLgrROIGroup::Add</string>
		<string>IDLgrROIGroup::Cleanup</string>
		<string>IDLgrROIGroup::GetProperty</string>
		<string>IDLgrROIGroup::Init</string>
		<string>IDLgrROIGroup::PickRegion</string>
		<string>IDLgrROIGroup::SetProperty</string>
		<string>IDLgrScene::Add</string>
		<string>IDLgrScene::Cleanup</string>
		<string>IDLgrScene::GetByName</string>
		<string>IDLgrScene::GetProperty</string>
		<string>IDLgrScene::Init</string>
		<string>IDLgrScene::SetProperty</string>
		<string>IDLgrSurface::Cleanup</string>
		<string>IDLgrSurface::GetCTM</string>
		<string>IDLgrSurface::GetProperty</string>
		<string>IDLgrSurface::Init</string>
		<string>IDLgrSurface::SetProperty</string>
		<string>IDLgrSymbol::Cleanup</string>
		<string>IDLgrSymbol::GetProperty</string>
		<string>IDLgrSymbol::Init</string>
		<string>IDLgrSymbol::SetProperty</string>
		<string>IDLgrTessellator::AddPolygon</string>
		<string>IDLgrTessellator::Cleanup</string>
		<string>IDLgrTessellator::Init</string>
		<string>IDLgrTessellator::Reset</string>
		<string>IDLgrTessellator::Tessellate</string>
		<string>IDLgrText::Cleanup</string>
		<string>IDLgrText::GetCTM</string>
		<string>IDLgrText::GetProperty</string>
		<string>IDLgrText::Init</string>
		<string>IDLgrText::SetProperty</string>
		<string>IDLgrView::Add</string>
		<string>IDLgrView::Cleanup</string>
		<string>IDLgrView::GetByName</string>
		<string>IDLgrView::GetProperty</string>
		<string>IDLgrView::Init</string>
		<string>IDLgrView::SetProperty</string>
		<string>IDLgrViewgroup::Add</string>
		<string>IDLgrViewgroup::Cleanup</string>
		<string>IDLgrViewgroup::GetByName</string>
		<string>IDLgrViewgroup::GetProperty</string>
		<string>IDLgrViewgroup::Init</string>
		<string>IDLgrViewgroup::SetProperty</string>
		<string>IDLgrVolume::Cleanup</string>
		<string>IDLgrVolume::ComputeBounds</string>
		<string>IDLgrVolume::GetCTM</string>
		<string>IDLgrVolume::GetProperty</string>
		<string>IDLgrVolume::Init</string>
		<string>IDLgrVolume::PickVoxel</string>
		<string>IDLgrVolume::SetProperty</string>
		<string>IDLgrVRML::Cleanup</string>
		<string>IDLgrVRML::Draw</string>
		<string>IDLgrVRML::GetDeviceInfo</string>
		<string>IDLgrVRML::GetFontnames</string>
		<string>IDLgrVRML::GetProperty</string>
		<string>IDLgrVRML::GetTextDimensions</string>
		<string>IDLgrVRML::Init</string>
		<string>IDLgrVRML::SetProperty</string>
		<string>IDLgrWindow::Cleanup</string>
		<string>IDLgrWindow::Draw</string>
		<string>IDLgrWindow::Erase</string>
		<string>IDLgrWindow::GetContiguousPixels</string>
		<string>IDLgrWindow::GetDeviceInfo</string>
		<string>IDLgrWindow::GetFontnames</string>
		<string>IDLgrWindow::GetProperty</string>
		<string>IDLgrWindow::GetTextDimensions</string>
		<string>IDLgrWindow::Iconify</string>
		<string>IDLgrWindow::Init</string>
		<string>IDLgrWindow::PickData</string>
		<string>IDLgrWindow::Read</string>
		<string>IDLgrWindow::Select</string>
		<string>IDLgrWindow::SetCurrentCursor</string>
		<string>IDLgrWindow::SetProperty</string>
		<string>IDLgrWindow::Show</string>
		<string>IDLitCommand::AddItem</string>
		<string>IDLitCommand::Cleanup</string>
		<string>IDLitCommand::GetItem</string>
		<string>IDLitCommand::GetProperty</string>
		<string>IDLitCommand::GetSize</string>
		<string>IDLitCommand::Init</string>
		<string>IDLitCommand::SetProperty</string>
		<string>IDLitCommandSet::Cleanup</string>
		<string>IDLitCommandSet::GetSize</string>
		<string>IDLitCommandSet::Init</string>
		<string>IDLitComponent::Cleanup</string>
		<string>IDLitComponent::EditUserDefProperty</string>
		<string>IDLitComponent::GetFullIdentifier</string>
		<string>IDLitComponent::GetProperty</string>
		<string>IDLitComponent::GetPropertyAttribute</string>
		<string>IDLitComponent::GetPropertyByIdentifier</string>
		<string>IDLitComponent::Init</string>
		<string>IDLitComponent::QueryProperty</string>
		<string>IDLitComponent::RegisterProperty</string>
		<string>IDLitComponent::SetProperty</string>
		<string>IDLitComponent::SetPropertyAttribute</string>
		<string>IDLitComponent::SetPropertyByIdentifier</string>
		<string>IDLitContainer::Add</string>
		<string>IDLitContainer::AddByIdentifier</string>
		<string>IDLitContainer::Cleanup</string>
		<string>IDLitContainer::Get</string>
		<string>IDLitContainer::GetByIdentifier</string>
		<string>IDLitContainer::Init</string>
		<string>IDLitContainer::Remove</string>
		<string>IDLitContainer::RemoveByIdentifier</string>
		<string>IDLitData::AddDataObserver</string>
		<string>IDLitData::Cleanup</string>
		<string>IDLitData::Copy</string>
		<string>IDLitData::GetByType</string>
		<string>IDLitData::GetData</string>
		<string>IDLitData::GetProperty</string>
		<string>IDLitData::GetSize</string>
		<string>IDLitData::Init</string>
		<string>IDLitData::NotifyDataChange</string>
		<string>IDLitData::NotifyDataComplete</string>
		<string>IDLitData::RemoveDataObserver</string>
		<string>IDLitData::SetData</string>
		<string>IDLitData::SetProperty</string>
		<string>IDLitDataContainer::Cleanup</string>
		<string>IDLitDataContainer::GetData</string>
		<string>IDLitDataContainer::GetIdentifiers</string>
		<string>IDLitDataContainer::GetProperty</string>
		<string>IDLitDataContainer::Init</string>
		<string>IDLitDataContainer::SetData</string>
		<string>IDLitDataContainer::SetProperty</string>
		<string>IDLitDataOperation::Cleanup</string>
		<string>IDLitDataOperation::DoExecuteUI</string>
		<string>IDLitDataOperation::Execute</string>
		<string>IDLitDataOperation::GetProperty</string>
		<string>IDLitDataOperation::Init</string>
		<string>IDLitDataOperation::SetProperty</string>
		<string>IDLitDataOperation::UndoExecute</string>
		<string>IDLitIMessaging::AddOnNotifyObserver</string>
		<string>IDLitIMessaging::DoOnNotify</string>
		<string>IDLitIMessaging::ErrorMessage</string>
		<string>IDLitIMessaging::GetTool</string>
		<string>IDLitIMessaging::ProbeStatusMessage</string>
		<string>IDLitIMessaging::ProgressBar</string>
		<string>IDLitIMessaging::PromptUserText</string>
		<string>IDLitIMessaging::PromptUserYesNo</string>
		<string>IDLitIMessaging::RemoveOnNotifyObserver</string>
		<string>IDLitIMessaging::SignalError</string>
		<string>IDLitIMessaging::StatusMessage</string>
		<string>IDLitManipulator::Cleanup</string>
		<string>IDLitManipulator::CommitUndoValues</string>
		<string>IDLitManipulator::GetCursorType</string>
		<string>IDLitManipulator::GetProperty</string>
		<string>IDLitManipulator::Init</string>
		<string>IDLitManipulator::OnKeyboard</string>
		<string>IDLitManipulator::OnLoseCurrentManipulator</string>
		<string>IDLitManipulator::OnMouseDown</string>
		<string>IDLitManipulator::OnMouseMotion</string>
		<string>IDLitManipulator::OnMouseUp</string>
		<string>IDLitManipulator::RecordUndoValues</string>
		<string>IDLitManipulator::SetCurrentManipulator</string>
		<string>IDLitManipulator::SetProperty</string>
		<string>IDLitManipulatorContainer::Add</string>
		<string>IDLitManipulatorContainer::GetCurrent</string>
		<string>IDLitManipulatorContainer::GetCurrentManipulator</string>
		<string>IDLitManipulatorContainer::GetProperty</string>
		<string>IDLitManipulatorContainer::Init</string>
		<string>IDLitManipulatorContainer::OnKeyboard</string>
		<string>IDLitManipulatorContainer::OnMouseDown</string>
		<string>IDLitManipulatorContainer::OnMouseMotion</string>
		<string>IDLitManipulatorContainer::OnMouseUp</string>
		<string>IDLitManipulatorContainer::SetCurrent</string>
		<string>IDLitManipulatorContainer::SetCurrentManipulator</string>
		<string>IDLitManipulatorContainer::SetProperty</string>
		<string>IDLitManipulatorManager::Add</string>
		<string>IDLitManipulatorManager::AddManipulatorObserver</string>
		<string>IDLitManipulatorManager::Init</string>
		<string>IDLitManipulatorManager::RemoveManipulatorObserver</string>
		<string>IDLitManipulatorVisual::Cleanup</string>
		<string>IDLitManipulatorVisual::GetProperty</string>
		<string>IDLitManipulatorVisual::Init</string>
		<string>IDLitManipulatorVisual::SetProperty</string>
		<string>IDLitOperation::Cleanup</string>
		<string>IDLitOperation::DoAction</string>
		<string>IDLitOperation::GetProperty</string>
		<string>IDLitOperation::Init</string>
		<string>IDLitOperation::RecordFinalValues</string>
		<string>IDLitOperation::RecordInitialValues</string>
		<string>IDLitOperation::RedoOperation</string>
		<string>IDLitOperation::SetProperty</string>
		<string>IDLitOperation::UndoOperation</string>
		<string>IDLitParameter::Cleanup</string>
		<string>IDLitParameter::GetParameter</string>
		<string>IDLitParameter::GetParameterSet</string>
		<string>IDLitParameter::Init</string>
		<string>IDLitParameter::OnDataChangeUpdate</string>
		<string>IDLitParameter::OnDataDisconnect</string>
		<string>IDLitParameter::RegisterParameter</string>
		<string>IDLitParameter::SetData</string>
		<string>IDLitParameter::SetParameterSet</string>
		<string>IDLitParameterSet::Add</string>
		<string>IDLitParameterSet::Cleanup</string>
		<string>IDLitParameterSet::Copy</string>
		<string>IDLitParameterSet::Get</string>
		<string>IDLitParameterSet::GetByName</string>
		<string>IDLitParameterSet::GetParameterName</string>
		<string>IDLitParameterSet::Init</string>
		<string>IDLitParameterSet::Remove</string>
		<string>IDLitReader::Cleanup</string>
		<string>IDLitReader::GetData</string>
		<string>IDLitReader::GetFileExtensions</string>
		<string>IDLitReader::GetFilename</string>
		<string>IDLitReader::GetProperty</string>
		<string>IDLitReader::Init</string>
		<string>IDLitReader::IsA</string>
		<string>IDLitReader::SetFilename</string>
		<string>IDLitReader::SetProperty</string>
		<string>IDLitTool::Add</string>
		<string>IDLitTool::AddService</string>
		<string>IDLitTool::Cleanup</string>
		<string>IDLitTool::CommitActions</string>
		<string>IDLitTool::DisableUpdates</string>
		<string>IDLitTool::DoAction</string>
		<string>IDLitTool::DoSetProperty</string>
		<string>IDLitTool::DoUIService</string>
		<string>IDLitTool::EnableUpdates</string>
		<string>IDLitTool::GetCurrentManipulator</string>
		<string>IDLitTool::GetFileReader</string>
		<string>IDLitTool::GetFileWriter</string>
		<string>IDLitTool::GetManipulators</string>
		<string>IDLitTool::GetOperations</string>
		<string>IDLitTool::GetProperty</string>
		<string>IDLitTool::GetSelectedItems</string>
		<string>IDLitTool::GetService</string>
		<string>IDLitTool::GetVisualization</string>
		<string>IDLitTool::Init</string>
		<string>IDLitTool::RefreshCurrentWindow</string>
		<string>IDLitTool::Register</string>
		<string>IDLitTool::RegisterFileReader</string>
		<string>IDLitTool::RegisterFileWriter</string>
		<string>IDLitTool::RegisterManipulator</string>
		<string>IDLitTool::RegisterOperation</string>
		<string>IDLitTool::RegisterVisualization</string>
		<string>IDLitTool::SetProperty</string>
		<string>IDLitTool::UnRegister</string>
		<string>IDLitTool::UnRegisterFileReader</string>
		<string>IDLitTool::UnRegisterFileWriter</string>
		<string>IDLitTool::UnRegisterManipulator</string>
		<string>IDLitTool::UnRegisterOperation</string>
		<string>IDLitTool::UnRegisterVisualization</string>
		<string>IDLitUI::AddOnNotifyObserver</string>
		<string>IDLitUI::Cleanup</string>
		<string>IDLitUI::DoAction</string>
		<string>IDLitUI::GetProperty</string>
		<string>IDLitUI::GetTool</string>
		<string>IDLitUI::GetWidgetByName</string>
		<string>IDLitUI::Init</string>
		<string>IDLitUI::RegisterUIService</string>
		<string>IDLitUI::RegisterWidget</string>
		<string>IDLitUI::RemoveOnNotifyObserver</string>
		<string>IDLitUI::SetProperty</string>
		<string>IDLitUI::UnRegisterUIService</string>
		<string>IDLitUI::UnRegisterWidget</string>
		<string>IDLitVisualization::Add</string>
		<string>IDLitVisualization::Aggregate</string>
		<string>IDLitVisualization::Cleanup</string>
		<string>IDLitVisualization::Get</string>
		<string>IDLitVisualization::GetCenterRotation</string>
		<string>IDLitVisualization::GetCurrentSelectionVisual</string>
		<string>IDLitVisualization::GetDataSpace</string>
		<string>IDLitVisualization::GetDataString</string>
		<string>IDLitVisualization::GetDefaultSelectionVisual</string>
		<string>IDLitVisualization::GetManipulatorTarget</string>
		<string>IDLitVisualization::GetProperty</string>
		<string>IDLitVisualization::GetSelectionVisual</string>
		<string>IDLitVisualization::GetTypes</string>
		<string>IDLitVisualization::GetXYZRange</string>
		<string>IDLitVisualization::Init</string>
		<string>IDLitVisualization::Is3D</string>
		<string>IDLitVisualization::IsIsotropic</string>
		<string>IDLitVisualization::IsManipulatorTarget</string>
		<string>IDLitVisualization::IsSelected</string>
		<string>IDLitVisualization::OnDataChange</string>
		<string>IDLitVisualization::OnDataComplete</string>
		<string>IDLitVisualization::OnDataRangeChange</string>
		<string>IDLitVisualization::Remove</string>
		<string>IDLitVisualization::Scale</string>
		<string>IDLitVisualization::Select</string>
		<string>IDLitVisualization::Set3D</string>
		<string>IDLitVisualization::SetCurrentSelectionVisual</string>
		<string>IDLitVisualization::SetData</string>
		<string>IDLitVisualization::SetDefaultSelectionVisual</string>
		<string>IDLitVisualization::SetParameterSet</string>
		<string>IDLitVisualization::SetProperty</string>
		<string>IDLitVisualization::UpdateSelectionVisual</string>
		<string>IDLitVisualization::VisToWindow</string>
		<string>IDLitVisualization::WindowToVis</string>
		<string>IDLitWindow::Add</string>
		<string>IDLitWindow::AddWindowEventObserver</string>
		<string>IDLitWindow::Cleanup</string>
		<string>IDLitWindow::ClearSelections</string>
		<string>IDLitWindow::DoHitTest</string>
		<string>IDLitWindow::GetEventMask</string>
		<string>IDLitWindow::GetProperty</string>
		<string>IDLitWindow::GetSelectedItems</string>
		<string>IDLitWindow::Init</string>
		<string>IDLitWindow::OnKeyboard</string>
		<string>IDLitWindow::OnMouseDown</string>
		<string>IDLitWindow::OnMouseMotion</string>
		<string>IDLitWindow::OnMouseUp</string>
		<string>IDLitWindow::OnScroll</string>
		<string>IDLitWindow::Remove</string>
		<string>IDLitWindow::RemoveWindowEventObserver</string>
		<string>IDLitWindow::SetCurrentZoom</string>
		<string>IDLitWindow::SetEventMask</string>
		<string>IDLitWindow::SetManipulatorManager</string>
		<string>IDLitWindow::SetProperty</string>
		<string>IDLitWindow::ZoomIn</string>
		<string>IDLitWindow::ZoomOut</string>
		<string>IDLitWriter::Cleanup</string>
		<string>IDLitWriter::GetFileExtensions</string>
		<string>IDLitWriter::GetFilename</string>
		<string>IDLitWriter::GetProperty</string>
		<string>IDLitWriter::Init</string>
		<string>IDLitWriter::IsA</string>
		<string>IDLitWriter::SetData</string>
		<string>IDLitWriter::SetFilename</string>
		<string>IDLitWriter::SetProperty</string>
		<string>IDLjavaObject::GetProperty</string>
		<string>IDLjavaObject::Init</string>
		<string>IDLjavaObject::SetProperty</string>
		<string>TrackBall::Init</string>
		<string>TrackBall::Reset</string>
		<string>TrackBall::Update</string>
	</array>	
	<key>autocompleteWords</key>
	<array>
	</array>
</dict>
</plist>