<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginCommand</key>
	<string></string>
	<key>endCommand</key>
	<string></string>
	<key>beginInstruction</key>
	<string></string>
	<key>endInstruction</key>
	<string></string>
	<key>beginVariable</key>
	<string></string>
	<key>endVariable</key>
	<string></string>
	<key>firstString</key>
	<string>"</string>
	<key>secondString</key>
	<string>'</string>
	<key>firstSingleLineComment</key>
	<string>//</string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string>/*</string>
	<key>endFirstMultiLineComment</key>
	<string>*/</string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>functionDefinition</key>
	<string>^\s*(static|public|private|protected|internal).*\(.*\).*\n?\s*\{</string>
	<key>removeFromFunction</key>
	<string></string>
	<key>keywordsCaseSensitive</key>
	<false/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>keywords</key>
	<array>
		<string>abstract</string>
		<string>break</string>
		<string>case</string>
		<string>catch</string>
		<string>continue</string>
		<string>default</string>
		<string>do</string>
		<string>else</string>
		<string>extends</string>
		<string>final</string>
		<string>finally</string>
		<string>for</string>
		<string>if</string>
		<string>implements</string>
		<string>instanceof</string>
		<string>native</string>
		<string>new</string>
		<string>private</string>
		<string>protected</string>
		<string>public</string>
		<string>return</string>
		<string>static</string>
		<string>switch</string>
		<string>synchronized</string>
		<string>throw</string>
		<string>throws</string>
		<string>transient</string>
		<string>try</string>
		<string>volatile</string>
		<string>while</string>
		<string>package</string>
		<string>import</string>
		<string>boolean</string>
		<string>byte</string>
		<string>char</string>
		<string>class</string>
		<string>double</string>
		<string>float</string>
		<string>int</string>
		<string>interface</string>
		<string>long</string>
		<string>short</string>
		<string>void</string>
		<string>assert</string>
		<string>strictfp</string>
		<string>false</string>
		<string>null</string>
		<string>super</string>
		<string>this</string>
		<string>true</string>
		<string>goto</string>
		<string>const</string>
		<string>enum</string>
	</array>
	<key>autocompleteWords</key>
	<array>
	</array>
</dict>
</plist>