<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginCommand</key>
	<string>{</string>
	<key>endCommand</key>
	<string>}</string>
	<key>beginInstruction</key>
	<string></string>
	<key>endInstruction</key>
	<string></string>
	<key>beginVariable</key>
	<string>\</string>
	<key>endVariable</key>
	<string> {}()[],?.;/:+=&gt;&lt;~</string>
	<key>firstString</key>
	<string>$</string>
	<key>secondString</key>
	<string></string>
	<key>firstSingleLineComment</key>
	<string>%</string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string></string>
	<key>endFirstMultiLineComment</key>
	<string></string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>functionDefinition</key>
	<string>\\((sub)*section|part|chapter|paragraph){[^}]*}</string>
	<key>removeFromFunction</key>
	<string></string>
	<key>keywordsCaseSensitive</key>
	<true/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>keywords</key>
	<array>
		<string>\begin{document}</string>
		<string>\end{document}</string>
	</array>
	<key>autocompleteWords</key>
	<array>
	</array>
</dict>
</plist>
