<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginCommand</key>
	<string></string>
	<key>endCommand</key>
	<string></string>
	<key>beginInstruction</key>
	<string></string>
	<key>endInstruction</key>
	<string></string>
	<key>beginVariable</key>
	<string>\0123456789#</string>
	<key>endVariable</key>
	<string> {}()[],?.;/:+=&gt;&lt;~</string>
	<key>firstString</key>
	<string>"</string>
	<key>secondString</key>
	<string></string>
	<key>firstSingleLineComment</key>
	<string>%</string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string>%{</string>
	<key>endFirstMultiLineComment</key>
	<string>%}</string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>functionDefinition</key>
	<string>^\s*\w+\s*=</string>
	<key>removeFromFunction</key>
	<string>=</string>
	<key>keywordsCaseSensitive</key>
	<true/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>keywords</key>
	<array>
		<string>staff-spacing-interface</string>
		<string>text-script-interface</string>
		<string>Ottava_spanner_engraver</string>
		<string>Figured_bass_engraver</string>
		<string>Lyrics</string>
		<string>Separating_line_group_engraver</string>
		<string>cluster-interface</string>
		<string>Glissando_engraver</string>
		<string>key-signature-interface</string>
		<string>clef-interface</string>
		<string>VaticanaVoice</string>
		<string>Rest_collision_engraver</string>
		<string>Grace_engraver</string>
		<string>grid-point-interface</string>
		<string>Measure_grouping_engraver</string>
		<string>Laissez_vibrer_engraver</string>
		<string>Script_row_engraver</string>
		<string>bass-figure-alignment-interface</string>
		<string>Note_head_line_engraver</string>
		<string>ottava-bracket-interface</string>
		<string>rhythmic-head-interface</string>
		<string>Accidental_engraver</string>
		<string>Mark_engraver</string>
		<string>hara-kiri-group-interface</string>
		<string>Instrument_name_engraver</string>
		<string>Vaticana_ligature_engraver</string>
		<string>Page_turn_engraver</string>
		<string>staff-symbol-interface</string>
		<string>Beam_performer</string>
		<string>accidental-suggestion-interface</string>
		<string>Key_engraver</string>
		<string>GrandStaff</string>
		<string>multi-measure-interface</string>
		<string>rest-collision-interface</string>
		<string>Dot_column_engraver</string>
		<string>MensuralVoice</string>
		<string>TabStaff</string>
		<string>Pitched_trill_engraver</string>
		<string>line-spanner-interface</string>
		<string>Time_signature_performer</string>
		<string>lyric-interface</string>
		<string>StaffGroup</string>
		<string>text-interface</string>
		<string>slur-interface</string>
		<string>Drum_note_performer</string>
		<string>TabVoice</string>
		<string>measure-grouping-interface</string>
		<string>stanza-number-interface</string>
		<string>self-alignment-interface</string>
		<string>Span_arpeggio_engraver</string>
		<string>system-interface</string>
		<string>Engraver</string>
		<string>RhythmicStaff</string>
		<string>font-interface</string>
		<string>fret-diagram-interface</string>
		<string>Grace_spacing_engraver</string>
		<string>Bar_engraver</string>
		<string>Dynamic_engraver</string>
		<string>Grob_pq_engraver</string>
		<string>Default_bar_line_engraver</string>
		<string>Swallow_performer</string>
		<string>script-column-interface</string>
		<string>Piano_pedal_performer</string>
		<string>metronome-mark-interface</string>
		<string>melody-spanner-interface</string>
		<string>FretBoards</string>
		<string>spacing-spanner-interface</string>
		<string>Control_track_performer</string>
		<string>Break_align_engraver</string>
		<string>paper-column-interface</string>
		<string>PianoStaff</string>
		<string>Breathing_sign_engraver</string>
		<string>accidental-placement-interface</string>
		<string>Tuplet_engraver</string>
		<string>stroke-finger-interface</string>
		<string>side-position-interface</string>
		<string>note-name-interface</string>
		<string>bar-line-interface</string>
		<string>lyric-extender-interface</string>
		<string>Staff</string>
		<string>GregorianTranscriptionStaff</string>
		<string>Rest_swallow_translator</string>
		<string>dynamic-text-spanner-interface</string>
		<string>arpeggio-interface</string>
		<string>Cluster_spanner_engraver</string>
		<string>Collision_engraver</string>
		<string>accidental-interface</string>
		<string>rest-interface</string>
		<string>Tab_note_heads_engraver</string>
		<string>dots-interface</string>
		<string>staff-symbol-referencer-interface</string>
		<string>ambitus-interface</string>
		<string>bass-figure-interface</string>
		<string>vaticana-ligature-interface</string>
		<string>ledgered-interface</string>
		<string>item-interface</string>
		<string>Tie_performer</string>
		<string>volta-bracket-interface</string>
		<string>vertically-spaceable-interface</string>
		<string>ledger-line-interface</string>
		<string>Chord_tremolo_engraver</string>
		<string>note-column-interface</string>
		<string>DrumVoice</string>
		<string>axis-group-interface</string>
		<string>Ledger_line_engraver</string>
		<string>Slash_repeat_engraver</string>
		<string>ligature-bracket-interface</string>
		<string>Pitch_squash_engraver</string>
		<string>Instrument_switch_engraver</string>
		<string>Voice</string>
		<string>Script_column_engraver</string>
		<string>Volta_engraver</string>
		<string>Stanza_number_align_engraver</string>
		<string>Vertical_align_engraver</string>
		<string>span-bar-interface</string>
		<string>Staff_collecting_engraver</string>
		<string>Ligature_bracket_engraver</string>
		<string>Time_signature_engraver</string>
		<string>Beam_engraver</string>
		<string>Note_name_engraver</string>
		<string>Note_heads_engraver</string>
		<string>Forbid_line_break_engraver</string>
		<string>spacing-options-interface</string>
		<string>spacing-interface</string>
		<string>Span_dynamic_performer</string>
		<string>piano-pedal-script-interface</string>
		<string>MensuralStaff</string>
		<string>Global</string>
		<string>trill-pitch-accidental-interface</string>
		<string>grob-interface</string>
		<string>Horizontal_bracket_engraver</string>
		<string>Grid_line_span_engraver</string>
		<string>NoteNames</string>
		<string>piano-pedal-interface</string>
		<string>Axis_group_engraver</string>
		<string>Staff_symbol_engraver</string>
		<string>stem-interface</string>
		<string>Slur_engraver</string>
		<string>pitched-trill-interface</string>
		<string>tie-column-interface</string>
		<string>stem-tremolo-interface</string>
		<string>Grid_point_engraver</string>
		<string>System_start_delimiter_engraver</string>
		<string>Completion_heads_engraver</string>
		<string>Drum_notes_engraver</string>
		<string>Swallow_engraver</string>
		<string>Slur_performer</string>
		<string>lyric-hyphen-interface</string>
		<string>Clef_engraver</string>
		<string>dynamic-interface</string>
		<string>Score</string>
		<string>Output_property_engraver</string>
		<string>Repeat_tie_engraver</string>
		<string>Rest_engraver</string>
		<string>break-aligned-interface</string>
		<string>String_number_engraver</string>
		<string>only-prebreak-interface</string>
		<string>Lyric_engraver</string>
		<string>Tempo_performer</string>
		<string>Parenthesis_engraver</string>
		<string>Repeat_acknowledge_engraver</string>
		<string>mensural-ligature-interface</string>
		<string>align-interface</string>
		<string>Stanza_number_engraver</string>
		<string>system-start-delimiter-interface</string>
		<string>lyric-syllable-interface</string>
		<string>bend-after-interface</string>
		<string>dynamic-line-spanner-interface</string>
		<string>Staff_performer</string>
		<string>Bar_number_engraver</string>
		<string>Fretboard_engraver</string>
		<string>tablature-interface</string>
		<string>Fingering_engraver</string>
		<string>chord-name-interface</string>
		<string>Note_swallow_translator</string>
		<string>Chord_name_engraver</string>
		<string>note-head-interface</string>
		<string>breathing-sign-interface</string>
		<string>Extender_engraver</string>
		<string>Ambitus_engraver</string>
		<string>DrumStaff</string>
		<string>dot-column-interface</string>
		<string>Lyric_performer</string>
		<string>enclosing-bracket-interface</string>
		<string>Trill_spanner_engraver</string>
		<string>Key_performer</string>
		<string>Vertically_spaced_contexts_engraver</string>
		<string>hairpin-interface</string>
		<string>Hyphen_engraver</string>
		<string>Dots_engraver</string>
		<string>multi-measure-rest-interface</string>
		<string>break-alignment-align-interface</string>
		<string>Multi_measure_rest_engraver</string>
		<string>InnerStaffGroup</string>
		<string>text-spanner-interface</string>
		<string>Grace_beam_engraver</string>
		<string>separation-item-interface</string>
		<string>Balloon_engraver</string>
		<string>Translator</string>
		<string>separation-spanner-interface</string>
		<string>Tweak_engraver</string>
		<string>Devnull</string>
		<string>Bend_after_engraver</string>
		<string>Spacing_engraver</string>
		<string>Piano_pedal_align_engraver</string>
		<string>system-start-text-interface</string>
		<string>parentheses-interface</string>
		<string>Melisma_translator</string>
		<string>ChoirStaff</string>
		<string>Span_bar_engraver</string>
		<string>Text_engraver</string>
		<string>GregorianTranscriptionVoice</string>
		<string>Timing_translator</string>
		<string>script-interface</string>
		<string>semi-tie-interface</string>
		<string>Percent_repeat_engraver</string>
		<string>Tab_staff_symbol_engraver</string>
		<string>line-interface</string>
		<string>rhythmic-grob-interface</string>
		<string>Dynamic_performer</string>
		<string>note-spacing-interface</string>
		<string>spanner-interface</string>
		<string>break-alignment-interface</string>
		<string>tuplet-number-interface</string>
		<string>Rhythmic_column_engraver</string>
		<string>cluster-beacon-interface</string>
		<string>horizontal-bracket-interface</string>
		<string>Mensural_ligature_engraver</string>
		<string>ChordNames</string>
		<string>gregorian-ligature-interface</string>
		<string>Melody_engraver</string>
		<string>ligature-interface</string>
		<string>Paper_column_engraver</string>
		<string>FiguredBass</string>
		<string>grace-spacing-interface</string>
		<string>tie-interface</string>
		<string>New_fingering_engraver</string>
		<string>Script_engraver</string>
		<string>Metronome_mark_engraver</string>
		<string>string-number-interface</string>
		<string>Hara_kiri_engraver</string>
		<string>grid-line-interface</string>
		<string>Skip_event_swallow_translator</string>
		<string>Auto_beam_engraver</string>
		<string>spaceable-grob-interface</string>
		<string>Font_size_engraver</string>
		<string>figured-bass-continuation-interface</string>
		<string>semi-tie-column-interface</string>
		<string>CueVoice</string>
		<string>Phrasing_slur_engraver</string>
		<string>InnerChoirStaff</string>
		<string>Arpeggio_engraver</string>
		<string>mark-interface</string>
		<string>VaticanaStaff</string>
		<string>piano-pedal-bracket-interface</string>
		<string>beam-interface</string>
		<string>Note_performer</string>
		<string>custos-interface</string>
		<string>percent-repeat-interface</string>
		<string>time-signature-interface</string>
		<string>Custos_engraver</string>
		<string>Part_combine_engraver</string>
		<string>Piano_pedal_engraver</string>
		<string>tuplet-bracket-interface</string>
		<string>Stem_engraver</string>
		<string>finger-interface</string>
		<string>note-collision-interface</string>
		<string>Text_spanner_engraver</string>
		<string>text-balloon-interface</string>
		<string>Tie_engraver</string>
		<string>Figured_bass_position_engraver</string>
	</array>
	<key>autocompleteWords</key>
	<array>
	</array>
</dict>
</plist>
