<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginCommand</key>
	<string>(</string>
	<key>endCommand</key>
	<string> </string>
	<key>beginInstruction</key>
	<string>'(</string>
	<key>endInstruction</key>
	<string>)</string>
	<key>beginVariable</key>
	<string>:</string>
	<key>endVariable</key>
	<string> </string>
	<key>firstString</key>
	<string>"</string>
	<key>secondString</key>
	<string>'</string>
	<key>firstSingleLineComment</key>
	<string>;</string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string>#|</string>
	<key>endFirstMultiLineComment</key>
	<string>|#</string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>functionDefinition</key>
	<string></string>
	<key>removeFromFunction</key>
	<string></string>
	<key>keywordsCaseSensitive</key>
	<false/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>keywords</key>
	<array>
		<string>abort</string>
		<string>abs</string>
		<string>access</string>
		<string>acons</string>
		<string>acos</string>
		<string>acosh</string>
		<string>add-method</string>
		<string>adjoin</string>
		<string>adjustable-array-p</string>
		<string>allocate-instance</string>
		<string>alpha-char-p</string>
		<string>alphanumericp</string>
		<string>and</string>
		<string>append</string>
		<string>applyhook</string>
		<string>apply</string>
		<string>apropos</string>
		<string>aref</string>
		<string>arrayp</string>
		<string>array</string>
		<string>array-dimension</string>
		<string>array-dimension-limit</string>
		<string>array-dimensions</string>
		<string>array-element-type</string>
		<string>array-in-bounds-p</string>
		<string>ash</string>
		<string>asinh</string>
		<string>asin</string>
		<string>assoc-if</string>
		<string>assoc-if-not</string>
		<string>assert</string>
		<string>array-rank</string>
		<string>array-rank-limit</string>
		<string>array-row-major-index</string>
		<string>array-total-size</string>
		<string>atanh</string>
		<string>atan</string>
		<string>bit</string>
		<string>bit-and</string>
		<string>bit-eqv</string>
		<string>bit-ior</string>
		<string>bit-nand</string>
		<string>bit-nor</string>
		<string>bit-not</string>
		<string>bit-vector</string>
		<string>bit-vector-p</string>
		<string>bit-xor</string>
		<string>block</string>
		<string>boolean</string>
		<string>boole-and</string>
		<string>boole-nor</string>
		<string>boole-xor</string>
		<string>boundp</string>
		<string>butlast</string>
		<string>byte</string>
		<string>call-next-method</string>
		<string>call-method</string>
		<string>car</string>
		<string>case</string>
		<string>catch</string>
		<string>cdr</string>
		<string>ceiling</string>
		<string>char-downcase</string>
		<string>char-equal</string>
		<string>char-greaterp</string>
		<string>char-int</string>
		<string>char-lessp</string>
		<string>char-name</string>
		<string>char-not-equal</string>
		<string>char-not-greaterp</string>
		<string>char-not-lessp</string>
		<string>char-upcase</string>
		<string>check-type</string>
		<string>characterp</string>
		<string>check-type</string>
		<string>class</string>
		<string>class-name</string>
		<string>class-of</string>
		<string>close</string>
		<string>coerce</string>
		<string>compile</string>
		<string>compile-file</string>
		<string>complement</string>
		<string>complexp</string>
		<string>complex</string>
		<string>concatenate</string>
		<string>concatenated-stream</string>
		<string>concatenated-stream-streams</string>
		<string>condition</string>
		<string>cond</string>
		<string>consp</string>
		<string>constantp</string>
		<string>cons</string>
		<string>copy-alist</string>
		<string>copy-list</string>
		<string>copy-readtable</string>
		<string>copy-seq</string>
		<string>copy-structure</string>
		<string>copy-symbol</string>
		<string>copy-tree</string>
		<string>cosh</string>
		<string>cos</string>
		<string>count</string>
		<string>count-if</string>
		<string>count-if-not</string>
		<string>decf</string>
		<string>declaim</string>
		<string>declare</string>
		<string>defclass</string>
		<string>defconstant</string>
		<string>defgeneric</string>
		<string>defmacro</string>
		<string>defmethod</string>
		<string>defpackage</string>
		<string>defparameter</string>
		<string>defsetf</string>
		<string>defstruct</string>
		<string>deftype</string>
		<string>defun</string>
		<string>defvar</string>
		<string>define-condition</string>
		<string>define-method-combination</string>
		<string>define-setf-expander</string>
		<string>define-setf-method</string>
		<string>delete-if</string>
		<string>delete-if-not</string>
		<string>display</string>
		<string>do*</string>
		<string>do</string>
		<string>dolist</string>
		<string>dotimes</string>
		<string>elt</string>
		<string>end-of-file</string>
		<string>endp</string>
		<string>eq</string>
		<string>eql</string>
		<string>equalp</string>
		<string>equal</string>
		<string>error</string>
		<string>eval</string>
		<string>eval-when</string>
		<string>evenp</string>
		<string>every</string>
		<string>export</string>
		<string>expt</string>
		<string>exp</string>
		<string>fboundp</string>
		<string>fceiling</string>
		<string>ffloor</string>
		<string>find-class</string>
		<string>find-if</string>
		<string>find-if-not</string>
		<string>file-length</string>
		<string>find-method</string>
		<string>find-package</string>
		<string>find-restart</string>
		<string>find-symbol</string>
		<string>finish-output</string>
		<string>first</string>
		<string>fixnum</string>
		<string>flet</string>
		<string>floatp</string>
		<string>float</string>
		<string>floor</string>
		<string>fmakunbound</string>
		<string>force-output</string>
		<string>format</string>
		<string>fresh-line</string>
		<string>fround</string>
		<string>ftruncate</string>
		<string>ftype</string>
		<string>funcall</string>
		<string>functionp</string>
		<string>gcd</string>
		<string>gensym</string>
		<string>gentemp</string>
		<string>getf</string>
		<string>gethash</string>
		<string>get</string>
		<string>generic-function</string>
		<string>handler-bind</string>
		<string>handler-case</string>
		<string>hash-table</string>
		<string>hash-table-count</string>
		<string>hash-table-p</string>
		<string>hash-table-rehash-size</string>
		<string>hash-table-size</string>
		<string>if</string>
		<string>if-exists</string>
		<string>in-package</string>
		<string>incf</string>
		<string>input-stream-p</string>
		<string>integerp</string>
		<string>integer</string>
		<string>interactive-stream-p</string>
		<string>lambda</string>
		<string>last</string>
		<string>lcm</string>
		<string>length</string>
		<string>let*</string>
		<string>let</string>
		<string>list*</string>
		<string>listp</string>
		<string>list</string>
		<string>list-length</string>
		<string>load</string>
		<string>logand</string>
		<string>logbitp</string>
		<string>logcount</string>
		<string>logeqv</string>
		<string>logior</string>
		<string>lognand</string>
		<string>lognor</string>
		<string>lognot</string>
		<string>logxor</string>
		<string>log</string>
		<string>loop</string>
		<string>loop-finish</string>
		<string>macro-function</string>
		<string>macrolet</string>
		<string>make-array</string>
		<string>make-char</string>
		<string>make-condition</string>
		<string>make-hash-table</string>
		<string>make-instance</string>
		<string>make-list</string>
		<string>make-method</string>
		<string>make-package</string>
		<string>make-pathname</string>
		<string>make-sequence</string>
		<string>make-string</string>
		<string>make-string-input-stream</string>
		<string>make-string-output-stream</string>
		<string>make-symbol</string>
		<string>makunbound</string>
		<string>mapcan</string>
		<string>mapcar</string>
		<string>mapcon</string>
		<string>mapc</string>
		<string>maphash</string>
		<string>maplist</string>
		<string>mapl</string>
		<string>map</string>
		<string>map-into</string>
		<string>max</string>
		<string>member</string>
		<string>member-if</string>
		<string>member-if-not</string>
		<string>minusp</string>
		<string>min</string>
		<string>mod</string>
		<string>multiple-value-bind</string>
		<string>multiple-value-call</string>
		<string>multiple-value-list</string>
		<string>multiple-value-prog1</string>
		<string>multiple-value-seteq</string>
		<string>multiple-value-setq</string>
		<string>nbutlast</string>
		<string>nconc</string>
		<string>next-method-p</string>
		<string>nil</string>
		<string>not</string>
		<string>nreconc</string>
		<string>nreverse</string>
		<string>nsubstitute</string>
		<string>nsubstitute-if-not</string>
		<string>nthcdr</string>
		<string>nth</string>
		<string>nth-value</string>
		<string>null</string>
		<string>numberp</string>
		<string>number</string>
		<string>numerator</string>
		<string>nunion</string>
		<string>nsubst-if</string>
		<string>nsubst-if-not</string>
		<string>oddp</string>
		<string>open</string>
		<string>open-stream-p</string>
		<string>optimize</string>
		<string>or</string>
		<string>otherwise</string>
		<string>output-stream-p</string>
		<string>packagep</string>
		<string>pathnamep</string>
		<string>peek-char</string>
		<string>plusp</string>
		<string>pop</string>
		<string>pprint</string>
		<string>prin1</string>
		<string>princ</string>
		<string>print</string>
		<string>print-object</string>
		<string>proclaim</string>
		<string>prog</string>
		<string>prog*</string>
		<string>prog1</string>
		<string>progn</string>
		<string>progv</string>
		<string>provide</string>
		<string>push</string>
		<string>pushnew</string>
		<string>putprop</string>
		<string>quote</string>
		<string>random</string>
		<string>rassoc</string>
		<string>rassoc-if</string>
		<string>rassoc-if-not</string>
		<string>ratio</string>
		<string>rational</string>
		<string>rationalp</string>
		<string>rationalize</string>
		<string>read</string>
		<string>read-byte</string>
		<string>read-char</string>
		<string>read-delimited-list</string>
		<string>read-eval-print</string>
		<string>read-from-string</string>
		<string>read-line</string>
		<string>read-preserving-whitespace</string>
		<string>read-sequence</string>
		<string>real</string>
		<string>realp</string>
		<string>reduce</string>
		<string>rem</string>
		<string>remf</string>
		<string>remhash</string>
		<string>remove-method</string>
		<string>remprop</string>
		<string>restart-bind</string>
		<string>restart-case</string>
		<string>restart-name</string>
		<string>return</string>
		<string>revappend</string>
		<string>reverse</string>
		<string>rlet</string>
		<string>rotatef</string>
		<string>round</string>
		<string>second</string>
		<string>sequence</string>
		<string>set</string>
		<string>set-difference</string>
		<string>set-exclusive-or</string>
		<string>set-macro-character</string>
		<string>setf</string>
		<string>setq</string>
		<string>shiftf</string>
		<string>sin</string>
		<string>sinh</string>
		<string>single-float</string>
		<string>sleep</string>
		<string>slot-boundp</string>
		<string>slot-exists-p</string>
		<string>slot-makunbound</string>
		<string>slot-missing</string>
		<string>slot-unbound</string>
		<string>slot-value</string>
		<string>sort</string>
		<string>special-form-p</string>
		<string>step</string>
		<string>streamp</string>
		<string>string</string>
		<string>stringp</string>
		<string>string-capitalize</string>
		<string>string-char</string>
		<string>string-char-p</string>
		<string>string-downcase</string>
		<string>string-equal</string>
		<string>string-greaterp</string>
		<string>string-left-trim</string>
		<string>string-lessp</string>
		<string>string-not-equal</string>
		<string>string-not-greaterp</string>
		<string>string-not-lessp</string>
		<string>string-right-strim</string>
		<string>string-right-trim</string>
		<string>string-stream</string>
		<string>string-trim</string>
		<string>string-upcase</string>
		<string>subsetp</string>
		<string>sqrt</string>
		<string>symbolp</string>
		<string>tailp</string>
		<string>tan</string>
		<string>tanh</string>
		<string>throw</string>
		<string>type</string>
		<string>type-of</string>
		<string>typep</string>
		<string>unbound-slot</string>
		<string>unbound-slot-instance</string>
		<string>unbound-variable</string>
		<string>union</string>
		<string>unless</string>
		<string>unwind-protect</string>
		<string>unread</string>
		<string>unread-char</string>
		<string>use-package</string>
		<string>use-value</string>
		<string>values</string>
		<string>values-list</string>
		<string>vector</string>
		<string>vector-pop</string>
		<string>vector-push</string>
		<string>vector-push-extend</string>
		<string>vectorp</string>
		<string>warn</string>
		<string>warning</string>
		<string>when</string>
		<string>with-accessors</string>
		<string>with-input-from-string</string>
		<string>with-open-file</string>
		<string>with-open-stream</string>
		<string>with-output-to-string</string>
		<string>with-package-iterator</string>
		<string>with-simple-restart</string>
		<string>with-slots</string>
		<string>with-standard-io-syntax</string>
		<string>without-interrupts</string>
		<string>write</string>
		<string>write-byte</string>
		<string>write-char</string>
		<string>write-line</string>
		<string>write-to-string</string>
		<string>write-sequence</string>
		<string>zerop</string>
	</array>
	<key>autocompleteWords</key>
	<array>
	</array>
</dict>
</plist>

 	  	 
