<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autocompleteWords</key>
		<array>
			<string>encoding</string>
			<string>calls</string>
			<string>category</string>
			<string>dynamic</string>
			<string>end_category</string>
			<string>end_object</string>
			<string>end_protocol</string>
			<string>info</string>
			<string>initialization</string>
			<string>object</string>
			<string>protocol</string>
			<string>threaded</string>
			<string>uses</string>
			<string>alias</string>
			<string>discontiguous</string>
			<string>meta_predicate</string>
			<string>mode</string>
			<string>op</string>
			<string>private</string>
			<string>protected</string>
			<string>public</string>
			<string>current_object</string>
			<string>current_protocol</string>
			<string>current_category</string>
			<string>object_property</string>
			<string>protocol_property</string>
			<string>category_property</string>
			<string>create_object</string>
			<string>create_protocol</string>
			<string>create_category</string>
			<string>abolish_object</string>
			<string>abolish_protocol</string>
			<string>abolish_category</string>
			<string>extends_object</string>
			<string>extends_protocol</string>
			<string>implements_protocol</string>
			<string>imports_category</string>
			<string>instantiates_class</string>
			<string>specializes_class</string>
			<string>abolish_events</string>
			<string>current_event</string>
			<string>define_events</string>
			<string>logtalk_load</string>
			<string>logtalk_compile</string>
			<string>logtalk_library_path</string>
			<string>current_logtalk_flag</string>
			<string>set_logtalk_flag</string>
			<string>threaded_call</string>
			<string>threaded_once</string>
			<string>threaded_ignore</string>
			<string>threaded_exit</string>
			<string>threaded_peek</string>
			<string>threaded_wait</string>
			<string>threaded_notify</string>
			<string>synchronized</string>
			<string>self</string>
			<string>this</string>
			<string>sender</string>
			<string>parameter</string>
			<string>before</string>
			<string>after</string>
			<string>phrase</string>
			<string>expand_term</string>
			<string>term_expansion</string>
			<string>true</string>
			<string>fail</string>
			<string>call</string>
			<string>catch</string>
			<string>throw</string>
			<string>unify_with_occurs_check</string>
			<string>var</string>
			<string>atom</string>
			<string>integer</string>
			<string>float</string>
			<string>atomic</string>
			<string>compound</string>
			<string>nonvar</string>
			<string>number</string>
			<string>arg</string>
			<string>copy_term</string>
			<string>functor</string>
			<string>current_predicate</string>
			<string>predicate_property</string>
			<string>abolish</string>
			<string>assertz</string>
			<string>asserta</string>
			<string>clause</string>
			<string>retract</string>
			<string>retractall</string>
			<string>bagof</string>
			<string>findall</string>
			<string>forall</string>
			<string>setof</string>
			<string>current_input</string>
			<string>current_output</string>
			<string>set_input</string>
			<string>set_output</string>
			<string>open</string>
			<string>close</string>
			<string>flush_output</string>
			<string>stream_property</string>
			<string>at_end_of_stream</string>
			<string>set_stream_position</string>
			<string>get_char</string>
			<string>get_code</string>
			<string>peek_char</string>
			<string>peek_code</string>
			<string>put_char</string>
			<string>put_code</string>
			<string>nl</string>
			<string>get_byte</string>
			<string>peek_byte</string>
			<string>put_byte</string>
			<string>read</string>
			<string>read_term</string>
			<string>write</string>
			<string>writeq</string>
			<string>write_canonical</string>
			<string>atom_chars</string>
			<string>atom_codes</string>
			<string>atom_concat</string>
			<string>number_chars</string>
			<string>number_codes</string>
			<string>current_op</string>
			<string>char_conversion</string>
			<string>current_char_conversion</string>
			<string>once</string>
			<string>repeat</string>
			<string>atom_length</string>
			<string>atom_concat</string>
			<string>sub_atom</string>
			<string>atom_chars</string>
			<string>atom_codes</string>
			<string>char_code</string>
			<string>number_chars</string>
			<string>number_codes</string>
			<string>set_prolog_flag</string>
			<string>current_prolog_flag</string>
			<string>halt</string>
		</array>
	<key>beginCommand</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string>/*</string>
	<key>beginInstruction</key>
	<string></string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>beginVariable</key>
	<string></string>
	<key>endCommand</key>
	<string></string>
	<key>endFirstMultiLineComment</key>
	<string>*/</string>
	<key>endInstruction</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>endVariable</key>
	<string></string>
	<key>firstSingleLineComment</key>
	<string>%</string>
	<key>firstString</key>
	<string>"</string>
	<key>functionDefinition</key>
	<string>((?&lt;=:-\sobject\()|(?&lt;=:-\sprotocol\()|(?&lt;=:-\scategory\())[a-z][a-zA-Z0-9_]*</string>
	<key>removeFromFunction</key>
	<string></string>
	<key>keywords</key>
	<array>
		<string>::</string>
        <string>^^</string>
		<string>&lt;&lt;</string>
	</array>
	<key>keywordsCaseSensitive</key>
	<true/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>secondString</key>
	<string>'</string>
</dict>
</plist>
