<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginCommand</key>
	<string></string>
	<key>endCommand</key>
	<string></string>
	<key>beginInstruction</key>
	<string></string>
	<key>endInstruction</key>
	<string></string>
	<key>beginVariable</key>
	<string></string>
	<key>endVariable</key>
	<string></string>
	<key>firstString</key>
	<string>"</string>
	<key>secondString</key>
	<string></string>
	<key>firstSingleLineComment</key>
	<string>//</string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string>/*</string>
	<key>endFirstMultiLineComment</key>
	<string>*/</string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>functionDefinition</key>
	<string>^\s*.*\(.*\)\n?\s*\{</string>
	<key>removeFromFunction</key>
	<string></string>
	<key>keywordsCaseSensitive</key>
	<true/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>keywords</key>
	<array>
		<string>default</string>
		<string>delete</string>
		<string>do</string>
		<string>else</string>
		<string>FALSE</string>
		<string>float</string>
		<string>for</string>
		<string>if</string>
		<string>integer</string>
		<string>jump</string>
		<string>key</string>
		<string>list</string>
		<string>return</string>
		<string>rotation</string>
		<string>state</string>
		<string>TRUE</string>
		<string>vector</string>
		<string>void</string>
		<string>while</string>
		<string>NULL</string>
	</array>
	<key>autocompleteWords</key>
	<array>
		<string>llAbs</string>
		<string>llAcos</string>
		<string>llAddToLandBanList</string>
		<string>llAddToLandPassList</string>
		<string>llAdjustSoundVolume</string>
		<string>llAllowInventoryDrop</string>
		<string>llAngleBetween</string>
		<string>llApplyImpulse</string>
		<string>llApplyRotationalImpulse</string>
		<string>llAsin</string>
		<string>llAtan2</string>
		<string>llAttachToAvatar</string>
		<string>llAvatarOnSitTarget</string>
		<string>llAxes2Rot</string>
		<string>llAxisAngle2Rot</string>
		<string>llBase64ToInteger</string>
		<string>llBase64ToString</string>
		<string>llBreakAllLinks</string>
		<string>llBreakLink</string>
		<string>llCeil</string>
		<string>llClearCameraParams</string>
		<string>llCloseRemoteDataChannel</string>
		<string>llCloud</string>
		<string>llCollisionFilter</string>
		<string>llCollisionSound</string>
		<string>llCollisionSprite</string>
		<string>llCos</string>
		<string>llCreateLink</string>
		<string>llCSV2List</string>
		<string>llDeleteSubList</string>
		<string>llDeleteSubString</string>
		<string>llDetachFromAvatar</string>
		<string>llDetectedGrab</string>
		<string>llDetectedGroup</string>
		<string>llDetectedKey</string>
		<string>llDetectedLinkNumber</string>
		<string>llDetectedName</string>
		<string>llDetectedOwner</string>
		<string>llDetectedPos</string>
		<string>llDetectedRot</string>
		<string>llDetectedType</string>
		<string>llDetectedVel</string>
		<string>llDialog</string>
		<string>llDie</string>
		<string>llDumpList2String</string>
		<string>llEdgeOfWorld</string>
		<string>llEjectFromLand</string>
		<string>llEmail</string>
		<string>llEscapeURL</string>
		<string>llEuler2Rot</string>
		<string>llFabs</string>
		<string>llFloor</string>
		<string>llForceMouselook</string>
		<string>llFrand</string>
		<string>llGetAccel</string>
		<string>llGetAgentInfo</string>
		<string>llGetAgentSize</string>
		<string>llGetAlpha</string>
		<string>llGetAndResetTime</string>
		<string>llGetAnimation</string>
		<string>llGetAnimationList</string>
		<string>llGetAttached</string>
		<string>llGetBoundingBox</string>
		<string>llGetCameraPos</string>
		<string>llGetCameraRot</string>
		<string>llGetCenterOfMass</string>
		<string>llGetCreator</string>
		<string>llGetColor</string>
		<string>llGetDate</string>
		<string>llGetEnergy</string>
		<string>llGetForce</string>
		<string>llGetFreeMemory</string>
		<string>llGetGeometricCenter</string>
		<string>llGetGMTclock</string>
		<string>llGetInventoryCreator</string>
		<string>llGetInventoryKey</string>
		<string>llGetInventoryName</string>
		<string>llGetInventoryNumber</string>
		<string>llGetInventoryPermMask</string>
		<string>llGetInventoryType</string>
		<string>llGetKey</string>
		<string>llGetLandOwnerAt</string>
		<string>llGetLinkKey</string>
		<string>llGetLinkName</string>
		<string>llGetLinkNumber</string>
		<string>llGetListEntryType</string>
		<string>llGetListLength</string>
		<string>llGetLocalPos</string>
		<string>llGetLocalRot</string>
		<string>llGetMass</string>
		<string>llGetNextEmail</string>
		<string>llGetNotecardLine</string>
		<string>llGetNumberOfNotecardLines</string>
		<string>llGetNumberOfPrims</string>
		<string>llGetNumberOfSides</string>
		<string>llGetObjectDesc</string>
		<string>llGetObjectMass</string>
		<string>llGetObjectName</string>
		<string>llGetObjectPermMask</string>
		<string>llGetObjectPrimCount</string>
		<string>llGetOmega</string>
		<string>llGetOwner</string>
		<string>llGetOwnerKey</string>
		<string>llGetParcelDetails</string>
		<string>llGetParcelFlags</string>
		<string>llGetParcelMaxPrims</string>
		<string>llGetParcelPrimCount</string>
		<string>llGetParcelPrimOwners</string>
		<string>llGetPermissions</string>
		<string>llGetPermissionsKey</string>
		<string>llGetPos</string>
		<string>llGetPrimitiveParams</string>
		<string>llGetRegionCorner</string>
		<string>llGetRegionFlags</string>
		<string>llGetRegionFPS</string>
		<string>llGetRegionName</string>
		<string>llGetRegionTimeDilation</string>
		<string>llGetRootPosition</string>
		<string>llGetRootRotation</string>
		<string>llGetRot</string>
		<string>llGetScale</string>
		<string>llGetScriptName</string>
		<string>llGetScriptState</string>
		<string>llGetSimulatorHostname</string>
		<string>llGetStartParameter</string>
		<string>llGetStatus</string>
		<string>llGetSubString</string>
		<string>llGetSunDirection</string>
		<string>llGetTexture</string>
		<string>llGetTextureOffset</string>
		<string>llGetTextureRot</string>
		<string>llGetTextureScale</string>
		<string>llGetTime</string>
		<string>llGetTimeOfDay</string>
		<string>llGetTimestamp</string>
		<string>llGetTorque</string>
		<string>llGetUnixTime</string>
		<string>llGetVel</string>
		<string>llGetWallclock</string>
		<string>llGiveInventory</string>
		<string>llGiveInventoryList</string>
		<string>llGiveMoney</string>
		<string>llGodLikeRezObject</string>
		<string>llGround</string>
		<string>llGroundContour</string>
		<string>llGroundNormal</string>
		<string>llGroundRepel</string>
		<string>llGroundSlope</string>
		<string>llHTTPRequest</string>
		<string>llInsertString</string>
		<string>llInstantMessage</string>
		<string>llIntegerToBase64</string>
		<string>llKey2Name</string>
		<string>llList2CSV</string>
		<string>llList2Float</string>
		<string>llList2Integer</string>
		<string>llList2Key</string>
		<string>llList2List</string>
		<string>llList2ListStrided</string>
		<string>llList2Rot</string>
		<string>llList2String</string>
		<string>llList2Vector</string>
		<string>llListFindList</string>
		<string>llListInsertList</string>
		<string>llListRandomize</string>
		<string>llListReplaceList</string>
		<string>llListSort</string>
		<string>llListStatistics</string>
		<string>llListen</string>
		<string>llListenControl</string>
		<string>llListenRemove</string>
		<string>llLoadURL</string>
		<string>llLog</string>
		<string>llLog10</string>
		<string>llLookAt</string>
		<string>llLoopSound</string>
		<string>llLoopSoundMaster</string>
		<string>llLoopSoundSlave</string>
		<string>llMapDestination</string>
		<string>llMD5String</string>
		<string>llMessageLinked</string>
		<string>llMinEventDelay</string>
		<string>llModifyLand</string>
		<string>llModPow</string>
		<string>llMoveToTarget</string>
		<string>llOffsetTexture</string>
		<string>llOpenRemoteDataChannel</string>
		<string>llOverMyLand</string>
		<string>llOwnerSay</string>
		<string>llParcelMediaCommandList</string>
		<string>llParcelMediaQuery</string>
		<string>llParseString2List</string>
		<string>llParseStringKeepNulls</string>
		<string>llParticleSystem</string>
		<string>llPassCollisions</string>
		<string>llPassTouches</string>
		<string>llPlaySound</string>
		<string>llPlaySoundSlave</string>
		<string>llPointAt</string>
		<string>llPow</string>
		<string>llPreloadSound</string>
		<string>llPushObject</string>
		<string>llRefreshPrimURL</string>
		<string>llReleaseCamera</string>
		<string>llReleaseControls</string>
		<string>llRemoteDataReply</string>
		<string>llRemoteDataSetRegion</string>
		<string>llRemoteLoadScriptPin</string>
		<string>llRemoveFromLandBanList</string>
		<string>llRemoveFromLandPassList</string>
		<string>llRemoveInventory</string>
		<string>llRemoveVehicleFlags</string>
		<string>llRequestAgentData</string>
		<string>llRequestInventoryData</string>
		<string>llRequestPermissions</string>
		<string>llRequestSimulatorData</string>
		<string>llResetOtherScript</string>
		<string>llResetScript</string>
		<string>llResetTime</string>
		<string>llRezAtRoot</string>
		<string>llRezObject</string>
		<string>llRot2Angle</string>
		<string>llRot2Axis</string>
		<string>llRot2Euler</string>
		<string>llRot2Fwd</string>
		<string>llRot2Left</string>
		<string>llRot2Up</string>
		<string>llRotBetween</string>
		<string>llRotLookAt</string>
		<string>llRotTarget</string>
		<string>llRotTargetRemove</string>
		<string>llRotateTexture</string>
		<string>llRound</string>
		<string>llSameGroup</string>
		<string>llSay</string>
		<string>llScaleTexture</string>
		<string>llScriptDanger</string>
		<string>llSendRemoteData</string>
		<string>llSensor</string>
		<string>llSensorRemove</string>
		<string>llSensorRepeat</string>
		<string>llSetAlpha</string>
		<string>llSetBuoyancy</string>
		<string>llSetCameraAtOffset</string>
		<string>llSetCameraEyeOffset</string>
		<string>llSetCameraParams</string>
		<string>llSetColor</string>
		<string>llSetDamage</string>
		<string>llSetForce</string>
		<string>llSetForceAndTorque</string>
		<string>llSetHoverHeight</string>
		<string>llSetLinkAlpha</string>
		<string>llSetLinkColor</string>
		<string>llSetLocalRot</string>
		<string>llSetObjectDesc</string>
		<string>llSetObjectName</string>
		<string>llSetParcelMusicURL</string>
		<string>llSetPayPrice</string>
		<string>llSetPos</string>
		<string>llSetPrimURL</string>
		<string>llSetPrimitiveParams</string>
		<string>llSetRemoteScriptAccessPin</string>
		<string>llSetRot</string>
		<string>llSetScale</string>
		<string>llSetScriptState</string>
		<string>llSetSitText</string>
		<string>llSetSoundQueueing</string>
		<string>llSetSoundRadius</string>
		<string>llSetStatus</string>
		<string>llSetText</string>
		<string>llSetTexture</string>
		<string>llSetTextureAnim</string>
		<string>llSetTimerEvent</string>
		<string>llSetTorque</string>
		<string>llSetTouchText</string>
		<string>llSetVehicleFlags</string>
		<string>llSetVehicleFloatParam</string>
		<string>llSetVehicleRotationParam</string>
		<string>llSetVehicleType</string>
		<string>llSetVehicleVectorParam</string>
		<string>llShout</string>
		<string>llSin</string>
		<string>llSitTarget</string>
		<string>llSleep</string>
		<string>llSqrt</string>
		<string>llStartAnimation</string>
		<string>llStopAnimation</string>
		<string>llStopHover</string>
		<string>llStopLookAt</string>
		<string>llStopMoveToTarget</string>
		<string>llStopPointAt</string>
		<string>llStopSound</string>
		<string>llStringLength</string>
		<string>llStringToBase64</string>
		<string>llSubStringIndex</string>
		<string>llTakeCamera</string>
		<string>llTakeControls</string>
		<string>llTan</string>
		<string>llTarget</string>
		<string>llTargetOmega</string>
		<string>llTargetRemove</string>
		<string>llTeleportAgentHome</string>
		<string>llToLower</string>
		<string>llToUpper</string>
		<string>llTriggerSound</string>
		<string>llTriggerSoundLimited</string>
		<string>llUnescapeURL</string>
		<string>llUnSit</string>
		<string>llVecDist</string>
		<string>llVecMag</string>
		<string>llVecNorm</string>
		<string>llVolumeDetect</string>
		<string>llWater</string>
		<string>llWhisper</string>
		<string>llWind</string>
		<string>llXorBase64StringsCorrect</string>
		<string>at_rot_target</string>
		<string>at_target</string>
		<string>attach</string>
		<string>changed</string>
		<string>collision</string>
		<string>collision_end</string>
		<string>collision_start</string>
		<string>control</string>
		<string>dataserver</string>
		<string>email</string>
		<string>http_response</string>
		<string>land_collision</string>
		<string>land_collision_end</string>
		<string>land_collision_start</string>
		<string>link_message</string>
		<string>listen</string>
		<string>money</string>
		<string>moving_end</string>
		<string>moving_start</string>
		<string>no_sensor</string>
		<string>not_at_rot_target</string>
		<string>not_at_target</string>
		<string>object_rez</string>
		<string>on_rez</string>
		<string>remote_data</string>
		<string>run_time_permissions</string>
		<string>sensor</string>
		<string>state_entry</string>
		<string>state_exit</string>
		<string>timer</string>
		<string>touch</string>
		<string>touch_start</string>
		<string>touch_end</string>
	</array>
</dict>
</plist>