<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginCommand</key>
	<string></string>
	<key>endCommand</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string>--[[</string>
	<key>endFirstMultiLineComment</key>
	<string>]]</string>
	<key>beginInstruction</key>
	<string>[[</string>
	<key>endInstruction</key>
	<string>]]</string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>beginVariable</key>
	<string></string>
	<key>endVariable</key>
	<string></string>
	<key>firstSingleLineComment</key>
	<string>--</string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>firstString</key>
	<string>"</string>
	<key>secondString</key>
	<string>'</string>
	<key>functionDefinition</key>
	<string></string>
	<key>removeFromFunction</key>
	<string></string>
	<key>keywordsCaseSensitive</key>
	<true/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>keywords</key>
	<array>
		<string>and</string>
		<string>break</string>
		<string>do</string>
		<string>else</string>
		<string>elseif</string>
		<string>end</string>
		<string>false</string>
		<string>for</string>
		<string>function</string>
		<string>if</string>
		<string>in</string>
		<string>local</string>
		<string>nil</string>
		<string>not</string>
		<string>or</string>
		<string>repeat</string>
		<string>return</string>
		<string>then</string>
		<string>true</string>
		<string>until</string>
		<string>while</string>
		<string>assert</string>
		<string>collectgarbage</string>
		<string>dofile</string>
		<string>error</string>
		<string>_G</string>
		<string>getfenv</string>
		<string>getmetatable</string>
		<string>gcinfo</string>
		<string>ipairs</string>
		<string>loadfile</string>
		<string>loadlib</string>
		<string>loadstring</string>
		<string>next</string>
		<string>pairs</string>
		<string>pcall</string>
		<string>print</string>
		<string>rawequal</string>
		<string>rawget</string>
		<string>rawset</string>
		<string>require</string>
		<string>setfenv</string>
		<string>setmetatable</string>
		<string>tonumber</string>
		<string>tostring</string>
		<string>type</string>
		<string>unpack</string>
		<string>_VERSION</string>
		<string>xpcall</string>
		<string>coroutine.create</string>
		<string>coroutine.resume</string>
		<string>coroutine.status</string>
		<string>coroutine.wrap</string>
		<string>coroutine.yield</string>
		<string>string.byte</string>
		<string>string.char</string>
		<string>string.dump</string>
		<string>string.find</string>
		<string>string.len</string>
		<string>string.lower</string>
		<string>string.rep</string>
		<string>string.sub</string>
		<string>string.upper</string>
		<string>string.format</string>
		<string>string.gfind</string>
		<string>string.gsub</string>
		<string>table.concat</string>
		<string>table.foreach</string>
		<string>table.foreachi</string>
		<string>table.getn</string>
		<string>table.sort</string>
		<string>table.insert</string>
		<string>table.remove</string>
		<string>table.setn</string>
		<string>math.abs</string>
		<string>math.acos</string>
		<string>math.asin</string>
		<string>math.atan</string>
		<string>math.atan2</string>
		<string>math.ceil</string>
		<string>math.cos</string>
		<string>math.deg</string>
		<string>math.exp</string>
		<string>math.floor</string>
		<string>math.log</string>
		<string>math.log10</string>
		<string>math.max</string>
		<string>math.min</string>
		<string>math.mod</string>
		<string>math.pow</string>
		<string>math.rad</string>
		<string>math.sin</string>
		<string>math.sqrt</string>
		<string>math.tan</string>
		<string>math.frexp</string>
		<string>math.ldexp</string>
		<string>math.random</string>
		<string>math.randomseed</string>
		<string>math.pi</string>
		<string>io.stdin</string>
		<string>io.stdout</string>
		<string>io.stderr</string>
		<string>io.close</string>
		<string>io.flush</string>
		<string>io.input</string>
		<string>io.lines</string>
		<string>io.open</string>
		<string>io.output</string>
		<string>io.read</string>
		<string>io.tmpfile</string>
		<string>io.type</string>
		<string>io.write</string>
		<string>:close</string>
		<string>:flush</string>
		<string>:lines</string>
		<string>:read</string>
		<string>:seek</string>
		<string>:write</string>
		<string>os.clock</string>
		<string>os.date</string>
		<string>os.difftime</string>
		<string>os.execute</string>
		<string>os.exit</string>
		<string>os.getenv</string>
		<string>os.remove</string>
		<string>os.rename</string>
		<string>os.setlocale</string>
		<string>os.time</string>
		<string>os.tmpname</string>
		<string>debug.debug</string>
		<string>debug.gethook</string>
		<string>debug.getinfo</string>
		<string>debug.getlocal</string>
		<string>debug.getupvalue</string>
		<string>debug.setlocal</string>
		<string>debug.setupvalue</string>
		<string>debug.sethook</string>
		<string>debug.traceback</string>
		<string>__index</string>
		<string>__newindex</string>
		<string>__call</string>
		<string>__plus</string>
		<string>__sub</string>
		<string>__mul</string>
		<string>__div</string>
		<string>__pow</string>
		<string>__unm</string>
		<string>__concat</string>
		<string>__eq</string>
		<string>__lt</string>
		<string>__le</string>
		<string>__mode</string>
		<string>__metatable</string>
		<string>__fenv</string>
		<string>__tostring</string>
		<string>self</string>
		<string>LUA_PATH</string>
		<string>_LOADED</string>
		<string>_REQUIREDNAME</string>
		<string>_PROMPT</string>
		<string>_TRACEBACK</string>
	</array>
	<key>autocompleteWords</key>
	<array>
	</array>
</dict>
</plist>
