<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginCommand</key>
	<string></string>
	<key>endCommand</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string>%{</string>
	<key>endFirstMultiLineComment</key>
	<string>%}</string>
	<key>beginInstruction</key>
	<string></string>
	<key>endInstruction</key>
	<string></string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>beginVariable</key>
	<string></string>
	<key>endVariable</key>
	<string></string>
	<key>firstSingleLineComment</key>
	<string>%</string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>firstString</key>
	<string>'</string>
	<key>secondString</key>
	<string></string>
	<key>keywordsCaseSensitive</key>
	<false/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>functionDefinition</key>
	<string></string>
	<key>removeFromFunction</key>
	<string></string>
	<key>keywords</key>
	<array>
		<string>abs</string>
		<string>accumarray</string>
		<string>acos</string>
		<string>acosd</string>
		<string>acosh</string>
		<string>acot</string>
		<string>acotd</string>
		<string>acoth</string>
		<string>acsc</string>
		<string>acscd</string>
		<string>acsch</string>
		<string>actxcontrol</string>
		<string>actxcontrollist</string>
		<string>actxcontrolselect</string>
		<string>actxserver</string>
		<string>addevent</string>
		<string>addframe</string>
		<string>addpath</string>
		<string>addpref</string>
		<string>addproperty</string>
		<string>addsample</string>
		<string>addsampletocollection</string>
		<string>addtodate</string>
		<string>addts</string>
		<string>airy</string>
		<string>align</string>
		<string>alim</string>
		<string>all</string>
		<string>allchild</string>
		<string>alpha</string>
		<string>alphamap</string>
		<string>ancestor</string>
		<string>and</string>
		<string>angle</string>
		<string>annotation</string>
		<string>Annotation Arrow Properties</string>
		<string>Annotation Doublearrow Properties</string>
		<string>Annotation Ellipse Properties</string>
		<string>Annotation Line Properties</string>
		<string>Annotation Rectangle Properties</string>
		<string>Annotation Textarrow Properties</string>
		<string>Annotation Textbox Properties</string>
		<string>ans</string>
		<string>any</string>
		<string>area</string>
		<string>Areaseries Properties</string>
		<string>arrayfun</string>
		<string>ascii</string>
		<string>asec</string>
		<string>asecd</string>
		<string>asech</string>
		<string>asin</string>
		<string>asind</string>
		<string>asinh</string>
		<string>assignin</string>
		<string>atan</string>
		<string>atan2</string>
		<string>atand</string>
		<string>atanh</string>
		<string>audioplayer</string>
		<string>audiorecorder</string>
		<string>aufinfo</string>
		<string>auread</string>
		<string>auwrite</string>
		<string>avifile</string>
		<string>aviinfo</string>
		<string>aviread</string>
		<string>axes</string>
		<string>Axes Properties</string>
		<string>axis</string>
		<string>balance</string>
		<string>bar, barh</string>
		<string>bar3, bar3h</string>
		<string>Barseries Properties</string>
		<string>base2dec</string>
		<string>beep</string>
		<string>besselh</string>
		<string>besseli</string>
		<string>besselj</string>
		<string>besselk</string>
		<string>bessely</string>
		<string>beta</string>
		<string>betainc</string>
		<string>betaln</string>
		<string>bicg</string>
		<string>bicgstab</string>
		<string>bin2dec</string>
		<string>binary</string>
		<string>bitand</string>
		<string>bitcmp</string>
		<string>bitget</string>
		<string>bitmax</string>
		<string>bitor</string>
		<string>bitset</string>
		<string>bitshift</string>
		<string>bitxor</string>
		<string>blanks</string>
		<string>blkdiag</string>
		<string>box</string>
		<string>break</string>
		<string>brighten</string>
		<string>builtin</string>
		<string>bvp4c</string>
		<string>bvpget</string>
		<string>bvpinit</string>
		<string>bvpset</string>
		<string>bvpval</string>
		<string>calendar</string>
		<string>calllib</string>
		<string>callSoapService</string>
		<string>camdolly</string>
		<string>cameratoolbar</string>
		<string>camlight</string>
		<string>camlookat</string>
		<string>camorbit</string>
		<string>campan</string>
		<string>campos</string>
		<string>camproj</string>
		<string>camroll</string>
		<string>camtarget</string>
		<string>camup</string>
		<string>camva</string>
		<string>camzoom</string>
		<string>cart2pol</string>
		<string>cart2sph</string>
		<string>case</string>
		<string>cast</string>
		<string>cat</string>
		<string>catch</string>
		<string>caxis</string>
		<string>cd</string>
		<string>cd (ftp)</string>
		<string>cdf2rdf</string>
		<string>cdfepoch</string>
		<string>cdfinfo</string>
		<string>cdfread</string>
		<string>cdfwrite</string>
		<string>ceil</string>
		<string>cell</string>
		<string>cell2mat</string>
		<string>cell2struct</string>
		<string>celldisp</string>
		<string>cellfun</string>
		<string>cellplot</string>
		<string>cellstr</string>
		<string>cgs</string>
		<string>char</string>
		<string>checkin</string>
		<string>checkout</string>
		<string>chol</string>
		<string>cholinc</string>
		<string>cholupdate</string>
		<string>circshift</string>
		<string>cla</string>
		<string>clabel</string>
		<string>class</string>
		<string>clc</string>
		<string>clear</string>
		<string>clear (serial)</string>
		<string>clf</string>
		<string>clipboard</string>
		<string>clock</string>
		<string>close</string>
		<string>close (avifile)</string>
		<string>close (ftp)</string>
		<string>closereq</string>
		<string>cmopts</string>
		<string>colamd</string>
		<string>colmmd</string>
		<string>colorbar</string>
		<string>colordef</string>
		<string>colormap</string>
		<string>colormapeditor</string>
		<string>ColorSpec</string>
		<string>colperm</string>
		<string>comet</string>
		<string>comet3</string>
		<string>commandhistory</string>
		<string>commandwindow</string>
		<string>compan</string>
		<string>compass</string>
		<string>complex</string>
		<string>computer</string>
		<string>cond</string>
		<string>condeig</string>
		<string>condest</string>
		<string>coneplot</string>
		<string>conj</string>
		<string>continue</string>
		<string>contour</string>
		<string>contour3</string>
		<string>contourc</string>
		<string>contourf</string>
		<string>Contourgroup Properties</string>
		<string>contourslice</string>
		<string>contrast</string>
		<string>conv</string>
		<string>conv2</string>
		<string>convhull</string>
		<string>convhulln</string>
		<string>convn</string>
		<string>copyfile</string>
		<string>copyobj</string>
		<string>corrcoef</string>
		<string>cos</string>
		<string>cosd</string>
		<string>cosh</string>
		<string>cot</string>
		<string>cotd</string>
		<string>coth</string>
		<string>cov</string>
		<string>cplxpair</string>
		<string>cputime</string>
		<string>createClassFromWsdl</string>
		<string>createSoapMessage</string>
		<string>cross</string>
		<string>csc</string>
		<string>cscd</string>
		<string>csch</string>
		<string>csvread</string>
		<string>csvwrite</string>
		<string>ctranspose (timeseries)</string>
		<string>cumprod</string>
		<string>cumsum</string>
		<string>cumtrapz</string>
		<string>curl</string>
		<string>customverctrl</string>
		<string>cylinder</string>
		<string>daspect</string>
		<string>datacursormode</string>
		<string>datatipinfo</string>
		<string>date</string>
		<string>datenum</string>
		<string>datestr</string>
		<string>datetick</string>
		<string>datevec</string>
		<string>dbclear</string>
		<string>dbcont</string>
		<string>dbdown</string>
		<string>dblquad</string>
		<string>dbmex</string>
		<string>dbquit</string>
		<string>dbstack</string>
		<string>dbstatus</string>
		<string>dbstep</string>
		<string>dbstop</string>
		<string>dbtype</string>
		<string>dbup</string>
		<string>dde23</string>
		<string>ddeadv</string>
		<string>ddeexec</string>
		<string>ddeget</string>
		<string>ddeinit</string>
		<string>ddepoke</string>
		<string>ddereq</string>
		<string>ddesd</string>
		<string>ddeset</string>
		<string>ddeterm</string>
		<string>ddeunadv</string>
		<string>deal</string>
		<string>deblank</string>
		<string>debug</string>
		<string>dec2base</string>
		<string>dec2bin</string>
		<string>dec2hex</string>
		<string>decic</string>
		<string>deconv</string>
		<string>del2</string>
		<string>delaunay</string>
		<string>delaunay3</string>
		<string>delaunayn</string>
		<string>delete</string>
		<string>delete (COM)</string>
		<string>delete (ftp)</string>
		<string>delete (serial)</string>
		<string>delete (timer)</string>
		<string>deleteproperty</string>
		<string>delevent</string>
		<string>delsample</string>
		<string>delsamplefromcollection</string>
		<string>demo</string>
		<string>depdir</string>
		<string>depfun</string>
		<string>det</string>
		<string>detrend</string>
		<string>detrend (timeseries)</string>
		<string>deval</string>
		<string>diag</string>
		<string>dialog</string>
		<string>diary</string>
		<string>diff</string>
		<string>dir</string>
		<string>dir (ftp)</string>
		<string>disp</string>
		<string>disp (memmapfile)</string>
		<string>disp (serial)</string>
		<string>disp (timer)</string>
		<string>display</string>
		<string>divergence</string>
		<string>dlmread</string>
		<string>dlmwrite</string>
		<string>dmperm</string>
		<string>doc</string>
		<string>docopt</string>
		<string>docsearch</string>
		<string>dos</string>
		<string>dot</string>
		<string>double</string>
		<string>dragrect</string>
		<string>drawnow</string>
		<string>dsearch</string>
		<string>dsearchn</string>
		<string>echo</string>
		<string>echodemo</string>
		<string>edit</string>
		<string>eig</string>
		<string>eigs</string>
		<string>ellipj</string>
		<string>ellipke</string>
		<string>ellipsoid</string>
		<string>else</string>
		<string>elseif</string>
		<string>enableservice</string>
		<string>end</string>
		<string>eomday</string>
		<string>eps</string>
		<string>eq</string>
		<string>erf, erfc, erfcx, erfinv, erfcinv</string>
		<string>error</string>
		<string>errorbar</string>
		<string>Errorbarseries Properties</string>
		<string>errordlg</string>
		<string>etime</string>
		<string>etree</string>
		<string>etreeplot</string>
		<string>eval</string>
		<string>evalc</string>
		<string>evalin</string>
		<string>eventlisteners</string>
		<string>events</string>
		<string>Execute</string>
		<string>exifread</string>
		<string>exist</string>
		<string>exit</string>
		<string>exp</string>
		<string>expint</string>
		<string>expm</string>
		<string>expm1</string>
		<string>eye</string>
		<string>ezcontour</string>
		<string>ezcontourf</string>
		<string>ezmesh</string>
		<string>ezmeshc</string>
		<string>ezplot</string>
		<string>ezplot3</string>
		<string>ezpolar</string>
		<string>ezsurf</string>
		<string>ezsurfc</string>
		<string>factor</string>
		<string>factorial</string>
		<string>false</string>
		<string>fclose</string>
		<string>fclose (serial)</string>
		<string>feather</string>
		<string>feof</string>
		<string>ferror</string>
		<string>feval</string>
		<string>Feval (COM)</string>
		<string>fft</string>
		<string>fft2</string>
		<string>fftn</string>
		<string>fftshift</string>
		<string>fftw</string>
		<string>fgetl</string>
		<string>fgetl (serial)</string>
		<string>fgets</string>
		<string>fgets (serial)</string>
		<string>fieldnames</string>
		<string>figure</string>
		<string>Figure Properties</string>
		<string>figurepalette</string>
		<string>File Formats</string>
		<string>fileattrib</string>
		<string>filebrowser</string>
		<string>filemarker</string>
		<string>fileparts</string>
		<string>filesep</string>
		<string>fill</string>
		<string>fill3</string>
		<string>filter</string>
		<string>filter (timeseries)</string>
		<string>filter2</string>
		<string>find</string>
		<string>findall</string>
		<string>findfigs</string>
		<string>findobj</string>
		<string>findstr</string>
		<string>finish</string>
		<string>fitsinfo</string>
		<string>fitsread</string>
		<string>fix</string>
		<string>flipdim</string>
		<string>fliplr</string>
		<string>flipud</string>
		<string>floor</string>
		<string>flops</string>
		<string>flow</string>
		<string>fminbnd</string>
		<string>fminsearch</string>
		<string>fopen</string>
		<string>fopen (serial)</string>
		<string>for</string>
		<string>format</string>
		<string>fplot</string>
		<string>fprintf</string>
		<string>fprintf (serial)</string>
		<string>frame2im</string>
		<string>frameedit</string>
		<string>fread</string>
		<string>fread (serial)</string>
		<string>freqspace</string>
		<string>frewind</string>
		<string>fscanf</string>
		<string>fscanf (serial)</string>
		<string>fseek</string>
		<string>ftell</string>
		<string>ftp</string>
		<string>full</string>
		<string>fullfile</string>
		<string>func2str</string>
		<string>function</string>
		<string>function_handle (@)</string>
		<string>functions</string>
		<string>funm</string>
		<string>fwrite</string>
		<string>fwrite (serial)</string>
		<string>fzero</string>
		<string>gallery</string>
		<string>gamma, gammainc, gammaln</string>
		<string>gca</string>
		<string>gcbf</string>
		<string>gcbo</string>
		<string>gcd</string>
		<string>gcf</string>
		<string>gco</string>
		<string>ge</string>
		<string>genpath</string>
		<string>genvarname</string>
		<string>get</string>
		<string>get (COM)</string>
		<string>get (memmapfile)</string>
		<string>get (serial)</string>
		<string>get (timer)</string>
		<string>get (timeseries)</string>
		<string>get (tscollection)</string>
		<string>getabstime (timeseries)</string>
		<string>getabstime (tscollection)</string>
		<string>getappdata</string>
		<string>GetCharArray</string>
		<string>getdatasamplesize</string>
		<string>getenv</string>
		<string>getfield</string>
		<string>getframe</string>
		<string>GetFullMatrix</string>
		<string>getinterpmethod</string>
		<string>getplottool</string>
		<string>getpref</string>
		<string>getqualitydesc</string>
		<string>getsampleusingtime (timeseries)</string>
		<string>getsampleusingtime (tscollection)</string>
		<string>gettimeseriesnames</string>
		<string>gettsafteratevent</string>
		<string>gettsafterevent</string>
		<string>gettsatevent</string>
		<string>gettsbeforeatevent</string>
		<string>gettsbeforeevent</string>
		<string>gettsbetweenevents</string>
		<string>GetVariable</string>
		<string>GetWorkspaceData</string>
		<string>ginput</string>
		<string>global</string>
		<string>gmres</string>
		<string>gplot</string>
		<string>grabcode</string>
		<string>gradient</string>
		<string>graymon</string>
		<string>grid</string>
		<string>griddata</string>
		<string>griddata3</string>
		<string>griddatan</string>
		<string>gsvd</string>
		<string>gt</string>
		<string>gtext</string>
		<string>guidata</string>
		<string>guide</string>
		<string>guihandles</string>
		<string>gunzip</string>
		<string>gzip</string>
		<string>hadamard</string>
		<string>hankel</string>
		<string>hdf</string>
		<string>hdf5</string>
		<string>hdf5info</string>
		<string>hdf5read</string>
		<string>hdf5write</string>
		<string>hdfinfo</string>
		<string>hdfread</string>
		<string>hdftool</string>
		<string>help</string>
		<string>helpbrowser</string>
		<string>helpdesk</string>
		<string>helpdlg</string>
		<string>helpwin</string>
		<string>hess</string>
		<string>hex2dec</string>
		<string>hex2num</string>
		<string>hgexport</string>
		<string>hggroup</string>
		<string>Hggroup Properties</string>
		<string>hgload</string>
		<string>hgsave</string>
		<string>hgtransform</string>
		<string>Hgtransform Properties</string>
		<string>hidden</string>
		<string>hilb</string>
		<string>hist</string>
		<string>histc</string>
		<string>hold</string>
		<string>home</string>
		<string>horzcat</string>
		<string>horzcat (tscollection)</string>
		<string>hostid</string>
		<string>hsv2rgb</string>
		<string>hypot</string>
		<string>i</string>
		<string>idealfilter (timeseries)</string>
		<string>idivide</string>
		<string>if</string>
		<string>ifft</string>
		<string>ifft2</string>
		<string>ifftn</string>
		<string>ifftshift</string>
		<string>im2frame</string>
		<string>im2java</string>
		<string>imag</string>
		<string>image</string>
		<string>Image Properties</string>
		<string>imagesc</string>
		<string>imfinfo</string>
		<string>imformats</string>
		<string>import</string>
		<string>importdata</string>
		<string>imread</string>
		<string>imwrite</string>
		<string>ind2rgb</string>
		<string>ind2sub</string>
		<string>Inf</string>
		<string>inferiorto</string>
		<string>info</string>
		<string>inline</string>
		<string>inmem</string>
		<string>inpolygon</string>
		<string>input</string>
		<string>inputdlg</string>
		<string>inputname</string>
		<string>inspect</string>
		<string>instrcallback</string>
		<string>instrfind</string>
		<string>int2str</string>
		<string>int8, int16, int32, int64</string>
		<string>interfaces</string>
		<string>interp1</string>
		<string>interp1q</string>
		<string>interp2</string>
		<string>interp3</string>
		<string>interpft</string>
		<string>interpn</string>
		<string>interpstreamspeed</string>
		<string>intersect</string>
		<string>intmax</string>
		<string>intmin</string>
		<string>intwarning</string>
		<string>inv</string>
		<string>invhilb</string>
		<string>invoke</string>
		<string>ipermute</string>
		<string>iqr (timeseries)</string>
		<string>is*</string>
		<string>isa</string>
		<string>isappdata</string>
		<string>iscell</string>
		<string>iscellstr</string>
		<string>ischar</string>
		<string>iscom</string>
		<string>isdir</string>
		<string>isempty</string>
		<string>isempty (timeseries)</string>
		<string>isempty (tscollection)</string>
		<string>isequal</string>
		<string>isequalwithequalnans</string>
		<string>isevent</string>
		<string>isfield</string>
		<string>isfinite</string>
		<string>isfloat</string>
		<string>isglobal</string>
		<string>ishandle</string>
		<string>ishold</string>
		<string>isinf</string>
		<string>isinteger</string>
		<string>isinterface</string>
		<string>isjava</string>
		<string>iskeyword</string>
		<string>isletter</string>
		<string>islogical</string>
		<string>ismember</string>
		<string>ismethod</string>
		<string>isnan</string>
		<string>isnumeric</string>
		<string>isobject</string>
		<string>isocaps</string>
		<string>isocolors</string>
		<string>isonormals</string>
		<string>isosurface</string>
		<string>ispc</string>
		<string>ispref</string>
		<string>isprime</string>
		<string>isprop</string>
		<string>isreal</string>
		<string>isscalar</string>
		<string>issorted</string>
		<string>isspace</string>
		<string>issparse</string>
		<string>isstr</string>
		<string>isstrprop</string>
		<string>isstruct</string>
		<string>isstudent</string>
		<string>isunix</string>
		<string>isvalid</string>
		<string>isvalid (timer)</string>
		<string>isvarname</string>
		<string>isvector</string>
		<string>j</string>
		<string>javaaddpath</string>
		<string>javaArray</string>
		<string>javachk</string>
		<string>javaclasspath</string>
		<string>javaMethod</string>
		<string>javaObject</string>
		<string>javarmpath</string>
		<string>keyboard</string>
		<string>kron</string>
		<string>lasterr</string>
		<string>lasterror</string>
		<string>lastwarn</string>
		<string>lcm</string>
		<string>ldivide, rdivide</string>
		<string>le</string>
		<string>legend</string>
		<string>legendre</string>
		<string>length</string>
		<string>length (serial)</string>
		<string>length (timeseries)</string>
		<string>length (tscollection)</string>
		<string>libfunctions</string>
		<string>libfunctionsview</string>
		<string>libisloaded</string>
		<string>libpointer</string>
		<string>libstruct</string>
		<string>license</string>
		<string>light</string>
		<string>Light Properties</string>
		<string>lightangle</string>
		<string>lighting</string>
		<string>lin2mu</string>
		<string>line</string>
		<string>Line Properties</string>
		<string>Lineseries Properties</string>
		<string>LineSpec</string>
		<string>linkaxes</string>
		<string>linkprop</string>
		<string>linsolve</string>
		<string>linspace</string>
		<string>listdlg</string>
		<string>load</string>
		<string>load (COM)</string>
		<string>load (serial)</string>
		<string>loadlibrary</string>
		<string>loadobj</string>
		<string>log</string>
		<string>log10</string>
		<string>log1p</string>
		<string>log2</string>
		<string>logical</string>
		<string>loglog</string>
		<string>logm</string>
		<string>logspace</string>
		<string>lookfor</string>
		<string>lower</string>
		<string>ls</string>
		<string>lscov</string>
		<string>lsqnonneg</string>
		<string>lsqr</string>
		<string>lt</string>
		<string>lu</string>
		<string>luinc</string>
		<string>magic</string>
		<string>makehgtform</string>
		<string>mat2cell</string>
		<string>mat2str</string>
		<string>material</string>
		<string>matlab (UNIX)</string>
		<string>matlab (Windows)</string>
		<string>matlabcolon (matlab:)</string>
		<string>matlabrc</string>
		<string>matlabroot</string>
		<string>max</string>
		<string>max (timeseries)</string>
		<string>MaximizeCommandWindow</string>
		<string>mean</string>
		<string>mean (timeseries)</string>
		<string>median</string>
		<string>median (timeseries)</string>
		<string>memmapfile</string>
		<string>memory</string>
		<string>menu</string>
		<string>mesh, meshc, meshz</string>
		<string>meshgrid</string>
		<string>methods</string>
		<string>methodsview</string>
		<string>mex</string>
		<string>mexext</string>
		<string>mfilename</string>
		<string>mget</string>
		<string>min</string>
		<string>min (timeseries)</string>
		<string>MinimizeCommandWindow</string>
		<string>minres</string>
		<string>mislocked</string>
		<string>mkdir</string>
		<string>mkdir (ftp)</string>
		<string>mkpp</string>
		<string>mldivide \, mrdivide /</string>
		<string>mlint</string>
		<string>mlintrpt</string>
		<string>mlock</string>
		<string>mmfileinfo</string>
		<string>mod</string>
		<string>mode</string>
		<string>more</string>
		<string>move</string>
		<string>movefile</string>
		<string>movegui</string>
		<string>movie</string>
		<string>movie2avi</string>
		<string>mput</string>
		<string>msgbox</string>
		<string>mtimes</string>
		<string>mu2lin</string>
		<string>multibandread</string>
		<string>multibandwrite</string>
		<string>munlock</string>
		<string>namelengthmax</string>
		<string>NaN</string>
		<string>nargchk</string>
		<string>nargin, nargout</string>
		<string>nargoutchk</string>
		<string>native2unicode</string>
		<string>nchoosek</string>
		<string>ndgrid</string>
		<string>ndims</string>
		<string>ne</string>
		<string>newplot</string>
		<string>nextpow2</string>
		<string>nnz</string>
		<string>noanimate</string>
		<string>nonzeros</string>
		<string>norm</string>
		<string>normest</string>
		<string>not</string>
		<string>notebook</string>
		<string>now</string>
		<string>nthroot</string>
		<string>null</string>
		<string>num2cell</string>
		<string>num2hex</string>
		<string>num2str</string>
		<string>numel</string>
		<string>nzmax</string>
		<string>ode15i</string>
		<string>ode23, ode45, ode113, ode15s, ode23s, ode23t, ode23tb</string>
		<string>odefile</string>
		<string>odeget</string>
		<string>odeset</string>
		<string>odextend</string>
		<string>ones</string>
		<string>open</string>
		<string>openfig</string>
		<string>opengl</string>
		<string>openvar</string>
		<string>optimget</string>
		<string>optimset</string>
		<string>or</string>
		<string>ordeig</string>
		<string>orderfields</string>
		<string>ordqz</string>
		<string>ordschur</string>
		<string>orient</string>
		<string>orth</string>
		<string>otherwise</string>
		<string>pack</string>
		<string>pagesetupdlg</string>
		<string>pan</string>
		<string>pareto</string>
		<string>parseSoapResponse</string>
		<string>partialpath</string>
		<string>pascal</string>
		<string>patch</string>
		<string>Patch Properties</string>
		<string>path</string>
		<string>path2rc</string>
		<string>pathdef</string>
		<string>pathsep</string>
		<string>pathtool</string>
		<string>pause</string>
		<string>pbaspect</string>
		<string>pcg</string>
		<string>pchip</string>
		<string>pcode</string>
		<string>pcolor</string>
		<string>pdepe</string>
		<string>pdeval</string>
		<string>peaks</string>
		<string>perl</string>
		<string>perms</string>
		<string>permute</string>
		<string>persistent</string>
		<string>pi</string>
		<string>pie</string>
		<string>pie3</string>
		<string>pinv</string>
		<string>planerot</string>
		<string>playshow</string>
		<string>plot</string>
		<string>plot (timeseries)</string>
		<string>plot3</string>
		<string>plotbrowser</string>
		<string>plotedit</string>
		<string>plotmatrix</string>
		<string>plottools</string>
		<string>plotyy</string>
		<string>pol2cart</string>
		<string>polar</string>
		<string>poly</string>
		<string>polyarea</string>
		<string>polyder</string>
		<string>polyeig</string>
		<string>polyfit</string>
		<string>polyint</string>
		<string>polyval</string>
		<string>polyvalm</string>
		<string>pow2</string>
		<string>power</string>
		<string>ppval</string>
		<string>prefdir</string>
		<string>preferences</string>
		<string>primes</string>
		<string>print, printopt</string>
		<string>printdlg</string>
		<string>printpreview</string>
		<string>prod</string>
		<string>profile</string>
		<string>profsave</string>
		<string>propedit</string>
		<string>propedit (COM)</string>
		<string>propertyeditor</string>
		<string>psi</string>
		<string>publish</string>
		<string>PutCharArray</string>
		<string>PutFullMatrix</string>
		<string>PutWorkspaceData</string>
		<string>pwd</string>
		<string>qmr</string>
		<string>qr</string>
		<string>qrdelete</string>
		<string>qrinsert</string>
		<string>qrupdate</string>
		<string>quad, quad8</string>
		<string>quadl</string>
		<string>quadv</string>
		<string>questdlg</string>
		<string>quit</string>
		<string>Quit (COM)</string>
		<string>quiver</string>
		<string>quiver3</string>
		<string>Quivergroup Properties</string>
		<string>qz</string>
		<string>rand</string>
		<string>randn</string>
		<string>randperm</string>
		<string>rank</string>
		<string>rat, rats</string>
		<string>rbbox</string>
		<string>rcond</string>
		<string>readasync</string>
		<string>real</string>
		<string>reallog</string>
		<string>realmax</string>
		<string>realmin</string>
		<string>realpow</string>
		<string>realsqrt</string>
		<string>record</string>
		<string>rectangle</string>
		<string>Rectangle Properties</string>
		<string>rectint</string>
		<string>recycle</string>
		<string>reducepatch</string>
		<string>reducevolume</string>
		<string>refresh</string>
		<string>refreshdata</string>
		<string>regexp, regexpi</string>
		<string>regexprep</string>
		<string>regexptranslate</string>
		<string>registerevent</string>
		<string>rehash</string>
		<string>release</string>
		<string>rem</string>
		<string>removets</string>
		<string>rename</string>
		<string>repmat</string>
		<string>resample (timeseries)</string>
		<string>resample (tscollection)</string>
		<string>reset</string>
		<string>reshape</string>
		<string>residue</string>
		<string>restoredefaultpath</string>
		<string>rethrow</string>
		<string>return</string>
		<string>rgb2hsv</string>
		<string>rgbplot</string>
		<string>ribbon</string>
		<string>rmappdata</string>
		<string>rmdir</string>
		<string>rmdir (ftp)</string>
		<string>rmfield</string>
		<string>rmpath</string>
		<string>rmpref</string>
		<string>root object</string>
		<string>Root Properties</string>
		<string>roots</string>
		<string>rose</string>
		<string>rosser</string>
		<string>rot90</string>
		<string>rotate</string>
		<string>rotate3d</string>
		<string>round</string>
		<string>rref</string>
		<string>rsf2csf</string>
		<string>run</string>
		<string>save</string>
		<string>save (COM)</string>
		<string>save (serial)</string>
		<string>saveas</string>
		<string>saveobj</string>
		<string>savepath</string>
		<string>scatter</string>
		<string>scatter3</string>
		<string>Scattergroup Properties</string>
		<string>schur</string>
		<string>script</string>
		<string>sec</string>
		<string>secd</string>
		<string>sech</string>
		<string>selectmoveresize</string>
		<string>semilogx, semilogy</string>
		<string>send</string>
		<string>sendmail</string>
		<string>serial</string>
		<string>serialbreak</string>
		<string>set</string>
		<string>set (COM)</string>
		<string>set (serial)</string>
		<string>set (timer)</string>
		<string>set (timeseries)</string>
		<string>set (tscollection)</string>
		<string>setabstime (timeseries)</string>
		<string>setabstime (tscollection)</string>
		<string>setappdata</string>
		<string>setdiff</string>
		<string>setenv</string>
		<string>setfield</string>
		<string>setinterpmethod</string>
		<string>setpref</string>
		<string>setstr</string>
		<string>settimeseriesnames</string>
		<string>setxor</string>
		<string>shading</string>
		<string>shiftdim</string>
		<string>showplottool</string>
		<string>shrinkfaces</string>
		<string>sign</string>
		<string>sin</string>
		<string>sind</string>
		<string>single</string>
		<string>sinh</string>
		<string>size</string>
		<string>size (serial)</string>
		<string>size (timeseries)</string>
		<string>size (tscollection)</string>
		<string>slice</string>
		<string>smooth3</string>
		<string>sort</string>
		<string>sortrows</string>
		<string>sound</string>
		<string>soundsc</string>
		<string>spalloc</string>
		<string>sparse</string>
		<string>spaugment</string>
		<string>spconvert</string>
		<string>spdiags</string>
		<string>speye</string>
		<string>spfun</string>
		<string>sph2cart</string>
		<string>sphere</string>
		<string>spinmap</string>
		<string>spline</string>
		<string>spones</string>
		<string>spparms</string>
		<string>sprand</string>
		<string>sprandn</string>
		<string>sprandsym</string>
		<string>sprank</string>
		<string>sprintf</string>
		<string>spy</string>
		<string>sqrt</string>
		<string>sqrtm</string>
		<string>squeeze</string>
		<string>ss2tf</string>
		<string>sscanf</string>
		<string>stairs</string>
		<string>Stairseries Properties</string>
		<string>start</string>
		<string>startat</string>
		<string>startup</string>
		<string>std</string>
		<string>std (timeseries)</string>
		<string>stem</string>
		<string>stem3</string>
		<string>Stemseries Properties</string>
		<string>stop</string>
		<string>stopasync</string>
		<string>str2double</string>
		<string>str2func</string>
		<string>str2mat</string>
		<string>str2num</string>
		<string>strcat</string>
		<string>strcmp</string>
		<string>strcmpi</string>
		<string>stream2</string>
		<string>stream3</string>
		<string>streamline</string>
		<string>streamparticles</string>
		<string>streamribbon</string>
		<string>streamslice</string>
		<string>streamtube</string>
		<string>strfind</string>
		<string>strings</string>
		<string>strjust</string>
		<string>strmatch</string>
		<string>strncmp</string>
		<string>strncmpi</string>
		<string>strread</string>
		<string>strrep</string>
		<string>strtok</string>
		<string>strtrim</string>
		<string>struct</string>
		<string>struct2cell</string>
		<string>structfun</string>
		<string>strvcat</string>
		<string>sub2ind</string>
		<string>subplot</string>
		<string>subsasgn</string>
		<string>subsindex</string>
		<string>subspace</string>
		<string>subsref</string>
		<string>substruct</string>
		<string>subvolume</string>
		<string>sum</string>
		<string>sum (timeseries)</string>
		<string>superiorto</string>
		<string>support</string>
		<string>surf, surfc</string>
		<string>surf2patch</string>
		<string>surface</string>
		<string>Surface Properties</string>
		<string>Surfaceplot Properties</string>
		<string>surfl</string>
		<string>surfnorm</string>
		<string>svd</string>
		<string>svds</string>
		<string>swapbytes</string>
		<string>switch</string>
		<string>symamd</string>
		<string>symbfact</string>
		<string>symmlq</string>
		<string>symmmd</string>
		<string>symrcm</string>
		<string>symvar</string>
		<string>synchronize</string>
		<string>syntax</string>
		<string>system</string>
		<string>tan</string>
		<string>tand</string>
		<string>tanh</string>
		<string>tar</string>
		<string>tempdir</string>
		<string>tempname</string>
		<string>tetramesh</string>
		<string>texlabel</string>
		<string>text</string>
		<string>Text Properties</string>
		<string>textread</string>
		<string>textscan</string>
		<string>textwrap</string>
		<string>tic, toc</string>
		<string>timer</string>
		<string>timerfind</string>
		<string>timerfindall</string>
		<string>timeseries</string>
		<string>title</string>
		<string>todatenum</string>
		<string>toeplitz</string>
		<string>toolboxdir</string>
		<string>trace</string>
		<string>transpose (timeseries)</string>
		<string>trapz</string>
		<string>treelayout</string>
		<string>treeplot</string>
		<string>tril</string>
		<string>trimesh</string>
		<string>triplequad</string>
		<string>triplot</string>
		<string>trisurf</string>
		<string>triu</string>
		<string>true</string>
		<string>try</string>
		<string>tscollection</string>
		<string>tsdata.event</string>
		<string>tsearch</string>
		<string>tsearchn</string>
		<string>tsprops</string>
		<string>tstool</string>
		<string>type</string>
		<string>typecast</string>
		<string>uibuttongroup</string>
		<string>Uibuttongroup Properties</string>
		<string>uicontextmenu</string>
		<string>Uicontextmenu Properties</string>
		<string>uicontrol</string>
		<string>Uicontrol Properties</string>
		<string>uigetdir</string>
		<string>uigetfile</string>
		<string>uigetpref</string>
		<string>uiimport</string>
		<string>uimenu</string>
		<string>Uimenu Properties</string>
		<string>uint8, uint16, uint32, uint64</string>
		<string>uiopen</string>
		<string>uipanel</string>
		<string>Uipanel Properties</string>
		<string>uipushtool</string>
		<string>Uipushtool Properties</string>
		<string>uiputfile</string>
		<string>uiresume, uiwait</string>
		<string>uisave</string>
		<string>uisetcolor</string>
		<string>uisetfont</string>
		<string>uisetpref</string>
		<string>uistack</string>
		<string>uitoggletool</string>
		<string>Uitoggletool Properties</string>
		<string>uitoolbar</string>
		<string>Uitoolbar Properties</string>
		<string>undocheckout</string>
		<string>unicode2native</string>
		<string>union</string>
		<string>unique</string>
		<string>unix</string>
		<string>unloadlibrary</string>
		<string>unmkpp</string>
		<string>unregisterallevents</string>
		<string>unregisterevent</string>
		<string>untar</string>
		<string>unwrap</string>
		<string>unzip</string>
		<string>upper</string>
		<string>urlread</string>
		<string>urlwrite</string>
		<string>usejava</string>
		<string>vander</string>
		<string>var</string>
		<string>var (timeseries)</string>
		<string>varargin</string>
		<string>varargout</string>
		<string>vectorize</string>
		<string>ver</string>
		<string>verctrl</string>
		<string>version</string>
		<string>vertcat</string>
		<string>vertcat (timeseries)</string>
		<string>vertcat (tscollection)</string>
		<string>view</string>
		<string>viewmtx</string>
		<string>volumebounds</string>
		<string>voronoi</string>
		<string>voronoin</string>
		<string>wait</string>
		<string>waitbar</string>
		<string>waitfor</string>
		<string>waitforbuttonpress</string>
		<string>warndlg</string>
		<string>warning</string>
		<string>waterfall</string>
		<string>wavfinfo</string>
		<string>wavplay</string>
		<string>wavread</string>
		<string>wavrecord</string>
		<string>wavwrite</string>
		<string>web</string>
		<string>weekday</string>
		<string>what</string>
		<string>whatsnew</string>
		<string>which</string>
		<string>while</string>
		<string>whitebg</string>
		<string>who, whos</string>
		<string>wilkinson</string>
		<string>winopen</string>
		<string>winqueryreg</string>
		<string>wk1finfo</string>
		<string>wk1read</string>
		<string>wk1write</string>
		<string>workspace</string>
		<string>xlabel, ylabel, zlabel</string>
		<string>xlim, ylim, zlim</string>
		<string>xlsfinfo</string>
		<string>xlsread</string>
		<string>xlswrite</string>
		<string>xmlread</string>
		<string>xmlwrite</string>
		<string>xor</string>
		<string>xslt</string>
		<string>zeros</string>
		<string>zip</string>
		<string>zoom</string>
	</array>
	<key>autocompleteWords</key>
	<array>
	</array>
</dict>
</plist>
