<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginCommand</key>
	<string></string>
	<key>endCommand</key>
	<string></string>
	<key>beginInstruction</key>
	<string></string>
	<key>endInstruction</key>
	<string></string>
	<key>beginVariable</key>
	<string>$%@</string>
	<key>endVariable</key>
	<string> :;(){}=+-/.,*!?%&amp;&gt;&lt;\`</string>
	<key>firstString</key>
	<string>"</string>
	<key>secondString</key>
	<string>'</string>
	<key>firstSingleLineComment</key>
	<string>//</string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string>/*</string>
	<key>endFirstMultiLineComment</key>
	<string>*/</string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>keywordsCaseSensitive</key>
	<true/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>keywords</key>
	<array>
		<string>source</string>
		<string>global</string>
		<string>proc</string>
		<string>int</string>
		<string>float</string>
		<string>string</string>
		<string>vector</string>
		<string>matrix</string>
		<string>true</string>
		<string>false</string>
		<string>for</string>
		<string>foreach</string>
		<string>in</string>
		<string>if</string>
		<string>else</string>
		<string>while</string>
		<string>do</string>
		<string>switch</string>
		<string>case</string>
		<string>default</string>
		<string>break</string>
		<string>continue</string>
		<string>time</string>
		<string>frame</string>
		<string>about</string>
		<string>abs</string>
		<string>addAttr</string>
		<string>addAttributeEditorNodeHelp </string>
		<string>addDynamic</string>
		<string>addNewShelfTab </string>
		<string>addPP</string>
		<string>advanceToNextDrivenKey </string>
		<string>affectedNet</string>
		<string>affects</string>
		<string>aimConstraint</string>
		<string>air</string>
		<string>alias</string>
		<string>aliasAttr</string>
		<string>align</string>
		<string>alignCtx</string>
		<string>alignCurve</string>
		<string>alignSurface</string>
		<string>allViewFit </string>
		<string>ambientLight</string>
		<string>angle</string>
		<string>angleBetween</string>
		<string>animCone </string>
		<string>animCurveEditor</string>
		<string>animDisplay</string>
		<string>animView</string>
		<string>annotate</string>
		<string>appendStringArray </string>
		<string>applicationName </string>
		<string>applyAttrPreset </string>
		<string>applyTake</string>
		<string>arcLenDimContext</string>
		<string>arcLengthDimension</string>
		<string>arclen</string>
		<string>arrayMapper</string>
		<string>art3dPaintCtx</string>
		<string>artAttrCtx</string>
		<string>artAttrPaintVertexCtx</string>
		<string>artBuildPaintMenu</string>
		<string>artFluidAttrCtx</string>
		<string>artPuttyCtx</string>
		<string>artSelectCtx</string>
		<string>artSetPaintCtx</string>
		<string>artUserPaintCtx</string>
		<string>assignCommand</string>
		<string>assignInputDevice</string>
		<string>attachCurve</string>
		<string>attachDeviceAttr</string>
		<string>attachSurface</string>
		<string>attrColorSliderGrp</string>
		<string>attrCompatibility</string>
		<string>attrControlGrp</string>
		<string>attrEnumOptionMenu</string>
		<string>attrEnumOptionMenuGrp</string>
		<string>attrFieldGrp</string>
		<string>attrFieldSliderGrp</string>
		<string>attrNavigationControlGrp</string>
		<string>attrPresetEditWin </string>
		<string>attributeExists </string>
		<string>attributeInfo</string>
		<string>attributeMenu</string>
		<string>attributeQuery</string>
		<string>autoKeyframe</string>
		<string>autoPlace</string>
		<string>bakeClip</string>
		<string>bakeResults</string>
		<string>bakeSimulation</string>
		<string>basename </string>
		<string>basenameEx </string>
		<string>batchRender</string>
		<string>bessel</string>
		<string>bevel</string>
		<string>bevelPlus</string>
		<string>binMembership</string>
		<string>bindPose</string>
		<string>bindSkin</string>
		<string>blend2</string>
		<string>blendShape</string>
		<string>blendShapeEditor</string>
		<string>blendShapePanel</string>
		<string>blendTwoAttr</string>
		<string>blindDataType</string>
		<string>boneLattice</string>
		<string>boundary</string>
		<string>boxDollyCtx</string>
		<string>boxZoomCtx</string>
		<string>bufferCurve</string>
		<string>buildBookmarkMenu</string>
		<string>buildKeyframeMenu</string>
		<string>button</string>
		<string>buttonManip</string>
		<string>CBG </string>
		<string>camera</string>
		<string>cameraView</string>
		<string>canCreateManip</string>
		<string>canvas</string>
		<string>capitalizeString </string>
		<string>catch</string>
		<string>catchQuiet</string>
		<string>ceil</string>
		<string>changeSubdivComponentDisplayLevel</string>
		<string>changeSubdivRegion</string>
		<string>channelBox</string>
		<string>character</string>
		<string>characterMap</string>
		<string>characterOutlineEditor</string>
		<string>chdir</string>
		<string>checkBox</string>
		<string>checkBoxGrp</string>
		<string>checkDefaultRenderGlobals</string>
		<string>choice</string>
		<string>circle</string>
		<string>circularFillet</string>
		<string>clamp</string>
		<string>clear</string>
		<string>clearCache</string>
		<string>clip</string>
		<string>clipEditor</string>
		<string>clipEditorCurrentTimeCtx</string>
		<string>clipSchedule</string>
		<string>clipSchedulerOutliner</string>
		<string>clipTrimBefore </string>
		<string>closeCurve</string>
		<string>closeSurface</string>
		<string>cluster</string>
		<string>cmdFileOutput</string>
		<string>cmdShell</string>
		<string>collision</string>
		<string>color</string>
		<string>colorAtPoint</string>
		<string>colorEditor</string>
		<string>colorIndex</string>
		<string>colorIndexSliderGrp</string>
		<string>colorSliderButtonGrp</string>
		<string>colorSliderGrp</string>
		<string>columnLayout</string>
		<string>commandEcho</string>
		<string>commandLine</string>
		<string>commandPort</string>
		<string>componentEditor</string>
		<string>computePolysetVolume </string>
		<string>condition</string>
		<string>cone</string>
		<string>confirmDialog</string>
		<string>connectAttr</string>
		<string>connectControl</string>
		<string>connectDynamic</string>
		<string>connectJoint</string>
		<string>connectionInfo</string>
		<string>constrain</string>
		<string>constrainValue</string>
		<string>constructionHistory</string>
		<string>contextInfo</string>
		<string>control</string>
		<string>convertFromOldLayers </string>
		<string>convertLightmap</string>
		<string>convertSolidTx</string>
		<string>convertTessellation</string>
		<string>convertUnit</string>
		<string>copyArray </string>
		<string>copyFlexor</string>
		<string>copyKey</string>
		<string>copySkinWeights</string>
		<string>cos</string>
		<string>cpButton</string>
		<string>cpCache</string>
		<string>cpCollision</string>
		<string>cpConstraint</string>
		<string>cpPanel</string>
		<string>cpProperty</string>
		<string>cpSeam</string>
		<string>cpSolver</string>
		<string>cpTool</string>
		<string>createDisplayLayer</string>
		<string>createDrawCtx</string>
		<string>createEditor</string>
		<string>createMotionField </string>
		<string>createNewShelf </string>
		<string>createNode</string>
		<string>createRenderLayer</string>
		<string>createSubdivRegion</string>
		<string>cross</string>
		<string>crossProduct </string>
		<string>ctxAbort</string>
		<string>ctxCompletion</string>
		<string>ctxEditMode</string>
		<string>ctxTraverse</string>
		<string>currentCtx</string>
		<string>currentTime</string>
		<string>currentTimeCtx</string>
		<string>currentUnit</string>
		<string>curve</string>
		<string>curveAddPtCtx</string>
		<string>curveCVCtx</string>
		<string>curveEPCtx</string>
		<string>curveEditorCtx</string>
		<string>curveIntersect</string>
		<string>curveMoveEPCtx</string>
		<string>curveOnSurface</string>
		<string>curveSketchCtx</string>
		<string>cutKey</string>
		<string>cycleCheck</string>
		<string>cylinder</string>
		<string>dagPose</string>
		<string>defaultLightListCheckBox</string>
		<string>defaultNavigation</string>
		<string>defineDataServer</string>
		<string>defineVirtualDevice</string>
		<string>deformer</string>
		<string>deg_to_rad</string>
		<string>delete</string>
		<string>deleteAttr</string>
		<string>deleteShadingGroupsAndMaterials </string>
		<string>deleteShelfTab </string>
		<string>deleteUI</string>
		<string>deleteUnusedBrushes </string>
		<string>delrandstr</string>
		<string>detachCurve</string>
		<string>detachDeviceAttr</string>
		<string>detachSurface</string>
		<string>deviceEditor</string>
		<string>devicePanel</string>
		<string>dgInfo</string>
		<string>dgdirty</string>
		<string>dgeval</string>
		<string>dgtimer</string>
		<string>dimWhen</string>
		<string>directKeyCtx</string>
		<string>directionalLight</string>
		<string>dirmap</string>
		<string>dirname </string>
		<string>disable</string>
		<string>disconnectAttr</string>
		<string>disconnectJoint</string>
		<string>diskCache</string>
		<string>displacementToPoly</string>
		<string>displayAffected</string>
		<string>displayColor</string>
		<string>displayCull</string>
		<string>displayLevelOfDetail</string>
		<string>displayPref</string>
		<string>displayRGBColor</string>
		<string>displaySmoothness</string>
		<string>displayStats</string>
		<string>displaySurface</string>
		<string>distanceDimContext</string>
		<string>distanceDimension</string>
		<string>doBlur</string>
		<string>dolly</string>
		<string>dollyCtx</string>
		<string>dopeSheetEditor</string>
		<string>dot</string>
		<string>dotProduct </string>
		<string>doubleProfileBirailSurface</string>
		<string>drag</string>
		<string>draggerContext</string>
		<string>dropoffLocator</string>
		<string>duplicate</string>
		<string>duplicateCurve</string>
		<string>duplicateSurface</string>
		<string>dynCache</string>
		<string>dynControl</string>
		<string>dynExport</string>
		<string>dynExpression</string>
		<string>dynGlobals</string>
		<string>dynPaintEditor</string>
		<string>dynParticleCtx</string>
		<string>dynPref</string>
		<string>dynRelEdPanel</string>
		<string>dynRelEditor</string>
		<string>dynamicLoad</string>
		<string>editAttrLimits </string>
		<string>editDisplayLayerGlobals</string>
		<string>editDisplayLayerMembers</string>
		<string>editRenderLayerGlobals</string>
		<string>editRenderLayerMembers</string>
		<string>editor</string>
		<string>editorTemplate</string>
		<string>effector</string>
		<string>emit</string>
		<string>emitter</string>
		<string>enableDevice</string>
		<string>encodeString</string>
		<string>endString </string>
		<string>endsWith </string>
		<string>env</string>
		<string>equivalent </string>
		<string>equivalentTol </string>
		<string>erf</string>
		<string>error</string>
		<string>eval</string>
		<string>evalDeferred</string>
		<string>evalEcho</string>
		<string>event</string>
		<string>exactWorldBoundingBox</string>
		<string>exclusiveLightCheckBox</string>
		<string>exec</string>
		<string>executeForEachObject </string>
		<string>exists</string>
		<string>exp</string>
		<string>exportComposerCurves </string>
		<string>expression</string>
		<string>expressionEditorListen</string>
		<string>extendCurve</string>
		<string>extendSurface</string>
		<string>extrude</string>
		<string>fcheck</string>
		<string>fclose</string>
		<string>feof</string>
		<string>fflush</string>
		<string>fgetline</string>
		<string>fgetword</string>
		<string>file</string>
		<string>fileBrowserDialog</string>
		<string>fileDialog</string>
		<string>fileExtension </string>
		<string>fileInfo</string>
		<string>filetest</string>
		<string>filletCurve</string>
		<string>filter</string>
		<string>filterCurve</string>
		<string>filterExpand</string>
		<string>filterStudioImport</string>
		<string>findAllIntersections </string>
		<string>findKeyframe</string>
		<string>findMenuItem </string>
		<string>findRelatedSkinCluster </string>
		<string>finder</string>
		<string>firstParentOf </string>
		<string>fitBspline</string>
		<string>flexor</string>
		<string>floatEq </string>
		<string>floatField</string>
		<string>floatFieldGrp</string>
		<string>floatScrollBar</string>
		<string>floatSlider</string>
		<string>floatSliderButtonGrp</string>
		<string>floatSliderGrp</string>
		<string>floor</string>
		<string>flow</string>
		<string>fluidCacheInfo</string>
		<string>fluidEmitter</string>
		<string>fluidVoxelInfo</string>
		<string>flushUndo</string>
		<string>fmod</string>
		<string>fontDialog</string>
		<string>fopen</string>
		<string>formLayout</string>
		<string>fprint</string>
		<string>frameLayout</string>
		<string>fread</string>
		<string>freeFormFillet</string>
		<string>frewind</string>
		<string>fromNativePath </string>
		<string>fwrite</string>
		<string>gamma</string>
		<string>gauss</string>
		<string>geometryConstraint</string>
		<string>getApplicationVersionAsFloat </string>
		<string>getAttr</string>
		<string>getClassification</string>
		<string>getDefaultBrush</string>
		<string>getFileList</string>
		<string>getFluidAttr</string>
		<string>getInputDeviceRange</string>
		<string>getMayaPanelTypes </string>
		<string>getModifiers</string>
		<string>getPanel</string>
		<string>getParticleAttr</string>
		<string>getenv</string>
		<string>getpid</string>
		<string>glRender</string>
		<string>glRenderEditor</string>
		<string>globalStitch</string>
		<string>gmatch</string>
		<string>goal</string>
		<string>gotoBindPose </string>
		<string>grabColor</string>
		<string>gradientControl</string>
		<string>gradientControlNoAttr</string>
		<string>graphDollyCtx</string>
		<string>graphSelectContext</string>
		<string>graphTrackCtx</string>
		<string>gravity</string>
		<string>grid</string>
		<string>gridLayout</string>
		<string>group</string>
		<string>groupObjectsByName</string>
		<string>hardenPointCurve</string>
		<string>hardware</string>
		<string>hardwareRenderPanel</string>
		<string>headsUpDisplay</string>
		<string>help</string>
		<string>helpLine</string>
		<string>hermite</string>
		<string>hide</string>
		<string>hilite</string>
		<string>hitTest</string>
		<string>hotBox</string>
		<string>hotkey</string>
		<string>hotkeyCheck</string>
		<string>hsv_to_rgb</string>
		<string>hwReflectionMap</string>
		<string>hwRender</string>
		<string>hwRenderLoad</string>
		<string>hyperGraph</string>
		<string>hyperPanel</string>
		<string>hyperShade</string>
		<string>hypot</string>
		<string>iconTextButton</string>
		<string>iconTextCheckBox</string>
		<string>iconTextRadioButton</string>
		<string>iconTextRadioCollection</string>
		<string>iconTextStaticLabel</string>
		<string>ikHandle</string>
		<string>ikHandleCtx</string>
		<string>ikHandleDisplayScale</string>
		<string>ikSolver</string>
		<string>ikSplineHandleCtx</string>
		<string>ikSystem</string>
		<string>ikSystemInfo</string>
		<string>ikfkDisplayMethod</string>
		<string>image</string>
		<string>imfPlugins</string>
		<string>importComposerCurves </string>
		<string>inheritTransform</string>
		<string>insertJoint</string>
		<string>insertJointCtx</string>
		<string>insertKeyCtx</string>
		<string>insertKnotCurve</string>
		<string>insertKnotSurface</string>
		<string>instance</string>
		<string>instancer</string>
		<string>intField</string>
		<string>intFieldGrp</string>
		<string>intScrollBar</string>
		<string>intSlider</string>
		<string>intSliderGrp</string>
		<string>interToUI </string>
		<string>internalVar</string>
		<string>intersect</string>
		<string>iprEngine</string>
		<string>isAnimCurve </string>
		<string>isConnected</string>
		<string>isDirty</string>
		<string>isParentOf </string>
		<string>isTrue</string>
		<string>isValidObjectName </string>
		<string>isValidString </string>
		<string>isValidUiName </string>
		<string>isolateSelect</string>
		<string>itemFilter</string>
		<string>itemFilterAttr</string>
		<string>itemFilterRender</string>
		<string>itemFilterType</string>
		<string>joint</string>
		<string>jointCluster</string>
		<string>jointCtx</string>
		<string>jointDisplayScale</string>
		<string>jointLattice</string>
		<string>keyTangent</string>
		<string>keyframe</string>
		<string>keyframeOutliner</string>
		<string>keyframeRegionCurrentTimeCtx</string>
		<string>keyframeRegionDirectKeyCtx</string>
		<string>keyframeRegionDollyCtx</string>
		<string>keyframeRegionInsertKeyCtx</string>
		<string>keyframeRegionMoveKeyCtx</string>
		<string>keyframeRegionScaleKeyCtx</string>
		<string>keyframeRegionSelectKeyCtx</string>
		<string>keyframeRegionSetKeyCtx</string>
		<string>keyframeRegionTrackCtx</string>
		<string>keyframeStats</string>
		<string>lassoContext</string>
		<string>lattice</string>
		<string>latticeDeformKeyCtx</string>
		<string>launch</string>
		<string>layerButton</string>
		<string>layeredShaderPort</string>
		<string>layeredTexturePort</string>
		<string>layout</string>
		<string>lightList</string>
		<string>lightListEditor</string>
		<string>lightListPanel</string>
		<string>lightlink</string>
		<string>lineIntersection </string>
		<string>linstep</string>
		<string>listAnimatable</string>
		<string>listAttr</string>
		<string>listCameras</string>
		<string>listConnections</string>
		<string>listDeviceAttachments</string>
		<string>listHistory</string>
		<string>listInputDeviceAxes</string>
		<string>listInputDeviceButtons</string>
		<string>listInputDevices</string>
		<string>listMenuAnnotation </string>
		<string>listNodeTypes</string>
		<string>listRelatives</string>
		<string>listSets</string>
		<string>listTransforms </string>
		<string>listUnselected </string>
		<string>listerEditor</string>
		<string>loadFluid</string>
		<string>loadNewShelf </string>
		<string>loadPlugin</string>
		<string>loadPrefObjects</string>
		<string>lockNode</string>
		<string>loft</string>
		<string>log</string>
		<string>lookThru</string>
		<string>ls</string>
		<string>lsThroughFilter</string>
		<string>lsType </string>
		<string>lsUI</string>
		<string>Mayatomr</string>
		<string>mag</string>
		<string>makeIdentity</string>
		<string>makeLive</string>
		<string>makePaintable</string>
		<string>makeRoll </string>
		<string>makeSingleSurface</string>
		<string>makebot</string>
		<string>manipMoveContext</string>
		<string>manipMoveLimitsCtx</string>
		<string>manipOptions</string>
		<string>manipRotateContext</string>
		<string>manipRotateLimitsCtx</string>
		<string>manipScaleContext</string>
		<string>manipScaleLimitsCtx</string>
		<string>marker</string>
		<string>match</string>
		<string>max</string>
		<string>memory</string>
		<string>menu</string>
		<string>menuBarLayout</string>
		<string>menuEditor</string>
		<string>menuItem</string>
		<string>menuItemToShelf </string>
		<string>messageLine</string>
		<string>min</string>
		<string>minimizeApp</string>
		<string>mirrorJoint</string>
		<string>modelCurrentTimeCtx</string>
		<string>modelEditor</string>
		<string>modelPanel</string>
		<string>movIn</string>
		<string>movOut</string>
		<string>move</string>
		<string>moveIKtoFK </string>
		<string>moveKeyCtx</string>
		<string>moveVertexAlongDirection</string>
		<string>multiProfileBirailSurface</string>
		<string>mute</string>
		<string>nameCommand</string>
		<string>nameField</string>
		<string>namespace</string>
		<string>namespaceInfo</string>
		<string>newPanelItems</string>
		<string>newton</string>
		<string>nodeIconButton</string>
		<string>nodeOutliner</string>
		<string>nodePreset</string>
		<string>nodeType</string>
		<string>noise</string>
		<string>nonLinear</string>
		<string>normalConstraint</string>
		<string>normalize </string>
		<string>nurbsBoolean</string>
		<string>nurbsCopyUVSet</string>
		<string>nurbsCube</string>
		<string>nurbsPlane</string>
		<string>nurbsSelect</string>
		<string>nurbsSquare</string>
		<string>nurbsToPoly</string>
		<string>nurbsToPolygonsPref</string>
		<string>nurbsToSubdiv</string>
		<string>nurbsViewDirectionVector</string>
		<string>objExists</string>
		<string>objectCenter</string>
		<string>objectLayer </string>
		<string>objectType</string>
		<string>objectTypeUI</string>
		<string>obsoleteProc </string>
		<string>offsetCurve</string>
		<string>offsetCurveOnSurface</string>
		<string>offsetSurface</string>
		<string>openGLExtension</string>
		<string>openMayaPref</string>
		<string>optionMenu</string>
		<string>optionMenuGrp</string>
		<string>optionVar</string>
		<string>orbit</string>
		<string>orbitCtx</string>
		<string>orientConstraint</string>
		<string>outlinerEditor</string>
		<string>outlinerPanel</string>
		<string>overrideModifier</string>
		<string>pairBlend</string>
		<string>palettePort</string>
		<string>paneLayout</string>
		<string>panel</string>
		<string>panelConfiguration</string>
		<string>panelHistory</string>
		<string>paramDimContext</string>
		<string>paramDimension</string>
		<string>paramLocator</string>
		<string>parent</string>
		<string>parentConstraint</string>
		<string>particle</string>
		<string>particleExists</string>
		<string>particleInstancer</string>
		<string>particleRenderInfo</string>
		<string>partition</string>
		<string>pasteKey</string>
		<string>pathAnimation</string>
		<string>pause</string>
		<string>pclose</string>
		<string>percent</string>
		<string>performanceOptions</string>
		<string>pfxstrokes</string>
		<string>pickWalk</string>
		<string>picture</string>
		<string>pixelMove</string>
		<string>planarSrf</string>
		<string>plane</string>
		<string>play</string>
		<string>playbackOptions</string>
		<string>playblast</string>
		<string>pluginInfo</string>
		<string>pointConstraint</string>
		<string>pointCurveConstraint</string>
		<string>pointLight</string>
		<string>pointMatrixMult </string>
		<string>pointOnCurve</string>
		<string>pointOnSurface</string>
		<string>pointPosition</string>
		<string>poleVectorConstraint</string>
		<string>polyAppend</string>
		<string>polyAppendFacetCtx</string>
		<string>polyAppendVertex</string>
		<string>polyAutoProjection</string>
		<string>polyAverageNormal</string>
		<string>polyAverageVertex</string>
		<string>polyBevel</string>
		<string>polyBlindData</string>
		<string>polyBoolOp</string>
		<string>polyChipOff</string>
		<string>polyClipboard</string>
		<string>polyCloseBorder</string>
		<string>polyCollapseEdge</string>
		<string>polyCollapseFacet</string>
		<string>polyColorBlindData</string>
		<string>polyColorPerVertex</string>
		<string>polyCone</string>
		<string>polyCopyUV</string>
		<string>polyCreateFacet</string>
		<string>polyCreateFacetCtx</string>
		<string>polyCube</string>
		<string>polyCut</string>
		<string>polyCutCtx</string>
		<string>polyCylinder</string>
		<string>polyCylindricalProjection</string>
		<string>polyDelEdge</string>
		<string>polyDelFacet</string>
		<string>polyDelVertex</string>
		<string>polyDuplicateAndConnect</string>
		<string>polyEditUV</string>
		<string>polyEvaluate</string>
		<string>polyExtrudeEdge</string>
		<string>polyExtrudeFacet</string>
		<string>polyFlipEdge</string>
		<string>polyFlipUV</string>
		<string>polyForceUV</string>
		<string>polyGeoSampler</string>
		<string>polyInfo</string>
		<string>polyInstallAction</string>
		<string>polyLayoutUV</string>
		<string>polyListComponentConversion</string>
		<string>polyMapCut</string>
		<string>polyMapDel</string>
		<string>polyMapSew</string>
		<string>polyMapSewMove</string>
		<string>polyMergeEdge</string>
		<string>polyMergeEdgeCtx</string>
		<string>polyMergeFacet</string>
		<string>polyMergeFacetCtx</string>
		<string>polyMergeUV</string>
		<string>polyMergeVertex</string>
		<string>polyMoveEdge</string>
		<string>polyMoveFacet</string>
		<string>polyMoveFacetUV</string>
		<string>polyMoveUV</string>
		<string>polyMoveVertex</string>
		<string>polyNormal</string>
		<string>polyNormalPerVertex</string>
		<string>polyNormalizeUV</string>
		<string>polyOptions</string>
		<string>polyPlanarProjection</string>
		<string>polyPlane</string>
		<string>polyPoke</string>
		<string>polyProjection</string>
		<string>polyQuad</string>
		<string>polyQueryBlindData</string>
		<string>polyReduce</string>
		<string>polySelectConstraint</string>
		<string>polySelectConstraintMonitor</string>
		<string>polySeparate</string>
		<string>polySetToFaceNormal</string>
		<string>polySewEdge</string>
		<string>polySmooth</string>
		<string>polySoftEdge</string>
		<string>polySphere</string>
		<string>polySphericalProjection</string>
		<string>polySplit</string>
		<string>polySplitCtx</string>
		<string>polySplitEdge</string>
		<string>polySplitVertex</string>
		<string>polyStraightenUVBorder</string>
		<string>polySubdivideEdge</string>
		<string>polySubdivideFacet</string>
		<string>polySuperCtx</string>
		<string>polyToSubdiv</string>
		<string>polyTorus</string>
		<string>polyTransfer</string>
		<string>polyTriangulate</string>
		<string>polyUVSet</string>
		<string>polyUnite</string>
		<string>polyWedgeFace</string>
		<string>popen</string>
		<string>popupMenu</string>
		<string>pose</string>
		<string>pow</string>
		<string>print</string>
		<string>progressBar</string>
		<string>progressWindow</string>
		<string>projFileViewer</string>
		<string>projectCurve</string>
		<string>projectTangent</string>
		<string>projectionContext</string>
		<string>projectionManip</string>
		<string>promptDialog</string>
		<string>propModCtx</string>
		<string>propMove</string>
		<string>psdExport</string>
		<string>psdTextureFile</string>
		<string>putenv</string>
		<string>pwd</string>
		<string>querySubdiv</string>
		<string>quit</string>
		<string>rad_to_deg</string>
		<string>radial</string>
		<string>radioButton</string>
		<string>radioButtonGrp</string>
		<string>radioCollection</string>
		<string>radioMenuItemCollection</string>
		<string>rampColorPort</string>
		<string>rand</string>
		<string>randstate</string>
		<string>rangeControl</string>
		<string>readTake</string>
		<string>rebuildCurve</string>
		<string>rebuildSurface</string>
		<string>recordAttr</string>
		<string>recordDevice</string>
		<string>redo</string>
		<string>reference</string>
		<string>refineSubdivSelectionList</string>
		<string>refresh</string>
		<string>refreshAE </string>
		<string>rehash</string>
		<string>reloadImage</string>
		<string>removeJoint</string>
		<string>removeMultiInstance</string>
		<string>rename</string>
		<string>renameAttr</string>
		<string>renameSelectionList </string>
		<string>renameUI</string>
		<string>render</string>
		<string>renderGlobalsNode</string>
		<string>renderInfo</string>
		<string>renderLayerButton</string>
		<string>renderManip</string>
		<string>renderPartition</string>
		<string>renderQualityNode</string>
		<string>renderThumbnailUpdate</string>
		<string>renderWindowEditor</string>
		<string>renderWindowSelectContext</string>
		<string>renderer</string>
		<string>reorder</string>
		<string>reorderDeformers</string>
		<string>requires</string>
		<string>reroot</string>
		<string>resampleFluid</string>
		<string>resetAE </string>
		<string>resetTool</string>
		<string>resolutionNode</string>
		<string>retarget</string>
		<string>reverseCurve</string>
		<string>reverseSurface</string>
		<string>revolve</string>
		<string>rgb_to_hsv</string>
		<string>rigidBody</string>
		<string>rigidSolver</string>
		<string>roll</string>
		<string>rollCtx</string>
		<string>rootOf </string>
		<string>rot</string>
		<string>rotate</string>
		<string>rotationInterpolation</string>
		<string>roundConstantRadius</string>
		<string>rowColumnLayout</string>
		<string>rowLayout</string>
		<string>runTimeCommand</string>
		<string>runup</string>
		<string>sampleImage</string>
		<string>saveAllShelves</string>
		<string>saveAttrPreset </string>
		<string>saveFluid</string>
		<string>saveImage</string>
		<string>saveInitialState</string>
		<string>saveMenu</string>
		<string>savePrefObjects</string>
		<string>savePrefs</string>
		<string>saveShelf</string>
		<string>saveToolSettings</string>
		<string>scale</string>
		<string>scaleConstraint</string>
		<string>scaleKey</string>
		<string>scaleKeyCtx</string>
		<string>sceneUIReplacement</string>
		<string>scmh</string>
		<string>scriptCtx</string>
		<string>scriptEditorInfo</string>
		<string>scriptJob</string>
		<string>scriptNode</string>
		<string>scriptTable</string>
		<string>scriptedPanel</string>
		<string>scriptedPanelType</string>
		<string>scrollField</string>
		<string>scrollLayout</string>
		<string>sculpt</string>
		<string>searchPathArray </string>
		<string>seed</string>
		<string>selLoadSettings</string>
		<string>select</string>
		<string>selectContext</string>
		<string>selectKey</string>
		<string>selectKeyCtx</string>
		<string>selectMode</string>
		<string>selectPref</string>
		<string>selectPriority</string>
		<string>selectType</string>
		<string>selectedNodes</string>
		<string>selectionConnection</string>
		<string>separator</string>
		<string>setAttr</string>
		<string>setAttrMapping</string>
		<string>setConstraintRestPosition </string>
		<string>setDefaultShadingGroup</string>
		<string>setDrivenKeyframe</string>
		<string>setDynamic</string>
		<string>setEditCtx</string>
		<string>setEditor</string>
		<string>setEscapeCtx</string>
		<string>setFluidAttr</string>
		<string>setFocus</string>
		<string>setInfinity</string>
		<string>setInputDeviceMapping</string>
		<string>setKeyCtx</string>
		<string>setKeyPath</string>
		<string>setKeyframe</string>
		<string>setMenuMode</string>
		<string>setNodeTypeFlag</string>
		<string>setParent</string>
		<string>setParticleAttr</string>
		<string>setProject </string>
		<string>setStartupMessage</string>
		<string>setState </string>
		<string>setToolTo</string>
		<string>setUITemplate</string>
		<string>sets</string>
		<string>shadingConnection</string>
		<string>shadingGeometryRelCtx</string>
		<string>shadingGroupDialogDaemon</string>
		<string>shadingLightRelCtx</string>
		<string>shadingNode</string>
		<string>shelfButton</string>
		<string>shelfLayout</string>
		<string>shelfTabLayout</string>
		<string>shellField</string>
		<string>showHelp</string>
		<string>showHidden</string>
		<string>showManipCtx</string>
		<string>showSelectionInTitle</string>
		<string>showShadingGroupAttrEditor</string>
		<string>showWindow</string>
		<string>sign</string>
		<string>simplify</string>
		<string>sin</string>
		<string>singleProfileBirailSurface</string>
		<string>size</string>
		<string>skinCluster</string>
		<string>skinPercent</string>
		<string>smoothCurve</string>
		<string>smoothTangentSurface</string>
		<string>smoothstep</string>
		<string>snap2to2 </string>
		<string>snapKey</string>
		<string>snapMode</string>
		<string>snapTogetherCtx</string>
		<string>snapshot</string>
		<string>soft</string>
		<string>softMod</string>
		<string>softModCtx</string>
		<string>sort</string>
		<string>sound</string>
		<string>soundControl</string>
		<string>source</string>
		<string>spaceLocator</string>
		<string>sphere</string>
		<string>sphrand</string>
		<string>spotLight</string>
		<string>spotLightPreviewPort</string>
		<string>spreadSheetEditor</string>
		<string>spring</string>
		<string>sqrt</string>
		<string>squareSurface</string>
		<string>srtContext</string>
		<string>stackTrace</string>
		<string>startString </string>
		<string>startsWith </string>
		<string>stitchAndExplodeShell </string>
		<string>stitchSurface</string>
		<string>stitchSurfacePoints</string>
		<string>strcmp</string>
		<string>stringArrayCatenate </string>
		<string>stringArrayCount </string>
		<string>stringArrayIntersector</string>
		<string>stringArrayRemove </string>
		<string>stringArrayRemoveDuplicates </string>
		<string>stringArrayToString </string>
		<string>stringToStringArray </string>
		<string>strip </string>
		<string>stroke</string>
		<string>subdAutoProjection</string>
		<string>subdCleanTopology</string>
		<string>subdCollapse</string>
		<string>subdDuplicateAndConnect</string>
		<string>subdEditUV</string>
		<string>subdListComponentConversion</string>
		<string>subdMapCut</string>
		<string>subdMapSewMove</string>
		<string>subdMatchTopology</string>
		<string>subdMirror</string>
		<string>subdToBlind</string>
		<string>subdToPoly</string>
		<string>subdTransferUVsToCache</string>
		<string>subdiv</string>
		<string>subdivCrease</string>
		<string>subdivDisplaySmoothness</string>
		<string>substitute</string>
		<string>substituteAllString </string>
		<string>substring</string>
		<string>superCtx</string>
		<string>surface</string>
		<string>surfaceShaderList</string>
		<string>swatchDisplayPort</string>
		<string>switchTable</string>
		<string>symbolButton</string>
		<string>symbolCheckBox</string>
		<string>sysFile</string>
		<string>system</string>
		<string>tabLayout</string>
		<string>tan</string>
		<string>tangentConstraint</string>
		<string>texManipContext</string>
		<string>texMoveContext</string>
		<string>texRotateContext</string>
		<string>texScaleContext</string>
		<string>texSelectContext</string>
		<string>texWinToolCtx</string>
		<string>text</string>
		<string>textCurves</string>
		<string>textField</string>
		<string>textFieldButtonGrp</string>
		<string>textFieldGrp</string>
		<string>textScrollList</string>
		<string>textToShelf </string>
		<string>textureDisplacePlane </string>
		<string>texturePlacementContext</string>
		<string>textureWindow</string>
		<string>threePointArcCtx</string>
		<string>timeControl</string>
		<string>timePort</string>
		<string>timerX</string>
		<string>toNativePath </string>
		<string>toggle</string>
		<string>toggleAxis</string>
		<string>toggleWindowVisibility</string>
		<string>tokenize</string>
		<string>tokenizeList </string>
		<string>tolerance</string>
		<string>tolower</string>
		<string>toolButton</string>
		<string>toolCollection</string>
		<string>toolDropped</string>
		<string>toolHasOptions</string>
		<string>toolPropertyWindow</string>
		<string>torus</string>
		<string>toupper</string>
		<string>trace</string>
		<string>track</string>
		<string>trackCtx</string>
		<string>transformLimits</string>
		<string>translator</string>
		<string>trim</string>
		<string>trunc</string>
		<string>truncateFluidCache</string>
		<string>truncateHairCache</string>
		<string>tumble</string>
		<string>tumbleCtx</string>
		<string>turbulence</string>
		<string>twoPointArcCtx</string>
		<string>uiTemplate</string>
		<string>unassignInputDevice</string>
		<string>undo</string>
		<string>undoInfo</string>
		<string>ungroup</string>
		<string>uniform</string>
		<string>unit</string>
		<string>unloadPlugin</string>
		<string>untangleUV</string>
		<string>untrim</string>
		<string>upAxis</string>
		<string>updateAE </string>
		<string>userCtx</string>
		<string>uvLink</string>
		<string>uvSnapshot</string>
		<string>validateShelfName </string>
		<string>vectorize</string>
		<string>verifyCmd </string>
		<string>view2dToolCtx</string>
		<string>viewCamera</string>
		<string>viewClipPlane</string>
		<string>viewFit</string>
		<string>viewHeadOn</string>
		<string>viewLookAt</string>
		<string>viewPlace</string>
		<string>viewSet</string>
		<string>visor</string>
		<string>volumeAxis</string>
		<string>vortex</string>
		<string>waitCursor</string>
		<string>warning</string>
		<string>webBrowser</string>
		<string>whatIs</string>
		<string>window</string>
		<string>windowPref</string>
		<string>wire</string>
		<string>wireContext</string>
		<string>workspace</string>
		<string>wrinkle</string>
		<string>wrinkleContext</string>
		<string>writeTake</string>
		<string>xbmLangPathList </string>
		<string>xform</string>
		<string>xpmPicker</string>
	</array>
</dict>
</plist>