<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginCommand</key>
	<string>{</string>
	<key>endCommand</key>
	<string>}</string>
	<key>beginInstruction</key>
	<string></string>
	<key>endInstruction</key>
	<string></string>
	<key>beginVariable</key>
	<string>\</string>
	<key>endVariable</key>
	<string> {}()[],?.;/:+=&gt;&lt;~</string>
	<key>firstString</key>
	<string>"</string>
	<key>secondString</key>
	<string>$</string>
	<key>firstSingleLineComment</key>
	<string>%</string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string></string>
	<key>endFirstMultiLineComment</key>
	<string></string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>functionDefinition</key>
	<string>^\s*(def|vardef|primarydef|secondarydef|tertiarydef|beginfig)\s*.*[;=]</string>
	<key>removeFromFunction</key>
	<string>=</string>
	<key>keywordsCaseSensitive</key>
	<true/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>keywords</key>
	<array>
	<string>@#</string>
	<string>abs</string>
	<string>addto</string>
	<string>ahangle</string>
	<string>ahlength</string>
	<string>also</string>
	<string>and</string>
	<string>angle</string>
	<string>arclength</string>
	<string>arctime</string>
	<string>arrowhead</string>
	<string>ASCII</string>
	<string>atleast</string>
	<string>background</string>
	<string>bbox</string>
	<string>bboxmargin</string>
	<string>beginfig</string>
	<string>begingroup</string>
	<string>beveled</string>
	<string>black</string>
	<string>blackpart</string>
	<string>blankpicture</string>
	<string>blue</string>
	<string>bluepart</string>
	<string>boolean</string>
	<string>bot</string>
	<string>bounded</string>
	<string>boxit</string>
	<string>boxjoin</string>
	<string>bp</string>
	<string>bpath</string>
	<string>btex</string>
	<string>buildcycle</string>
	<string>butt</string>
	<string>bye</string>
	<string>byte</string>
	<string>cc</string>
	<string>ceiling</string>
	<string>center</string>
	<string>char</string>
	<string>charcode</string>
	<string>circleit</string>
	<string>circmargin</string>
	<string>clearit</string>
	<string>clearpen</string>
	<string>clearxy</string>
	<string>clip</string>
	<string>clipped</string>
	<string>cm</string>
	<string>cmykcolor</string>
	<string>color</string>
	<string>colormodel</string>
	<string>contour</string>
	<string>controls</string>
	<string>cosd</string>
	<string>counterclockwise</string>
	<string>curl</string>
	<string>currentpen</string>
	<string>currentpicture</string>
	<string>cutafter</string>
	<string>cutbefore</string>
	<string>cutdraw</string>
	<string>cuttings</string>
	<string>cyanpart</string>
	<string>cycle</string>
	<string>dashed</string>
	<string>dashpart</string>
	<string>dashpattern</string>
	<string>day</string>
	<string>dd</string>
	<string>decimal</string>
	<string>decr</string>
	<string>def</string>
	<string>defaultcolormodel</string>
	<string>defaultdx</string>
	<string>defaultdy</string>
	<string>defaultfont</string>
	<string>defaultpen</string>
	<string>defaultscale</string>
	<string>delimiters</string>
	<string>dir</string>
	<string>direction</string>
	<string>directionpoint</string>
	<string>directiontime</string>
	<string>ditto</string>
	<string>div</string>
	<string>dotlabel</string>
	<string>dotlabeldiam</string>
	<string>dotlabels</string>
	<string>dotprod</string>
	<string>doublepath</string>
	<string>down</string>
	<string>downto</string>
	<string>draw</string>
	<string>drawarrow</string>
	<string>drawboxed</string>
	<string>drawboxes</string>
	<string>drawdblarrow</string>
	<string>drawdot</string>
	<string>drawoptions</string>
	<string>drawunboxed</string>
	<string>else</string>
	<string>elseif</string>
	<string>end</string>
	<string>enddef</string>
	<string>endfig</string>
	<string>endfor</string>
	<string>endgroup</string>
	<string>EOF</string>
	<string>eps</string>
	<string>epsilon</string>
	<string>erase</string>
	<string>errmessage</string>
	<string>etex</string>
	<string>evenly</string>
	<string>exitif</string>
	<string>exitunless</string>
	<string>exp</string>
	<string>expandafter</string>
	<string>expr</string>
	<string>extra_beginfig</string>
	<string>extra_endfig</string>
	<string>false</string>
	<string>fi</string>
	<string>filenametemplate</string>
	<string>fill</string>
	<string>filldraw</string>
	<string>filled</string>
	<string>fixpos</string>
	<string>fixsize</string>
	<string>flex</string>
	<string>floor</string>
	<string>fontmapfile</string>
	<string>fontmapline</string>
	<string>fontpart</string>
	<string>fontsize</string>
	<string>for</string>
	<string>forever</string>
	<string>forsuffixes</string>
	<string>fullcircle</string>
	<string>gobble</string>
	<string>gobbled</string>
	<string>granularity</string>
	<string>green</string>
	<string>greenpart</string>
	<string>greypart</string>
	<string>halfcircle</string>
	<string>hex</string>
	<string>hide</string>
	<string>hround</string>
	<string>identity</string>
	<string>if</string>
	<string>image</string>
	<string>in</string>
	<string>incr</string>
	<string>infinity</string>
	<string>infont</string>
	<string>input</string>
	<string>interact</string>
	<string>interim</string>
	<string>interpath</string>
	<string>intersectionpoint</string>
	<string>intersectiontimes</string>
	<string>inverse</string>
	<string>killtext</string>
	<string>known</string>
	<string>label</string>
	<string>labeloffset</string>
	<string>labels</string>
	<string>laboff</string>
	<string>labxf</string>
	<string>labyf</string>
	<string>left</string>
	<string>length</string>
	<string>let</string>
	<string>lft</string>
	<string>linecap</string>
	<string>linejoin</string>
	<string>llcorner</string>
	<string>llft</string>
	<string>loggingall</string>
	<string>lrcorner</string>
	<string>lrt</string>
	<string>magentapart</string>
	<string>magstep</string>
	<string>makegrid</string>
	<string>makelabel</string>
	<string>makepath</string>
	<string>makepen</string>
	<string>max</string>
	<string>message</string>
	<string>mexp</string>
	<string>min</string>
	<string>mitered</string>
	<string>miterlimit</string>
	<string>mlog</string>
	<string>mm</string>
	<string>mod</string>
	<string>month</string>
	<string>mpprocset</string>
	<string>mpxbreak</string>
	<string>mpversion</string>
	<string>newinternal</string>
	<string>normaldeviate</string>
	<string>not</string>
	<string>nullpen</string>
	<string>nullpicture</string>
	<string>numeric</string>
	<string>numtok</string>
	<string>oct</string>
	<string>odd</string>
	<string>of</string>
	<string>off</string>
	<string>on</string>
	<string>or</string>
	<string>origin</string>
	<string>outer</string>
	<string>pair</string>
	<string>path</string>
	<string>pathpart</string>
	<string>pausing</string>
	<string>pc</string>
	<string>pen</string>
	<string>pencircle</string>
	<string>penlabels</string>
	<string>penoffset</string>
	<string>penoffset</string>
	<string>penpart</string>
	<string>penpos</string>
	<string>penrazor</string>
	<string>penspeck</string>
	<string>pensquare</string>
	<string>penstroke</string>
	<string>pic</string>
	<string>pickup</string>
	<string>picture</string>
	<string>point</string>
	<string>postcontrol</string>
	<string>precontrol</string>
	<string>primary</string>
	<string>primarydef</string>
	<string>prologues</string>
	<string>pt</string>
	<string>quartercircle</string>
	<string>randomseed</string>
	<string>range</string>
	<string>readstring</string>
	<string>red</string>
	<string>redpart</string>
	<string>reflectedabout</string>
	<string>relax</string>
	<string>restoreclipcolor</string>
	<string>reverse</string>
	<string>rgbcolor</string>
	<string>right</string>
	<string>rotated</string>
	<string>rotatedabout</string>
	<string>rotatedaround</string>
	<string>round</string>
	<string>rounded</string>
	<string>rt</string>
	<string>save</string>
	<string>savepen</string>
	<string>scaled</string>
	<string>scantokens</string>
	<string>secondary</string>
	<string>secondarydef</string>
	<string>setbounds</string>
	<string>shifted</string>
	<string>shipit</string>
	<string>shipout</string>
	<string>show</string>
	<string>showdependencies</string>
	<string>showstopping</string>
	<string>showtoken</string>
	<string>showvariable</string>
	<string>sind</string>
	<string>slanted</string>
	<string>softjoin</string>
	<string>solve</string>
	<string>special</string>
	<string>sqrt</string>
	<string>squared</string>
	<string>step</string>
	<string>stop</string>
	<string>str</string>
	<string>string</string>
	<string>subpath</string>
	<string>stroked</string>
	<string>substring</string>
	<string>suffix</string>
	<string>superellipse</string>
	<string>takepower</string>
	<string>tension</string>
	<string>tensepath</string>
	<string>tertiary</string>
	<string>tertiarydef</string>
	<string>text</string>
	<string>textpart</string>
	<string>textual</string>
	<string>thelabel</string>
	<string>thru</string>
	<string>time</string>
	<string>tolerance</string>
	<string>to</string>
	<string>top</string>
	<string>tracingall</string>
	<string>tracingcapsules</string>
	<string>tracingchoices</string>
	<string>tracingcommands</string>
	<string>tracingequations</string>
	<string>tracinglostchars</string>
	<string>tracingmacros</string>
	<string>tracingnone</string>
	<string>tracingonline</string>
	<string>tracingoutput</string>
	<string>tracingrestores</string>
	<string>tracingspecs</string>
	<string>tracingstats</string>
	<string>tracingtitles</string>
	<string>transform</string>
	<string>transformed</string>
	<string>troffmode</string>
	<string>true</string>
	<string>truecorners</string>
	<string>turningcheck</string>
	<string>turningnumber</string>
	<string>ulcorner</string>
	<string>ulft</string>
	<string>undraw</string>
	<string>undrawdot</string>
	<string>unfill</string>
	<string>unfilldraw</string>
	<string>uniformdeviate</string>
	<string>unitsquare</string>
	<string>unitvector</string>
	<string>unknown</string>
	<string>until</string>
	<string>up</string>
	<string>upto</string>
	<string>urcorner</string>
	<string>urt</string>
	<string>vardef</string>
	<string>verbatimtex</string>
	<string>vround</string>
	<string>warningcheck</string>
	<string>whatever</string>
	<string>white</string>
	<string>withcmykcolor</string>
	<string>withcolor</string>
	<string>withdots</string>
	<string>withgreyscale</string>
	<string>within</string>
	<string>withoutcolor</string>
	<string>withpen</string>
	<string>withgreyscale</string>
	<string>withoutcolor</string>
	<string>withpostscript</string>
	<string>withprescript</string>
	<string>withrgbcolor</string>
	<string>xpart</string>
	<string>xscaled</string>
	<string>xxpart</string>
	<string>xypart</string>
	<string>year</string>
	<string>yellowpart</string>
	<string>ypart</string>
	<string>yscaled</string>
	<string>yxpart</string>
	<string>yypart</string>
	<string>z</string>
	<string>zscaled</string>
	<!-- metafun -->
	<string>acos</string>
	<string>acosh</string>
	<string>along</string>
	<string>asin</string>
	<string>asinh</string>
	<string>atan</string>
	<string>bbheight</string>
	<string>bbwidth</string>
	<string>bcircle</string>
	<string>blownup</string>
	<string>bottomboundary</string>
	<string>bottomenlarged</string>
	<string>boundingbox</string>
	<string>circular_shade</string>
	<string>cmyk</string>
	<string>cos</string>
	<string>cosh</string>
	<string>cot</string>
	<string>cotd</string>
	<string>curved</string>
	<string>cutends</string>
	<string>define_circular_shade</string>
	<string>define_linear_shade</string>
	<string>drawfill</string>
	<string>drawpath</string>
	<string>drawpoints</string>
	<string>enlarged</string>
	<string>externalfigure</string>
	<string>fulldiamond</string>
	<string>fullsquare</string>
	<string>function</string>
	<string>graphictext</string>
	<string>graphictextdirective</string>
	<string>graphictextformat</string>
	<string>grayed</string>
	<string>hlingrid</string>
	<string>hlinlabel</string>
	<string>hlintext</string>
	<string>hloggrid</string>
	<string>hlogtext</string>
	<string>innerboundingbox</string>
	<string>inv</string>
	<string>invcos</string>
	<string>inverted</string>
	<string>invsin</string>
	<string>lcircle</string>
	<string>leftboundary</string>
	<string>leftenlarged</string>
	<string>linear_shade</string>
	<string>linlin</string>
	<string>linlinpath</string>
	<string>linlog</string>
	<string>linlogpath</string>
	<string>llcircle</string>
	<string>llenlarged</string>
	<string>llmoved</string>
	<string>lltriangle</string>
	<string>loadfigure</string>
	<string>log</string>
	<string>loglin</string>
	<string>loglinpath</string>
	<string>loglog</string>
	<string>loglogpath</string>
	<string>ln</string>
	<string>lrcircle</string>
	<string>lrenlarged</string>
	<string>lrmoved</string>
	<string>lrtriangle</string>
	<string>number</string>
	<string>outerboundingbox</string>
	<string>outlinefill</string>
	<string>pow</string>
	<string>predefined_circular_shade</string>
	<string>predefined_linear_shade</string>
	<string>processpath</string>
	<string>punked</string>
	<string>randomized</string>
	<string>randomshifted</string>
	<string>recolor</string>
	<string>redraw</string>
	<string>refill</string>
	<string>regraphictext</string>
	<string>remapcolor</string>
	<string>resetcolormap</string>
	<string>resetgraphictextdirective</string>
	<string>reversefill</string>
	<string>rcircle</string>
	<string>rightboundary</string>
	<string>rightenlarged</string>
	<string>simplified</string>
	<string>softened</string>
	<string>sin</string>
	<string>sinh</string>
	<string>sqr</string>
	<string>squeezed</string>
	<string>stretched</string>
	<string>superellipsed</string>
	<string>tan</string>
	<string>tand</string>
	<string>tcircle</string>
	<string>topboundary</string>
	<string>topenlarged</string>
	<string>transparent</string>
	<string>undrawfill</string>
	<string>unitcircle</string>
	<string>unitdiamond</string>
	<string>ulcircle</string>
	<string>ulenlarged</string>
	<string>ulmoved</string>
	<string>ultriangle</string>
	<string>uncolored</string>
	<string>unspiked</string>
	<string>urcircle</string>
	<string>urenlarged</string>
	<string>urmoved</string>
	<string>urtriangle</string>
	<string>vlingrid</string>
	<string>vlinlabel</string>
	<string>vlintext</string>
	<string>vloggrid</string>
	<string>vlogtext</string>
	<string>withdrawcolor</string>
	<string>withfillcolor</string>
	<string>withshade</string>
	<string>xsized</string>
	<string>xyscaled</string>
	<string>xysized</string>
	<string>yellow</string>
	<string>ysized</string>
	</array>
	<key>autocompleteWords</key>
	<array>
	</array>
</dict>
</plist>
