<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginCommand</key>
	<string></string>
	<key>endCommand</key>
	<string></string>
	<key>beginInstruction</key>
	<string></string>
	<key>endInstruction</key>
	<string></string>
	<key>beginVariable</key>
	<string></string>
	<key>endVariable</key>
	<string></string>
	<key>firstString</key>
	<string>"</string>
	<key>secondString</key>
	<string></string>
	<key>firstSingleLineComment</key>
	<string>%</string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string>(*</string>
	<key>endFirstMultiLineComment</key>
	<string>*)</string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>functionDefinition</key>
	<string>^\s*.*\(.*\)\n?\s*\{</string>
	<key>removeFromFunction</key>
	<string></string>
	<key>keywordsCaseSensitive</key>
	<true/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<false/>
	<key>keywords</key>
	<array>
	  <string>as</string>
	  <string>axiom</string>	  
	  <string>by</string>
	  <string>case</string>	  
	  <string>choose</string>
	  <string>conjecture</string>	  
	  <string>def</string>
	  <string>else</string>
	  <string>embed</string>
	  <string>embed?</string>
	  <string>endspec</string>	  
	  <string>ex</string>
	  <string>ex1</string>
	  <string>fa</string>
	  <string>false</string>
	  <string>fn</string>
	  <string>from</string>
	  <string>generate</string>	  
	  <string>if</string>
	  <string>import</string>
	  <string>in</string>
	  <string>infixl</string>
	  <string>infixr</string>	  
	  <string>is</string>
	  <string>let</string>
	  <string>morphism</string>	  
	  <string>obligations</string>
	  <string>of</string>
	  <string>op</string>
	  <string>project</string>
	  <string>prove</string>
	  <string>qualifying</string>
	  <string>quotient</string>
	  <string>sort</string>
	  <string>spec</string>
	  <string>the</string>
	  <string>then</string>
	  <string>theorem</string>
	  <string>true</string>
	  <string>type</string>
	  <string>where</string>	  
	  <string>Bijective</string>
	  <string>Boolean</string>
	  <string>Char</string>
	  <string>Comparison</string>
	  <string>Cons</string>
	  <string>Equal</string>
	  <string>Greater</string>
	  <string>Injective</string>
	  <string>Integer</string>
	  <string>Less</string>
	  <string>List</string>
	  <string>Nat</string>
	  <string>Nil</string>
	  <string>None</string>
	  <string>NonZeroInteger</string>
	  <string>Option</string>
	  <string>PosNat</string>
 	  <string>Some</string>
	  <string>String</string>
	  <string>Surjective</string>
	  <string>abs</string>
	  <string>all</string>
	  <string>bijective?</string>
	  <string>chr</string>
	  <string>compare</string>
	  <string>concat</string>
	  <string>concatList</string>
	  <string>cons</string>
	  <string>diff</string>
	  <string>div</string>
	  <string>exists</string>
	  <string>explode</string>
	  <string>filter</string>
	  <string>find</string>
	  <string>firstUpTo</string>
	  <string>flatten</string>
	  <string>foldl</string>
	  <string>foldr</string>
	  <string>hd</string>
	  <string>id</string>
	  <string>implode</string>
	  <string>injective?</string>
	  <string>insert</string>
	  <string>intConvertible</string>
	  <string>intToString</string>
	  <string>inverse</string>
	  <string>isAlpha</string>
	  <string>isAlphaNum</string>
	  <string>isAscii</string>
	  <string>isLowerCase</string>
	  <string>isNum</string>
	  <string>isUpperCase</string>
	  <string>length</string>
	  <string>leq</string>
	  <string>locationOf</string>
	  <string>lt</string>
	  <string>map</string>
	  <string>mapOption</string>
	  <string>mapPartial</string>
	  <string>max</string>
	  <string>member</string>
	  <string>min</string>
	  <string>natConvertible</string>
	  <string>natToString</string>
	  <string>newline</string>
	  <string>nil</string>
	  <string>none</string>
	  <string>none?</string>
	  <string>nth</string>
	  <string>nthTail</string>
	  <string>null</string>
	  <string>one</string>
	  <string>ord</string>
	  <string>posNat?</string>
	  <string>pred</string>
	  <string>rem</string>
	  <string>rev</string>
	  <string>show</string>
	  <string>some</string>
	  <string>some</string>
	  <string>splitList</string>
	  <string>stringToInt</string>
	  <string>stringToNat</string>
	  <string>sub</string>
	  <string>sublist</string>
	  <string>substring</string>
	  <string>succ</string>
	  <string>surjective?</string>
	  <string>tabulate</string>
	  <string>tl</string>
	  <string>toLowerCase</string> 
	  <string>toScreen</string>
	  <string>toString</string>
	  <string>toUpperCase</string>
	  <string>translate</string>
	  <string>two</string>
	  <string>writeLine</string>
	  <string>zero</string>
	</array>
	<key>autocompleteWords</key>
	<array>
	</array>
</dict>
</plist>
