<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autocompleteWords</key>
	<array/>
	<key>beginCommand</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string>/*</string>
	<key>beginInstruction</key>
	<string></string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>beginVariable</key>
	<string></string>
	<key>endCommand</key>
	<string></string>
	<key>endFirstMultiLineComment</key>
	<string>*/</string>
	<key>endInstruction</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>endVariable</key>
	<string></string>
	<key>firstSingleLineComment</key>
	<string>--</string>
	<key>firstString</key>
	<string>"</string>
	<key>functionDefinition</key>
	<string></string>
	<key>keywords</key>
	<array>
		<string>ACCESSIBLE</string>
		<string>ABS</string>
		<string>ADD</string>
		<string>ALL</string>
		<string>ALTER</string>
		<string>ANALYZE</string>
		<string>AND</string>
		<string>AS</string>
		<string>ASC</string>
		<string>ASENSITIVE</string>
		<string>BEFORE</string>
		<string>BETWEEN</string>
		<string>BIGINT</string>
		<string>BINARY</string>
		<string>BLOB</string>
		<string>BOTH</string>
		<string>BY</string>
		<string>CALL</string>
		<string>CASCADE</string>
		<string>CASE</string>
		<string>CHANGE</string>
		<string>CHAR</string>
		<string>CHARACTER</string>
		<string>CHECK</string>
		<string>COLLATE</string>
		<string>COLUMN</string>
		<string>CONDITION</string>
		<string>CONNECTION</string>
		<string>CONSTRAINT</string>
		<string>CONTINUE</string>
		<string>CONVERT</string>
		<string>CREATE</string>
		<string>CROSS</string>
		<string>CURRENT_DATE</string>
		<string>CURRENT_TIME</string>
		<string>CURRENT_TIMESTAMP</string>
		<string>CURRENT_USER</string>
		<string>CURSOR</string>
		<string>DATABASE</string>
		<string>DATABASES</string>
		<string>DATETIME</string>
		<string>DAY_HOUR</string>
		<string>DAY_MICROSECOND</string>
		<string>DAY_MINUTE</string>
		<string>DAY_SECOND</string>
		<string>DEC</string>
		<string>DECIMAL</string>
		<string>DECLARE</string>
		<string>DEFAULT</string>
		<string>DELAYED</string>
		<string>DELETE</string>
		<string>DESC</string>
		<string>DESCRIBE</string>
		<string>DETERMINISTIC</string>
		<string>DISTINCT</string>
		<string>DISTINCTROW</string>
		<string>DIV</string>
		<string>DOUBLE</string>
		<string>DROP</string>
		<string>DUAL</string>
		<string>EACH</string>
		<string>ELSE</string>
		<string>ELSEIF</string>
		<string>ENCLOSED</string>
		<string>ENGINE</string>
		<string>ESCAPED</string>
		<string>EXISTS</string>
		<string>EXIT</string>
		<string>EXPLAIN</string>
		<string>FALSE</string>
		<string>FETCH</string>
		<string>FLOAT</string>
		<string>FLOAT4</string>
		<string>FLOAT8</string>
		<string>FOR</string>
		<string>FORCE</string>
		<string>FOREIGN</string>
		<string>FROM</string>
		<string>FULLTEXT</string>
		<string>GOTO</string>
		<string>GRANT</string>
		<string>GROUP</string>
		<string>HAVING</string>
		<string>HIGH_PRIORITY</string>
		<string>HOUR_MICROSECOND</string>
		<string>HOUR_MINUTE</string>
		<string>HOUR_SECOND</string>
		<string>IF</string>
		<string>IGNORE</string>
		<string>IN</string>
		<string>INDEX</string>
		<string>INFILE</string>
		<string>INNER</string>
		<string>INOUT</string>
		<string>INSENSITIVE</string>
		<string>INSERT</string>
		<string>INT</string>
		<string>INT1</string>
		<string>INT2</string>
		<string>INT3</string>
		<string>INT4</string>
		<string>INT8</string>
		<string>INTEGER</string>
		<string>INTERVAL</string>
		<string>INTO</string>
		<string>IS</string>
		<string>ITERATE</string>
		<string>JOIN</string>
		<string>KEY</string>
		<string>KEYS</string>
		<string>KILL</string>
		<string>LABEL</string>
		<string>LEADING</string>
		<string>LEAVE</string>
		<string>LEFT</string>
		<string>LIKE</string>
		<string>LIMIT</string>
		<string>LINEAR</string>
		<string>LINES</string>
		<string>LOAD</string>
		<string>LOCALTIME</string>
		<string>LOCALTIMESTAMP</string>
		<string>LOCK</string>
		<string>LONG</string>
		<string>LONGBLOB</string>
		<string>LONGTEXT</string>
		<string>LOOP</string>
		<string>LOW_PRIORITY</string>
		<string>MASTER_SSL_VERIFY_SERVER_CERT</string>
		<string>MATCH</string>
		<string>MEDIUMBLOB</string>
		<string>MEDIUMINT</string>
		<string>MEDIUMTEXT</string>
		<string>MIDDLEINT</string>
		<string>MINUTE_MICROSECOND</string>
		<string>MINUTE_SECOND</string>
		<string>MOD</string>
		<string>MODIFIES</string>
		<string>NATURAL</string>
		<string>NOT</string>
		<string>NO_WRITE_TO_BINLOG</string>
		<string>NULL</string>
		<string>NUMERIC</string>
		<string>ON</string>
		<string>OPTIMIZE</string>
		<string>OPTION</string>
		<string>OPTIONALLY</string>
		<string>OR</string>
		<string>ORDER</string>
		<string>OUT</string>
		<string>OUTER</string>
		<string>OUTFILE</string>
		<string>PRECISION</string>
		<string>PRIMARY</string>
		<string>PROCEDURE</string>
		<string>PURGE</string>
		<string>RANGE</string>
		<string>READ</string>
		<string>READS</string>
		<string>READ_ONLY</string>
		<string>READ_WRITE</string>
		<string>REAL</string>
		<string>REFERENCES</string>
		<string>REGEXP</string>
		<string>RELEASE</string>
		<string>RENAME</string>
		<string>REPEAT</string>
		<string>REPLACE</string>
		<string>REQUIRE</string>
		<string>RESTRICT</string>
		<string>RETURN</string>
		<string>REVOKE</string>
		<string>RIGHT</string>
		<string>RLIKE</string>
		<string>SCHEMA</string>
		<string>SCHEMAS</string>
		<string>SECOND_MICROSECOND</string>
		<string>SELECT</string>
		<string>SENSITIVE</string>
		<string>SEPARATOR</string>
		<string>SET</string>
		<string>SHOW</string>
		<string>SMALLINT</string>
		<string>SPATIAL</string>
		<string>SPECIFIC</string>
		<string>SQL</string>
		<string>SQLEXCEPTION</string>
		<string>SQLSTATE</string>
		<string>SQLWARNING</string>
		<string>SQL_BIG_RESULT</string>
		<string>SQL_CALC_FOUND_ROWS</string>
		<string>SQL_SMALL_RESULT</string>
		<string>SSL</string>
		<string>STARTING</string>
		<string>STRAIGHT_JOIN</string>
		<string>TABLE</string>
		<string>TABLES</string>
		<string>TERMINATED</string>
		<string>TEXT</string>
		<string>THEN</string>
		<string>TINYBLOB</string>
		<string>TINYINT</string>
		<string>TINYTEXT</string>
		<string>TO</string>
		<string>TRAILING</string>
		<string>TRIGGER</string>
		<string>TRUE</string>
		<string>UNDO</string>
		<string>UNION</string>
		<string>UNIQUE</string>
		<string>UNLOCK</string>
		<string>UNSIGNED</string>
		<string>UPDATE</string>
		<string>UPGRADE</string>
		<string>USAGE</string>
		<string>USE</string>
		<string>USING</string>
		<string>UTC_DATE</string>
		<string>UTC_TIME</string>
		<string>UTC_TIMESTAMP</string>
		<string>VALUES</string>
		<string>VARBINARY</string>
		<string>VARCHAR</string>
		<string>VARCHARACTER</string>
		<string>VARYING</string>
		<string>WHEN</string>
		<string>WHERE</string>
		<string>WHILE</string>
		<string>WITH</string>
		<string>WRITE</string>
		<string>XOR</string>
		<string>YEAR_MONTH</string>
		<string>ZEROFILLABS</string>
		<string>ACOS</string>
		<string>ADDDATE</string>
		<string>ADDTIME</string>
		<string>AES_DECRYPT</string>
		<string>AES_ENCRYPT</string>
		<string>AND</string>
		<string>ASCII</string>
		<string>ASIN</string>
		<string>ATAN2</string>
		<string>ATAN</string>
		<string>ATAN</string>
		<string>AVG</string>
		<string>BENCHMARK</string>
		<string>BETWEEN</string>
		<string>BIN</string>
		<string>BINARY</string>
		<string>BIT_AND</string>
		<string>BIT_COUNT</string>
		<string>BIT_LENGTH</string>
		<string>BIT_OR</string>
		<string>BIT_XOR</string>
		<string>CASE</string>
		<string>CAST</string>
		<string>CEIL</string>
		<string>CEILING</string>
		<string>CHAR_LENGTH</string>
		<string>CHAR</string>
		<string>CHARACTER_LENGTH</string>
		<string>CHARSET</string>
		<string>COALESCE</string>
		<string>COERCIBILITY</string>
		<string>COLLATION</string>
		<string>COMPRESS</string>
		<string>CONCAT_WS</string>
		<string>CONCAT</string>
		<string>CONNECTION_ID</string>
		<string>CONV</string>
		<string>CONVERT_TZ</string>
		<string>Convert</string>
		<string>COS</string>
		<string>COT</string>
		<string>COUNT(DISTINCT)</string>
		<string>COUNT</string>
		<string>CRC32</string>
		<string>CURDATE</string>
		<string>CURRENT_DATE</string>
		<string>CURRENT_DATE</string>
		<string>CURRENT_TIME</string>
		<string>CURRENT_TIME</string>
		<string>CURRENT_TIMESTAMP</string>
		<string>CURRENT_TIMESTAMP</string>
		<string>CURRENT_USER</string>
		<string>CURRENT_USER</string>
		<string>CURTIME</string>
		<string>DATABASE</string>
		<string>DATE_ADD</string>
		<string>DATE_FORMAT</string>
		<string>DATE_SUB</string>
		<string>DATE</string>
		<string>DATETIME</string>
		<string>DATEDIFF</string>
		<string>DAY</string>
		<string>DAYNAME</string>
		<string>DAYOFMONTH</string>
		<string>DAYOFWEEK</string>
		<string>DAYOFYEAR</string>
		<string>DECODE</string>
		<string>DEFAULT</string>
		<string>DEGREES</string>
		<string>DES_DECRYPT</string>
		<string>DES_ENCRYPT</string>
		<string>DIV</string>
		<string>ELT</string>
		<string>ENCODE</string>
		<string>ENCRYPT</string>
		<string>EXP</string>
		<string>EXPORT_SET</string>
		<string>EXTRACT</string>
		<string>ExtractValue</string>
		<string>FIELD</string>
		<string>FIND_IN_SET</string>
		<string>FLOOR</string>
		<string>FORMAT</string>
		<string>FOUND_ROWS</string>
		<string>FROM_DAYS</string>
		<string>FROM_UNIXTIME</string>
		<string>GET_FORMAT</string>
		<string>GET_LOCK</string>
		<string>GREATEST</string>
		<string>GROUP_CONCAT</string>
		<string>HEX</string>
		<string>HOUR</string>
		<string>IF</string>
		<string>IFNULL</string>
		<string>IN</string>
		<string>INET_ATON</string>
		<string>INET_NTOA</string>
		<string>INSERT</string>
		<string>INSTR</string>
		<string>INTERVAL</string>
		<string>IS_FREE_LOCK</string>
		<string>IS</string>
		<string>NOT</string>
		<string>NULL</string>
		<string>IS</string>
		<string>NOT</string>
		<string>IS</string>
		<string>NULL</string>
		<string>IS_USED_LOCK</string>
		<string>IS</string>
		<string>ISNULL</string>
		<string>LAST_DAY</string>
		<string>LAST_INSERT_ID</string>
		<string>LCASE</string>
		<string>LEAST</string>
		<string>LEFT</string>
		<string>LENGTH</string>
		<string>LIKE</string>
		<string>LN</string>
		<string>LOAD_FILE</string>
		<string>LOCALTIME</string>
		<string>LOCALTIME</string>
		<string>LOCALTIMESTAMP</string>
		<string>LOCALTIMESTAMP</string>
		<string>LOCATE</string>
		<string>LOG10</string>
		<string>LOG2</string>
		<string>LOG</string>
		<string>LOWER</string>
		<string>LPAD</string>
		<string>LTRIM</string>
		<string>MAKE_SET</string>
		<string>MAKEDATE</string>
		<string>MAKETIME</string>
		<string>MASTER_POS_WAIT</string>
		<string>MATCH</string>
		<string>MAX</string>
		<string>MD5</string>
		<string>MICROSECOND</string>
		<string>MID</string>
		<string>MIN</string>
		<string>MINUTE</string>
		<string>MOD</string>
		<string>MONTH</string>
		<string>MONTHNAME</string>
		<string>NAME_CONST</string>
		<string>NOT</string>
		<string>BETWEEN</string>
		<string>AND</string>
		<string>NOT</string>
		<string>IN</string>
		<string>NOT</string>
		<string>LIKE</string>
		<string>NOT</string>
		<string>REGEXP</string>
		<string>NOT</string>
		<string>NOW</string>
		<string>NULLIF</string>
		<string>OCT</string>
		<string>OCTET_LENGTH</string>
		<string>OLD_PASSWORD</string>
		<string>OR</string>
		<string>ORD</string>
		<string>PASSWORD</string>
		<string>PERIOD_ADD</string>
		<string>PERIOD_DIFF</string>
		<string>PI</string>
		<string>POSITION</string>
		<string>POW</string>
		<string>POWER</string>
		<string>PROCEDURE</string>
		<string>ANALYSE</string>
		<string>QUARTER</string>
		<string>QUOTE</string>
		<string>RADIANS</string>
		<string>RAND</string>
		<string>REGEXP</string>
		<string>RELEASE_LOCK</string>
		<string>REPEAT</string>
		<string>REPLACE</string>
		<string>REVERSE</string>
		<string>RIGHT</string>
		<string>RLIKE</string>
		<string>ROUND</string>
		<string>ROW_COUNT</string>
		<string>RPAD</string>
		<string>RTRIM</string>
		<string>SCHEMA</string>
		<string>SEC_TO_TIME</string>
		<string>SECOND</string>
		<string>SESSION_USER</string>
		<string>SHA1</string>
		<string>SHA</string>
		<string>SHA2</string>
		<string>SIGN</string>
		<string>SIN</string>
		<string>SLEEP</string>
		<string>SOUNDEX</string>
		<string>SOUNDS</string>
		<string>LIKE</string>
		<string>SPACE</string>
		<string>SQRT</string>
		<string>STD</string>
		<string>STDDEV_POP</string>
		<string>STDDEV_SAMP</string>
		<string>STDDEV</string>
		<string>STR_TO_DATE</string>
		<string>STRCMP</string>
		<string>SUBDATE</string>
		<string>SUBSTR</string>
		<string>SUBSTRING_INDEX</string>
		<string>SUBSTRING</string>
		<string>SUBTIME</string>
		<string>SUM</string>
		<string>SYSDATE</string>
		<string>SYSTEM_USER</string>
		<string>TAN</string>
		<string>TIME_FORMAT</string>
		<string>TIME_TO_SEC</string>
		<string>TIME</string>
		<string>TIMEDIFF</string>
		<string>TIMESTAMP</string>
		<string>TIMESTAMPADD</string>
		<string>TIMESTAMPDIFF</string>
		<string>TO_DAYS</string>
		<string>TRIM</string>
		<string>TRUNCATE</string>
		<string>UCASE</string>
		<string>UNCOMPRESS</string>
		<string>UNCOMPRESSED_LENGTH</string>
		<string>UNHEX</string>
		<string>UNIX_TIMESTAMP</string>
		<string>UpdateXML</string>
		<string>UPPER</string>
		<string>USER</string>
		<string>UTC_DATE</string>
		<string>UTC_TIME</string>
		<string>UTC_TIMESTAMP</string>
		<string>UUID</string>
		<string>VALUES</string>
		<string>VAR_POP</string>
		<string>VAR_SAMP</string>
		<string>VARIANCE</string>
		<string>VERSION</string>
		<string>WEEK</string>
		<string>WEEKDAY</string>
		<string>WEEKOFYEAR</string>
		<string>WEIGHT_STRING</string>
		<string>XOR</string>
		<string>YEAR</string>
		<string>YEARWEEK</string>
		<string>ZEROFILL</string>
	</array>
	<key>keywordsCaseSensitive</key>
	<false/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>removeFromFunction</key>
	<string></string>
	<key>secondSingleLineComment</key>
	<string>#</string>
	<key>secondString</key>
	<string>'</string>
</dict>
</plist>
