<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginCommand</key>
		<string></string>
	<key>endCommand</key>
		<string></string>
	<key>beginInstruction</key>
		<string>#</string>
	<key>endInstruction</key>
		<string></string>
	<key>beginVariable</key>
		<string></string>
	<key>endVariable</key>
		<string></string>
	<key>firstString</key>
		<string>"</string>
	<key>secondString</key>
		<string>'</string>
	<key>firstSingleLineComment</key>
		<string>//</string>
	<key>secondSingleLineComment</key>
		<string></string>
	<key>beginFirstMultiLineComment</key>
		<string>/*</string>
	<key>endFirstMultiLineComment</key>
		<string>*/</string>
	<key>beginSecondMultiLineComment</key>
		<string></string>
	<key>endSecondMultiLineComment</key>
		<string></string>
	<key>keywordsCaseSensitive</key>
		<true/>
	<key>recolourKeywordIfAlreadyColoured</key>
		<true/>
	<key>keywords</key>
	<array>
		<string>abstract</string>
		<string>def</string>
		<string>extern</string>
		<string>internal</string>
		<string>mutable</string>
		<string>new</string>
		<string>override</string>
		<string>partial</string>
		<string>public</string>
		<string>private</string>
		<string>protected</string>
		<string>sealed</string>
		<string>static</string>
		<string>virtual</string>
		<string>volatile</string>
		<string>macro</string>
		<string>namespace</string>
		<string>using</string>
		<string>array</string>
		<string>byte</string>
		<string>decimal</string>
		<string>double</string>
		<string>float</string>
		<string>int</string>
		<string>list</string>
		<string>long</string>
		<string>null</string>
		<string>sbyte</string>
		<string>short</string>
		<string>string</string>
		<string>uint</string>
		<string>ulong</string>
		<string>ushort</string>
		<string>void</string>
		<string>_</string>
		<string>as</string>
		<string>assert</string>
		<string>base</string>
		<string>catch</string>
		<string>checked</string>
		<string>do</string>
		<string>else</string>
		<string>false</string>
		<string>finally</string>
		<string>for</string>
		<string>foreach</string>
		<string>fun</string>
		<string>get</string>
		<string>if</string>
		<string>ignore</string>
		<string>implements</string>
		<string>in</string>
		<string>is</string>
		<string>lock</string>
		<string>match</string>
		<string>null</string>
		<string>out</string>
		<string>params</string>
		<string>ref</string>
		<string>set</string>
		<string>syntax</string>
		<string>this</string>
		<string>throw</string>
		<string>true</string>
		<string>try</string>
		<string>typeof</string>
		<string>unchecked</string>
		<string>unless</string>
		<string>when</string>
		<string>where</string>
		<string>while</string>
		<string>with</string>
		<string>class</string>
		<string>enum</string>
		<string>delegate</string>
		<string>event</string>
		<string>interface</string>
		<string>module</string>
		<string>struct</string>
		<string>type</string>
		<string>variant</string>
	</array>
	<key>autocompleteWords</key>
	<array>
	</array>
	<key>functionDefinition</key>
		<string>class</string>
</dict>
</plist>