<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginCommand</key>
	<string>&lt;</string>
	<key>endCommand</key>
	<string>&gt;</string>	
	<key>beginInstruction</key>
	<string>&lt;%</string>
	<key>endInstruction</key>
	<string>%&gt;</string>
	<key>beginVariable</key>
	<string>$@%</string>
	<key>endVariable</key>
	<string> :;(){}=[]+-/.,*!?&amp;&gt;&lt;\</string>
	<key>firstString</key>
	<string>"</string>
	<key>secondString</key>
	<string>'</string>
	<key>firstSingleLineComment</key>
	<string>#</string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string>/*</string>
	<key>endFirstMultiLineComment</key>
	<string>*/</string>
	<key>beginSecondMultiLineComment</key>
	<string>&lt;!--</string>
	<key>endSecondMultiLineComment</key>
	<string>--&gt;</string>
	<key>functionDefinition</key>
	<string>^\s*sub\s+.*\n?\s*\{</string>
	<key>removeFromFunction</key>
	<string>sub </string>
	<key>keywordsCaseSensitive</key>
	<false/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>keywords</key>
	<array>
		<string>use</string>
		<string>package</string>
		<string>require</string>
		<string>print</string>
		<string>close</string>
		<string>my</string>
		<string>open</string>
		<string>new</string>
		<string>if</string>
		<string>until</string>
		<string>while</string>
		<string>elsif</string>
		<string>else</string>
		<string>unless</string>
		<string>for</string>
		<string>foreach</string>
		<string>BEGIN</string>
		<string>END</string>
		<string>cmp</string>
		<string>eq</string>
		<string>ne</string>
		<string>le</string>
		<string>ge</string>
		<string>not</string>
		<string>and</string>
		<string>or</string>
		<string>xor</string>
		<string>chomp</string>
		<string>chop</string>
		<string>chr</string>
		<string>crypt</string>
		<string>hex</string>
		<string>index</string>
		<string>lc</string>
		<string>lcfirst</string>
		<string>length</string>
		<string>oct</string>
		<string>ord</string>
		<string>pack</string>
		<string>reverse</string>
		<string>rindex</string>
		<string>sprintf</string>
		<string>substr</string>
		<string>uc</string>
		<string>ucfirst</string>
		<string>pos</string>
		<string>quotemeta</string>
		<string>split</string>
		<string>study</string>
		<string>abs</string>
		<string>atan2</string>
		<string>cos</string>
		<string>exp</string>
		<string>int</string>
		<string>log</string>
		<string>rand</string>
		<string>sin</string>
		<string>sqrt</string>
		<string>srand</string>
		<string>pop</string>
		<string>push</string>
		<string>shift</string>
		<string>splice</string>
		<string>unshift</string>
		<string>grep</string>
		<string>join</string>
		<string>map</string>
		<string>sort</string>
		<string>unpack</string>
		<string>delete</string>
		<string>each</string>
		<string>exists</string>
		<string>keys</string>
		<string>values</string>
		<string>caller</string>
		<string>continue</string>
		<string>die</string>
		<string>do</string>
		<string>dump</string>
		<string>eval</string>
		<string>exit</string>
		<string>goto</string>
		<string>last</string>
		<string>next</string>
		<string>redo</string>
		<string>return</string>
		<string>sub</string>
		<string>wantarray</string>
		<string>printf</string>
		<string>local</string>
		<string>scalar</string>
	</array>
	<key>autocompleteWords</key>
	<array>
		<string>binmode</string>
		<string>close</string>
		<string>closedir</string>
		<string>dbmclose</string>
		<string>dbmopen</string>
		<string>eof</string>
		<string>fileno</string>
		<string>flock</string>
		<string>format</string>
		<string>getc</string>
		<string>print</string>
		<string>printf</string>
		<string>read</string>
		<string>readdir</string>
		<string>rewinddir</string>
		<string>seek</string>
		<string>seekdir</string>
		<string>select</string>
		<string>syscall</string>
		<string>sysread</string>
		<string>sysseek</string>
		<string>syswrite</string>
		<string>tell</string>
		<string>telldir</string>
		<string>truncate</string>
		<string>warn</string>
		<string>write</string>
		<string>vec</string>
		<string>chdir</string>
		<string>chmod</string>
		<string>chown</string>
		<string>chroot</string>
		<string>fcntl</string>
		<string>glob</string>
		<string>ioctl</string>
		<string>link</string>
		<string>lstat</string>
		<string>mkdir</string>
		<string>open</string>
		<string>opendir</string>
		<string>readlink</string>
		<string>rename</string>
		<string>rmdir</string>
		<string>stat</string>
		<string>symlink</string>
		<string>umask</string>
		<string>unlink</string>
		<string>utime</string>
		<string>caller</string>
		<string>continue</string>
		<string>die</string>
		<string>do</string>
		<string>dump</string>
		<string>eval</string>
		<string>exit</string>
		<string>goto</string>
		<string>last</string>
		<string>next</string>
		<string>redo</string>
		<string>return</string>
		<string>sub</string>
		<string>wantarray</string>
		<string>local</string>
		<string>my</string>
		<string>our</string>
		<string>package</string>
		<string>use</string>
		<string>defined</string>
		<string>formline</string>
		<string>reset</string>
		<string>scalar</string>
		<string>undef</string>
		<string>alarm</string>
		<string>exec</string>
		<string>fork</string>
		<string>getpgrp</string>
		<string>getppid</string>
		<string>getpriority</string>
		<string>kill</string>
		<string>pipe</string>
		<string>setpgrp</string>
		<string>setpriority</string>
		<string>sleep</string>
		<string>system</string>
		<string>times</string>
		<string>wait</string>
		<string>waitpid</string>
		<string>import</string>
		<string>no</string>
		<string>require</string>
		<string>bless</string>
		<string>ref</string>
		<string>tie</string>
		<string>tied</string>
		<string>untie</string>
		<string>accept</string>
		<string>bind</string>
		<string>connect</string>
		<string>getpeername</string>
		<string>getsockname</string>
		<string>getsockopt</string>
		<string>listen</string>
		<string>recv</string>
		<string>send</string>
		<string>setsockopt</string>
		<string>shutdown</string>
		<string>socket</string>
		<string>socketpair</string>
		<string>msgctl</string>
		<string>msgget</string>
		<string>msgrcv</string>
		<string>msgsnd</string>
		<string>semctl</string>
		<string>semget</string>
		<string>semop</string>
		<string>shmctl</string>
		<string>shmget</string>
		<string>shmread</string>
		<string>shmwrite</string>
		<string>endgrent</string>
		<string>endhostent</string>
		<string>endnetent</string>
		<string>endpwent</string>
		<string>getgrent</string>
		<string>getgrgid</string>
		<string>getgrnam</string>
		<string>getlogin</string>
		<string>getpwent</string>
		<string>getpwnam</string>
		<string>getpwuid</string>
		<string>setgrent</string>
		<string>setpwent</string>
		<string>endprotoent</string>
		<string>endservent</string>
		<string>gethostbyaddr</string>
		<string>gethostbyname</string>
		<string>gethostent</string>
		<string>getnetbyaddr</string>
		<string>getnetbyname</string>
		<string>getnetent</string>
		<string>getprotobyname</string>
		<string>getprotobynumber</string>
		<string>getprotoent</string>
		<string>getservbyname</string>
		<string>getservbyport</string>
		<string>getservent</string>
		<string>sethostent</string>
		<string>setnetent</string>
		<string>setprotoent</string>
		<string>setservent</string>
		<string>gmtime</string>
		<string>localtime</string>
		<string>time</string>
	</array>
</dict>
</plist>