<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginCommand</key>
	<string>&lt;</string>
	<key>endCommand</key>
	<string>&gt;</string>
	<key>beginInstruction</key>
	<string>&lt;?</string>
	<key>endInstruction</key>
	<string>?&gt;</string>
	<key>beginVariable</key>
	<string></string>
	<key>endVariable</key>
	<string></string>
	<key>firstString</key>
	<string>"</string>
	<key>secondString</key>
	<string></string>
	<key>firstSingleLineComment</key>
	<string></string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string>&lt;!--</string>
	<key>endFirstMultiLineComment</key>
	<string>--&gt;</string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>functionDefinition</key>
	<string></string>
	<key>removeFromFunction</key>
	<string></string>
	<key>keywordsCaseSensitive</key>
	<false/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>keywords</key>
	<array>
	</array>
	<key>autocompleteWords</key>
	<array>
		<string>key</string>
		<string>string</string>
		<string>real</string>
		<string>integer</string>
		<string>date</string>
		<string>true</string>
		<string>false</string>
		<string>data</string>
		<string>array</string>
		<string>dict</string>
	</array>
</dict>
</plist>