<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autocompleteWords</key>
	<array/>
	<key>beginCommand</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string>/*</string>
	<key>beginInstruction</key>
	<string></string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>beginVariable</key>
	<string></string>
	<key>endCommand</key>
	<string></string>
	<key>endFirstMultiLineComment</key>
	<string>*/</string>
	<key>endInstruction</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>endVariable</key>
	<string></string>
	<key>firstSingleLineComment</key>
	<string>%</string>
	<key>firstString</key>
	<string>"</string>
	<key>functionDefinition</key>
	<string></string>
	<key>removeFromFunction</key>
	<string></string>
	<key>keywords</key>
	<array>
		<string>var</string>
        <string>nonvar</string>
        <string>atom</string>
        <string>integer</string>
        <string>float</string>
        <string>number</string>
        <string>atomic</string>
        <string>compound</string>
        <string>callable</string>
        <string>unify_with_occurs_check</string>
        <string>functor</string>
        <string>arg</string>
        <string>copy_term</string>
        <string>is</string>
        <string>asserta</string>
        <string>assertz</string>
        <string>retract</string>
        <string>clause</string>
        <string>abolish</string>
        <string>current_predicate</string>
        <string>findall</string>
        <string>bagof</string>
        <string>setof</string>
        <string>current_input</string>
        <string>current_output</string>
        <string>set_input</string>
        <string>set_output</string>
        <string>open</string>
        <string>read</string>
        <string>write</string>
        <string>append</string>
        <string>type</string>
        <string>text</string>
        <string>binary</string>
        <string>reposition</string>
        <string>true</string>
        <string>false</string>
        <string>eof_action</string>
        <string>error</string>
        <string>eof_code</string>
        <string>reset</string>
        <string>alias</string>
        <string>close</string>
        <string>flush_output</string>
        <string>stream_property</string>
        <string>input</string>
        <string>output</string>
        <string>position</string>
        <string>end_of_stream</string>
        <string>file_name</string>
        <string>mode</string>
        <string>at_end_of_stream</string>
        <string>set_stream_position</string>
        <string>get_char</string>
        <string>get_code</string>
        <string>peek_char</string>
        <string>peek_code</string>
        <string>put_char</string>
        <string>put_code</string>
        <string>nl</string>
        <string>get_byte</string>
        <string>peek_byte</string>
        <string>read_term</string>
        <string>read</string>
        <string>write_term</string>
        <string>write</string>
        <string>writeq</string>
        <string>write_canonical</string>
        <string>quoted</string>
        <string>ignore_ops</string>
        <string>numbervars</string>
        <string>current_op</string>
        <string>char_conversion</string>
        <string>current_char_conversion</string>
        <string>set_prolog_flag</string>
        <string>current_prolog_flag</string>
        <string>bounded</string>
        <string>max_integer</string>
        <string>min_integer</string>
        <string>integer_rounding_function</string>
        <string>toward_zero</string>
        <string>down</string>
        <string>max_arity</string>
        <string>max_atom</string>
        <string>max_unget</string>
        <string>prolog_name</string>
        <string>prolog_version</string>
        <string>prolog_date</string>
        <string>prolog_copyright</string>
        <string>char_conversion</string>
        <string>on</string>
        <string>off</string>
        <string>debug</string>
        <string>singleton_warning</string>
        <string>strict_iso</string>
        <string>double_quotes</string>
        <string>atom</string>
        <string>chars</string>
        <string>codes</string>
        <string>atom_no_escape</string>
        <string>chars_no_escape</string>
        <string>codes_no_escape</string>
        <string>back_quotes</string>
        <string>unknown</string>
        <string>error</string>
        <string>warning</string>
        <string>fail</string>
        <string>syntax_error</string>
        <string>os_error</string>
        <string>atom_length</string>
        <string>atom_concat</string>
        <string>sub_atom</string>
        <string>char_code</string>
        <string>atom_chars</string>
        <string>number_chars</string>
        <string>number_codes</string>
        <string>halt</string>
        <string>once</string>
        <string>repeat</string>
        <string>-&gt;</string>
        <string>;</string>
        <string>call</string>
        <string>catch</string>
        <string>throw</string>
        <string>dynamic</string>
        <string>multifile</string>
        <string>discontiguous</string>
        <string>include</string>
        <string>ensure_loaded</string>
        <string>initialization</string>
        <string>op</string>
        
        <!-- gprolog dialect specifics -->
        <string>fd_all_different</string>
        <string>fd_element</string>
        <string>fd_element_var</string>
        <string>fd_atmost</string>
        <string>fd_atleast</string>
        <string>fd_exactly</string>
        <string>fd_relation</string>
        <string>fd_relationc</string>
        <string>fd_labeling</string>
        <string>fd_labeling</string>
        <string>fd_labelingff</string>
        <string>fd_minimize</string>
        <string>fd_minimize</string>
        <string>fd_max_integer</string>
        <string>fd_vector_max</string>
        <string>fd_set_vector_max</string>
        <string>fd_domain</string>
        <string>fd_domain_bool</string>
        <string>fd_var</string>
        <string>non_fd_var</string>
        <string>generic_var</string>
        <string>non_generic_var</string>
        <string>fd_min</string>
        <string>fd_max</string>
        <string>fd_size</string>
        <string>fd_dom</string>
        <string>fd_has_extra_cstr</string>
        <string>fd_has_vector</string>
        <string>fd_use_vector</string>
        <string>foreign</string>
        <string>built_in</string>
        <string>built_in_fd</string>
        <string>ensure_linked</string>
        <string>public</string>
        <string>write_term_to_chars</string>
        <string>write_to_chars</string>
        <string>writeq_to_chars</string>
        <string>write_canonical_to_chars</string>
        <string>display_to_chars</string>
        <string>print_to_chars</string>
        <string>write_term_to_codes</string>
        <string>write_to_codes</string>
        <string>writeq_to_codes</string>
        <string>write_canonical_to_codes</string>
        <string>display_to_codes</string>
        <string>print_to_codes</string>
        <string>format_to_codes</string>
        <string>format_to_chars</string>
        <string>write_term_to_atom</string>
        <string>write_to_atom</string>
        <string>writeq_to_atom</string>
        <string>write_canonical_to_atom</string>
        <string>display_to_atom</string>
        <string>print_to_atom</string>
        <string>format_to_atom</string>
        <string>read_term_from_chars</string>
        <string>read_from_chars</string>
        <string>read_token_from_chars</string>
        <string>read_term_from_codes</string>
        <string>read_from_codes</string>
        <string>read_token_from_codes</string>
        <string>read_term_from_atom</string>
        <string>read_from_atom</string>
        <string>read_token_from_atom</string>
        <string>for</string>
        <string>call_with_args</string>
        <string>abort</string>
        <string>stop</string>
        <string>top_level</string>
        <string>atom_property</string>
        <string>hash</string>
        <string>prefix_op</string>
        <string>infix_op</string>
        <string>postfix_op</string>
        <string>needs_quotes</string>
        <string>need_scan</string>
        <string>current_atom</string>
        <string>new_atom</string>
        <string>atom_hash</string>
        <string>name</string>
        <string>number_atom</string>
        <string>lower_upper</string>
        <string>append</string>
        <string>member</string>
        <string>memberchk</string>
        <string>reverse</string>
        <string>delete</string>
        <string>select</string>
        <string>permutation</string>
        <string>prefix</string>
        <string>suffix</string>
        <string>sublist</string>
        <string>last</string>
        <string>length</string>
        <string>nth</string>
        <string>max_list</string>
        <string>min_list</string>
        <string>sum_list</string>
        <string>sort</string>
        <string>sort0</string>
        <string>keysort</string>
        <string>g_assign</string>
        <string>g_assignb</string>
        <string>g_link</string>
        <string>g_read</string>
        <string>g_array_size</string>
        <string>g_inco</string>
        <string>g_inc</string>
        <string>g_dec</string>
        <string>g_deco</string>
        <string>g_set_bit/2,</string>
        <string>write_pl_state_file</string>
        <string>read_pl_state_file</string>
        <string>current_bip_name</string>
        <string>set_bip_name</string>
        <string>list</string>
        <string>partial_list</string>
        <string>list_or_partial_list</string>
        <string>setarg</string>
        <string>name_singleton_vars</string>
        <string>name_query_vars</string>
        <string>bind_variables</string>
        <string>numbervars</string>
        <string>term_ref</string>
        <string>retract_all</string>
        <string>predicate_property</string>
        <string>static</string>
        <string>dynamic</string>
        <string>private</string>
        <string>public</string>
        <string>user</string>
        <string>built_in</string>
        <string>built_inf_fd</string>
        <string>native_code</string>
        <string>prolog_file</string>
        <string>prolog_line</string>
        <string>mirror</string>
        <string>buffering</string>
        <string>none</string>
        <string>line</string>
        <string>block</string>
        <string>current_stream</string>
        <string>stream_position</string>
        <string>seek</string>
        <string>character_count</string>
        <string>line_count</string>
        <string>line_position</string>
        <string>set_stream_line_column</string>
        <string>add_stream_alias</string>
        <string>add_stream_mirror</string>
        <string>remove_stream_mirror</string>
        <string>current_mirror</string>
        <string>set_stream_type</string>
        <string>set_stream_eof_action</string>
        <string>set_stream_buffering</string>
        <string>open_input_atom_stream</string>
        <string>open_input_chars_stream</string>
        <string>open_input_codes_stream</string>
        <string>close_input_atom_stream</string>
        <string>close_input_chars_stream</string>
        <string>close_input_codes_stream</string>
        <string>open_output_atom_stream</string>
        <string>open_output_chars_stream</string>
        <string>open_output_codes_stream</string>
        <string>close_output_atom_stream</string>
        <string>close_output_chars_stream</string>
        <string>close_output_codes_stream</string>
        <string>get_key</string>
        <string>get_key_no_echo</string>
        <string>unget_char</string>
        <string>unget_code</string>
        <string>unget_byte</string>
        <string>put_byte</string>
        <string>read_atom</string>
        <string>read_integer</string>
        <string>read_number</string>
        <string>read_token</string>
        <string>syntax_error_info</string>
        <string>last_read_start_line_column</string>
        <string>display</string>
        <string>print</string>
        <string>namevars</string>
        <string>space_args</string>
        <string>portrayed</string>
        <string>max_depth</string>
        <string>priority</string>
        <string>format</string>
        <string>portray_clause</string>
        <string>get_print_stream</string>
        <string>see</string>
        <string>tell</string>
        <string>append</string>
        <string>seeing</string>
        <string>telling</string>
        <string>seen</string>
        <string>told</string>
        <string>get0</string>
        <string>get</string>
        <string>skip</string>
        <string>put</string>
        <string>tab</string>
        <string>expand_term</string>
        <string>term_expansion</string>
        <string>phrase</string>
        <string>get_linedit_prompt</string>
        <string>set_linedit_prompt</string>
        <string>add_linedit_completion</string>
        <string>find_linedit_completion</string>
        <string>sr_open</string>
        <string>sr_change_options</string>
        <string>sr_close</string>
        <string>sr_read_term</string>
        <string>sr_current_descriptor</string>
        <string>sr_get_stream</string>
        <string>sr_get_module</string>
        <string>sr_get_file_name</string>
        <string>sr_get_position</string>
        <string>sr_get_include_list</string>
        <string>sr_get_include_stream_list</string>
        <string>sr_get_size_counters</string>
        <string>sr_get_error_counters</string>
        <string>sr_set_error_counters</string>
        <string>sr_error_from_exception</string>
        <string>sr_write_message</string>
        <string>sr_write_error</string>
        <string>socket</string>
        <string>socket_close</string>
        <string>socket_bind</string>
        <string>socket_connect</string>
        <string>socket_listen</string>
        <string>socket_accept</string>
        <string>hostname_address</string>
        <string>argument_counter</string>
        <string>argument_value</string>
        <string>argument_list</string>
        <string>environ</string>
        <string>make_directory</string>
        <string>delete_directory</string>
        <string>change_directory</string>
        <string>working_directory</string>
        <string>directory_files</string>
        <string>rename_file</string>
        <string>delete_file</string>
        <string>unlink</string>
        <string>file_permission</string>
        <string>file_exists</string>
        <string>file_property</string>
        <string>temporary_name</string>
        <string>temporary_file</string>
        <string>date_time</string>
        <string>host_name</string>
        <string>os_version</string>
        <string>architecture</string>
        <string>shell</string>
        <string>system</string>
        <string>spawn</string>
        <string>popen</string>
        <string>exec</string>
        <string>fork_prolog</string>
        <string>create_pipe</string>
        <string>wait</string>
        <string>prolog_pid</string>
        <string>send_signal</string>
        <string>sleep</string>
        <string>select</string>
        <string>absolute_file_name</string>
        <string>decompose_file_name</string>
        <string>prolog_file_name</string>
        <string>set_seed</string>
        <string>randomize</string>
        <string>get_seed</string>
        <string>random</string>
        <string>statistics</string>
        <string>user_time</string>
        <string>system_time</string>
        <string>cpu_time</string>
        <string>real_time</string>
        <string>consult</string>
        <string>load</string>
        <string>listing</string>
	</array>
	<key>keywordsCaseSensitive</key>
	<false/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>secondString</key>
	<string>'</string>
</dict>
</plist>
