<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginCommand</key>
	<string></string>
	<key>endCommand</key>
	<string></string>
	<key>beginInstruction</key>
	<string></string>
	<key>endInstruction</key>
	<string></string>
	<key>beginVariable</key>
	<string></string>
	<key>endVariable</key>
	<string></string>
	<key>firstString</key>
	<string>"</string>
	<key>secondString</key>
	<string>'</string>
	<key>firstSingleLineComment</key>
	<string>#</string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string></string>
	<key>endFirstMultiLineComment</key>
	<string></string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>functionDefinition</key>
	<string>^\s*(def|class).*</string>
	<key>removeFromFunction</key>
	<string>def </string>
	<key>keywordsCaseSensitive</key>
	<false/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>keywords</key>
	<array>
		<string>import</string>
		<string>from</string>
		<string>as</string>
		<string>and</string>
		<string>assert</string>
		<string>break</string>
		<string>class</string>
		<string>continue</string>
		<string>def</string>
		<string>del</string>
		<string>elif</string>
		<string>else</string>
		<string>except</string>
		<string>exec</string>
		<string>finally</string>
		<string>for</string>
		<string>global</string>
		<string>if</string>
		<string>in</string>
		<string>is</string>
		<string>lambda</string>
		<string>not</string>
		<string>or</string>
		<string>pass</string>
		<string>print</string>
		<string>raise</string>
		<string>return</string>
		<string>try</string>
		<string>while</string>
		<string>yield</string>
		<string>abs</string>
		<string>apply</string>
		<string>buffer</string>
		<string>callable</string>
		<string>chr</string>
		<string>cmp</string>
		<string>coerce</string>
		<string>compile</string>
		<string>complex</string>
		<string>copyright</string>
		<string>credits</string>
		<string>delattr</string>
		<string>dir</string>
		<string>divmod</string>
		<string>eval</string>
		<string>execfile</string>
		<string>exit</string>
		<string>filter</string>
		<string>float</string>
		<string>getattr</string>
		<string>globals</string>
		<string>hasattr</string>
		<string>hash</string>
		<string>hex</string>
		<string>id</string>
		<string>input</string>
		<string>int</string>
		<string>intern</string>
		<string>isinstance</string>
		<string>issubclass</string>
		<string>iter</string>
		<string>len</string>
		<string>license</string>
		<string>list</string>
		<string>locals</string>
		<string>long</string>
		<string>map</string>
		<string>max</string>
		<string>min</string>
		<string>oct</string>
		<string>open</string>
		<string>ord</string>
		<string>pow</string>
		<string>quit</string>
		<string>range</string>
		<string>raw_input</string>
		<string>reduce</string>
		<string>reload</string>
		<string>repr</string>
		<string>round</string>
		<string>setattr</string>
		<string>slice</string>
		<string>str</string>
		<string>tuple</string>
		<string>type</string>
		<string>unichr</string>
		<string>unicode</string>
		<string>vars</string>
		<string>xrange</string>
		<string>zip</string>
		<string>None</string>
		<string>self</string>
	</array>
	<key>autocompleteWords</key>
	<array>
		<string>ArithmeticError</string>
		<string>AssertionError</string>
		<string>AttributeError</string>
		<string>DeprecationWarning</string>
		<string>EOFError</string>
		<string>EnvironmentError</string>
		<string>Exception</string>
		<string>FloatingPointError</string>
		<string>IOError</string>
		<string>ImportError</string>
		<string>IndentationError</string>
		<string>IndexError</string>
		<string>KeyError</string>
		<string>KeyboardInterrupt</string>
		<string>LookupError</string>
		<string>MemoryError</string>
		<string>NameError</string>
		<string>NotImplemented</string>
		<string>NotImplementedError</string>
		<string>OSError</string>
		<string>OverflowError</string>
		<string>OverflowWarning</string>
		<string>ReferenceError</string>
		<string>RuntimeError</string>
		<string>RuntimeWarning</string>
		<string>StandardError</string>
		<string>StopIteration</string>
		<string>SyntaxError</string>
		<string>SyntaxWarning</string>
		<string>SystemError</string>
		<string>SystemExit</string>
		<string>TabError</string>
		<string>TypeError</string>
		<string>UnboundLocalError</string>
		<string>UnicodeError</string>
		<string>UserWarning</string>
		<string>ValueError</string>
		<string>Warning</string>
		<string>WindowsError</string>
		<string>ZeroDivisionError</string>
		<string>BufferType</string>
		<string>BuiltinFunctionType</string>
		<string>BuiltinMethodType</string>
		<string>ClassType</string>
		<string>CodeType</string>
		<string>ComplexType</string>
		<string>DictProxyType</string>
		<string>DictType</string>
		<string>DictionaryType</string>
		<string>EllipsisType</string>
		<string>FileType</string>
		<string>FloatType</string>
		<string>FrameType</string>
		<string>FunctionType</string>
		<string>GeneratorType</string>
		<string>InstanceType</string>
		<string>IntType</string>
		<string>LambdaType</string>
		<string>ListType</string>
		<string>LongType</string>
		<string>MethodType</string>
		<string>ModuleType</string>
		<string>NoneType</string>
		<string>ObjectType</string>
		<string>SliceType</string>
		<string>StringType</string>
		<string>StringTypes</string>
		<string>TracebackType</string>
		<string>TupleType</string>
		<string>TypeType</string>
		<string>UnboundMethodType</string>
		<string>UnicodeType</string>
		<string>XRangeType</string>
		<string>False</string>
		<string>None</string>
		<string>True</string>
		<string>__abs__</string>
		<string>__add__</string>
		<string>__all__</string>
		<string>__author__</string>
		<string>__bases__</string>
		<string>__builtins__</string>
		<string>__call__</string>
		<string>__class__</string>
		<string>__cmp__</string>
		<string>__coerce__</string>
		<string>__contains__</string>
		<string>__debug__</string>
		<string>__del__</string>
		<string>__delattr__</string>
		<string>__delitem__</string>
		<string>__delslice__</string>
		<string>__dict__</string>
		<string>__div__</string>
		<string>__divmod__</string>
		<string>__doc__</string>
		<string>__eq__</string>
		<string>__file__</string>
		<string>__float__</string>
		<string>__floordiv__</string>
		<string>__future__</string>
		<string>__ge__</string>
		<string>__getattr__</string>
		<string>__getattribute__</string>
		<string>__getitem__</string>
		<string>__getslice__</string>
		<string>__gt__</string>
		<string>__hash__</string>
		<string>__hex__</string>
		<string>__iadd__</string>
		<string>__import__</string>
		<string>__imul__</string>
		<string>__init__</string>
		<string>__int__</string>
		<string>__invert__</string>
		<string>__iter__</string>
		<string>__le__</string>
		<string>__len__</string>
		<string>__long__</string>
		<string>__lshift__</string>
		<string>__lt__</string>
		<string>__members__</string>
		<string>__metaclass__</string>
		<string>__mod__</string>
		<string>__mro__</string>
		<string>__mul__</string>
		<string>__name__</string>
		<string>__ne__</string>
		<string>__neg__</string>
		<string>__new__</string>
		<string>__nonzero__</string>
		<string>__oct__</string>
		<string>__or__</string>
		<string>__path__</string>
		<string>__pos__</string>
		<string>__pow__</string>
		<string>__radd__</string>
		<string>__rdiv__</string>
		<string>__rdivmod__</string>
		<string>__reduce__</string>
		<string>__repr__</string>
		<string>__rfloordiv__</string>
		<string>__rlshift__</string>
		<string>__rmod__</string>
		<string>__rmul__</string>
		<string>__ror__</string>
		<string>__rpow__</string>
		<string>__rrshift__</string>
		<string>__rsub__</string>
		<string>__rtruediv__</string>
		<string>__rxor__</string>
		<string>__setattr__</string>
		<string>__setitem__</string>
		<string>__setslice__</string>
		<string>__self__</string>
		<string>__slots__</string>
		<string>__str__</string>
		<string>__sub__</string>
		<string>__truediv__</string>
		<string>__version__</string>
		<string>__xor__</string>
	</array>
</dict>
</plist>
