<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginCommand</key>
	<string></string>
	<key>endCommand</key>
	<string></string>
	<key>beginInstruction</key>
	<string>{</string>
	<key>endInstruction</key>
	<string>}</string>
	<key>beginVariable</key>
	<string>$@</string>
	<key>endVariable</key>
	<string> .</string>
	<key>firstString</key>
	<string>"</string>
	<key>secondString</key>
	<string>'</string>
	<key>firstSingleLineComment</key>
	<string>#</string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string></string>
	<key>endFirstMultiLineComment</key>
	<string></string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>functionDefinition</key>
	<string>^\s*def.*</string>
	<key>removeFromFunction</key>
	<string>def </string>
	<key>keywordsCaseSensitive</key>
	<false/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>keywords</key>
	<array>
		<string>BEGIN</string>
		<string>END</string>
		<string>and</string>
		<string>begin</string>
		<string>break</string>
		<string>case</string>
		<string>catch</string>
		<string>defined?</string>
		<string>do</string>
		<string>else</string>
		<string>elsif</string>
		<string>end</string>
		<string>ensure</string>
		<string>for</string>
		<string>if</string>
		<string>in</string>
		<string>include</string>
		<string>next</string>
		<string>not</string>
		<string>or</string>
		<string>private</string>
		<string>protected</string>
		<string>public</string>
		<string>redo</string>
		<string>require</string>
		<string>rescue</string>
		<string>retry</string>
		<string>return</string>
		<string>then</string>
		<string>throw</string>
		<string>unless</string>
		<string>until</string>
		<string>when</string>
		<string>while</string>
		<string>yield</string>
		<string>attr</string>
		<string>attr_reader</string>
		<string>attr_writer</string>
		<string>attr_accessor</string>
		<string>alias</string>
		<string>module</string>
		<string>class</string>
		<string>def</string>
		<string>undef</string>
		<string>self</string>
		<string>super</string>
		<string>nil</string>
		<string>false</string>
		<string>true</string>
		<string>__FILE__</string>
		<string>__LINE__</string>
	</array>
	<key>autocompleteWords</key>
	<array>
		<string>accepts</string>
		<string>activate_drb</string>
		<string>active?</string>
		<string>acts_as_list</string>
		<string>acts_as_nested_set</string>
		<string>acts_as_tree</string>
		<string>adapter_name</string>
		<string>add</string>
		<string>add_child</string>
		<string>add_column</string>
		<string>add_index</string>
		<string>add_limit!</string>
		<string>add_limit_offset!</string>
		<string>add_on_blank</string>
		<string>add_on_boundary_breaking</string>
		<string>add_on_boundry_breaking</string>
		<string>add_on_empty</string>
		<string>add_to_base</string>
		<string>adjust</string>
		<string>advance</string>
		<string>after_create</string>
		<string>after_destroy</string>
		<string>after_filter</string>
		<string>after_invocation</string>
		<string>after_save</string>
		<string>after_update</string>
		<string>after_validation</string>
		<string>after_validation_on_create</string>
		<string>after_validation_on_update</string>
		<string>ago</string>
		<string>alert</string>
		<string>aliased_prefix</string>
		<string>aliased_primary_key</string>
		<string>aliased_table_name</string>
		<string>aliased_table_names_for</string>
		<string>all</string>
		<string>all_children</string>
		<string>allow_identity_inserts</string>
		<string>ancestors</string>
		<string>announce</string>
		<string>append_after_filter</string>
		<string>append_after_invocation</string>
		<string>append_around_filter</string>
		<string>append_before_filter</string>
		<string>append_before_invocation</string>
		<string>append_features</string>
		<string>around_filter</string>
		<string>array_or_string_for_javascript</string>
		<string>assert</string>
		<string>assert</string>
		<string>assert_dom_equal</string>
		<string>assert_dom_not_equal</string>
		<string>assert_generates</string>
		<string>assert_no_tag</string>
		<string>assert_recognizes</string>
		<string>assert_redirected_to</string>
		<string>assert_response</string>
		<string>assert_routing</string>
		<string>assert_tag</string>
		<string>assert_template</string>
		<string>assert_valid</string>
		<string>assert_valid_keys</string>
		<string>assign</string>
		<string>assigns</string>
		<string>association_join</string>
		<string>at</string>
		<string>at_beginning_of_day</string>
		<string>at_beginning_of_month</string>
		<string>at_beginning_of_quarter</string>
		<string>at_beginning_of_week</string>
		<string>at_beginning_of_year</string>
		<string>at_end_of_month</string>
		<string>at_midnight</string>
		<string>attr_accessible</string>
		<string>attr_protected</string>
		<string>attribute_names</string>
		<string>attribute_present?</string>
		<string>attributes</string>
		<string>attributes=</string>
		<string>attributes_before_type_cast</string>
		<string>attributes_with_quotes_pre_oracle</string>
		<string>auto_complete_field</string>
		<string>auto_complete_for</string>
		<string>auto_complete_result</string>
		<string>auto_discovery_link_tag</string>
		<string>auto_link</string>
		<string>average</string>
		<string>base_class</string>
		<string>before_create</string>
		<string>before_destroy</string>
		<string>before_destroy</string>
		<string>before_filter</string>
		<string>before_invocation</string>
		<string>before_save</string>
		<string>before_update</string>
		<string>before_validation</string>
		<string>before_validation_on_create</string>
		<string>before_validation_on_update</string>
		<string>begin_db_transaction</string>
		<string>beginning_of_day</string>
		<string>beginning_of_month</string>
		<string>beginning_of_quarter</string>
		<string>beginning_of_week</string>
		<string>beginning_of_year</string>
		<string>belongs_to</string>
		<string>benchmark</string>
		<string>binary_to_string</string>
		<string>breakpoint</string>
		<string>build</string>
		<string>build_callbacks</string>
		<string>build_observer</string>
		<string>build_request_uri</string>
		<string>button_to</string>
		<string>button_to_function</string>
		<string>byte</string>
		<string>bytes</string>
		<string>cache</string>
		<string>cache_erb_fragment</string>
		<string>cache_page</string>
		<string>caches_page</string>
		<string>calculate</string>
		<string>call</string>
		<string>camelcase</string>
		<string>camelize</string>
		<string>capture</string>
		<string>cast_expects</string>
		<string>cast_returns</string>
		<string>catch_schema_changes</string>
		<string>cdata!</string>
		<string>cdata_section</string>
		<string>change</string>
		<string>change_column</string>
		<string>change_column_default</string>
		<string>check_box</string>
		<string>check_box_tag</string>
		<string>child?</string>
		<string>children_count</string>
		<string>class_name</string>
		<string>class_of_active_record_descendant</string>
		<string>classify</string>
		<string>classify</string>
		<string>clean_backtrace</string>
		<string>clean_within</string>
		<string>clear</string>
		<string>clear_active_connections!</string>
		<string>clone</string>
		<string>cltmsgCB</string>
		<string>collection_select</string>
		<string>column</string>
		<string>column_for_attribute</string>
		<string>column_names</string>
		<string>column_names_with_alias</string>
		<string>columns</string>
		<string>columns_hash</string>
		<string>comment!</string>
		<string>commit_db_transaction</string>
		<string>composed_of</string>
		<string>compute_type</string>
		<string>concat</string>
		<string>condition_block?</string>
		<string>connected?</string>
		<string>connection</string>
		<string>connection=</string>
		<string>constantize</string>
		<string>construct</string>
		<string>construct_association</string>
		<string>content_columns</string>
		<string>content_for</string>
		<string>content_tag</string>
		<string>content_type</string>
		<string>controller_class_name</string>
		<string>controller_name</string>
		<string>controller_path</string>
		<string>convert_key</string>
		<string>convert_value</string>
		<string>cookie</string>
		<string>cookies</string>
		<string>cookies</string>
		<string>count</string>
		<string>count_by_sql</string>
		<string>count_collection_for_pagination</string>
		<string>country_options_for_select</string>
		<string>country_select</string>
		<string>create</string>
		<string>create!</string>
		<string>create_database</string>
		<string>create_fixtures</string>
		<string>create_reflection</string>
		<string>create_table</string>
		<string>current</string>
		<string>current_database</string>
		<string>current_page</string>
		<string>current_page=</string>
		<string>current_page?</string>
		<string>cycle</string>
		<string>dasherize</string>
		<string>dasherize</string>
		<string>date_select</string>
		<string>datetime_select</string>
		<string>day</string>
		<string>days</string>
		<string>days_in_month</string>
		<string>deactivate_drb</string>
		<string>deadlocked?</string>
		<string>debug</string>
		<string>declare!</string>
		<string>decrement</string>
		<string>decrement!</string>
		<string>decrement_counter</string>
		<string>decrement_position</string>
		<string>default</string>
		<string>default_sequence_name</string>
		<string>default_url_options</string>
		<string>define</string>
		<string>define_javascript_functions</string>
		<string>delay</string>
		<string>delete</string>
		<string>delete?</string>
		<string>delete_all</string>
		<string>delete_existing_fixtures</string>
		<string>deliver</string>
		<string>deliver!</string>
		<string>demodulize</string>
		<string>destroy</string>
		<string>destroy</string>
		<string>destroy_all</string>
		<string>diff</string>
		<string>direct_children</string>
		<string>discard</string>
		<string>disconnect!</string>
		<string>distance_of_time_in_words</string>
		<string>distance_of_time_in_words_to_now</string>
		<string>domain</string>
		<string>draggable</string>
		<string>draggable_element</string>
		<string>drop_database</string>
		<string>drop_receiving</string>
		<string>drop_receiving_element</string>
		<string>drop_table</string>
		<string>dup</string>
		<string>each</string>
		<string>each_char</string>
		<string>each_full</string>
		<string>each_pair</string>
		<string>empty?</string>
		<string>end_form_tag</string>
		<string>end_of_month</string>
		<string>ends_with?</string>
		<string>eql?</string>
		<string>error_message_on</string>
		<string>error_messages_for</string>
		<string>errors</string>
		<string>escape_javascript</string>
		<string>establish_connection</string>
		<string>evaluate_condition</string>
		<string>evaluate_remote_response</string>
		<string>even?</string>
		<string>exabyte</string>
		<string>exabytes</string>
		<string>excerpt</string>
		<string>exec</string>
		<string>execute</string>
		<string>exists?</string>
		<string>expects_index_of</string>
		<string>expects_to_hash</string>
		<string>expire_action</string>
		<string>expire_fragment</string>
		<string>expire_page</string>
		<string>expires_in</string>
		<string>expires_now</string>
		<string>extract_record</string>
		<string>failed?</string>
		<string>fetch</string>
		<string>fields_for</string>
		<string>file_field</string>
		<string>file_field_tag</string>
		<string>find</string>
		<string>find_all_tag</string>
		<string>find_by_sql</string>
		<string>find_collection_for_pagination</string>
		<string>find_tag</string>
		<string>first</string>
		<string>first?</string>
		<string>first_item</string>
		<string>first_page</string>
		<string>fixture_file_upload</string>
		<string>flash</string>
		<string>follow_redirect</string>
		<string>follow_redirect!</string>
		<string>foreign_key</string>
		<string>form</string>
		<string>form_for</string>
		<string>form_remote_for</string>
		<string>form_remote_tag</string>
		<string>form_tag</string>
		<string>format_log_entry</string>
		<string>formatted_offset</string>
		<string>formatted_post?</string>
		<string>fortnight</string>
		<string>fortnights</string>
		<string>fragment_cache_key</string>
		<string>fragment_cache_store=</string>
		<string>freeze</string>
		<string>from</string>
		<string>from_now</string>
		<string>frozen?</string>
		<string>full_messages</string>
		<string>full_set</string>
		<string>get</string>
		<string>get?</string>
		<string>get_via_redirect</string>
		<string>gigabyte</string>
		<string>gigabytes</string>
		<string>has_and_belongs_to_many</string>
		<string>has_attribute?</string>
		<string>has_many</string>
		<string>has_one</string>
		<string>has_page_number?</string>
		<string>has_web_service?</string>
		<string>hash</string>
		<string>hash_cache</string>
		<string>head?</string>
		<string>helper</string>
		<string>helper_attr</string>
		<string>helper_method</string>
		<string>hidden_actions</string>
		<string>hidden_field</string>
		<string>hidden_field_tag</string>
		<string>hide</string>
		<string>hide_action</string>
		<string>higher_item</string>
		<string>highlight</string>
		<string>host</string>
		<string>host!</string>
		<string>host_with_port</string>
		<string>hour</string>
		<string>hours</string>
		<string>html_document</string>
		<string>https!</string>
		<string>https?</string>
		<string>human_name</string>
		<string>human_size</string>
		<string>humanize</string>
		<string>id</string>
		<string>id=</string>
		<string>image_path</string>
		<string>image_submit_tag</string>
		<string>image_tag</string>
		<string>in</string>
		<string>in_list?</string>
		<string>in_place_edit_for</string>
		<string>in_place_editor</string>
		<string>in_place_editor_field</string>
		<string>included</string>
		<string>increment</string>
		<string>increment!</string>
		<string>increment_counter</string>
		<string>increment_position</string>
		<string>indexes</string>
		<string>indexes</string>
		<string>inflections</string>
		<string>inheritance_column</string>
		<string>init</string>
		<string>initialize_schema_information</string>
		<string>input</string>
		<string>insert</string>
		<string>insert_at</string>
		<string>insert_fixtures</string>
		<string>insert_html</string>
		<string>instantiate</string>
		<string>instantiate_all_loaded_fixtures</string>
		<string>instantiate_fixtures</string>
		<string>instruct!</string>
		<string>interpolate_sql</string>
		<string>invalid?</string>
		<string>irregular</string>
		<string>javascript_include_tag</string>
		<string>javascript_path</string>
		<string>javascript_tag</string>
		<string>join_associations</string>
		<string>join_base</string>
		<string>keep</string>
		<string>key?</string>
		<string>kilobyte</string>
		<string>klass</string>
		<string>last</string>
		<string>last?</string>
		<string>last_item</string>
		<string>last_month</string>
		<string>last_page</string>
		<string>last_year</string>
		<string>layout</string>
		<string>length</string>
		<string>length</string>
		<string>link_image_to</string>
		<string>link_to</string>
		<string>link_to_function</string>
		<string>link_to_if</string>
		<string>link_to_image</string>
		<string>link_to_remote</string>
		<string>link_to_unless</string>
		<string>link_to_unless_current</string>
		<string>local_request?</string>
		<string>log</string>
		<string>log_error</string>
		<string>log_info</string>
		<string>lower_item</string>
		<string>macro</string>
		<string>mail_to</string>
		<string>markdown</string>
		<string>maximum</string>
		<string>megabyte</string>
		<string>megabytes</string>
		<string>member</string>
		<string>merge</string>
		<string>message</string>
		<string>method</string>
		<string>method_missing</string>
		<string>method_option_to_s</string>
		<string>midnight</string>
		<string>migrate</string>
		<string>minimum</string>
		<string>minute</string>
		<string>minutes</string>
		<string>monday</string>
		<string>month</string>
		<string>months</string>
		<string>months_ago</string>
		<string>months_since</string>
		<string>move_higher</string>
		<string>move_lower</string>
		<string>move_to_bottom</string>
		<string>move_to_top</string>
		<string>multiple_of?</string>
		<string>name</string>
		<string>native_database_types</string>
		<string>new</string>
		<string>new_record?</string>
		<string>next</string>
		<string>next_month</string>
		<string>next_sequence_value</string>
		<string>next_sequence_value</string>
		<string>next_week</string>
		<string>next_year</string>
		<string>now</string>
		<string>now</string>
		<string>number?</string>
		<string>number_to_currency</string>
		<string>number_to_human_size</string>
		<string>number_to_percentage</string>
		<string>number_to_phone</string>
		<string>number_with_delimiter</string>
		<string>number_with_precision</string>
		<string>observe</string>
		<string>observe_field</string>
		<string>observe_form</string>
		<string>observers=</string>
		<string>odd?</string>
		<string>of_caller</string>
		<string>offset</string>
		<string>on</string>
		<string>on_base</string>
		<string>open_session</string>
		<string>option_groups_from_collection_for_select</string>
		<string>options</string>
		<string>options_for_ajax</string>
		<string>options_for_javascript</string>
		<string>options_for_select</string>
		<string>options_from_collection_for_select</string>
		<string>ordinalize</string>
		<string>ordinalize</string>
		<string>original_insert_fixtures</string>
		<string>padding=</string>
		<string>page_count</string>
		<string>pages</string>
		<string>paginate</string>
		<string>paginate</string>
		<string>pagination_links</string>
		<string>pagination_links_each</string>
		<string>param_names</string>
		<string>parameters</string>
		<string>password_field</string>
		<string>password_field_tag</string>
		<string>path</string>
		<string>path_parameters</string>
		<string>path_parameters=</string>
		<string>perform_invocation</string>
		<string>perform_invocation</string>
		<string>periodically_call_remote</string>
		<string>petabyte</string>
		<string>petabytes</string>
		<string>ping</string>
		<string>pk_and_sequence_for</string>
		<string>plural</string>
		<string>pluralize</string>
		<string>pluralize</string>
		<string>pluralize</string>
		<string>pluralize</string>
		<string>port</string>
		<string>port_string</string>
		<string>post</string>
		<string>post?</string>
		<string>post_format</string>
		<string>post_via_redirect</string>
		<string>prefetch_primary_key?</string>
		<string>prepend_after_filter</string>
		<string>prepend_after_invocation</string>
		<string>prepend_around_filter</string>
		<string>prepend_before_filter</string>
		<string>prepend_before_invocation</string>
		<string>previous</string>
		<string>primary_key</string>
		<string>primary_key</string>
		<string>process</string>
		<string>process</string>
		<string>process_cgi</string>
		<string>process_test</string>
		<string>process_with_test</string>
		<string>protocol</string>
		<string>public_name</string>
		<string>put?</string>
		<string>quote</string>
		<string>quote_column_name</string>
		<string>quote_string</string>
		<string>quoted_date</string>
		<string>quoted_false</string>
		<string>quoted_true</string>
		<string>radio_button</string>
		<string>radio_button_tag</string>
		<string>raw_connection</string>
		<string>raw_post</string>
		<string>read_fragment</string>
		<string>readonly?</string>
		<string>receive</string>
		<string>reconnect!</string>
		<string>record_id</string>
		<string>recreate_database</string>
		<string>redirect?</string>
		<string>redirect_to</string>
		<string>redirect_to_url</string>
		<string>reflect_on_aggregation</string>
		<string>reflect_on_all_aggregations</string>
		<string>reflect_on_association</string>
		<string>reflections</string>
		<string>register_javascript_include_default</string>
		<string>register_template_handler</string>
		<string>relative_url_root</string>
		<string>reload</string>
		<string>reloadable_classes</string>
		<string>remote_form_for</string>
		<string>remote_function</string>
		<string>remote_ip</string>
		<string>remove</string>
		<string>remove_column</string>
		<string>remove_connection</string>
		<string>remove_default_constraint</string>
		<string>remove_from_list</string>
		<string>remove_index</string>
		<string>rename_column</string>
		<string>rename_table</string>
		<string>render</string>
		<string>render_component</string>
		<string>render_component_as_string</string>
		<string>render_to_string</string>
		<string>replace</string>
		<string>replace_html</string>
		<string>request_uri</string>
		<string>rescue_action</string>
		<string>rescue_action_in_public</string>
		<string>rescue_action_locally</string>
		<string>reset</string>
		<string>reset!</string>
		<string>reset_column_information</string>
		<string>reset_cycle</string>
		<string>reset_pk_sequence!</string>
		<string>reset_sequence!</string>
		<string>reset_session</string>
		<string>respond_to</string>
		<string>respond_to?</string>
		<string>reverse_merge</string>
		<string>reverse_merge!</string>
		<string>reverse_update</string>
		<string>rollback_db_transaction</string>
		<string>root</string>
		<string>root</string>
		<string>root?</string>
		<string>sanitize</string>
		<string>sanitize_sql</string>
		<string>save</string>
		<string>save!</string>
		<string>save_with_validation</string>
		<string>save_with_validation!</string>
		<string>say</string>
		<string>say_with_time</string>
		<string>scaffold</string>
		<string>second</string>
		<string>seconds</string>
		<string>seconds_since_midnight</string>
		<string>select</string>
		<string>select_all</string>
		<string>select_date</string>
		<string>select_datetime</string>
		<string>select_day</string>
		<string>select_hour</string>
		<string>select_minute</string>
		<string>select_month</string>
		<string>select_one</string>
		<string>select_one</string>
		<string>select_one</string>
		<string>select_second</string>
		<string>select_tag</string>
		<string>select_time</string>
		<string>select_value</string>
		<string>select_values</string>
		<string>select_year</string>
		<string>self_and_siblings</string>
		<string>send_data</string>
		<string>send_file</string>
		<string>serialize</string>
		<string>serialized_attributes</string>
		<string>server_software</string>
		<string>session</string>
		<string>session_enabled?</string>
		<string>session_options</string>
		<string>session_store</string>
		<string>session_store=</string>
		<string>set_inheritance_column</string>
		<string>set_locking_column</string>
		<string>set_primary_key</string>
		<string>set_sequence_name</string>
		<string>set_table_name</string>
		<string>show</string>
		<string>siblings</string>
		<string>silence</string>
		<string>silence</string>
		<string>simple_format</string>
		<string>simplified_type</string>
		<string>since</string>
		<string>since</string>
		<string>singular</string>
		<string>singularize</string>
		<string>size</string>
		<string>skip_after_filter</string>
		<string>skip_before_filter</string>
		<string>soap_action</string>
		<string>sortable</string>
		<string>sortable_element</string>
		<string>srvmsgCB</string>
		<string>ssl?</string>
		<string>standard_port</string>
		<string>start_form_tag</string>
		<string>starts_with?</string>
		<string>string_to_binary</string>
		<string>string_to_date</string>
		<string>string_to_dummy_time</string>
		<string>string_to_time</string>
		<string>stringify_keys</string>
		<string>stringify_keys!</string>
		<string>strip_links</string>
		<string>strip_tags</string>
		<string>structure_dump</string>
		<string>stylesheet_link_tag</string>
		<string>stylesheet_path</string>
		<string>subdomains</string>
		<string>submit_tag</string>
		<string>submit_to_remote</string>
		<string>sum</string>
		<string>supports_count_distinct?</string>
		<string>supports_migrations?</string>
		<string>suppress_messages</string>
		<string>symbolize_keys</string>
		<string>symbolize_keys!</string>
		<string>symbolized_path_parameters</string>
		<string>table_alias_for</string>
		<string>table_alias_length</string>
		<string>table_exists?</string>
		<string>table_name</string>
		<string>table_name_and_alias</string>
		<string>table_structure</string>
		<string>tableize</string>
		<string>tables</string>
		<string>tag</string>
		<string>target!</string>
		<string>terabyte</string>
		<string>terabytes</string>
		<string>text?</string>
		<string>text_area</string>
		<string>text_area_tag</string>
		<string>text_field</string>
		<string>text_field_tag</string>
		<string>text_field_with_auto_complete</string>
		<string>textilize</string>
		<string>textilize_without_paragraph</string>
		<string>time_ago_in_words</string>
		<string>time_zone_options_for_select</string>
		<string>time_zone_select</string>
		<string>titlecase</string>
		<string>titleize</string>
		<string>to</string>
		<string>to_a</string>
		<string>to_date</string>
		<string>to_formatted_s</string>
		<string>to_options</string>
		<string>to_options!</string>
		<string>to_param</string>
		<string>to_proc</string>
		<string>to_s</string>
		<string>to_s</string>
		<string>to_sentence</string>
		<string>to_sql</string>
		<string>to_sql</string>
		<string>to_time</string>
		<string>to_xml</string>
		<string>today</string>
		<string>toggle</string>
		<string>toggle!</string>
		<string>tomorrow</string>
		<string>transaction</string>
		<string>truncate</string>
		<string>type_cast</string>
		<string>type_cast_code</string>
		<string>unadjust</string>
		<string>uncountable</string>
		<string>underscore</string>
		<string>unknown?</string>
		<string>until</string>
		<string>update</string>
		<string>update_all</string>
		<string>update_attribute</string>
		<string>update_attribute_with_validation_skipping</string>
		<string>update_attributes</string>
		<string>update_element_function</string>
		<string>update_page</string>
		<string>update_page_tag</string>
		<string>url_for</string>
		<string>url_for</string>
		<string>url_for</string>
		<string>us_zones</string>
		<string>use_drb?</string>
		<string>uses_component_template_root</string>
		<string>valid?</string>
		<string>validate</string>
		<string>validate_on_create</string>
		<string>validate_on_update</string>
		<string>validates_acceptance_of</string>
		<string>validates_associated</string>
		<string>validates_confirmation_of</string>
		<string>validates_each</string>
		<string>validates_exclusion_of</string>
		<string>validates_format_of</string>
		<string>validates_inclusion_of</string>
		<string>validates_length_of</string>
		<string>validates_numericality_of</string>
		<string>validates_presence_of</string>
		<string>validates_size_of</string>
		<string>validates_uniqueness_of</string>
		<string>value_to_boolean</string>
		<string>values_at</string>
		<string>verify</string>
		<string>verify!</string>
		<string>visual_effect</string>
		<string>web_client_api</string>
		<string>web_service</string>
		<string>web_service_api</string>
		<string>web_service_scaffold</string>
		<string>week</string>
		<string>weeks</string>
		<string>window</string>
		<string>with_exclusive_scope</string>
		<string>with_routing</string>
		<string>with_scope</string>
		<string>word_wrap</string>
		<string>write</string>
		<string>write_fragment</string>
		<string>xhr</string>
		<string>xhr?</string>
		<string>xml_http_request</string>
		<string>xml_http_request?</string>
		<string>xml_post?</string>
		<string>yaml_post?</string>
		<string>year</string>
		<string>years</string>
		<string>years_ago</string>
		<string>years_since</string>
		<string>yesterday</string>
		<string>breakpoint_server</string>
		<string>cache_classes</string>
		<string>connection_adapters</string>
		<string>controller_paths</string>
		<string>database_configuration_file</string>
		<string>frameworks</string>
		<string>load_paths</string>
		<string>log_level</string>
		<string>log_path</string>
		<string>logger</string>
		<string>view_path</string>
		<string>whiny_nils</string>
		<string>plugin_paths</string>
		<string>primary_key_prefix_type</string>
		<string>table_name_prefix</string>
		<string>table_name_suffix</string>
		<string>colorize_logging</string>
		<string>default_timezone</string>
		<string>allow_concurrency</string>
		<string>generate_read_methods</string>
		<string>schema_format</string>
		<string>view_controller_internals</string>
		<string>assert_host</string>
		<string>debug_routes</string>
		<string>allow_concurrency</string>
		<string>param_parsers</string>
		<string>template_root</string>
		<string>logger</string>
		<string>ignore_missing_templates</string>
		<string>cache_template_loading</string>
		<string>cache_template_extensions</string>
		<string>local_assigns_support_string_keys</string>
		<string>debug_rjs</string>
		<string>logger</string>
		<string>server_settings</string>
		<string>raise_delivery_errors</string>
		<string>delivery_method</string>
		<string>perform_deliveries</string>
		<string>default_charset</string>
		<string>default_content_type</string>
		<string>default_mime_version</string>
		<string>default_implicit_parts_order</string>
		<string>ActionController::AbstractRequest</string>
		<string>ActionController::Base</string>
		<string>ActionController::Benchmarking::ClassMethods</string>
		<string>ActionController::Caching</string>
		<string>ActionController::Caching::Actions</string>
		<string>ActionController::Caching::Fragments</string>
		<string>ActionController::Caching::Pages</string>
		<string>ActionController::Caching::Pages::ClassMethods</string>
		<string>ActionController::Caching::Sweeping</string>
		<string>ActionController::Components</string>
		<string>ActionController::Components::ClassMethods</string>
		<string>ActionController::Components::InstanceMethods</string>
		<string>ActionController::Cookies</string>
		<string>ActionController::Filters::ClassMethods</string>
		<string>ActionController::Flash</string>
		<string>ActionController::Flash::FlashHash</string>
		<string>ActionController::Helpers::ClassMethods</string>
		<string>ActionController::Integration::Session</string>
		<string>ActionController::IntegrationTest</string>
		<string>ActionController::Layout::ClassMethods</string>
		<string>ActionController::Macros</string>
		<string>ActionController::Macros::AutoComplete::ClassMethods</string>
		<string>ActionController::Macros::InPlaceEditing::ClassMethods</string>
		<string>ActionController::MimeResponds::InstanceMethods</string>
		<string>ActionController::Pagination</string>
		<string>ActionController::Pagination::ClassMethods</string>
		<string>ActionController::Pagination::Paginator</string>
		<string>ActionController::Pagination::Paginator::Page</string>
		<string>ActionController::Pagination::Paginator::Window</string>
		<string>ActionController::Rescue</string>
		<string>ActionController::Scaffolding::ClassMethods</string>
		<string>ActionController::SessionManagement::ClassMethods</string>
		<string>ActionController::Streaming</string>
		<string>ActionController::TestProcess</string>
		<string>ActionController::TestUploadedFile</string>
		<string>ActionController::Verification::ClassMethods</string>
		<string>ActionMailer::Base</string>
		<string>ActionView::Base</string>
		<string>ActionView::Helpers::ActiveRecordHelper</string>
		<string>ActionView::Helpers::AssetTagHelper</string>
		<string>ActionView::Helpers::BenchmarkHelper</string>
		<string>ActionView::Helpers::CacheHelper</string>
		<string>ActionView::Helpers::CaptureHelper</string>
		<string>ActionView::Helpers::DateHelper</string>
		<string>ActionView::Helpers::DebugHelper</string>
		<string>ActionView::Helpers::FormHelper</string>
		<string>ActionView::Helpers::FormOptionsHelper</string>
		<string>ActionView::Helpers::FormTagHelper</string>
		<string>ActionView::Helpers::JavaScriptHelper</string>
		<string>ActionView::Helpers::JavaScriptMacrosHelper</string>
		<string>ActionView::Helpers::NumberHelper</string>
		<string>ActionView::Helpers::PaginationHelper</string>
		<string>ActionView::Helpers::PrototypeHelper</string>
		<string>ActionView::Helpers::PrototypeHelper::JavaScriptGenerator::GeneratorMethods</string>
		<string>ActionView::Helpers::ScriptaculousHelper</string>
		<string>ActionView::Helpers::TagHelper</string>
		<string>ActionView::Helpers::TextHelper</string>
		<string>ActionView::Helpers::UrlHelper</string>
		<string>ActionView::Partials</string>
		<string>ActionWebService::API::Method</string>
		<string>ActionWebService::Base</string>
		<string>ActionWebService::Client::Soap</string>
		<string>ActionWebService::Client::XmlRpc</string>
		<string>ActionWebService::Container::ActionController::ClassMethods</string>
		<string>ActionWebService::Container::Delegated::ClassMethods</string>
		<string>ActionWebService::Container::Direct::ClassMethods</string>
		<string>ActionWebService::Invocation::ClassMethods</string>
		<string>ActionWebService::Scaffolding::ClassMethods</string>
		<string>ActionWebService::SignatureTypes</string>
		<string>ActionWebService::Struct</string>
		<string>ActiveRecord::Acts::List::ClassMethods</string>
		<string>ActiveRecord::Acts::List::InstanceMethods</string>
		<string>ActiveRecord::Acts::NestedSet::ClassMethods</string>
		<string>ActiveRecord::Acts::NestedSet::InstanceMethods</string>
		<string>ActiveRecord::Acts::Tree::ClassMethods</string>
		<string>ActiveRecord::Acts::Tree::InstanceMethods</string>
		<string>ActiveRecord::Aggregations::ClassMethods</string>
		<string>ActiveRecord::Associations::ClassMethods</string>
		<string>ActiveRecord::Associations::ClassMethods::JoinDependency</string>
		<string>ActiveRecord::Associations::ClassMethods::JoinDependency::JoinAssociation</string>
		<string>ActiveRecord::Associations::ClassMethods::JoinDependency::JoinBase</string>
		<string>ActiveRecord::Base</string>
		<string>ActiveRecord::Calculations::ClassMethods</string>
		<string>ActiveRecord::Callbacks</string>
		<string>ActiveRecord::ConnectionAdapters::AbstractAdapter</string>
		<string>ActiveRecord::ConnectionAdapters::Column</string>
		<string>ActiveRecord::ConnectionAdapters::DB2Adapter</string>
		<string>ActiveRecord::ConnectionAdapters::DatabaseStatements</string>
		<string>ActiveRecord::ConnectionAdapters::FirebirdAdapter</string>
		<string>ActiveRecord::ConnectionAdapters::MysqlAdapter</string>
		<string>ActiveRecord::ConnectionAdapters::OpenBaseAdapter</string>
		<string>ActiveRecord::ConnectionAdapters::OracleAdapter</string>
		<string>ActiveRecord::ConnectionAdapters::PostgreSQLAdapter</string>
		<string>ActiveRecord::ConnectionAdapters::Quoting</string>
		<string>ActiveRecord::ConnectionAdapters::SQLServerAdapter</string>
		<string>ActiveRecord::ConnectionAdapters::SQLiteAdapter</string>
		<string>ActiveRecord::ConnectionAdapters::SchemaStatements</string>
		<string>ActiveRecord::ConnectionAdapters::SybaseAdapter::ColumnWithIdentity</string>
		<string>ActiveRecord::ConnectionAdapters::SybaseAdapterContext</string>
		<string>ActiveRecord::ConnectionAdapters::TableDefinition</string>
		<string>ActiveRecord::Errors</string>
		<string>ActiveRecord::HasManyThroughSourceAssociationMacroError</string>
		<string>ActiveRecord::Locking</string>
		<string>ActiveRecord::Migration</string>
		<string>ActiveRecord::Observer</string>
		<string>ActiveRecord::Observing::ClassMethods</string>
		<string>ActiveRecord::Reflection::ClassMethods</string>
		<string>ActiveRecord::Reflection::MacroReflection</string>
		<string>ActiveRecord::Schema</string>
		<string>ActiveRecord::Timestamp</string>
		<string>ActiveRecord::Transactions::ClassMethods</string>
		<string>ActiveRecord::Validations</string>
		<string>ActiveRecord::Validations::ClassMethods</string>
		<string>ActiveSupport::CachingTools::HashCaching</string>
		<string>ActiveSupport::CoreExtensions::Array::Conversions</string>
		<string>ActiveSupport::CoreExtensions::Date::Conversions</string>
		<string>ActiveSupport::CoreExtensions::Hash::Conversions</string>
		<string>ActiveSupport::CoreExtensions::Hash::Diff</string>
		<string>ActiveSupport::CoreExtensions::Hash::Keys</string>
		<string>ActiveSupport::CoreExtensions::Hash::ReverseMerge</string>
		<string>ActiveSupport::CoreExtensions::Integer::EvenOdd</string>
		<string>ActiveSupport::CoreExtensions::Integer::Inflections</string>
		<string>ActiveSupport::CoreExtensions::Numeric::Bytes</string>
		<string>ActiveSupport::CoreExtensions::Numeric::Time</string>
		<string>ActiveSupport::CoreExtensions::Pathname::CleanWithin</string>
		<string>ActiveSupport::CoreExtensions::Range::Conversions</string>
		<string>ActiveSupport::CoreExtensions::String::Access</string>
		<string>ActiveSupport::CoreExtensions::String::Conversions</string>
		<string>ActiveSupport::CoreExtensions::String::Inflections</string>
		<string>ActiveSupport::CoreExtensions::String::Iterators</string>
		<string>ActiveSupport::CoreExtensions::String::StartsEndsWith</string>
		<string>ActiveSupport::CoreExtensions::Time::Calculations</string>
		<string>ActiveSupport::CoreExtensions::Time::Calculations::ClassMethods</string>
		<string>ActiveSupport::CoreExtensions::Time::Conversions</string>
		<string>Binding</string>
		<string>Breakpoint</string>
		<string>Builder::XmlMarkup</string>
		<string>Dependencies::LoadingModule</string>
		<string>Fixtures</string>
		<string>HashWithIndifferentAccess</string>
		<string>Inflector</string>
		<string>Inflector::Inflections</string>
		<string>Mime</string>
		<string>OCI8AutoRecover</string>
		<string>Reloadable</string>
		<string>Reloadable::Subclasses</string>
		<string>Symbol</string>
		<string>Test::Unit::Assertions</string>
		<string>TimeZone</string>
	</array>
</dict>
</plist>
