<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginCommand</key>
	<string></string>
	<key>endCommand</key>
	<string></string>
	<key>beginInstruction</key>
	<string></string>
	<key>endInstruction</key>
	<string></string>
	<key>beginVariable</key>
	<string></string>
	<key>endVariable</key>
	<string></string>
	<key>firstString</key>
	<string>"</string>
	<key>secondString</key>
	<string>'</string>
	<key>firstSingleLineComment</key>
	<string>//</string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string>/*</string>
	<key>endFirstMultiLineComment</key>
	<string>*/</string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>functionDefinition</key>
	<string>def</string>
	<key>removeFromFunction</key>
	<string></string>
	<key>keywordsCaseSensitive</key>
	<true/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>keywords</key>
	<array>
        <string>abstract</string>
        <string>case</string>
        <string>catch</string>
        <string>class</string>
        <string>def</string>
        <string>do</string>
        <string>else</string>
        <string>extends</string>
        <string>false</string>
        <string>final</string>
        <string>finally</string>
        <string>for</string>
        <string>if</string>
        <string>implicit</string>
        <string>import</string>
        <string>match</string>
        <string>new</string>
        <string>null</string>
        <string>object</string>
        <string>override</string>
        <string>package</string>
        <string>private</string>
        <string>protected</string>
        <string>requires</string>
        <string>return</string>
        <string>sealed</string>
        <string>super</string>
        <string>this</string>
        <string>throw</string>
        <string>trait</string>
        <string>try</string>
        <string>true</string>
        <string>type</string>
        <string>val</string>
        <string>var</string>
        <string>while</string>
        <string>with</string>
        <string>yield</string>
	</array>
	<key>autocompleteWords</key>
	<array>
	</array>
</dict>
</plist>
