<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginCommand</key>
	<string>`</string>
	<key>endCommand</key>
	<string>´</string>
	<key>beginInstruction</key>
	<string></string>
	<key>endInstruction</key>
	<string></string>
	<key>beginVariable</key>
	<string>$</string>
	<key>endVariable</key>
	<string> (){}=;:[]</string>
	<key>firstString</key>
	<string>"</string>
	<key>secondString</key>
	<string>'</string>
	<key>firstSingleLineComment</key>
	<string>#</string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string></string>
	<key>endFirstMultiLineComment</key>
	<string></string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>functionDefinition</key>
	<string>^\s*(function)?\s?\w*(\(\))?\s?\n?\s*\{</string>
	<key>removeFromFunction</key>
	<string>function</string>
	<key>keywordsCaseSensitive</key>
	<false/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>keywords</key>
	<array>
		<string>if</string>
		<string>then</string>
		<string>elif</string>
		<string>else</string>
		<string>fi</string>
		<string>case</string>
		<string>in</string>
		<string>;;</string>
		<string>esac</string>
		<string>while</string>
		<string>for</string>
		<string>do</string>
		<string>done</string>
		<string>continue</string>
		<string>local</string>
		<string>return</string>
	</array>
	<key>autocompleteWords</key>
	<array>
	</array>
</dict>
</plist>