<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginCommand</key>
	<string></string>
	<key>endCommand</key>
	<string></string>
	<key>beginInstruction</key>
	<string></string>
	<key>endInstruction</key>
	<string></string>
	<key>beginVariable</key>
	<string></string>
	<key>endVariable</key>
	<string></string>
	<key>firstString</key>
	<string>"</string>
	<key>secondString</key>
	<string>'</string>
	<key>firstSingleLineComment</key>
	<string>--</string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string>/*</string>
	<key>endFirstMultiLineComment</key>
	<string>*/</string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>functionDefinition</key>
	<string></string>
	<key>removeFromFunction</key>
	<string></string>
	<key>keywordsCaseSensitive</key>
	<false/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>keywords</key>
		<array>
		<string>ACCESS</string>
		<string>ACCOUNT</string>
		<string>ADD</string>
		<string>ADMIN</string>
		<string>ADMINISTER</string>
		<string>ADVISE</string>
		<string>AFTER</string>
		<string>AGENT</string>
		<string>ALL</string>
		<string>ALL_ROWS</string>
		<string>ALLOCATE</string>
		<string>ALTER</string>
		<string>ANALYZE</string>
		<string>ANCILLARY</string>
		<string>AND</string>
		<string>ANY</string>
		<string>ARCHIVE</string>
		<string>ARCHIVELOG</string>
		<string>AS</string>
		<string>ASC</string>
		<string>ASSOCIATE</string>
		<string>AT</string>
		<string>ATTRIBUTE</string>
		<string>ATTRIBUTES</string>
		<string>AUDIT</string>
		<string>AUTHENTICATED</string>
		<string>AUTHID</string>
		<string>AUTHORIZATION</string>
		<string>AUTOALLOCATE</string>
		<string>AUTOEXTEND</string>
		<string>AUTOMATIC</string>
		<string>BACKUP</string>
		<string>BECOME</string>
		<string>BEFORE</string>
		<string>BEGIN</string>
		<string>BEHALF</string>
		<string>BETWEEN</string>
		<string>BINDING</string>
		<string>BITMAP</string>
		<string>BLOCK</string>
		<string>BLOCK_RANGE</string>
		<string>BODY</string>
		<string>BOUND</string>
		<string>BOTH</string>
		<string>BREAK</string>
		<string>BROADCAST</string>
		<string>BTITLE</string>
		<string>BUFFER_POOL</string>
		<string>BUILD</string>
		<string>BULK</string>
		<string>BY</string>
		<string>CACHE</string>
		<string>CACHE_INSTANCES</string>
		<string>CALL</string>
		<string>CANCEL</string>
		<string>CASCADE</string>
		<string>CASE</string>
		<string>CATEGORY</string>
		<string>CHAINED</string>
		<string>CHANGE</string>
		<string>CHECK</string>
		<string>CHECKPOINT</string>
		<string>CHILD</string>
		<string>CHOOSE</string>
		<string>CHUNK</string>
		<string>CLASS</string>
		<string>CLEAR</string>
		<string>CLONE</string>
		<string>CLOSE</string>
		<string>CLOSE_CACHED_OPEN_CURSORS</string>
		<string>CLUSTER</string>
		<string>COALESCE</string>
		<string>COLLATE</string>
		<string>COLUMN</string>
		<string>COLUMNS</string>
		<string>COLUMN_VALUE</string>
		<string>COMMENT</string>
		<string>COMMIT</string>
		<string>COMMITTED</string>
		<string>COMPATIBILITY</string>
		<string>COMPILE</string>
		<string>COMPLETE</string>
		<string>COMPOSITE_LIMIT</string>
		<string>COMPRESS</string>
		<string>COMPUTE</string>
		<string>CONNECT</string>
		<string>CONNECT_TIME</string>
		<string>CONSIDER</string>
		<string>CONSISTENT</string>
		<string>CONSTANT</string>
		<string>CONSTRAINT</string>
		<string>CONSTRAINTS</string>
		<string>CONTAINER</string>
		<string>CONTENTS</string>
		<string>CONTEXT</string>
		<string>CONTINUE</string>
		<string>CONTROLFILE</string>
		<string>COPY</string>
		<string>COST</string>
		<string>CPU_PER_CALL</string>
		<string>CPU_PER_SESSION</string>
		<string>CREATE</string>
		<string>CREATE_STORED_OUTLINES</string>
		<string>CROSS</string>
		<string>CUBE</string>
		<string>CURRENT</string>
		<string>CURSOR</string>
		<string>CYCLE</string>
		<string>DANGLING</string>
		<string>DATA</string>
		<string>DATABASE</string>
		<string>DATAFILE</string>
		<string>DATAFILES</string>
		<string>DAY</string>
		<string>DBA</string>
		<string>DDL</string>
		<string>DEALLOCATE</string>
		<string>DEBUG</string>
		<string>DECLARE</string>
		<string>DEFAULT</string>
		<string>DEFERRABLE</string>
		<string>DEFERRED</string>
		<string>DEFINER</string>
		<string>DEGREE</string>
		<string>DELETE</string>
		<string>DEMAND</string>
		<string>DESC</string>
		<string>DETERMINES</string>
		<string>DICTIONARY</string>
		<string>DIMENSION</string>
		<string>DIRECTORY</string>
		<string>DISABLE</string>
		<string>DISASSOCIATE</string>
		<string>DISCONNECT</string>
		<string>DISMOUNT</string>
		<string>DISTINCT</string>
		<string>DISTRIBUTED</string>
		<string>DROP</string>
		<string>DYNAMIC</string>
		<string>EACH</string>
		<string>ELSE</string>
		<string>ENABLE</string>
		<string>END</string>
		<string>ENFORCE</string>
		<string>ENTRY</string>
		<string>ESCAPE</string>
		<string>ESTIMATE</string>
		<string>EVENTS</string>
		<string>EXCEPT</string>
		<string>EXCEPTION</string>
		<string>EXCEPTIONS</string>
		<string>EXCHANGE</string>
		<string>EXCLUDING</string>
		<string>EXCLUSIVE</string>
		<string>EXEC</string>
		<string>EXECUTE</string>
		<string>EXISTS</string>
		<string>EXPIRE</string>
		<string>EXPLAIN</string>
		<string>EXPLOSION</string>
		<string>EXTENDS</string>
		<string>EXTENT</string>
		<string>EXTENTS</string>
		<string>EXTERNALLY</string>
		<string>FAILED_LOGIN_ATTEMPTS</string>
		<string>FALSE</string>
		<string>FAST</string>
		<string>FILE</string>
		<string>FILTER</string>
		<string>FIRST_ROWS</string>
		<string>FLAGGER</string>
		<string>FLUSH</string>
		<string>FOLLOWING</string>
		<string>FOR</string>
		<string>FORCE</string>
		<string>FOREIGN</string>
		<string>FREELIST</string>
		<string>FREELISTS</string>
		<string>FRESH</string>
		<string>FROM</string>
		<string>FULL</string>
		<string>FUNCTION</string>
		<string>FUNCTIONS</string>
		<string>GENERATED</string>
		<string>GLOBAL</string>
		<string>GLOBALLY</string>
		<string>GLOBAL_NAME</string>
		<string>GRANT</string>
		<string>GROUP</string>
		<string>GROUPS</string>
		<string>HASH</string>
		<string>HASHKEYS</string>
		<string>HAVING</string>
		<string>HEADER</string>
		<string>HEAP</string>
		<string>HIERARCHY</string>
		<string>HOUR</string>
		<string>ID</string>
		<string>IDENTIFIED</string>
		<string>IDENTIFIER</string>
		<string>IDGENERATORS</string>
		<string>IDLE_TIME</string>
		<string>IF</string>
		<string>IMMEDIATE</string>
		<string>IN</string>
		<string>INCLUDING</string>
		<string>INCREMENT</string>
		<string>INCREMENTAL</string>
		<string>INDEX</string>
		<string>INDEXED</string>
		<string>INDEXES</string>
		<string>INDEXTYPE</string>
		<string>INDEXTYPES</string>
		<string>INDICATOR</string>
		<string>INITIAL</string>
		<string>INITIALIZED</string>
		<string>INITIALLY</string>
		<string>INITRANS</string>
		<string>INNER</string>
		<string>INSERT</string>
		<string>INSTANCE</string>
		<string>INSTANCES</string>
		<string>INSTEAD</string>
		<string>INTERMEDIATE</string>
		<string>INTERSECT</string>
		<string>INTERVAL</string>
		<string>INTO</string>
		<string>INVALIDATE</string>
		<string>IS</string>
		<string>ISOLATION</string>
		<string>ISOLATION_LEVEL</string>
		<string>JAVA</string>
		<string>JOIN</string>
		<string>KEEP</string>
		<string>KEY</string>
		<string>KILL</string>
		<string>LABEL</string>
		<string>LAYER</string>
		<string>LEADING</string>
		<string>LEFT</string>
		<string>LESS</string>
		<string>LEVEL</string>
		<string>LIBRARY</string>
		<string>LIKE</string>
		<string>LIMIT</string>
		<string>LINK</string>
		<string>LIST</string>
		<string>LOCAL</string>
		<string>LOCATOR</string>
		<string>LOCK</string>
		<string>LOCKED</string>
		<string>LOGFILE</string>
		<string>LOGGING</string>
		<string>LOGICAL_READS_PER_CALL</string>
		<string>LOGICAL_READS_PER_SESSION</string>
		<string>LOGOFF</string>
		<string>LOGON</string>
		<string>MANAGE</string>
		<string>MANAGED</string>
		<string>MANAGEMENT</string>
		<string>MASTER</string>
		<string>MATERIALIZED</string>
		<string>MAXARCHLOGS</string>
		<string>MAXDATAFILES</string>
		<string>MAXEXTENTS</string>
		<string>MAXINSTANCES</string>
		<string>MAXLOGFILES</string>
		<string>MAXLOGHISTORY</string>
		<string>MAXLOGMEMBERS</string>
		<string>MAXSIZE</string>
		<string>MAXTRANS</string>
		<string>MAXVALUE</string>
		<string>METHOD</string>
		<string>MEMBER</string>
		<string>MERGE</string>
		<string>MINIMIZE</string>
		<string>MINIMUM</string>
		<string>MINEXTENTS</string>
		<string>MINUS</string>
		<string>MINUTE</string>
		<string>MINVALUE</string>
		<string>MODE</string>
		<string>MODIFY</string>
		<string>MONITORING</string>
		<string>MONTH</string>
		<string>MOUNT</string>
		<string>MOVE</string>
		<string>MOVEMENT</string>
		<string>MTS_DISPATCHERS</string>
		<string>MULTISET</string>
		<string>NAMED</string>
		<string>NATURAL</string>
		<string>NEEDED</string>
		<string>NESTED</string>
		<string>NESTED_TABLE_ID</string>
		<string>NETWORK</string>
		<string>NEVER</string>
		<string>NEW</string>
		<string>NEXT</string>
		<string>NLS_CALENDAR</string>
		<string>NLS_CHARACTERSET</string>
		<string>NLS_COMP</string>
		<string>NLS_CURRENCY</string>
		<string>NLS_DATE_FORMAT</string>
		<string>NLS_DATE_LANGUAGE</string>
		<string>NLS_ISO_CURRENCY</string>
		<string>NLS_LANG</string>
		<string>NLS_LANGUAGE</string>
		<string>NLS_NUMERIC_CHARACTERS</string>
		<string>NLS_SORT</string>
		<string>NLS_SPECIAL_CHARS</string>
		<string>NLS_TERRITORY</string>
		<string>NO</string>
		<string>NOARCHIVELOG</string>
		<string>NOAUDIT</string>
		<string>NOCACHE</string>
		<string>NOCOMPRESS</string>
		<string>NOCYCLE</string>
		<string>NOFORCE</string>
		<string>NOLOGGING</string>
		<string>NOMAXVALUE</string>
		<string>NOMINIMIZE</string>
		<string>NOMINVALUE</string>
		<string>NOMONITORING</string>
		<string>NONE</string>
		<string>NOORDER</string>
		<string>NOOVERRIDE</string>
		<string>NOPARALLEL</string>
		<string>NORELY</string>
		<string>NORESETLOGS</string>
		<string>NOREVERSE</string>
		<string>NORMAL</string>
		<string>NOSEGMENT</string>
		<string>NOSORT</string>
		<string>NOT</string>
		<string>NOTHING</string>
		<string>NOVALIDATE</string>
		<string>NOWAIT</string>
		<string>NULL</string>
		<string>NULLS</string>
		<string>OBJNO</string>
		<string>OBJNO_REUSE</string>
		<string>OF</string>
		<string>OFF</string>
		<string>OFFLINE</string>
		<string>OID</string>
		<string>OIDINDEX</string>
		<string>OLD</string>
		<string>ON</string>
		<string>ONLINE</string>
		<string>ONLY</string>
		<string>OPCODE</string>
		<string>OPEN</string>
		<string>OPERATOR</string>
		<string>OPTIMAL</string>
		<string>OPTIMIZER_GOAL</string>
		<string>OPTION</string>
		<string>OR</string>
		<string>ORDER</string>
		<string>ORGANIZATION</string>
		<string>OUT</string>
		<string>OUTER</string>
		<string>OUTLINE</string>
		<string>OVER</string>
		<string>OVERFLOW</string>
		<string>OVERLAPS</string>
		<string>OWN</string>
		<string>PACKAGE</string>
		<string>PACKAGES</string>
		<string>PARALLEL</string>
		<string>PARAMETERS</string>
		<string>PARENT</string>
		<string>PARTITION</string>
		<string>PARTITIONS</string>
		<string>PARTITION_HASH</string>
		<string>PARTITION_RANGE</string>
		<string>PASSWORD</string>
		<string>PASSWORD_GRACE_TIME</string>
		<string>PASSWORD_LIFE_TIME</string>
		<string>PASSWORD_LOCK_TIME</string>
		<string>PASSWORD_REUSE_MAX</string>
		<string>PASSWORD_REUSE_TIME</string>
		<string>PASSWORD_VERIFY_FUNCTION</string>
		<string>PCTFREE</string>
		<string>PCTINCREASE</string>
		<string>PCTTHRESHOLD</string>
		<string>PCTUSED</string>
		<string>PCTVERSION</string>
		<string>PERCENT</string>
		<string>PERMANENT</string>
		<string>PLAN</string>
		<string>PLSQL_DEBUG</string>
		<string>POST_TRANSACTION</string>
		<string>PREBUILT</string>
		<string>PRECEDING</string>
		<string>PREPARE</string>
		<string>PRESERVE</string>
		<string>PRIMARY</string>
		<string>PRIOR</string>
		<string>PRIVATE</string>
		<string>PRIVATE_SGA</string>
		<string>PRIVILEGE</string>
		<string>PRIVILEGES</string>
		<string>PROCEDURE</string>
		<string>PROFILE</string>
		<string>PUBLIC</string>
		<string>PURGE</string>
		<string>QUERY</string>
		<string>QUEUE</string>
		<string>QUOTA</string>
		<string>RANDOM</string>
		<string>RANGE</string>
		<string>RBA</string>
		<string>READ</string>
		<string>READS</string>
		<string>REBUILD</string>
		<string>RECORDS_PER_BLOCK</string>
		<string>RECOVER</string>
		<string>RECOVERABLE</string>
		<string>RECOVERY</string>
		<string>RECYCLE</string>
		<string>REDUCED</string>
		<string>REFERENCES</string>
		<string>REFERENCING</string>
		<string>REFRESH</string>
		<string>RELY</string>
		<string>RENAME</string>
		<string>RESET</string>
		<string>RESETLOGS</string>
		<string>RESIZE</string>
		<string>RESOLVE</string>
		<string>RESOLVER</string>
		<string>RESOURCE</string>
		<string>RESTRICT</string>
		<string>RESTRICTED</string>
		<string>RESUME</string>
		<string>RETURN</string>
		<string>RETURNING</string>
		<string>REUSE</string>
		<string>REVERSE</string>
		<string>REVOKE</string>
		<string>REWRITE</string>
		<string>RIGHT</string>
		<string>ROLE</string>
		<string>ROLES</string>
		<string>ROLLBACK</string>
		<string>ROLLUP</string>
		<string>ROW</string>
		<string>ROWNUM</string>
		<string>ROWS</string>
		<string>RULE</string>
		<string>SAMPLE</string>
		<string>SAVEPOINT</string>
		<string>SCAN</string>
		<string>SCAN_INSTANCES</string>
		<string>SCHEMA</string>
		<string>SCN</string>
		<string>SCOPE</string>
		<string>SD_ALL</string>
		<string>SD_INHIBIT</string>
		<string>SD_SHOW</string>
		<string>SECOND</string>
		<string>SEGMENT</string>
		<string>SEG_BLOCK</string>
		<string>SEG_FILE</string>
		<string>SELECT</string>
		<string>SELECTIVITY</string>
		<string>SEQUENCE</string>
		<string>SERIALIZABLE</string>
		<string>SERVERERROR</string>
		<string>SESSION</string>
		<string>SESSION_CACHED_CURSORS</string>
		<string>SESSIONS_PER_USER</string>
		<string>SET</string>
		<string>SHARE</string>
		<string>SHARED</string>
		<string>SHARED_POOL</string>
		<string>SHRINK</string>
		<string>SHUTDOWN</string>
		<string>SINGLETASK</string>
		<string>SIZE</string>
		<string>SKIP</string>
		<string>SKIP_UNUSABLE_INDEXES</string>
		<string>SNAPSHOT</string>
		<string>SOME</string>
		<string>SORT</string>
		<string>SOURCE</string>
		<string>SPECIFICATION</string>
		<string>SPLIT</string>
		<string>SQL_TRACE</string>
		<string>STANDBY</string>
		<string>START</string>
		<string>STARTUP</string>
		<string>STATEMENT_ID</string>
		<string>STATISTICS</string>
		<string>STATIC</string>
		<string>STOP</string>
		<string>STORAGE</string>
		<string>STORE</string>
		<string>STRUCTURE</string>
		<string>SUBPARTITION</string>
		<string>SUBPARTITIONS</string>
		<string>SUCCESSFUL</string>
		<string>SUMMARY</string>
		<string>SUSPEND</string>
		<string>SWITCH</string>
		<string>SYS_OP_BITVEC</string>
		<string>SYS_OP_ENFORCE_NOT_NULL$</string>
		<string>SYS_OP_NOEXPAND</string>
		<string>SYS_OP_NTCIMG$</string>
		<string>SYNONYM</string>
		<string>SYSDBA</string>
		<string>SYSOPER</string>
		<string>SYSTEM</string>
		<string>TABLE</string>
		<string>TABLES</string>
		<string>TABLESPACE</string>
		<string>TABLESPACE_NO</string>
		<string>TABNO</string>
		<string>TEMPFILE</string>
		<string>TEMPORARY</string>
		<string>THAN</string>
		<string>THE</string>
		<string>THEN</string>
		<string>THREAD</string>
		<string>THROUGH</string>
		<string>TIMEOUT</string>
		<string>TIMEZONE_HOUR</string>
		<string>TIMEZONE_MINUTE</string>
		<string>TIME_ZONE</string>
		<string>TO</string>
		<string>TOPLEVEL</string>
		<string>TRACE</string>
		<string>TRACING</string>
		<string>TRAILING</string>
		<string>TRANSACTION</string>
		<string>TRANSITIONAL</string>
		<string>TRIGGER</string>
		<string>TRIGGERS</string>
		<string>TRUE</string>
		<string>TRUNCATE</string>
		<string>TYPE</string>
		<string>TYPES</string>
		<string>UNARCHIVED</string>
		<string>UNBOUND</string>
		<string>UNBOUNDED</string>
		<string>UNDO</string>
		<string>UNIFORM</string>
		<string>UNION</string>
		<string>UNIQUE</string>
		<string>UNLIMITED</string>
		<string>UNLOCK</string>
		<string>UNRECOVERABLE</string>
		<string>UNTIL</string>
		<string>UNUSABLE</string>
		<string>UNUSED</string>
		<string>UPD_INDEXES</string>
		<string>UPDATABLE</string>
		<string>UPDATE</string>
		<string>UPPPER</string>
		<string>USAGE</string>
		<string>USE</string>
		<string>USE_STORED_OUTLINES</string>
		<string>USER_DEFINED</string>
		<string>USING</string>
		<string>VALIDATE</string>
		<string>VALIDATION</string>
		<string>VALUES</string>
		<string>VIEW</string>
		<string>WHEN</string>
		<string>WHENEVER</string>
		<string>WHERE</string>
		<string>WITH</string>
		<string>WITHOUT</string>
		<string>WORK</string>
		<string>WRITE</string>
		<string>YEAR</string>
		<string>ZONE</string>
		<string>ABS</string>
		<string>ACOS</string>
		<string>ADD_MONTHS</string>
		<string>ASCII</string>
		<string>ASCIISTR</string>
		<string>ASIN</string>
		<string>ATAN</string>
		<string>ATAN2</string>
		<string>AVG</string>
		<string>BFILENAME</string>
		<string>BIN_TO_NUM</string>
		<string>BITAND</string>
		<string>CAST</string>
		<string>CEIL</string>
		<string>CHARTOROWID</string>
		<string>CHR</string>
		<string>COALESCE</string>
		<string>COMPOSE</string>
		<string>CONCAT</string>
		<string>CONVERT</string>
		<string>CORR</string>
		<string>COS</string>
		<string>COSH</string>
		<string>COUNT</string>
		<string>COVAR_POP</string>
		<string>COVAR_SAMP</string>
		<string>CUME_DIST</string>
		<string>CURRENT_DATE</string>
		<string>CURRENT_TIMESTAMP</string>
		<string>DBTIMEZONE</string>
		<string>DECODE</string>
		<string>DECOMPOSE</string>
		<string>DENSE_RANK</string>
		<string>DEREF</string>
		<string>DUMP</string>
		<string>EMPTY_BLOB</string>
		<string>EMPTY_CLOB</string>
		<string>EXISTSNODE</string>
		<string>EXP</string>
		<string>EXTRACT</string>
		<string>FIRST</string>
		<string>FIRST_VALUE</string>
		<string>FLOOR</string>
		<string>FROM_TZ</string>
		<string>GREATEST</string>
		<string>GROUP_ID</string>
		<string>GROUPING</string>
		<string>GROUPING_ID</string>
		<string>HEXTORAW</string>
		<string>INITCAP</string>
		<string>INSTR</string>
		<string>INSTRB</string>
		<string>LAG</string>
		<string>LAST</string>
		<string>LAST_DAY</string>
		<string>LAST_VALUE</string>
		<string>LEAD</string>
		<string>LEAST</string>
		<string>LENGTH</string>
		<string>LENGTHB</string>
		<string>LN</string>
		<string>LOCALTIMESTAMP</string>
		<string>LOG</string>
		<string>LOWER</string>
		<string>LPAD</string>
		<string>LTRIM</string>
		<string>MAKE_REF</string>
		<string>MAX</string>
		<string>MIN</string>
		<string>MOD</string>
		<string>MONTHS_BETWEEN</string>
		<string>NCHR</string>
		<string>NEW_TIME</string>
		<string>NEXT_DAY</string>
		<string>NLS_CHARSET_DECL_LEN</string>
		<string>NLS_CHARSET_ID</string>
		<string>NLS_CHARSET_NAME</string>
		<string>NLS_INITCAP</string>
		<string>NLS_LOWER</string>
		<string>NLS_UPPER</string>
		<string>NLSSORT</string>
		<string>NTILE</string>
		<string>NULLIF</string>
		<string>NUMTODSINTERVAL</string>
		<string>NUMTOYMINTERVAL</string>
		<string>NVL</string>
		<string>NVL2</string>
		<string>PERCENT_RANK</string>
		<string>PERCENTILE_CONT</string>
		<string>PERCENTILE_DISC</string>
		<string>POWER</string>
		<string>RANK</string>
		<string>RATIO_TO_REPORT</string>
		<string>RAWTOHEX</string>
		<string>REF</string>
		<string>REFTOHEX</string>
		<string>REGR_SLOPE</string>
		<string>REGR_INTERCEPT</string>
		<string>REGR_COUNT</string>
		<string>REGR_R2</string>
		<string>REGR_AVGX</string>
		<string>REGR_AVGY</string>
		<string>REGR_SXX</string>
		<string>REGR_SYY</string>
		<string>REGR_SXY</string>
		<string>REPLACE</string>
		<string>ROUND</string>
		<string>ROW_NUMBER</string>
		<string>ROWIDTOCHAR</string>
		<string>ROWIDTONCHAR</string>
		<string>RPAD</string>
		<string>RTRIM</string>
		<string>SESSIONTIMEZONE</string>
		<string>SIGN</string>
		<string>SIN</string>
		<string>SINH</string>
		<string>SOUNDEX</string>
		<string>SUBSTR</string>
		<string>SQRT</string>
		<string>STDDEV</string>
		<string>STDDEV_POP</string>
		<string>STDDEV_SAMP</string>
		<string>SUBSTR</string>
		<string>SUBSTRB</string>
		<string>SUM</string>
		<string>SYS_CONNECT_BY_PATH</string>
		<string>SYS_CONTEXT</string>
		<string>SYS_DBURIGEN</string>
		<string>SYS_EXTRACT_UTC</string>
		<string>SYS_GUID</string>
		<string>SYS_TYPEID</string>
		<string>SYS_XMLAGG</string>
		<string>SYS_XMLGEN</string>
		<string>SYSDATE</string>
		<string>SYSTIMESTAMP</string>
		<string>TAN</string>
		<string>TANH</string>
		<string>TO_CHAR</string>
		<string>TO_CLOB</string>
		<string>TO_DATE</string>
		<string>TO_DSINTERVAL</string>
		<string>TO_LOB</string>
		<string>TO_MULTI_BYTE</string>
		<string>TO_NCHAR</string>
		<string>TO_NCLOB</string>
		<string>TO_NUMBER</string>
		<string>TO_SINGLE_BYTE</string>
		<string>TO_TIMESTAMP</string>
		<string>TO_TIMESTAMP_TZ</string>
		<string>TO_YMINTERVAL</string>
		<string>TRANSLATE</string>
		<string>TREAT</string>
		<string>TRIM</string>
		<string>TRUNC</string>
		<string>TZ_OFFSET</string>
		<string>UID</string>
		<string>UNISTR</string>
		<string>UPPER</string>
		<string>USER</string>
		<string>USERENV</string>
		<string>VALUE</string>
		<string>VAR_POP</string>
		<string>VAR_SAMP</string>
		<string>VARIANCE</string>
		<string>VSIZE</string>
		<string>WIDTH_BUCKET</string>
		<string>ANYDATA</string>
		<string>ANYDATASET</string>
		<string>ANYTYPE</string>
		<string>ARRAY</string>
		<string>BFILE</string>
		<string>BINARY_INTEGER</string>
		<string>BLOB</string>
		<string>BOOLEAN</string>
		<string>CFILE</string>
		<string>CHAR</string>
		<string>CHARACTER</string>
		<string>CLOB</string>
		<string>DATE</string>
		<string>DBURITYPE</string>
		<string>DEC</string>
		<string>DECIMAL</string>
		<string>DOUBLE</string>
		<string>FLOAT</string>
		<string>FLOB</string>
		<string>HTTPURITYPE</string>
		<string>INT</string>
		<string>INTEGER</string>
		<string>LOB</string>
		<string>LONG</string>
		<string>MLSLABEL</string>
		<string>NATIONAL</string>
		<string>NCHAR</string>
		<string>NCLOB</string>
		<string>NUMBER</string>
		<string>NUMERIC</string>
		<string>NVARCHAR</string>
		<string>NVARCHAR2</string>
		<string>OBJECT</string>
		<string>PLS_INTEGER</string>
		<string>PRECISION</string>
		<string>RAW</string>
		<string>RECORD</string>
		<string>REAL</string>
		<string>ROWID</string>
		<string>SINGLE</string>
		<string>SMALLINT</string>
		<string>TIMESTAMP</string>
		<string>TIME</string>
		<string>URIFACTORYTYPE</string>
		<string>URITYPE</string>
		<string>UROWID</string>
		<string>VARCHAR</string>
		<string>VARCHAR2</string>
		<string>VARYING</string>
		<string>VARRAY</string>
		<string>XMLTYPE</string>
	</array>
	<key>autocompleteWords</key>
	<array>
	</array>
</dict>
</plist>