<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginCommand</key>
	<string></string>
	<key>endCommand</key>
	<string></string>
	<key>beginInstruction</key> <!-- Here used for SC function argument list -->
	<string>|</string>
	<key>endInstruction</key>
	<string>|</string>
	<key>beginVariable</key>
	<string></string>
	<key>endVariable</key>
	<string></string>
	<key>firstString</key>
	<string>"</string>
	<key>secondString</key>
	<string>'</string>
	<key>firstSingleLineComment</key>
	<string>//</string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string>/*</string>
	<key>endFirstMultiLineComment</key>
	<string>*/</string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>functionDefinition</key>
	<string>^\s*.*\(.*\)\n?\s*\{</string>
	<key>removeFromFunction</key>
	<string></string>
	<key>keywordsCaseSensitive</key>
	<true/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>keywords</key>
	<array>
		<string>and</string>
		<string>ar</string>
		<string>arg</string>
		<string>case</string>
		<string>classvar</string>
		<string>collect</string>
		<string>do</string>
		<string>dup</string>
		<string>false</string>
		<string>if</string>
		<string>inf</string>
		<string>kr</string>
		<string>new</string>
		<string>nil</string>
		<string>or</string>
		<string>protect</string>
		<string>switch</string>
		<string>this</string>
		<string>true</string>
		<string>super</string>
		<string>try</string>
		<string>var</string>
		<string>while</string>
	</array>
	<key>autocompleteWords</key>
	<array>
	</array>
</dict>
</plist>