<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autocompleteWords</key>
	<array/>
	<key>beginCommand</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string>/*</string>
	<key>beginInstruction</key>
	<string></string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>beginVariable</key>
	<string>$%</string>
	<key>endCommand</key>
	<string></string>
	<key>endFirstMultiLineComment</key>
	<string>*/</string>
	<key>endInstruction</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>endVariable</key>
	<string> ./*+-()=;</string>
	<key>firstSingleLineComment</key>
	<string>//</string>
	<key>firstString</key>
	<string>"</string>
	<key>functionDefinition</key>
	<string>^\s*\w*function\s+.*</string>
	<key>keywords</key>
	<array>
		<string>break</string>
		<string>case</string>
		<string>continue</string>
		<string>datablock</string>
		<string>default</string>
		<string>else</string>
		<string>function</string>
		<string>if</string>
		<string>for</string>
		<string>new</string>
		<string>or</string>
		<string>package</string>
		<string>return</string>
		<string>switch</string>
		<string>switch$</string>
		<string>while</string>
		<string>yes</string>
		<string>no</string>
		<string>on</string>
		<string>off</string>
		<string>true</string>
		<string>false</string>
	</array>
	<key>keywordsCaseSensitive</key>
	<false/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>removeFromFunction</key>
	<string>function</string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>secondString</key>
	<string>'</string>
</dict>
</plist>
