<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autocompleteWords</key>
	<array/>
	<key>beginCommand</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string>!begin_comment</string>
	<key>beginInstruction</key>
	<string></string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>beginVariable</key>
	<string></string>
	<key>endCommand</key>
	<string></string>
	<key>endFirstMultiLineComment</key>
	<string>!end_comment</string>
	<key>endInstruction</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>endVariable</key>
	<string></string>
	<key>firstSingleLineComment</key>
	<string>#</string>
	<key>firstString</key>
	<string></string>
	<key>functionDefinition</key>
	<string>^[ \t]*!(begin_p?node|p?(sub)*node|ps*|s+n)\*?.*$</string>
	<key>includeInKeywordEndCharacterSet</key>
	<string>!-.*~"')</string>
	<key>includeInKeywordStartCharacterSet</key>
	<string>(!-~</string>
	<key>keywords</key>
	<array>
		<string>!!</string>
		<string>!-</string>
		<string>!..</string>
		<string>!a</string>
		<string>!alias</string>
		<string>!autoref</string>
		<string>!autoref_items</string>
		<string>!bbl</string>
		<string>!bc</string>
		<string>!bd</string>
		<string>!be</string>
		<string>!begin_appendix</string>
		<string>!begin_blist</string>
		<string>!begin_center</string>
		<string>!begin_comment</string>
		<string>!begin_description</string>
		<string>!begin_document</string>
		<string>!begin_enumerate</string>
		<string>!begin_ignore</string>
		<string>!begin_ilist</string>
		<string>!begin_itemize</string>
		<string>!begin_linedraw</string>
		<string>!begin_node</string>
		<string>!begin_node*</string>
		<string>!begin_pnode</string>
		<string>!begin_pnode*</string>
		<string>!begin_preformatted</string>
		<string>!begin_quote</string>
		<string>!begin_raw</string>
		<string>!begin_sourcecode</string>
		<string>!begin_table</string>
		<string>!begin_tlist</string>
		<string>!begin_verbatim</string>
		<string>!begin_xlist</string>
		<string>!begin_flushleft</string>
		<string>!begin_flushright</string>
		<string>!bfr</string>
		<string>!bi</string>
		<string>!bigskip</string>
		<string>!bil</string>
		<string>!bn</string>
		<string>!bn*</string>
		<string>!bp</string>
		<string>!bp*</string>
		<string>!bq</string>
		<string>!break</string>
		<string>!btl</string>
		<string>!bxl</string>
		<string>!bfl</string>
		<string>!chaptericon</string>
		<string>!chaptericon_active</string>
		<string>!chaptericon_text</string>
		<string>!chapterimage</string>
		<string>!cinclude</string>
		<string>!code</string>
		<string>!comment</string>
		<string>!depth</string>
		<string>!define</string>
		<string>!docinfo</string>
		<string>!doclayout</string>
		<string>!drc_bcolor</string>
		<string>!drc_icolor</string>
		<string>!drc_ucolor</string>
		<string>!drc_flags</string>
		<string>!ebl</string>
		<string>!ec</string>
		<string>!ed</string>
		<string>!ee</string>
		<string>!efr</string>
		<string>!ei</string>
		<string>!eil</string>
		<string>!else</string>
		<string>!en</string>
		<string>!endif</string>
		<string>!endnode</string>
		<string>!end_appendix</string>
		<string>!end_blist</string>
		<string>!end_center</string>
		<string>!end_comment</string>
		<string>!end_description</string>
		<string>!end_document</string>
		<string>!end_enumerate</string>
		<string>!end_ignore</string>
		<string>!end_ilist</string>
		<string>!end_itemize</string>
		<string>!end_linedraw</string>
		<string>!end_node</string>
		<string>!end_preformatted</string>
		<string>!end_quote</string>
		<string>!end_raw</string>
		<string>!end_sourcecode</string>
		<string>!end_table</string>
		<string>!end_tlist</string>
		<string>!end_verbatim</string>
		<string>!end_xlist</string>
		<string>!end_flushleft</string>
		<string>!end_flushright</string>
		<string>!eq</string>
		<string>!error</string>
		<string>!etl</string>
		<string>!exl</string>
		<string>!efl</string>
		<string>!fussy</string>
		<string>!h</string>
		<string>!heading</string>
		<string>!hh_alinkcolor</string>
		<string>!hh_backcolor</string>
		<string>!hh_backimage</string>
		<string>!hh_img_suffix</string>
		<string>!hh_linkcolor</string>
		<string>!hh_textcolor</string>
		<string>!hh_verbatim_backcolor</string>
		<string>!hh_vlinkcolor</string>
		<string>!hline</string>
		<string>!htag_img_suffix</string>
		<string>!html_alinkcolor</string>
		<string>!html_backcolor</string>
		<string>!html_backimage</string>
		<string>!html_backpage</string>
		<string>!html_button_alignment</string>
		<string>!html_counter_command</string>
		<string>!html_description</string>
		<string>!html_doctype</string>
		<string>!html_favicon_name</string>
		<string>!html_frames_alignment</string>
		<string>!html_frames_alinkcolor</string>
		<string>!html_frames_backcolor</string>
		<string>!html_frames_backimage</string>
		<string>!html_frames_con_title</string>
		<string>!html_frames_height</string>
		<string>!html_frames_layout</string>
		<string>!html_frames_linkcolor</string>
		<string>!html_frames_position</string>
		<string>!html_frames_textcolor</string>
		<string>!html_frames_toc_title</string>
		<string>!html_frames_vlinkcolor</string>
		<string>!html_frames_width</string>
		<string>!html_header_date</string>
		<string>!html_header_links</string>
		<string>!html_ignore_8bit</string>
		<string>!html_img_suffix</string>
		<string>!html_javascript</string>
		<string>!html_keywords</string>
		<string>!html_linkcolor</string>
		<string>!html_merge_nodes</string>
		<string>!html_merge_subnodes</string>
		<string>!html_merge_subsubnodes</string>
		<string>!html_merge_subsubsubnodes</string>
		<string>!html_modern_alignment</string>
		<string>!html_modern_backcolor</string>
		<string>!html_modern_backimage</string>
		<string>!html_modern_layout</string>
		<string>!html_modern_width</string>
		<string>!html_monofont_name</string>
		<string>!html_monofont_size</string>
		<string>!html_name</string>
		<string>!html_name_prefix</string>
		<string>!html_navigation</string>
		<string>!html_nodesize</string>
		<string>!html_no_xlist</string>
		<string>!html_propfont_name</string>
		<string>!html_propfont_size</string>
		<string>!html_robots</string>
		<string>!html_script_name</string>
		<string>!html_style_name</string>
		<string>!html_switch_language</string>
		<string>!html_textcolor</string>
		<string>!html_transparent_buttons</string>
		<string>!html_use_hyphenation</string>
		<string>!html_verbatim_backcolor</string>
		<string>!html_vlinkcolor</string>
		<string>!hyphen</string>
		<string>!i</string>
		<string>!if</string>
		<string>!ifdest</string>
		<string>!ifndest</string>
		<string>!ifnlang</string>
		<string>!ifnos</string>
		<string>!ifnset</string>
		<string>!ifos</string>
		<string>!ifset</string>
		<string>!ignore_bottomline</string>
		<string>!ignore_headline</string>
		<string>!ignore_index</string>
		<string>!ignore_links</string>
		<string>!ignore_raw_footer</string>
		<string>!ignore_raw_header</string>
		<string>!ignore_subsubsubtoc</string>
		<string>!ignore_subsubtoc</string>
		<string>!ignore_subtoc</string>
		<string>!ignore_title</string>
		<string>!image</string>
		<string>!image*</string>
		<string>!image_alignment</string>
		<string>!image_counter</string>
		<string>!include</string>
		<string>!index</string>
		<string>!input</string>
		<string>!item</string>
		<string>!iflang</string>
		<string>!l</string>
		<string>!label</string>
		<string>!language</string>
		<string>!ldinclude</string>
		<string>!lh</string>
		<string>!linedrawsize</string>
		<string>!listheading</string>
		<string>!listoftables</string>
		<string>!listoffigures</string>
		<string>!listsubheading</string>
		<string>!listsubsubheading</string>
		<string>!listsubsubsubheading</string>
		<string>!lsh</string>
		<string>!lssh</string>
		<string>!lsssh</string>
		<string>!macro</string>
		<string>!maketitle</string>
		<string>!man_lpp</string>
		<string>!man_type</string>
		<string>!mapping</string>
		<string>!medskip</string>
		<string>!n</string>
		<string>!n*</string>
		<string>!newpage</string>
		<string>!node</string>
		<string>!node*</string>
		<string>!nop</string>
		<string>!no_8bit</string>
		<string>!no_bottomlines</string>
		<string>!no_buttons</string>
		<string>!no_effects</string>
		<string>!no_footers</string>
		<string>!no_headlines</string>
		<string>!no_icons</string>
		<string>!no_images</string>
		<string>!no_img_size</string>
		<string>!no_index</string>
		<string>!no_links</string>
		<string>!no_numbers</string>
		<string>!no_popup_headlines</string>
		<string>!no_preamble</string>
		<string>!no_quotes</string>
		<string>!no_sourcecode</string>
		<string>!no_table_lines</string>
		<string>!no_titles</string>
		<string>!no_umlaute</string>
		<string>!no_urls</string>
		<string>!no_verbatim_umlaute</string>
		<string>!no_xlinks</string>
		<string>!nroff_type</string>
		<string>!p</string>
		<string>!p*</string>
		<string>!parwidth</string>
		<string>!pdf_high_compression</string>
		<string>!pdf_medium_compression</string>
		<string>!pinclude</string>
		<string>!pnode</string>
		<string>!pnode*</string>
		<string>!ps</string>
		<string>!ps*</string>
		<string>!pss</string>
		<string>!pss*</string>
		<string>!psss</string>
		<string>!psss*</string>
		<string>!psubnode</string>
		<string>!psubnode*</string>
		<string>!psubsubnode</string>
		<string>!psubsubnode*</string>
		<string>!psubsubsubnode</string>
		<string>!psubsubsubnode*</string>
		<string>!raw</string>
		<string>!rinclude</string>
		<string>!rtf_add_colour</string>
		<string>!rtf_charwidth</string>
		<string>!rtf_keep_tables</string>
		<string>!rtf_monofont</string>
		<string>!rtf_monofont_size</string>
		<string>!rtf_no_tables</string>
		<string>!rtf_propfont</string>
		<string>!rtf_propfont_size</string>
		<string>!set</string>
		<string>!sh</string>
		<string>!short</string>
		<string>!sinclude</string>
		<string>!sloppy</string>
		<string>!smallskip</string>
		<string>!sn</string>
		<string>!sn*</string>
		<string>!sort_hyphen_file</string>
		<string>!ssh</string>
		<string>!ssn</string>
		<string>!ssn*</string>
		<string>!sssh</string>
		<string>!sssn</string>
		<string>!sssn*</string>
		<string>!stg_short_title</string>
		<string>!subheading</string>
		<string>!subnode</string>
		<string>!subnode*</string>
		<string>!subsubheading</string>
		<string>!subsubnode</string>
		<string>!subsubnode*</string>
		<string>!subsubsubheading</string>
		<string>!subsubsubnode</string>
		<string>!subsubsubnode*</string>
		<string>!subsubsubtoc</string>
		<string>!subsubsubtoc_offset</string>
		<string>!subsubtoc</string>
		<string>!subsubtoc_offset</string>
		<string>!subtoc</string>
		<string>!subtoc_offset</string>
		<string>!tableofcontents</string>
		<string>!table_alignment</string>
		<string>!table_caption</string>
		<string>!table_caption*</string>
		<string>!table_counter</string>
		<string>!tabwidth</string>
		<string>!tex_209</string>
		<string>!tex_2e</string>
		<string>!tex_dpi</string>
		<string>!tex_emtex</string>
		<string>!tex_lindner</string>
		<string>!tex_miktex</string>
		<string>!tex_strunk</string>
		<string>!tex_tetex</string>
		<string>!tex_verb</string>
		<string>!toc</string>
		<string>!toc_offset</string>
		<string>!toplink</string>
		<string>!udolink</string>
		<string>!universal_charset</string>
		<string>!unset</string>
		<string>!use_about_udo</string>
		<string>!use_alias_inside_index</string>
		<string>!use_ansi_tables</string>
		<string>!use_auto_helpids</string>
		<string>!use_auto_subsubsubtocs</string>
		<string>!use_auto_subsubtocs</string>
		<string>!use_auto_subtocs</string>
		<string>!use_auto_toptocs</string>
		<string>!use_chapter_images</string>
		<string>!use_comments</string>
		<string>!use_formfeed</string>
		<string>!use_justification</string>
		<string>!use_label_inside_index</string>
		<string>!use_mirrored_indices</string>
		<string>!use_nodes_inside_index</string>
		<string>!use_output_buffer</string>
		<string>!use_raw_footer</string>
		<string>!use_raw_header</string>
		<string>!use_short_envs</string>
		<string>!use_short_tocs</string>
		<string>!use_style_book</string>
		<string>!use_udo_index</string>
		<string>!verbatimsize</string>
		<string>!vinclude</string>
		<string>!wh4_backcolor</string>
		<string>!wh4_background</string>
		<string>!wh4_charwidth</string>
		<string>!wh4_helpid</string>
		<string>!wh4_high_compression</string>
		<string>!wh4_inline_bitmaps</string>
		<string>!wh4_linkcolor</string>
		<string>!wh4_medium_compression</string>
		<string>!wh4_monofont</string>
		<string>!wh4_monofont_size</string>
		<string>!wh4_old_keywords</string>
		<string>!wh4_prefix_helpids</string>
		<string>!wh4_propfont</string>
		<string>!wh4_propfont_size</string>
		<string>!wh4_textcolor</string>
		<string>!win_backcolor</string>
		<string>!win_charwidth</string>
		<string>!win_helpid</string>
		<string>!win_high_compression</string>
		<string>!win_inline_bitmaps</string>
		<string>!win_linkcolor</string>
		<string>!win_medium_compression</string>
		<string>!win_monofont</string>
		<string>!win_monofont_size</string>
		<string>!win_old_keywords</string>
		<string>!win_prefix_helpids</string>
		<string>!win_propfont</string>
		<string>!win_propfont_size</string>
		<string>!win_textcolor</string>
		<string>!x</string>
		<string>!/-</string>
		<string>!~</string>
		<string>""</string>
		<string>''</string>
		<string>(!alpha)</string>
		<string>(!aqua)</string>
		<string>(!b)</string>
		<string>(!B)</string>
		<string>(!beta)</string>
		<string>(!black)</string>
		<string>(!blue)</string>
		<string>(!coloff)</string>
		<string>(!comment)</string>
		<string>(!copyright)</string>
		<string>(!deg)</string>
		<string>(!del)</string>
		<string>(!DEL)</string>
		<string>(!euro)</string>
		<string>(!fuchsia)</string>
		<string>(!gray)</string>
		<string>(!green)</string>
		<string>(!grin)</string>
		<string>(!i)</string>
		<string>(!I)</string>
		<string>(!idx)</string>
		<string>(!ilink)</string>
		<string>(!img)</string>
		<string>(!index)</string>
		<string>(!ins)</string>
		<string>(!INS)</string>
		<string>(!label)</string>
		<string>(!LaTeX)</string>
		<string>(!LaTeXe)</string>
		<string>(!laugh)</string>
		<string>(!lime)</string>
		<string>(!link)</string>
		<string>(!maroon)</string>
		<string>(!n)</string>
		<string>(!N)</string>
		<string>(!navy)</string>
		<string>(!nl)</string>
		<string>(!nolink)</string>
		<string>(!olive)</string>
		<string>(!plink)</string>
		<string>(!pound)</string>
		<string>(!purple)</string>
		<string>(!raw)</string>
		<string>(!red)</string>
		<string>(!reg)</string>
		<string>(!short_today)</string>
		<string>(!silver)</string>
		<string>(!T)</string>
		<string>(!t)</string>
		<string>(!teal)</string>
		<string>(!TeX)</string>
		<string>(!tm)</string>
		<string>(!today)</string>
		<string>(!u)</string>
		<string>(!U)</string>
		<string>(!url)</string>
		<string>(!V)</string>
		<string>(!v)</string>
		<string>(!white)</string>
		<string>(!xlink)</string>
		<string>(!yellow)</string>
		<string>("")</string>
		<string>('')</string>
		<string>(--)</string>
		<string>(---)</string>
		<string>--</string>
		<string>---</string>
		<string>~</string>
	</array>
	<key>keywordsCaseSensitive</key>
	<true/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>removeFromFunction</key>
	<string></string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>secondString</key>
	<string></string>
</dict>
</plist>
