<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginCommand</key>
	<string></string>
	<key>endCommand</key>
	<string></string>
	<key>beginInstruction</key>
	<string></string>
	<key>endInstruction</key>
	<string></string>
	<key>beginVariable</key>
	<string></string>
	<key>endVariable</key>
	<string></string>
	<key>firstString</key>
	<string>"</string>
	<key>secondString</key>
	<string></string>
	<key>firstSingleLineComment</key>
	<string>'</string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string></string>
	<key>endFirstMultiLineComment</key>
	<string></string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>functionDefinition</key>
	<string>^\s*\w*(function|sub)\s+.*</string>
	<key>removeFromFunction</key>
	<string>function</string>
	<key>keywordsCaseSensitive</key>
	<false/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>keywords</key>
	<array>
		<string>if</string>
		<string>then</string>
		<string>else</string>
		<string>elseif</string>
		<string>select</string>
		<string>case</string>
		<string>for</string>
		<string>to</string>
		<string>step</string>
		<string>next</string>
		<string>each</string>
		<string>in</string>
		<string>do</string>
		<string>while</string>
		<string>until</string>
		<string>loop</string>
		<string>wend</string>
		<string>exit</string>
		<string>end</string>
		<string>function</string>
		<string>sub</string>
		<string>class</string>
		<string>property</string>
		<string>get</string>
		<string>let</string>
		<string>set</string>
		<string>byval</string>
		<string>byref</string>
		<string>const</string>
		<string>dim</string>
		<string>redim</string>
		<string>preserve</string>
		<string>as</string>
		<string>set</string>
		<string>with</string>
		<string>new</string>
		<string>public</string>
		<string>default</string>
		<string>private</string>
		<string>rem</string>
		<string>call</string>
		<string>execute</string>
		<string>eval</string>
		<string>on</string>
		<string>error</string>
		<string>goto</string>
		<string>resume</string>
		<string>option</string>
		<string>explicit</string>
		<string>erase</string>
		<string>randomize</string>
		<string>is</string>
		<string>mod</string>
		<string>and</string>
		<string>or</string>
		<string>not</string>
		<string>xor</string>
		<string>imp</string>
		<string>false</string>
		<string>true</string>
		<string>empty</string>
		<string>nothing</string>
		<string>null</string>
	</array>
	<key>autocompleteWords</key>
	<array>
	</array>
</dict>
</plist>
