<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginCommand</key>
	<string></string>
	<key>endCommand</key>
	<string></string>
	<key>beginInstruction</key>
	<string></string>
	<key>endInstruction</key>
	<string></string>
	<key>beginVariable</key>
	<string></string>
	<key>endVariable</key>
	<string></string>
	<key>firstString</key>
	<string>"</string>
	<key>secondString</key>
	<string></string>
	<key>firstSingleLineComment</key>
	<string>//</string>	
	<key>secondSingleLineComment</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string>/*</string>
	<key>endFirstMultiLineComment</key>
	<string>*/</string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>functionDefinition</key>
	<string>^\s*.*\(.*\)\n?\s*\{</string>
	<key>removeFromFunction</key>
	<string></string>
	<key>keywordsCaseSensitive</key>
	<false/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>keywords</key>
	<array>
		<string>and</string>
		<string>always</string>
		<string>assign</string>
		<string>attribute</string>
		<string>begin</string>
		<string>buf</string>
		<string>bufif0</string>
		<string>bufif1</string>
		<string>case</string>
		<string>cmos</string>
		<string>deassign</string>
		<string>default</string>
		<string>defparam</string>
		<string>disable</string>
		<string>else</string>
		<string>endattribute</string>
		<string>end</string>
		<string>endcase</string>
		<string>endfunction</string>
		<string>endprimitive</string>
		<string>endmodule</string>
		<string>endtable</string>
		<string>endtask</string>
		<string>event</string>
		<string>for</string>
		<string>force</string>
		<string>forever</string>
		<string>fork</string>
		<string>function</string>
		<string>highz0</string>
		<string>highz1</string>
		<string>if</string>
		<string>`include</string>
		<string>initial</string>
		<string>inout</string>
		<string>input</string>
		<string>integer</string>
		<string>join</string>
		<string>large</string>
		<string>medium</string>
		<string>module</string>
		<string>nand</string>
		<string>negedge</string>
		<string>nor</string>
		<string>not</string>
		<string>notif0</string>
		<string>notif1</string>
		<string>nmos</string>
		<string>or</string>
		<string>output</string>
		<string>parameter</string>
		<string>pmos</string>
		<string>posedge</string>
		<string>primitive</string>
		<string>pulldown</string>
		<string>pullup</string>
		<string>pull0</string>
		<string>pull1</string>
		<string>rcmos</string>
		<string>reg</string>
		<string>release</string>
		<string>repeat</string>
		<string>rnmos</string>
		<string>rpmos</string>
		<string>rtran</string>
		<string>rtranif0</string>
		<string>rtranif1</string>
		<string>scalared</string>
		<string>small</string>
		<string>specify</string>
		<string>specparam</string>
		<string>strong0</string>
		<string>strong1</string>
		<string>supply0</string>
		<string>supply1</string>
		<string>table</string>
		<string>task</string>
		<string>tran</string>
		<string>tranif0</string>
		<string>tranif1</string>
		<string>time</string>
		<string>tri</string>
		<string>triand</string>
		<string>trior</string>
		<string>trireg</string>
		<string>tri0</string>
		<string>tri1</string>
		<string>vectored</string>
		<string>wait</string>
		<string>wand</string>
		<string>weak0</string>
		<string>weak1</string>
		<string>while</string>
		<string>wire</string>
		<string>wor</string>
	</array>
	<key>autocompleteWords</key>
	<array>
	</array>
</dict>
</plist>