<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autocompleteWords</key>
	<array/>
	<key>beginCommand</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string></string>
	<key>beginInstruction</key>
	<string></string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>beginVariable</key>
	<string></string>
	<key>endCommand</key>
	<string></string>
	<key>endFirstMultiLineComment</key>
	<string></string>
	<key>endInstruction</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>endVariable</key>
	<string></string>
	<key>firstSingleLineComment</key>
	<string>--</string>
	<key>firstString</key>
	<string>"</string>
	<key>functionDefinition</key>
	<string>^\s*.*\(.*\)\n?\s*\{</string>
	<key>keywords</key>
	<array>
		<string>abs</string>
		<string>access</string>
		<string>after</string>
		<string>alias</string>
		<string>all</string>
		<string>and</string>
		<string>architecture</string>
		<string>array</string>
		<string>assert</string>
		<string>attribute</string>
		<string>begin</string>
		<string>block</string>
		<string>body</string>
		<string>buffer</string>
		<string>bus</string>
		<string>case</string>
		<string>component</string>
		<string>configuration</string>
		<string>constant</string>
		<string>disconnect</string>
		<string>downto</string>
		<string>else</string>
		<string>elsif</string>
		<string>end</string>
		<string>entity</string>
		<string>exit</string>
		<string>file</string>
		<string>for</string>
		<string>function</string>
		<string>generate</string>
		<string>generic</string>
		<string>group</string>
		<string>guarded</string>
		<string>if</string>
		<string>impure</string>
		<string>in</string>
		<string>inertial</string>
		<string>inout</string>
		<string>is</string>
		<string>label</string>
		<string>library</string>
		<string>linkage</string>
		<string>literal</string>
		<string>loop</string>
		<string>map</string>
		<string>mod</string>
		<string>nand</string>
		<string>new</string>
		<string>next</string>
		<string>nor</string>
		<string>not</string>
		<string>null</string>
		<string>of</string>
		<string>on</string>
		<string>open</string>
		<string>or</string>
		<string>others</string>
		<string>out</string>
		<string>package</string>
		<string>port</string>
		<string>postponed</string>
		<string>procedure</string>
		<string>process</string>
		<string>pure</string>
		<string>range</string>
		<string>record</string>
		<string>register</string>
		<string>reject</string>
		<string>rem</string>
		<string>report</string>
		<string>return</string>
		<string>rol</string>
		<string>ror</string>
		<string>select</string>
		<string>severity</string>
		<string>shared</string>
		<string>signal</string>
		<string>sla</string>
		<string>sll</string>
		<string>sra</string>
		<string>srl</string>
		<string>subtype</string>
		<string>then</string>
		<string>to</string>
		<string>transport</string>
		<string>type</string>
		<string>unaffected</string>
		<string>units</string>
		<string>until</string>
		<string>use</string>
		<string>variable</string>
		<string>wait</string>
		<string>when</string>
		<string>while</string>
		<string>with</string>
		<string>xnor</string>
		<string>xor</string>
	</array>
	<key>keywordsCaseSensitive</key>
	<false/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>removeFromFunction</key>
	<string></string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>secondString</key>
	<string>'</string>
</dict>
</plist>
